.nurse_workbench .panel-layout {
  margin-top: 10px;
  margin-bottom: 50px; }

.nurse_workbench .opPatientList .opList {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 54.5vh;
  overflow: auto; }
  .nurse_workbench .opPatientList .opList .noPatientDiv {
    margin-top: 15%;
    text-align: center;
    color: #929292; }
  .nurse_workbench .opPatientList .opList li {
    margin: 4px 0;
    padding: 3px 0;
    list-style: none;
    border: 1px solid #f2f2f2;
    background: #fff;
    border-radius: 5px; }
    .nurse_workbench .opPatientList .opList li .op-sec-1 {
      width: 10px;
      width: 20%;
      vertical-align: text-top;
      display: inline-block;
      text-align: center;
      border-right: 1px dashed #e6e6e6;
      margin-right: 10px; }
      .nurse_workbench .opPatientList .opList li .op-sec-1 i {
        width: 30px;
        background: yellow;
        height: 30px;
        display: block;
        margin: auto; }
      .nurse_workbench .opPatientList .opList li .op-sec-1 .appointment-icon {
        background: url("../../assets/icons/appointment-icon.svg") no-repeat center;
        background-size: 80%; }
      .nurse_workbench .opPatientList .opList li .op-sec-1 .walking-icon {
        background: url("../../assets/icons/walking-icon.svg") no-repeat center;
        background-size: 80%; }
    .nurse_workbench .opPatientList .opList li .op-sec-2 {
      width: 10px;
      width: 56%;
      vertical-align: text-top;
      display: inline-block; }
      .nurse_workbench .opPatientList .opList li .op-sec-2 .opPatientName {
        display: block;
        margin-top: 5px; }
      .nurse_workbench .opPatientList .opList li .op-sec-2 .opStatus {
        display: block; }
      .nurse_workbench .opPatientList .opList li .op-sec-2 .nursing {
        color: #34b8bc; }
      .nurse_workbench .opPatientList .opList li .op-sec-2 .checkedIn {
        color: #00bb4b; }
    .nurse_workbench .opPatientList .opList li .op-sec-3 {
      width: 20%;
      line-height: 53px;
      vertical-align: text-top;
      display: inline-block;
      text-align: center; }
      .nurse_workbench .opPatientList .opList li .op-sec-3 .opPatientStatus {
        display: block;
        line-height: 25px; }
      .nurse_workbench .opPatientList .opList li .op-sec-3 .newVisit {
        color: #ff8800; }
      .nurse_workbench .opPatientList .opList li .op-sec-3 .followUp {
        color: #ff005f; }
  .nurse_workbench .opPatientList .opList li:hover {
    background: #ebfeff;
    cursor: pointer; }
  .nurse_workbench .opPatientList .opList .active {
    background: blanchedalmond; }

.nurse_workbench .opPatientDetails {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 73vh; }
