.nurse_workbench .panel-layout {
  margin-top: 10px; }

.nurse_workbench .my-calendar {
  text-align: center;
  background: #34b8bc;
  color: #fff; }
  .nurse_workbench .my-calendar .myDay_date {
    position: relative; }
    .nurse_workbench .my-calendar .myDay_date input[type="month"] {
      font-size: 0.8rem;
      padding: 2px 3px 3px 8px;
      width: 250px;
      text-transform: uppercase;
      border: 1px dashed #ffffff;
      border-radius: 4px;
      margin-top: 4px;
      background: none;
      color: #fff; }
    .nurse_workbench .my-calendar .myDay_date input[type="month"]::-webkit-calendar-picker-indicator {
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      background: url(../../assets/svg/calendar-white-icon.svg) no-repeat center;
      width: 18px;
      height: 15px;
      border-width: thin;
      background-size: 60%; }
    .nurse_workbench .my-calendar .myDay_date input[type="month"]:disabled {
      background: #fffdfa;
      border: 1px dashed #d3d3d3;
      color: #000;
      font-weight: bold; }
    .nurse_workbench .my-calendar .myDay_date button {
      margin-left: 0px;
      padding: 3px 6px !important; }
      .nurse_workbench .my-calendar .myDay_date button svg {
        height: 16px; }
    .nurse_workbench .my-calendar .myDay_date .todayBtn {
      margin-left: 10px;
      padding: 3px 10px;
      border: 1px solid white;
      background: none;
      color: #fff; }
    .nurse_workbench .my-calendar .myDay_date .todayBtn:hover {
      background: #fff;
      color: #34b8bc; }
  .nurse_workbench .my-calendar .arrow-box {
    width: 60px;
    cursor: pointer; }
  .nurse_workbench .my-calendar .arrow-box:hover {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .nurse_workbench .my-calendar .arrow-box-left {
    float: left; }
  .nurse_workbench .my-calendar .arrow-box-right {
    float: right; }
  .nurse_workbench .my-calendar .calendar .col {
    border: 1px solid #3aa4a9;
    font-size: 1.3rem;
    padding-right: 3px;
    padding-left: 3px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
  .nurse_workbench .my-calendar .calendar .col:hover {
    background: #3aa4a9;
    cursor: pointer;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3); }
  .nurse_workbench .my-calendar .calendar .col span {
    padding: 0;
    margin: 0;
    display: block;
    font-size: 0.6rem;
    text-transform: uppercase; }
  .nurse_workbench .my-calendar .activeDate {
    border-bottom: 4px solid yellow !important;
    background: #3aa4a9; }
  .nurse_workbench .my-calendar .CurrentDate {
    border-top: 2px solid yellow !important; }
