.apply_leave h5 {
  margin: 0 0 10px;
  padding-bottom: 2px;
  border-bottom: 1px dashed #d3d3d3; }
  .apply_leave h5 span {
    border-bottom: 2px solid #8c8c8c;
    text-transform: uppercase;
    line-height: 0; }

.apply_leave #leaveRequestList_cntr .ReactTable {
  max-height: 42vh !important; }

.leaveBalanceCntr > div {
  overflow: hidden; }
  .leaveBalanceCntr > div:first-child {
    border-radius: 5px 0 0 5px; }
  .leaveBalanceCntr > div:last-child {
    border-radius: 0 5px 5px 0; }
