.hptl-phase1-add-employee-form {
  h5 {
    margin: 5px 0 10px;
    padding-bottom: 2px;
    span {
      border-bottom: 2px solid #8c8c8c;

      text-transform: uppercase;
      line-height: 0;
      font-size: 0.8em;
    }
  }

  .primary-details {
    border-right: 1px dashed #d3d3d3;
  }
  mark {
    background: none;
    color: red;
  }

  .centerAlign {
    text-align: center;
  }

  .text_field {
    width: 100% !important;
    background-color: #fbfbfb;
    margin-right: 5px;
  }
  .paddin-bottom-5 {
    padding-bottom: 4px;
  }

  .secondary-details {
    .secondary-box-container {
      .attach-design {
        background: #8c8c8c;
        color: #fff;
        position: relative;
        cursor: pointer;
        margin-left: -1px;
        margin-right: -1px;
      }
      .preview-image {
        position: absolute;
        top: -1px;
        left: 15px;
        height: 101px;
      }
    }
  }
  .dropzone {
    img {
      max-height: 300px;
    }
  }
}
.popRightDiv {
  max-height: 68vh !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
