.hptl-phase1-add-employee-form {
  padding: 0 15px;
  h6 {
    margin: 10px 0 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #d3d3d3;
    span {
      border-bottom: 3px solid #00cbd0;
    }
  }

  .primary-details {
    border-right: 1px dashed #d3d3d3;
    padding-top: 8px;
  }
  mark {
    background: none;
    color: red;
  }

  .centerAlign {
    text-align: center;
  }

  .text_field {
    width: 100% !important;
    background-color: #fbfbfb;
    margin-right: 5px;
  }
  .paddin-bottom-5 {
    padding-bottom: 4px;
  }

  .secondary-details {
    padding-top: 8px;
    .secondary-box-container {
      .attach-design {
        background: #8c8c8c;
        color: #fff;
        position: relative;
        cursor: pointer;
        margin-left: -1px;
        margin-right: -1px;
      }
      .preview-image {
        position: absolute;
        top: -1px;
        left: 15px;
        height: 101px;
      }
    }
  }
}
