.selfServiceModule .EmployeeProfile .EmployeeInfo-Top {
  background: white;
  height: 78px;
  padding: 5px 0 0;
  width: 100%;
  position: fixed;
  z-index: 999; }
  .selfServiceModule .EmployeeProfile .EmployeeInfo-Top div {
    float: left;
    color: #858585;
    overflow: hidden; }
  .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .backBtn {
    border-right: 1px solid #e1e1e1;
    padding-right: 10px;
    padding-left: 10px; }
    .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .backBtn button {
      height: 60px;
      border: 1px solid #e1e1e1; }
    .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .backBtn i {
      display: block;
      margin-bottom: 5px; }
  .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .EmployeeImg {
    margin: 1px 10px; }
    .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .EmployeeImg .image-drop-area {
      min-height: 65px;
      max-height: 65px; }
      .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .EmployeeImg .image-drop-area img {
        height: 65px;
        width: auto; }
  .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .EmployeeName {
    max-width: 30%;
    margin-top: 2px;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 64px;
    max-height: 64px; }
    .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .EmployeeName h6 {
      margin-bottom: 2px;
      color: #000;
      line-height: 1.6rem;
      min-height: 50px;
      font-size: 1.3em; }
    .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .EmployeeName p {
      margin: 0;
      padding: 0; }
      .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .EmployeeName p b {
        color: #00a796;
        font-size: 0.9em;
        font-weight: 700; }
  .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .EmployeeDemographic {
    line-height: 1.3rem;
    border-right: 1px solid #e1e1e1;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 64px;
    max-height: 64px; }
    .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .EmployeeDemographic span {
      display: block;
      line-height: 1.7rem;
      font-size: 0.9em;
      font-weight: 700; }
      .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .EmployeeDemographic span i {
        text-align: center;
        width: 20px; }
      .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .EmployeeDemographic span b {
        color: #00a796; }
  .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .EmployeeHospitalDetail {
    line-height: 1.3rem;
    border-right: 1px solid #e1e1e1;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 64px;
    max-height: 64px; }
    .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .EmployeeHospitalDetail span {
      display: block; }
      .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .EmployeeHospitalDetail span b {
        color: #00a796; }
  .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .EmployeeVital {
    max-width: 33%;
    line-height: 1.3rem;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 98px; }
    .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .EmployeeVital span {
      display: inline-block;
      margin-right: 8px; }
      .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .EmployeeVital span b {
        color: #00a796; }
  .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .moreAction {
    float: right;
    border-right: 1px solid #e1e1e1;
    padding-right: 10px; }
    .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .moreAction button {
      height: 60px;
      border: 1px solid #e1e1e1;
      margin-left: 0; }
    .selfServiceModule .EmployeeProfile .EmployeeInfo-Top .moreAction i {
      display: block;
      margin-bottom: 5px; }

.selfServiceModule .EmployeeTopNav {
  background: white;
  height: 30px;
  padding: 0;
  width: 100%;
  color: #797979;
  text-transform: uppercase;
  position: fixed;
  top: 130px;
  z-index: 99; }
  .selfServiceModule .EmployeeTopNav .tabMaster {
    box-shadow: none; }
    .selfServiceModule .EmployeeTopNav .tabMaster ul {
      position: relative; }
      .selfServiceModule .EmployeeTopNav .tabMaster ul li:after {
        display: block;
        content: "";
        border-bottom: 3px solid #00a796;
        transform: scaleX(0);
        transition: transform 150ms ease-in-out; }
      .selfServiceModule .EmployeeTopNav .tabMaster ul li:hover:after {
        transform: scaleX(1); }
      .selfServiceModule .EmployeeTopNav .tabMaster ul li span {
        text-transform: uppercase;
        padding: 9px 15px 8px;
        color: #858585;
        cursor: pointer; }
      .selfServiceModule .EmployeeTopNav .tabMaster ul li span.active {
        border-bottom: 3px solid #00a796;
        color: #fff;
        background: #00a796; }
        .selfServiceModule .EmployeeTopNav .tabMaster ul li span.active:hover {
          cursor: default;
          color: #fff; }
        .selfServiceModule .EmployeeTopNav .tabMaster ul li span.active:hover:after {
          display: none !important;
          border: none !important;
          cursor: pointer; }
    .selfServiceModule .EmployeeTopNav .tabMaster .Employee-quick-info {
      color: #00a796;
      margin: 0;
      padding: 0;
      list-style: none;
      position: absolute;
      right: 20px; }
      .selfServiceModule .EmployeeTopNav .tabMaster .Employee-quick-info li {
        background: #ffffff;
        color: #53bcb1;
        padding: 4px 10px 3px;
        cursor: pointer;
        margin: 0 10px;
        list-style: none;
        display: inline-block; }
        .selfServiceModule .EmployeeTopNav .tabMaster .Employee-quick-info li section {
          width: 30vw;
          height: auto;
          position: absolute;
          right: 0;
          top: 30px;
          background: #53bdb1;
          z-index: 9;
          padding: 10px;
          border-radius: 5px;
          color: #fff;
          display: none; }
          .selfServiceModule .EmployeeTopNav .tabMaster .Employee-quick-info li section b.top-nav-sec-hdg {
            text-align: center;
            border-bottom: 1px solid #337e74;
            margin-left: -10px;
            margin-right: -10px;
            padding-bottom: 11px; }
          .selfServiceModule .EmployeeTopNav .tabMaster .Employee-quick-info li section b {
            display: block;
            border-bottom: 1px solid #3f9c90;
            margin-bottom: 10px;
            padding-bottom: 5px; }
          .selfServiceModule .EmployeeTopNav .tabMaster .Employee-quick-info li section .listofA-D-D {
            display: inline-block;
            margin-right: 8px;
            border: 1px solid #317970;
            padding: 3px 10px;
            margin: 0;
            color: #fff;
            margin-right: 5px;
            margin-bottom: 3px;
            border-radius: 20px;
            background: #3f9c91;
            white-space: normal; }
          .selfServiceModule .EmployeeTopNav .tabMaster .Employee-quick-info li section p {
            background: rgba(0, 0, 0, 0.05);
            border-top: 1px solid #65dace;
            margin: -10px;
            padding: 10px; }
      .selfServiceModule .EmployeeTopNav .tabMaster .Employee-quick-info li:hover {
        background: #53bcb1;
        color: #fff;
        padding: 4px 10px; }
        .selfServiceModule .EmployeeTopNav .tabMaster .Employee-quick-info li:hover section {
          display: block; }

.selfServiceModule .EmployeeContentArea {
  margin: 100px 10px 0;
  z-index: 1;
  width: 100%; }

.selfServiceModule .selfService-setion {
  margin-top: 120px;
  padding-top: 0;
  background: none; }
