@import "../../../styles/algaehCssVariables.scss";
.selfServiceModule {
  .EmployeeProfile {
    .EmployeeInfo-Top {
      background: white;
      height: 78px;
      padding: 5px 0 0;
      width: 100%;
      position: fixed;
      z-index: 999;

      div {
        float: left;
        color: #858585;
        overflow: hidden;
      }

      .backBtn {
        border-right: 1px solid #e1e1e1;
        padding-right: 10px;
        padding-left: 10px;
        button {
          height: 60px;
          border: 1px solid #e1e1e1;
        }
        i {
          display: block;
          margin-bottom: 5px;
        }
      }

      .EmployeeImg {
        margin: 1px 10px;

        .image-drop-area {
          min-height: 65px;
          max-height: 65px;
          img {
            height: 65px;
            width: auto;
            // &:hover {
            //   height: 200px;
            //   -webkit-transition: width 2s; /* Safari */
            //   transition: width 2s;
            //   position: relative;
            // }
          }
        }
      }
      .EmployeeName {
        max-width: 30%;
        margin-top: 2px;
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 64px;
        max-height: 64px;
        h6 {
          margin-bottom: 2px;
          color: #000;
          line-height: 1.6rem;
          min-height: 50px;
          font-size: 1.3em;
        }
        p {
          margin: 0;
          padding: 0;
          b {
            color: $primary-color;
            font-size: 0.9em;
            font-weight: 700;
          }
        }
      }
      .EmployeeDemographic {
        line-height: 1.3rem;
        border-right: 1px solid #e1e1e1;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 64px;
        max-height: 64px;
        span {
          display: block;
          line-height: 1.7rem;
          font-size: 0.9em;
          font-weight: 700;
          i {
            text-align: center;
            width: 20px;
          }
          b {
            color: $primary-color;
          }
        }
      }
      .EmployeeHospitalDetail {
        line-height: 1.3rem;
        border-right: 1px solid #e1e1e1;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 64px;
        max-height: 64px;
        span {
          display: block;
          b {
            color: $primary-color;
          }
        }
      }
      .EmployeeVital {
        max-width: 33%;
        line-height: 1.3rem;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 98px;
        span {
          display: inline-block;
          margin-right: 8px;

          b {
            color: $primary-color;
          }
        }
      }
      .moreAction {
        float: right;
        border-right: 1px solid #e1e1e1;
        padding-right: 10px;
        button {
          height: 60px;
          border: 1px solid #e1e1e1;

          margin-left: 0;
        }
        i {
          display: block;
          margin-bottom: 5px;
        }
      }
    }
  }
  .EmployeeTopNav {
    background: white;
    height: 32px;
    padding: 0;
    width: 100%;
    color: #797979;

    text-transform: uppercase;
    position: fixed;
    top: 130px;
    z-index: 99;
    .tabMaster {
      box-shadow: none;
      ul {
        position: relative;
        li {
          &:after {
            display: block;
            content: "";
            border-bottom: 3px solid $primary-color;
            transform: scaleX(0);
            transition: transform 150ms ease-in-out;
          }
          &:hover:after {
            transform: scaleX(1);
          }
          span {
            text-transform: uppercase;
            padding: 9px 15px 8px;
            color: #858585;
            cursor: pointer;
          }
          span.active {
            border-bottom: 3px solid $primary-color;
            color: #fff;
            background: $primary-color;
            &:hover {
              cursor: default;
              color: #fff;
            }
            &:hover:after {
              display: none !important;
              border: none !important;
              cursor: pointer;
            }
          }
        }
      }
      .Employee-quick-info {
        color: $primary-color;
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        right: 20px;
        li {
          background: #ffffff;
          color: #53bcb1;
          padding: 4px 10px 3px;
          cursor: pointer;
          margin: 0 10px;
          list-style: none;
          display: inline-block;
          section {
            width: 30vw;
            height: auto;
            position: absolute;
            right: 0;
            top: 30px;
            background: #53bdb1;
            z-index: 9;
            padding: 10px;
            border-radius: 5px;
            color: #fff;
            display: none;
            b.top-nav-sec-hdg {
              text-align: center;
              border-bottom: 1px solid #337e74;
              margin-left: -10px;
              margin-right: -10px;
              padding-bottom: 11px;
            }
            b {
              display: block;
              border-bottom: 1px solid #3f9c90;
              margin-bottom: 10px;
              padding-bottom: 5px;
            }
            .listofA-D-D {
              display: inline-block;
              margin-right: 8px;
              border: 1px solid #317970;
              padding: 3px 10px;
              margin: 0;
              color: #fff;
              margin-right: 5px;
              margin-bottom: 3px;
              border-radius: 20px;
              background: #3f9c91;

              white-space: normal;
            }
            p {
              background: rgba(0, 0, 0, 0.05);
              border-top: 1px solid #65dace;
              margin: -10px;
              padding: 10px;
            }
          }
        }
        li:hover {
          background: #53bcb1;
          color: #fff;
          padding: 4px 10px;
          section {
            display: block;
          }
        }
      }
    }
  }
  .EmployeeContentArea {
    margin: 100px 10px 0;
    z-index: 1;
    width: 100%;
  }
  .selfService-setion {
    margin-top: 120px;
    padding-top: 0;
    background: none;
  }
}
