#EarningComponent_Cntr {
  .ReactTable {
    max-height: 39vh !important;
  }
}
#DeductionComponent_Cntr {
  .ReactTable {
    max-height: 39vh !important;
  }
}

#ContributionComponent_Cntr {
  .ReactTable {
    max-height: 39vh !important;
  }
}
