.hptl-phase1-add-insurance-form {
  background: #fff;
  border-radius: 5px; }

.stepper-set div {
  padding: 5px;
  padding-bottom: 10px; }
  .stepper-set div div span span:last-child {
    padding: 0px;
    line-height: 1px; }

.progressbar {
  counter-reset: step;
  padding: 0 0 10px;
  margin: 15px 0 0;
  border-bottom: 1px solid #e6e6e6; }
  .progressbar li {
    list-style: none;
    display: inline-block;
    width: 25%;
    position: relative;
    text-align: center;
    z-index: 2; }
  .progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #e6e6e6;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff; }
  .progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    top: 15px;
    left: -45.5%;
    z-index: -1; }
  .progressbar li:first-child:after {
    content: none; }
  .progressbar li.active {
    color: #00a796; }
  .progressbar li.active:before {
    border-color: #00a796;
    background-color: #00a796;
    color: #fff; }
  .progressbar li.active + li:after {
    background-color: #00a796; }
