.ProjectMaster {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background: #ffff;
}
#projectMasterGrid {
  .ReactTable {
    max-height: 61vh !important;
  }
}
.projectComponentModal {
  .algaeh-modal {
    max-width: 40vw;

    #ProjectComponentGrid_Cntr {
      margin-bottom: 25px;
    }
  }
}
