.hptl-phase1-requisition-form {
  min-height: 80vh;
  padding-bottom: 60px; }
  .hptl-phase1-requisition-form .form-details {
    padding: 5px;
    padding-bottom: 0px; }
  .hptl-phase1-requisition-form mark {
    background: none;
    color: red; }
  .hptl-phase1-requisition-form .form-group {
    padding: 2vh; }
  .hptl-phase1-requisition-form .go-button {
    cursor: pointer;
    margin-top: 2.5vh; }
