.margin-top-15 {
  margin-top: 15px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.plan {
  .grid-section {
    border: 1px solid #d3d3d3;
    margin-top: 0px;
    background: #ffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }

  .toggle-section {
    margin-bottom: 0px;
  }

  .content {
    padding: 30px;
    background: #f1f3fa;
  }
}
.dietPopupWidth{
  .algaeh-modal{
    max-width: 45%!important;
  }
}