#leaveSalaryProcessGrid_Cntr {
  .ReactTable {
    max-height: 42vh !important;
    margin-bottom: 11px;
  }
}
#leaveListGrid_Cntr {
  .ReactTable {
    max-height: 48vh !important;
  }
}
.calcSybmbol {
  border: 1px solid #000;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  padding: 3px;
  text-align: center;
  margin-top: 11px;
  font-size: 0.8rem;
  margin-right: 10px;
}
