.hptl-phase1-item-moment-enquiry-form {
  border-radius: 5px;
  margin-top: 12vh;
  min-height: 80vh; }
  .hptl-phase1-item-moment-enquiry-form .form-details {
    padding: 5px;
    padding-bottom: 0px; }
  .hptl-phase1-item-moment-enquiry-form mark {
    background: none;
    color: red; }
  .hptl-phase1-item-moment-enquiry-form .form-group {
    padding: 2vh; }
  .hptl-phase1-item-moment-enquiry-form .go-button {
    cursor: pointer;
    margin-top: 2.5vh; }

#initial_stock .ReactTable {
  max-height: 60vh !important; }
  #initial_stock .ReactTable span .fa-arrow-up,
  #initial_stock .ReactTable span .fa-arrow-down {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    font-size: 0.7rem;
    line-height: 15px;
    float: right;
    text-align: center; }
  #initial_stock .ReactTable span .red {
    background: #ff7f7f;
    color: #fff; }
  #initial_stock .ReactTable span .green {
    background: #15a28d;
    color: #fff; }
