.hims_visit_close #VisitCloseGrid .ReactTable {
  max-height: 80vh !important; }

.hims_visit_close .toggle-section {
  margin: 10px;
  margin-bottom: 0px; }

.hims_visit_close .item-footer {
  height: "60px";
  background-color: #000; }

.hims_visit_close .item-section {
  border: 1px solid #d3d3d3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; }

.hims_visit_close th,
.hims_visit_close td {
  border-right: 1px solid #e6e6e6; }
