.certificateEditor {
  .jodit-workplace {
    min-height: 42vh !important;
    max-height: 42vh !important;
    overflow: auto !important;
  }
  .jodit_fullsize-box_true {
    .jodit-workplace {
      min-height: 100% !important;
      max-height: 100% !important;
    }
  }
}
#certificateMasterList {
  .ReactTable {
    max-height: 74vh !important;
  }
}
.certificatePreviewModal {
  .algaeh-modal {
    width: 55vw;
    .infoText {
      text-align: center;
      font-style: italic;
      color: gray;
      margin-top: 10px;
    }
    .preSection {
      border: 1px dashed #ccc;
      margin: 0 0 15px;
      padding: 15px 0;
      min-height: 79vh;
      max-height: 79vh;
      overflow: auto;
    }
  }
}
