.certificateEditor {
  .jodit-workplace {
    min-height: 42vh !important;
    max-height: 42vh !important;
    overflow: auto !important;
  }
}
#certificateMasterList {
  .ReactTable {
    max-height: 74vh !important;
  }
}
