.emp_dsgntn {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background: #ffff; }

#empDsgnDivGrid_Cntr .ReactTable {
  max-height: 72vh !important; }
