#monthlyDetailGridCntr .ReactTable {
  max-height: 66vh !important; }

.legendBoxCntr {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right; }
  .legendBoxCntr .legendBox {
    list-style: none;
    margin: 10px 5px 0 0;
    padding: 3px 5px;
    display: inline-block;
    border-radius: 3px;
    font-size: 0.8rem; }
  .legendBoxCntr .weekOffStyle {
    border: 1px solid #00a796; }
  .legendBoxCntr .holidayStyle {
    border: 1px solid #00f; }
  .legendBoxCntr .paidLeaveStyle {
    border: 1px solid #ec7c00; }
  .legendBoxCntr .unpaidLeaveStyle {
    border: 1px solid #ff0000; }

.weekOffStyle {
  background: #e7fffd !important;
  color: #00a796; }

.holidayStyle {
  background: #eaeaff !important;
  color: #00f; }

.paidLeaveStyle {
  background: #fff6ec !important;
  color: #ec7c00; }

.unpaidLeaveStyle {
  background: #ffecec !important;
  color: #ff0000; }
