.auto-suggestCntr {
  position: relative;
  width: 100%; }

.auto-suggestCntr:hover .clearall {
  display: block; }

.showall {
  position: absolute;
  top: 0;
  padding: 2px 6px;
  right: 0;
  background: #fff;
  color: #929292;
  cursor: pointer;
  margin: 2px;
  height: 24px; }

.loadingSelect {
  position: absolute;
  top: 23px;
  padding: 2px 6px;
  right: 35px;
  font-size: 0.7rem;
  line-height: 21px;
  display: none;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(48%, white));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 48%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 48%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 48%);
  color: #929292;
  cursor: pointer;
  margin: 2px;
  height: 24px; }

.clearall {
  display: none;
  position: absolute;
  top: -1px;
  padding: 2px 3px;
  right: 20px;
  font-size: 0.7rem;
  line-height: 21px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 48%);
  color: #929292;
  cursor: pointer;
  margin: 2px;
  height: 24px; }

.showall:hover,
.clearall:hover {
  color: #000; }

.myInput {
  background-image: url("/css/searchicon.webp");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ddd; }

.myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  max-width: 22vw;
  min-width: -webkit-fill-available;
  left: 0;
  max-height: 700%;
  overflow: auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.06);
  z-index: 100; }

.dropUp {
  top: auto;
  bottom: 100%; }

.dropDown {
  top: 100%;
  bottom: auto; }

.myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #ffffff;
  padding: 5px 8px;
  text-decoration: none;
  display: block;
  font-size: 0.8rem;
  color: #212529;
  cursor: pointer; }
  .myUL li a:before {
    top: 11px !important; }
  .myUL li a:after {
    top: 6px !important; }

.myUL li a:hover:not(.header) {
  background-color: #eee; }

.onselectedByNav a {
  background-color: #cef4ff !important; }
