$fontcolor: #666666;
$fontSize: 1.3rem;
$black: #000;
#spotlight_wrapper {
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 999999999;
  padding-top: 10vh;
}
.spotlightContainer {
  width: 70vw;
  position: relative;
  margin: auto;
  box-shadow: 0 25px 60px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px 0 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #f8f5f4;
  overflow: hidden;
  opacity: 1;

  animation: slideEffect 0.25s;

  .label {
    text-transform: uppercase;
    text-align: left;
    margin-top: 5px;
  }
}
@keyframes slideEffect {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
#spotlightInput {
  display: block;
  width: 100%;
  height: 56px;
  margin: auto;
  outline: none;
  font-size: $fontSize;
  color: $black;
  background-color: #ffffff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjIuNyAyMi41IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMi43IDIyLjUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxjaXJjbGUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2NzY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgY3g9IjguMSIgY3k9IjguNCIgcj0iNi44Ii8+PGxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2NzY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgeDE9IjEzLjIiIHkxPSIxMi45IiB4Mj0iMjEuNSIgeTI9IjIxLjQiLz48L3N2Zz4=);
  background-position: left 17px center;
  background-repeat: no-repeat;
  background-size: 5%;
  padding-left: 60px;
  -webkit-appearance: none;
  border: 1px solid #e0dcdb;
  border-radius: 0;
  border-width: 0 1px;
  &::placeholder {
    color: #acacac;
  }
}

#spotlightResultArea {
  background-color: #f9f5f4;
  width: 100%;
  overflow: auto;

  .ReactTable {
    max-height: 61vh !important;
  }
  .gridToolSec {
    margin: 0 !important;
  }
}

.helpText {
  height: 32px;
  width: 70vw;
  margin: 0 auto;
  text-align: right;
  cursor: pointer;
  .helpTextEsc {
    color: #000000;
    margin-right: 5px;
    padding: 1px 8px 3px;
    background: #e3feff;
    border-radius: 10px;
    border: 1px solid #02bbae;
  }
  .globalSearch-Close {
    background: #f7f5f4;
    border-radius: 5px 5px 0 0;
    color: #8c8c8c;

    padding: 6px 15px;
    text-transform: uppercase;
    border: 1px solid #c8c6c5;
    line-height: 35px;
    text-shadow: 0 1px 1px #ffffff;
    cursor: pointer;
  }
}
.filterBySelect,
.searchBySelect {
  border-radius: 0;
  width: 100%;
  border: 1px solid #8c8c8c;
  padding: 3px 5px;

  border-radius: 5px;
}
.speckCntr {
  padding-left: 0;
  padding-right: 0;
  .fa-microphone {
    text-align: left;
    line-height: 56px;
    color: #8c8c8c;
  }
  .flash {
    animation: colorchange 1s infinite alternate;
    text-shadow: 0 0 10px #ff0200;
  }
  @keyframes colorchange {
    0% {
      color: 8c8c8c;
    }

    50% {
      color: red;
    }

    100% {
      color: #8c8c8c;
    }
  }
}
