.gridToolSec {
  margin-bottom: 10px;
  text-align: right; }
  .gridToolSec button {
    margin-left: 10px !important; }
  .gridToolSec div {
    display: inline; }

.multiInfoList {
  margin-left: -15px;
  margin-right: -15px;
  padding: 0 15px; }
  .multiInfoList h5 {
    font-size: 1rem;
    margin: 0; }
  .multiInfoList h6 {
    font-size: 0.8rem;
    margin: 0; }
  .multiInfoList p {
    font-size: 0.8rem;
    margin: 0; }

.ReactTable .rt-thead .rt-th {
  color: #000 !important;
  background: #c1fff9 !important; }
  .ReactTable .rt-thead .rt-th .style_Label {
    font-weight: 500 !important;
    white-space: pre-line !important;
    padding: 3px 0 !important; }

.ReactTable .-filters .rt-th {
  background: #ccc !important; }

.ReactTable .rt-thead.-filters input,
.ReactTable .rt-thead.-filters select {
  padding: 0.3em !important;
  border: 1px solid #8c8c8c !important; }

.ReactTable .rt-tbody {
  text-align: center; }
  .ReactTable .rt-tbody .rt-td {
    font-size: 0.9em;
    overflow: inherit !important;
    white-space: inherit !important; }
  .ReactTable .rt-tbody .rowHighliter .rt-td {
    background: #74fff1 !important; }
    .ReactTable .rt-tbody .rowHighliter .rt-td:hover {
      background: #74fff1 !important; }
  .ReactTable .rt-tbody .textCapitalize {
    text-transform: capitalize; }
    .ReactTable .rt-tbody .textCapitalize input {
      text-transform: capitalize; }

.ReactTable .-btn {
  background: #00a796 !important;
  color: #fff !important;
  font-size: 0.8em; }

.ReactTable .-btn:disabled {
  background: rgba(0, 0, 0, 0.1) !important; }

.ReactTable .-pagination .-center input,
.ReactTable .-pagination .-center select {
  border: 1px solid #8c8c8c !important;
  width: 7vh !important;
  -webkit-appearance: none; }

.ReactTable .-pagination .-center input {
  padding: 2px !important; }

@media screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
  .ReactTable .-pagination .-center {
    flex: 3 1 !important; } }

.ReactTable i.fa-pen,
.ReactTable i.fa-trash-alt,
.ReactTable i.fa-save,
.ReactTable i.fa-times,
.ReactTable .fa-barcode,
.ReactTable .fa-check,
.ReactTable .fa-flask,
.ReactTable .fa-file-signature,
.ReactTable .fa-walking,
.ReactTable .fa-file-export,
.ReactTable .fa-sync-alt,
.ReactTable .fa-file-alt,
.ReactTable .fa-file-image,
.ReactTable .fa-file-prescription,
.ReactTable .fa-prescription,
.ReactTable .fa-arrow-right,
.ReactTable .fa-eye,
.ReactTable .fa-plus,
.ReactTable .fa-thumbs-up,
.ReactTable .fa-thumbs-down,
.ReactTable .fa-file-medical-alt,
.ReactTable .fa-clipboard-check {
  cursor: pointer;
  border: 1px solid #00dac4;
  height: 28px;
  border-radius: 100%;
  width: 28px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  background: #fff;
  margin: 0 5px;
  color: #313538; }

.ReactTable i.fa-pen:hover,
.ReactTable i.fa-trash-alt:hover,
.ReactTable i.fa-save:hover,
.ReactTable i.fa-times:hover,
.ReactTable .fa-barcode:hover,
.ReactTable .fa-check:hover,
.ReactTable .fa-flask:hover,
.ReactTable .fa-file-signature:hover,
.ReactTable .fa-walking:hover,
.ReactTable .fa-file-image:hover,
.ReactTable .fa-file-export:hover,
.ReactTable .fa-sync-alt:hover,
.ReactTable .fa-file-alt:hover,
.ReactTable .fa-eye:hover,
.ReactTable .fa-file-prescription:hover,
.ReactTable .fa-prescription:hover,
.ReactTable .fa-arrow-right:hover,
.ReactTable .fa-plus:hover,
.ReactTable .fa-thumbs-up:hover,
.ReactTable .fa-file-medical-alt:hover,
.ReactTable .fa-clipboard-check:hover {
  background: #00a796;
  color: #fff; }

.ReactTable .fa-thumbs-down:hover {
  background: lightcoral;
  border: red;
  color: #fff; }

@media screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
  .ReactTable {
    max-width: 95vw !important; } }

.ui.search .resultSecStyles .title {
  color: #000; }

.ui.search .resultSecStyles .price {
  color: #00a796;
  font-size: 1.2rem; }

.ui.search .resultSecStyles small {
  display: block; }
  .ui.search .resultSecStyles small:last-child {
    text-transform: uppercase;
    color: gray; }

.ui.search .input {
  width: 100%; }

.ui.search .prompt {
  border-radius: 0.28571429rem; }

.ui.search .results {
  max-height: 40vh;
  margin-top: 0;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

.reportActionBtns {
  margin: 10px 15px;
  height: 32px; }
  .reportActionBtns button {
    float: right;
    margin-left: 10px; }

.reportPDFIframe {
  width: 100%;
  height: 62vh !important; }
