.selected-grid-row.-odd .rt-td,
.selected-grid-row.-even .rt-td {
  background-color: #d9fdff !important;
}

.ReactTable {
  max-width: 95vw !important;
  font-size: 0.8rem;
  background: #ffff !important;
  .rt-th {
    white-space: unset !important;
    text-transform: uppercase !important;
    background: #8c8c8c !important;
    color: #fff !important;
  }
  .-filters {
    .rt-th {
      white-space: unset !important;
      text-transform: uppercase !important;
      background: #8c8c8c !important;
      color: #fff !important;
    }
  }
  .rt-td {
    overflow: inherit !important;
  }

  i.fa-pen,
  i.fa-trash-alt,
  i.fa-save,
  i.fa-times,
  .fa-barcode,
  .fa-check,
  .fa-flask,
  .fa-file-signature,
  .fa-walking,
  .fa-file-export,
  .fa-sync-alt,
  .fa-file-prescription,
  .fa-arrow-right,
  .fa-plus {
    cursor: pointer;
    border: 1px solid #44b8bd;
    height: 28px;
    border-radius: 100%;
    font-size: 0.9rem;
    width: 28px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    background: #fff;
    margin: 0 5px;
    color: #313538;
  }

  i.fa-pen:hover,
  i.fa-trash-alt:hover,
  i.fa-save:hover,
  i.fa-times:hover,
  .fa-barcode:hover,
  .fa-check:hover,
  .fa-flask:hover,
  .fa-file-signature:hover,
  .fa-walking:hover,
  .fa-file-export:hover,
  .fa-sync-alt:hover,
  .fa-file-prescription:hover,
  .fa-arrow-right:hover,
  .fa-plus:hover {
    background: #44b8bd;
    color: #fff;
  }
}
