.selected-grid-row.-odd .rt-td,
.selected-grid-row.-even .rt-td {
  background-color: #d9fdff !important; }

.ReactTable {
  font-size: 0.8rem;
  max-width: 95vw !important; }
  .ReactTable .rt-table,
  .ReactTable .rt-thead,
  .ReactTable .rt-tr,
  .ReactTable .rt-tbody {
    flex: initial !important; }
  .ReactTable .rt-td {
    overflow: inherit !important;
    white-space: unset !important;
    color: red; }
  .ReactTable .rt-thead.-filters {
    top: 25px; }
    .ReactTable .rt-thead.-filters .rt-tr .rt-th {
      height: 40px; }
  .ReactTable .rt-thead.-filters + div.rt-tbody {
    margin-top: 65px; }
  .ReactTable .rt-tbody {
    margin-top: 30px; }
  .ReactTable .rt-th {
    background: #8c8c8c !important;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: normal !important;
    font-size: 0.8rem;
    min-height: 30px !important; }
  .ReactTable button {
    margin-left: 0; }
  .ReactTable i.fa-pen,
  .ReactTable i.fa-trash-alt,
  .ReactTable i.fa-save,
  .ReactTable i.fa-times,
  .ReactTable .fa-barcode,
  .ReactTable .fa-check,
  .ReactTable .fa-flask,
  .ReactTable .fa-file-signature,
  .ReactTable .fa-walking,
  .ReactTable .fa-file-export,
  .ReactTable .fa-sync-alt,
  .ReactTable .fa-file-prescription,
  .ReactTable .fa-arrow-right {
    cursor: pointer;
    border: 1px solid #44b8bd;
    height: 28px;
    border-radius: 100%;
    font-size: 0.9rem;
    width: 28px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    background: #fff;
    margin: 0 5px;
    color: #313538; }
  .ReactTable i.fa-pen:hover,
  .ReactTable i.fa-trash-alt:hover,
  .ReactTable i.fa-save:hover,
  .ReactTable i.fa-times:hover,
  .ReactTable .fa-barcode:hover,
  .ReactTable .fa-check:hover,
  .ReactTable .fa-flask:hover,
  .ReactTable .fa-file-signature:hover,
  .ReactTable .fa-walking:hover,
  .ReactTable .fa-file-export:hover,
  .ReactTable .fa-sync-alt:hover,
  .ReactTable .fa-file-prescription:hover,
  .ReactTable .fa-arrow-right:hover {
    background: #44b8bd;
    color: #fff; }
  .ReactTable .-pagination .-previous,
  .ReactTable .-pagination .-next {
    flex: inherit !important; }
    .ReactTable .-pagination .-previous .-btn,
    .ReactTable .-pagination .-next .-btn {
      height: 100%;
      width: auto;
      padding: 6px 16px;
      border: 1px solid #44b8bd;
      color: #3faeb3;
      background: #fff; }
    .ReactTable .-pagination .-previous .-btn:hover,
    .ReactTable .-pagination .-next .-btn:hover {
      background-color: #fff; }
    .ReactTable .-pagination .-previous .-btn[disabled],
    .ReactTable .-pagination .-next .-btn[disabled] {
      border-color: #e2dfde;
      color: #c7c4c2; }
  .ReactTable .-pagination .-center {
    flex: none !important; }
  .ReactTable .-pagination input,
  .ReactTable .-pagination select {
    padding: 2px 5px !important; }
  .ReactTable .-pagination .-pageJump input {
    width: 45px !important; }
