.selected-grid-row.-odd .rt-td,
.selected-grid-row.-even .rt-td {
  background-color: #d9fdff !important;
}

.ReactTable {
  font-size: 0.8rem;
  .rt-table ,.rt-thead,.rt-tr,.rt-tbody{
    flex: initial!important;
  }
  .rt-tbody{
    margin-top: 30px;}
  .rt-th {
    background: #34b8bc !important;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: normal !important;
    font-size: 0.8rem;
    min-height: 30px!important;
  }
  button {
    margin-left: 0;
  }
  i.fa-pen,
  i.fa-trash-alt,
  i.fa-save,
  i.fa-times,.fa-barcode,.fa-check,.fa-flask,.fa-file-signature,.fa-walking {
    cursor: pointer;
    border: 1px solid #44b8bd;
    height: 28px;
    border-radius: 100%;
    font-size: 0.9rem;
    width: 28px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    background: #fff;
    margin: 0 5px;
    color: #313538;
  }

  i.fa-pen:hover,
  i.fa-trash-alt:hover,
  i.fa-save:hover,
  i.fa-times:hover,.fa-barcode:hover,.fa-check:hover,.fa-flask:hover,.fa-file-signature:hover,.fa-walking:hover {
    background: #44b8bd;
    color: #fff;
  }
  .-pagination {
    .-previous,
    .-next {
      flex: inherit !important;

      .-btn {
        height: 100%;
        width: auto;
        padding: 6px 16px;
        border: 1px solid #44b8bd;
        color: #3faeb3;
        background: #fff;
      }
      .-btn:hover {
        background-color: #fff;
      }
      .-btn[disabled] {
        border-color: #e2dfde;
        color: #c7c4c2;
      }
    }

    .-center {
      flex: none !important;
    }

    input,
    select {
      padding: 2px 5px !important;
    }
    .-pageJump input{
      width: 45px!important;
    }
  }
}
