div[numberbox="true"] input[type="text"] {
  text-align: right !important; }

.DayPickerInput input {
  font: inherit;
  color: currentColor;
  border: 0;
  margin: 0;
  padding: 6px 0 7px;
  box-sizing: content-box;
  background: none;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  background-color: #fbfbfb;
  min-width: 100%; }

/*
   React date picker customizing style
*/
.algaeh-datePicker {
  border-bottom: 1px solid #6c757d;
  background-color: #fbfbfb; }
  .algaeh-datePicker .react-date-picker__button {
    background-color: #fbfbfb;
    border: none;
    line-height: 1.9em; }
    .algaeh-datePicker .react-date-picker__button .react-date-picker__clear-button {
      visibility: hidden; }
  .algaeh-datePicker .react-calendar {
    width: 250px; }

.table {
  width: 100%;
  border-bottom: 1.5px solid #f2f2f2; }
  .table tbody {
    height: 200px;
    overflow: auto;
    width: 100%; }
  .table tbody tr {
    cursor: pointer; }
  .table tbody td {
    vertical-align: middle;
    white-space: nowrap;
    font-size: 0.75rem; }
  .table thead tr td {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase; }

.scrolling table {
  table-layout: inherit;
  *margin-left: -100px;
  /*ie7*/ }

.scrolling td,
th {
  vertical-align: top;
  padding: 10px;
  min-width: 100px; }

.scrolling th {
  position: absolute;
  *position: relative;
  /*ie7*/
  left: 0;
  width: 120px; }

.outer {
  position: relative; }

.inner {
  overflow-x: auto;
  overflow-y: visible;
  margin-left: 120px; }
