.compareResultPopup {
  .algaeh-modal {
    width: 70vw;
  }
}

.hptl-phase1-lab-result-form {
  background: #fff;
  border-radius: 5px;

  .go-button {
    cursor: pointer;
    margin-bottom: -15px;
    margin-top: 10px;
  }

  .form-group {
    margin-bottom: 0;

    padding: 0;
    padding-top: 20px;
    cursor: pointer;
  }

  th,
  td {
    border-right: 1px solid #e6e6e6;
  }

  #LabTestResult,
  #LabTestName {
    .ReactTable {
      max-height: 37vh !important;
      margin-bottom: 15px;
    }
  }
}
#LabResultGridCntr {
  .ReactTable {
    max-height: 65vh !important;
    margin-bottom: 15px;
  }
}
#Lab_Result_Compare_grid {
  [data-value="N"] {
    sup {
      display: none;
    }
  }
  [data-value="L"],
  [data-value="H"] {
    color: rgb(255, 153, 0);
  }
  [data-value="CL"],
  [data-value="CH"] {
    color: red;
  }
  .fa-hand-point-down,
  .fa-hand-point-up {
    font-size: 1.2rem;
    color: #616161;
  }
}
