.hptl-phase1-lab-result-form {
  background: #fff;
  border-radius: 5px; }
  .hptl-phase1-lab-result-form .go-button {
    cursor: pointer;
    margin-bottom: -15px;
    margin-top: 10px; }
  .hptl-phase1-lab-result-form .form-group {
    margin-bottom: 0;
    padding: 0;
    padding-top: 20px;
    cursor: pointer; }
  .hptl-phase1-lab-result-form th,
  .hptl-phase1-lab-result-form td {
    border-right: 1px solid #e6e6e6; }
  .hptl-phase1-lab-result-form #LabTestResult .ReactTable,
  .hptl-phase1-lab-result-form #LabTestName .ReactTable {
    max-height: 37vh !important;
    margin-bottom: 15px; }

#LabResultGridCntr .ReactTable {
  max-height: 65vh !important;
  margin-bottom: 15px; }
