.hptl-phase1-lab-result-form {
  background: #fff;
  border-radius: 5px;

  .go-button {
    cursor: pointer;
    margin-bottom: -15px;
    margin-top: 10px;
  }

  .form-group {
    margin-bottom: 0;

    padding: 0;
    padding-top: 20px;
    cursor: pointer;
  }

  th,
  td {
    border-right: 1px solid #e6e6e6;
  }

  #LabTestResult,
  #LabTestName {
    .ReactTable {
      max-height: 37vh !important;
      margin-bottom: 15px;
    }
  }
}
#LabResultGridCntr {
  .ReactTable {
    max-height: 65vh !important;
    margin-bottom: 15px;
  }
}
