.hptl-phase1-billing-form {
  background: #fff;
  border-radius: 5px; }

.hptl-phase1-add-billing-form .primary-details {
  padding: 10px; }
  .hptl-phase1-add-billing-form .primary-details .primary-box-container {
    padding-top: 6px;
    padding-left: 10px; }
  .hptl-phase1-add-billing-form .primary-details .last-box-container {
    padding: 5px; }
  .hptl-phase1-add-billing-form .primary-details .last-box-label {
    padding: 15px;
    font-weight: 600;
    font-size: 15px; }

.hptl-phase1-add-billing-form .Paper {
  border: 1px solid #5f5f5f;
  min-height: 43vh; }

.hptl-phase1-add-billing-form .Paper-secondary {
  border: 1px solid #5f5f5f; }

.hptl-phase1-add-billing-form .boderlabel {
  border-bottom: 1px dashed #000; }

.hptl-phase1-add-billing-form mark {
  background: none;
  color: red; }

.hptl-phase1-add-billing-form .form-details {
  padding: 5px;
  padding-bottom: 0px; }

.hptl-phase1-add-billing-form .radio-design {
  position: absolute;
  top: 5px;
  left: 36px; }

.hptl-phase1-add-billing-form .refactor-design {
  min-height: 28px;
  background-color: #fbfbfb;
  border: 0px; }

.hptl-phase1-add-billing-form .modal-container {
  position: relative; }

.hptl-phase1-add-billing-form .modal-container .modal,
.hptl-phase1-add-billing-form .modal-container .modal-backdrop {
  position: absolute; }

.hptl-phase1-add-billing-form .header-details {
  padding: 5px;
  padding-bottom: 0px;
  border-radius: 5px;
  border: 1px solid #d3d3d3; }

.hptl-phase1-add-billing-form .secondary-details {
  padding: 10px; }
  .hptl-phase1-add-billing-form .secondary-details .secondary-box-container {
    padding: 8px; }

.totalAmt {
  background: #44b8bd;
  color: #fff; }
