/* width */
header {
  box-shadow: none !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); }

.mainTheme {
  background: #00a796;
  color: #fff;
  padding: 0 1rem;
  border-bottom: 1px solid #007468;
  height: 52px; }

.mainPageArea {
  position: fixed;
  top: 52px;
  height: 94vh;
  overflow: auto;
  overflow-x: hidden; }

.sideMenuBars {
  border-right: 1px solid #00dac4;
  margin-left: -15px;
  padding: 15px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(228, 171, 89, 0.76) 0%, rgba(0, 186, 190, 0.1) 100%); }
  .sideMenuBars:hover {
    background: #00dac4; }

.topNavbar-title {
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 1.2em; }

.appLogoCntr {
  width: 115px;
  border-left: 1px solid #007468;
  padding-left: 3px;
  margin-right: 4px; }
  .appLogoCntr .appLogoHIMSOnly {
    background: url(../../../assets/svg/HIMS_LOGO_ONLY.svg) no-repeat center left;
    background-size: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 40px; }
  .appLogoCntr .appLogoHRMSOnly {
    background: url(../../../assets/svg/HRMS_LOGO_ONLY.svg) no-repeat center left;
    background-size: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 40px; }

.btn-userProfile {
  background: none;
  color: #fff;
  border-left: 1px solid #00dac4;
  margin-top: -21px; }
  .btn-userProfile i {
    margin: 3px; }
  .btn-userProfile span {
    display: inline-block;
    margin: 0 10px; }

#simple-menu {
  top: 33px;
  right: 20px;
  color: #797979; }
  #simple-menu ul li {
    padding: 5px 35px 5px 15px;
    margin: 0;
    text-transform: uppercase; }
    #simple-menu ul li i {
      margin-right: 15px;
      color: #00a796; }
  #simple-menu hr {
    margin: 5px 0;
    padding: 0; }

.leftNavCntr {
  background: #292929;
  margin-top: 0;
  z-index: 9999;
  position: fixed;
  height: 100%;
  width: 255px;
  box-shadow: 0 0 300px rgba(0, 0, 0, 0.5);
  animation-duration: 0.4s; }

/* Light Side Bar Menu */
.hptl-phase1-sideMenuBar .sideMenu-header {
  color: #212529;
  background: #f7f7f7;
  margin-top: 52px;
  height: 93vh;
  overflow-y: auto;
  overflow-x: hidden; }
  .hptl-phase1-sideMenuBar .sideMenu-header .menuBarLoader {
    position: absolute;
    height: 100%;
    background: #e9e9e9;
    width: 100%;
    z-index: 9;
    text-align: center;
    padding-top: 100%; }
    .hptl-phase1-sideMenuBar .sideMenu-header .menuBarLoader i {
      color: #00babe; }

.hptl-phase1-sideMenuBar .side-menu-title {
  padding: 5px 0;
  line-height: 35px;
  border-bottom: 2px solid #d2d2d2;
  border-top: 1px solid #fff;
  cursor: pointer;
  top: 0; }
  .hptl-phase1-sideMenuBar .side-menu-title i {
    text-shadow: 0px 2px 0px #fff; }

.hptl-phase1-sideMenuBar .side-menu-title:hover {
  background: #fff;
  color: #00dac4; }

.hptl-phase1-sideMenuBar .side-menu-arrow {
  margin-top: 5px; }

.hptl-phase1-sideMenuBar .side-menu-downIcon {
  padding-top: 5px;
  padding-right: 5px;
  cursor: pointer; }

.hptl-phase1-sideMenuBar .sub-menu-option {
  border-top: 2px solid #f7f7f7; }
  .hptl-phase1-sideMenuBar .sub-menu-option ul.tree-structure-menu {
    margin: 0;
    padding: 0;
    width: 100%; }
    .hptl-phase1-sideMenuBar .sub-menu-option ul.tree-structure-menu li {
      margin: 0;
      border-bottom: 1px dotted #818588;
      text-transform: uppercase;
      cursor: pointer;
      line-height: 20px;
      background: #929292;
      color: #ffffff; }
      .hptl-phase1-sideMenuBar .sub-menu-option ul.tree-structure-menu li i {
        margin-right: 14px;
        margin-left: 15px;
        display: inline-block;
        vertical-align: initial;
        color: #c1c1c1; }
      .hptl-phase1-sideMenuBar .sub-menu-option ul.tree-structure-menu li span {
        padding: 8px 5px 8px 13px;
        display: inline-block;
        width: 78%;
        border-left: 1px solid #f7f7f7;
        font-size: 0.8em; }
      .hptl-phase1-sideMenuBar .sub-menu-option ul.tree-structure-menu li:hover {
        background: #afafaf; }
        .hptl-phase1-sideMenuBar .sub-menu-option ul.tree-structure-menu li:hover i {
          color: #fff; }
      .hptl-phase1-sideMenuBar .sub-menu-option ul.tree-structure-menu li.active {
        background: #00dac4;
        color: #fff; }
        .hptl-phase1-sideMenuBar .sub-menu-option ul.tree-structure-menu li.active i {
          color: #fff; }

.hptl-phase1-sideMenuBar .close-menu {
  padding-top: 5px;
  cursor: pointer;
  color: #fff; }

.hptl-phase1-sideMenuBar .menuBar-title {
  display: flex;
  padding: 0 5px;
  height: 52px;
  background: #000;
  top: 0;
  position: fixed;
  width: 255px;
  z-index: 9;
  border-bottom: 1px solid #3e3e3e; }

.hptl-phase1-sideMenuBar .sideBarClose {
  position: absolute;
  right: 19px;
  top: 14px;
  color: #fff;
  font-size: 1.5em; }

.hptl-phase1-sideMenuBar .sideBarClose:hover {
  color: #00bcb0;
  cursor: pointer; }

.hptl-phase1-sideMenuBar svg {
  height: 23px; }

/* Dark Side Bar Menu 
.hptl-phase1-sideMenuBar {
  .sideMenu-header {
    color: white;
    background: #292929;
    margin-top: 52px;
    height: 93vh;
    height: 93vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .side-menu-title {
    padding: 5px 0;
    line-height: 35px;
    border-bottom: 2px solid #000000;
    border-top: 1px solid #505050;
    cursor: pointer;
    
    i {
      text-shadow: 0px 2px 0px #000;
    }
  }
  .side-menu-title:hover {
    background:  lighten($primary-color, 10%);
    i {
      text-shadow: 0px 2px 0px #000;
    }
  }
  .side-menu-arrow {
    margin-top: 5px;
  }
  .side-menu-downIcon {
    padding-top: 5px;
    padding-right: 5px;
    cursor: pointer;
  }
  ul.tree-structure-menu {
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      padding: 8px 5px;
      margin: 0;
      
      border-bottom: 1px dotted #4e4e4e;
      text-transform: uppercase;
      cursor: pointer;
      color: #dcac66;
      line-height: 20px;
      i {
        margin-right: 12px;
        margin-left: 14px;
        display: inline-block;
        vertical-align: initial;
      }
      span {
        display: inline-block;
        width: 80%;
      }
    }
    li:hover {
      background:  lighten($primary-color, 10%);
      color: #fff;
    }

    li.active {
      background:  lighten($primary-color, 10%);
      color: #fff;
    }
  }
  .sub-menu-option {
    background: #000000;
  }

  .close-menu {
    padding-top: 5px;
    cursor: pointer;
    color: #fff;
  }

  .menuBar-title {
    display: flex;
    
    height: 49px;
    background: #000;
    position: fixed;
    width: 255px;
    top:0;
    z-index: 9;
  }
  .sideBarClose {
    position: absolute;
    right: 19px;
    top: 14px;
    color: #fff;
    
  }
  .sideBarClose:hover {
    color: #00bcb0;
    cursor: pointer;
  }
  svg {
    height: 23px;
  }
}
*/
.screenDisplay {
  display: flex;
  width: 100%; }
  .screenDisplay i {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 13px;
    margin: -2px 10px -2px 0; }
    .screenDisplay i:hover {
      background: rgba(0, 0, 0, 0.1);
      cursor: pointer; }
  .screenDisplay h5 {
    line-height: 46px;
    padding: 0;
    margin: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
  .screenDisplay span:first-child {
    padding-top: 0px; }
  .screenDisplay span:last-child {
    padding-top: 7px;
    float: right;
    position: absolute;
    margin-left: 88%; }

.selectedLang {
  float: right;
  margin-right: 10px;
  border: 1px solid #fff;
  padding: 0px 3px;
  border-radius: 2px; }

.navTopbar-dropdown {
  padding: 15px;
  border-left: 1px solid #007468;
  margin: 0;
  margin-right: -15px;
  cursor: pointer; }
  .navTopbar-dropdown .dropdown-menu {
    left: inherit;
    right: -1px;
    display: none;
    border-radius: 0 0 5px 5px;
    top: 49px;
    width: 200px; }
    .navTopbar-dropdown .dropdown-menu .dropdown-item {
      padding: 0.5rem 0.8rem;
      color: #686868; }
      .navTopbar-dropdown .dropdown-menu .dropdown-item i {
        margin-right: 0.5rem; }
      .navTopbar-dropdown .dropdown-menu .dropdown-item:hover {
        color: #00dac4; }
  .navTopbar-dropdown:hover {
    background: #00dac4; }
    .navTopbar-dropdown:hover .dropdown-menu {
      display: block; }
  .navTopbar-dropdown:disabled {
    background: #00dac4; }

.loginProfileInfo {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .loginProfileInfo span {
    display: block;
    white-space: nowrap;
    margin-right: 10px;
    padding-left: 10px; }
    .loginProfileInfo span:first-child {
      font-weight: 600;
      text-transform: uppercase; }

.passwordCntr {
  background: #fff;
  padding: 0 15px 15px;
  border-radius: 5px;
  width: 300px;
  margin: 10vh auto 0;
  box-shadow: 0 10px 10px #999999 !important;
  position: absolute;
  z-index: 99999;
  border: 1px solid #666666 !important;
  left: 35vw;
  top: 15vh; }
  .passwordCntr h4 {
    border-bottom: 1px solid #00413a !important;
    padding-bottom: 15px;
    width: 100%;
    background: #00a796;
    line-height: 40px;
    height: 42px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 1px 1px darken #00a796, 20% !important;
    text-align: center; }
  .passwordCntr .footerBtn button {
    float: right;
    margin-left: 15px; }

@media only screen and (max-width: 600px) {
  .navTopBarRight {
    display: none; } }
