.hptl-phase1-item-master-form {
  background: #ffff;
  border-radius: 5px; }
  .hptl-phase1-item-master-form .form-details {
    padding: 5px;
    padding-bottom: 5px; }
  .hptl-phase1-item-master-form mark {
    background: none;
    color: red; }
  .hptl-phase1-item-master-form .form-group {
    margin-bottom: 0;
    margin-top: 4px;
    padding: 0;
    padding-top: 20px;
    cursor: pointer; }
  .hptl-phase1-item-master-form .item-section {
    border: 1px solid #d3d3d3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: #ffff;
    padding-bottom: 10px; }
