.hptl-phase1-op-display-billing-form {
  background: #fff;
  border-radius: 5px;
  label {
    font-weight: 400;
    font-size: 11px;
  }
  mark {
    background: none;
    color: red;
  }
  .form-details {
    padding: 5px;
    padding-bottom: 0px;
  }

  .table-detail {
  }
  th,
  td {
    font-size: 11px;
    border-right: 1px solid #e6e6e6;
  }
}
