.hptl-phase1-patient-form {
  background: #ffff;
  border-radius: 5px;
}

.hptl-phase1-add-patient-form {
  .primary-details {
    border-right: 1px dashed #d3d3d3;
    padding-top: 8px;
  }
  mark {
    background: none;
    color: red;
  }

  .centerAlign {
    text-align: center;
  }

  .text_field {
    width: 100% !important;
    background-color: #fbfbfb;
    margin-right: "5px";
  }

  .secondary-details {
    padding-top: 8px;
    .secondary-box-container {
      .attach-design {
        background: #8c8c8c;
        color: #fff;
        position: relative;
        cursor: pointer;
        margin-left: -1px;
        margin-right: -1px;
      }
      .preview-image {
        position: absolute;
        top: -1px;
        left: 15px;
        height: 101px;
      }
    }
  }
}
input[type="text"]:disabled {
  background: #f0f0f0;
  border: 1px solid #d3d3d3;
  color: #000;
  font-weight: bold;
}
.is-disabled {
  .Select-control {
    border: 1px solid #d3d3d3;
  }
  .Select-value {
    background: #f0f0f0;
    color: #000;
    font-weight: bold;
  }
  .Select-arrow-zone {
    display: none;
  }
  .Select-placeholder {
    background: #f0f0f0;
  }
}
.algaeh-datePicker .react-date-picker--disabled {
  button {
    display: none;
  }
}
