.hptl-phase1-add-insurance-form {
  background: #fff;
  border-radius: 5px; }
  .hptl-phase1-add-insurance-form .colorPrimary div {
    background-color: #dbad64; }
    .hptl-phase1-add-insurance-form .colorPrimary div h2 {
      color: #fff; }
  .hptl-phase1-add-insurance-form th,
  .hptl-phase1-add-insurance-form td {
    border-right: 1px solid #e6e6e6; }

#networkPlanListCntr .ReactTable {
  max-height: 48vh !important; }
