.hptl-phase1-add-insurance-form {
  background: #fff;
  border-radius: 5px; }
  .hptl-phase1-add-insurance-form .colorPrimary div {
    background-color: #dbad64; }
    .hptl-phase1-add-insurance-form .colorPrimary div h2 {
      color: #fff; }

.model-set {
  margin: 0 auto;
  width: 160vh; }
