.LeaveAuthPopup {
  .textArea {
    background: #fff !important;
    height: 10vh;
    margin-top: 0;
    margin-bottom: 15px;
  }
}

#previousLeaveAppGrid_Cntr {
  .ReactTable {
    max-height: 43vh !important;
  }
}
.btnFooter {
  margin-bottom: 10px;
  button {
    float: right;
    margin-left: 10px;
  }
  button.btn-danger {
    background: none;
    color: #dc3545;
    &:hover {
      background: #dc3545;
      color: #fff;
    }
  }
}
