.EyeScreen .customTable thead th {
  background: #8c8c8c;
  text-transform: uppercase;
  min-width: auto !important;
  color: #fff;
  font-weight: normal; }

.EyeScreen .customTable tbody td {
  min-width: auto !important; }
