::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

label {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em; }

.UCAF20_Report {
  width: 100%;
  padding: 0;
  margin: 0; }

.UCAF20_Report td {
  border: 1px solid #f2f2f2;
  padding: 2px 4px;
  margin: 0; }

.print-body {
  border-right: 0 !important;
  max-height: 68vh;
  overflow: auto;
  padding: 0 15px 0 !important;
  margin-bottom: 10px;
  /*Header Only CSS*/
  /*Content Only CSS*/
  /* Clear floats after the columns */
  /*Footer Only CSS*/
  /*Print Only CSS*/ }
  .print-body header {
    margin: 0 0 10px;
    padding: 10px 0;
    /* border-bottom: 1px solid #3d3d3d; */
    border-top: 1px solid #e5e5e5;
    display: block;
    width: 100%;
    height: 85px; }
  .print-body .hospitalLogo {
    color: #ccc;
    text-align: center;
    float: left;
    border-right: 1px dotted #ccc; }
  .print-body .hospitalLogo img {
    margin: 0;
    padding: 0;
    border: none;
    height: 60px; }
  .print-body .otherInfo {
    text-align: right;
    float: right;
    width: 150px;
    border-left: 1px dotted #ccc;
    height: 70px; }
  .print-body .hospitalAddress {
    text-align: center;
    margin: 0 auto;
    padding: 0 1%;
    width: 65%;
    min-height: 54px; }
  .print-body .hospitalAddress h4 {
    margin: 0 0 5px;
    padding: 0; }
  .print-body .hospitalAddress p {
    margin: 0;
    padding: 0;
    line-height: 15px;
    font-weight: normal; }
  .print-body section h2 {
    text-align: left;
    border-bottom: 1px solid #c5c5c5;
    /* line-height: 0; */
    margin-bottom: 10px; }
    .print-body section h2 span {
      background-color: #f2f2f2;
      padding: 5px 15px;
      color: #000000;
      border: 1px solid #c5c5c5;
      font-size: 0.55em;
      line-height: 29px;
      border-radius: 5px 5px 0 0; }
  .print-body section:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 20px; }
  .print-body .tableForLabel {
    width: 100%;
    border-collapse: collapse; }
  .print-body .tableForLabel tbody {
    margin: 0;
    padding: 0; }
  .print-body .tableForLabel td {
    border: 1px solid #ccc;
    padding: 3px;
    margin: 0; }
  .print-body .tableForLabel td span {
    font-weight: bold; }
  .print-body .tableForData {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #00dac4;
    font-weight: normal; }
  .print-body .tableForData thead {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase; }
  .print-body .tableForData tbody {
    margin: 0;
    padding: 0; }
  .print-body .tableForData .tableSubHdg {
    font-weight: bold;
    background: #f2f2f2;
    border-bottom: 2px dashed #979797;
    padding: 5px 3px; }
  .print-body .tableForData th {
    border-bottom: 2px solid #00a796 !important;
    vertical-align: middle !important;
    background-color: #e8feff !important;
    padding: 5px;
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: center;
    border-right: 1px solid #007468; }
  .print-body .tableForData td {
    border: 1px solid #ccc;
    padding: 3px;
    margin: 0; }
  .print-body footer {
    margin: 0 0 10px;
    padding: 0 0 10px;
    display: block;
    width: 100%; }
  .print-body .hospitalSeal {
    float: right; }
  .print-body .hospitalSeal img {
    height: 75px; }
  .print-body .doctorName {
    text-align: left;
    margin: 0 auto;
    padding: 0 1%;
    width: 75%;
    height: 55px; }
  .print-body .doctorName h6 {
    margin: 0 0 5px;
    padding: 0; }
  .print-body .doctorName p {
    margin: 0;
    padding: 0;
    line-height: 15px; }
  .print-body .signatureDiv {
    text-align: left;
    float: left;
    width: 15%;
    height: 60px; }
  @media print {
    .print-body .print-body {
      width: 100%;
      margin: 0;
      -webkit-print-color-adjust: exact; }
    .print-body button {
      display: none; } }

ul.ul-legend li {
  float: left;
  margin-right: 10px;
  list-style: none;
  margin-top: 3px;
  font-size: 0.8rem;
  line-height: 19px; }
  ul.ul-legend li span {
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 4px 2px 2px 2px;
    margin-right: 5px; }

.btn-green {
  color: #fff;
  background-color: #00a796;
  border-color: #007468; }
  .btn-green:hover {
    background-color: #007468;
    border-color: #00dac4; }
  .btn-green:focus {
    background-color: #00a796;
    border-color: #00a796; }
  .btn-green.disabled, .btn-green:disabled {
    opacity: 0.3;
    color: #fff;
    background-color: #00a796;
    border-color: #007468;
    cursor: not-allowed; }
  .btn-green:active {
    background-color: #fff;
    border-color: #fff; }
  .btn-green i {
    color: #fff; }

.btn-grey {
  color: #1a1a1a;
  background-color: #e6e6e6;
  border-color: gray; }
  .btn-grey:hover, .btn-grey:focus {
    background-color: #cccccc;
    border-color: #1a1a1a; }
  .btn-grey i {
    color: #000; }

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00dac4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5); }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dcac66; }

.displayInlineBlock {
  display: inline-block; }

.greenCell {
  background-color: #9dfff5 !important;
  color: #00a796 !important;
  text-decoration: underline !important; }

.cancelledClass {
  background-color: #ff400080 !important; }

.confirmedClass {
  background-color: #ff99ff80 !important; }

.orderedClass {
  background-color: #ffff00 !important; }

.collectedClass {
  background-color: #097bd880 !important; }

.validateClass {
  background-color: #2ccdd680 !important; }

.scheduledClass {
  background-color: #fca6c180 !important; }

.availableClass {
  background-color: rgba(0, 255, 64, 0.13) !important; }

.underProcessClass {
  background-color: rgba(255, 0, 0, 0.08) !important; }

.cursor-pointer {
  cursor: pointer; }

.pat-code:hover {
  text-decoration: underline;
  cursor: pointer; }

.bordered-layout {
  border: 1px solid #c1c1c1;
  height: 18vh;
  overflow: auto;
  border-radius: 5px; }
  .bordered-layout ul {
    margin: 0px;
    padding: 0px; }
    .bordered-layout ul li {
      cursor: pointer;
      list-style: none;
      margin: 0px;
      padding: 5px; }
      .bordered-layout ul li.active {
        background: #eafffd; }
      .bordered-layout ul li span {
        width: 80%; }
      .bordered-layout ul li i {
        cursor: pointer;
        padding: 2px 5px 0 0;
        color: #58595b; }
      .bordered-layout ul li i:hover {
        color: red; }
    .bordered-layout ul li:nth-child(odd) {
      background: #f2f2f2; }
    .bordered-layout ul li:nth-child(even) {
      background: #ffffff; }
    .bordered-layout ul li:nth-child(odd):hover,
    .bordered-layout ul li:nth-child(even):hover {
      background: #eafffd; }

.bordered-layout-radius {
  overflow: auto;
  border-radius: 3px; }
  .bordered-layout-radius ul {
    margin: 0px;
    padding: 0px;
    border: 1px solid #c1c1c1;
    overflow: auto; }
    .bordered-layout-radius ul li {
      cursor: pointer;
      list-style: none;
      margin: 0px;
      padding: 7px 5px;
      border-bottom: 1px dashed #c1c1c1;
      width: 100%;
      position: relative; }
      .bordered-layout-radius ul li.active {
        background: #eafffd !important; }
      .bordered-layout-radius ul li i {
        display: block;
        float: right;
        line-height: 17px;
        margin-right: 6px;
        color: #000;
        margin-left: 10px; }
    .bordered-layout-radius ul li.active::after {
      content: "";
      position: absolute;
      right: 4px;
      top: 7px;
      width: 0;
      height: 0;
      border-top: 8px solid #f5232300;
      border-left: 8px solid #00dac4;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #e8e8e800;
      clear: both; }
    .bordered-layout-radius ul li.active i {
      display: none; }
  .bordered-layout-radius .noDataStyle {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 15%;
    color: #d3d3d3; }

.margin-top-15 {
  margin-top: 15px; }

.padding-10 {
  padding: 10px; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.float-right {
  float: right; }

.search_logo {
  width: 50px;
  height: 40px;
  cursor: pointer;
  margin-top: 10px; }

/* Portlet */
.portlet {
  background: #f7f7f7;
  padding: 15px;
  border-radius: 5px; }

.portlet.portlet-gray {
  background: #f7f7f7; }

.portlet.portlet-bordered {
  border: 1px solid #d6d6d6; }

/* Portlet Title */
.portlet-title {
  padding: 0 15px;
  margin: -5px -15px 0;
  min-height: 35px;
  border-bottom: 1px dashed #eee;
  margin-bottom: 5px;
  background: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%); }
  .portlet-title .caption {
    float: left;
    line-height: 18px; }
  .portlet-title .center {
    text-align: center; }

.caption.caption-green .caption-subject,
.caption.caption-green i {
  color: #00dac4;
  font-weight: 200; }

.caption.caption-red .caption-subject,
.caption.caption-red i {
  color: #e26a6a;
  font-weight: 200; }

.caption.caption-purple .caption-subject,
.caption.caption-purple i {
  color: #8775a7;
  font-weight: 400; }

.caption-subject {
  color: #4d4d4d;
  font-size: 1.07rem;
  font-weight: bold;
  line-height: 26px; }

.caption-helper {
  padding: 0;
  margin: 0;
  line-height: 13px;
  color: #9eacb4;
  font-weight: 400; }

/* Actions */
.actions {
  float: right;
  display: inline-block; }
  .actions a {
    margin-left: 3px; }
  .actions span {
    margin-left: 3px; }
  .actions .btn {
    color: #666;
    padding: 3px 9px;
    line-height: 1.5;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 0.8em !important; }
  .actions .btn:hover {
    background-position: 100% 0;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .actions .btn-primary:not(:disabled):not(.disabled).active,
  .actions .btn-primary:not(:disabled):not(.disabled):active,
  .actions .show > .btn-primary.dropdown-toggle {
    background-color: #00a796;
    border-color: #00dac4; }

/* Pagination */
.pagination {
  margin: -3px 0 0;
  border-radius: 50px; }

.pagination > li > a,
.pagination > li > span {
  padding: 4px 10px;
  color: #8775a7;
  background: #f7f7f7; }

.pagination > li:hover > a,
.pagination > li.active > a,
.pagination > li.active:hover > a {
  color: #fff;
  background: #8775a7;
  border-color: #8775a7; }

/* Inputs */
.inputs {
  float: right;
  display: inline-block;
  padding: 4px 0;
  margin-top: -10px; }

.input-inline {
  width: 240px;
  display: inline-block;
  vertical-align: middle; }

/* Tab */
.portlet-title > .nav-tabs {
  background: none;
  margin: 0;
  float: right;
  display: inline-block;
  border: 0; }

.portlet-title > .nav-tabs > li {
  background: none;
  margin: 0;
  border: 0; }

.portlet-title > .nav-tabs > li > a {
  background: none;
  border: 0;
  padding: 2px 10px 13px;
  color: #444; }

.portlet-title > .nav-tabs > li.active,
.portlet-title > .nav-tabs > li.active:hover {
  border-bottom: 4px solid #f3565d;
  position: relative; }

.portlet-title > .nav-tabs > li:hover {
  border-bottom: 4px solid #f29b9f; }

.portlet-title > .nav-tabs > li.active > a,
.portlet-title > .nav-tabs > li:hover > a {
  color: #333;
  background: #fff;
  border: 0; }

/* Btn Circle */
.actions .btn.btn-circle {
  width: 28px;
  height: 28px;
  padding: 3px 7px;
  text-align: center; }

.actions .btn.btn-circle i {
  line-height: 22px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

/* Btn Green */
.actions .btn.btn-green.active,
.actions .btn.btn-green:hover {
  color: #fff;
  box-shadow: none;
  background: #00dac4;
  border-color: #01968c; }

.customRadio {
  border-bottom: 1px solid #eee;
  padding-bottom: 9px;
  width: 100%; }
  .customRadio .block {
    display: block;
    margin-top: 5px; }
  .customRadio .inline {
    display: inline-block; }
  .customRadio .inline + .inline {
    margin-left: 10px; }
  .customRadio .radio {
    color: #999;
    position: relative; }
  .customRadio .radio span {
    position: relative;
    padding-left: 20px;
    text-transform: capitalize;
    font-size: 1.2em; }
  .customRadio .radio span:after {
    content: "";
    width: 15px;
    height: 15px;
    border: 3px solid;
    position: absolute;
    left: 0;
    top: 1px;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  .customRadio .radio input[type="radio"] {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0; }
  .customRadio .radio input[type="radio"]:checked + span {
    color: #00dac4; }
  .customRadio .radio input[type="radio"]:checked + span:before {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    background: #00dac4;
    left: 5px;
    top: 6px;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%; }

.customCheckbox {
  border-bottom: 1px solid #eee;
  padding-bottom: 9px; }
  .customCheckbox .inline {
    display: inline-block;
    margin-right: 10px; }
  .customCheckbox .block {
    display: block; }
  .customCheckbox .inline + .inline {
    margin-left: 0; }
  .customCheckbox .checkbox {
    color: #999;
    position: relative; }
  .customCheckbox .checkbox span {
    position: relative;
    padding-left: 20px;
    text-transform: capitalize;
    font-size: 1.2em; }
  .customCheckbox .checkbox span:after {
    content: "";
    width: 15px;
    height: 15px;
    border: 3px solid;
    position: absolute;
    left: 0;
    top: 3px;
    border-radius: 15%;
    -ms-border-radius: 15%;
    -moz-border-radius: 15%;
    -webkit-border-radius: 15%;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  .customCheckbox .checkbox input[type="checkbox"] {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0; }
  .customCheckbox .checkbox input[type="checkbox"]:checked + span {
    color: #00dac4; }
  .customCheckbox .checkbox input[type="checkbox"]:checked + span:before {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    background: #00dac4;
    left: 5px;
    top: 8px;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%; }

.card {
  margin-bottom: 15px; }

.mrgn-tp-auto {
  margin-top: auto; }

.pain-scale-ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .pain-scale-ul li {
    background: url("./assets/images/pain_scale.webp") no-repeat center transparent;
    width: 31px;
    height: 31px;
    display: inline-block;
    cursor: pointer;
    margin-right: 3.3%; }
  .pain-scale-ul .pain-1 {
    background-position: 0px 0px; }
  .pain-scale-ul .pain-2 {
    background-position: 0px -32px; }
  .pain-scale-ul .pain-3 {
    background-position: 0px -65px; }
  .pain-scale-ul .pain-4 {
    background-position: 0px -98px; }
  .pain-scale-ul .pain-5 {
    background-position: 0px -130px; }
  .pain-scale-ul .pain-6 {
    background-position: 0px -163px; }
  .pain-scale-ul .active {
    border-radius: 100%;
    box-shadow: 0 3px 8px #00000063; }

.algaeh-modal {
  margin: 2% auto 0;
  background-color: #fff;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4); }
  .algaeh-modal .popupHeader {
    background: #dbad64;
    padding: 5px 15px 0; }
    .algaeh-modal .popupHeader h4 {
      color: #fff;
      padding: 0 0 3px;
      line-height: 30px;
      margin: 0;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
    .algaeh-modal .popupHeader label {
      color: #fff;
      font-size: 1em;
      padding: 0 0 3px;
      line-height: 30px;
      margin: 0;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      font-weight: bold; }
    .algaeh-modal .popupHeader button {
      margin: 2px 0 0;
      font-size: 1.4em;
      padding: 0;
      float: right;
      background: none;
      border: none;
      color: #fff;
      line-height: 30px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
    .algaeh-modal .popupHeader button:hover {
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0); }
  .algaeh-modal .popupInner {
    overflow-y: auto;
    overflow-x: hidden; }
    .algaeh-modal .popupInner .popSubHdg {
      font-weight: bold;
      color: #31afb2;
      margin-top: 10px;
      border-bottom: 1px dashed #d3d3d3;
      padding-bottom: 5px; }
    .algaeh-modal .popupInner .popLeftDiv {
      border-right: 1px dashed #e0e0e0;
      min-height: 30vh;
      max-height: 70vh;
      overflow: auto;
      padding: 15px; }
    .algaeh-modal .popupInner .popRightDiv {
      min-height: 30vh;
      max-height: 70vh;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 15px; }
  .algaeh-modal .popupFooter {
    border-top: 1px dashed #e0e0e0;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 40px; }
    .algaeh-modal .popupFooter .btn {
      float: right;
      min-width: 70px;
      padding: 4px 10px;
      margin-top: 2px;
      margin-left: 10px;
      text-transform: uppercase;
      background-size: 300% 100%;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      min-height: 31px;
      min-width: 31px;
      -webkit-transition: width 2s;
      /* Safari */
      transition: width 2s;
      font-size: 0.8em !important;
      cursor: pointer; }
      .algaeh-modal .popupFooter .btn:hover {
        background-position: 100% 0;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      .algaeh-modal .popupFooter .btn i {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }
    .algaeh-modal .popupFooter .btn:disabled {
      cursor: not-allowed !important;
      opacity: 0.4; }
    .algaeh-modal .popupFooter .btn-primary {
      color: #fff;
      background-color: #00a796;
      border-color: #007468; }
      .algaeh-modal .popupFooter .btn-primary:hover {
        background-color: #007468;
        border-color: #00dac4; }
      .algaeh-modal .popupFooter .btn-primary:focus {
        background-color: #00a796;
        border-color: #00a796; }
      .algaeh-modal .popupFooter .btn-primary.disabled, .algaeh-modal .popupFooter .btn-primary:disabled {
        opacity: 0.3;
        color: #fff;
        background-color: #00a796;
        border-color: #007468;
        cursor: not-allowed; }
      .algaeh-modal .popupFooter .btn-primary:active {
        background-color: #fff;
        border-color: #fff; }
    .algaeh-modal .popupFooter .btn-default {
      color: #1a1a1a;
      background-color: #e6e6e6;
      border-color: gray; }
      .algaeh-modal .popupFooter .btn-default:hover, .algaeh-modal .popupFooter .btn-default:focus {
        background-color: #cccccc;
        border-color: #1a1a1a; }
    .algaeh-modal .popupFooter .btn-other {
      background: none;
      color: gray;
      border: 1px solid gray; }
      .algaeh-modal .popupFooter .btn-other:hover, .algaeh-modal .popupFooter .btn-other:focus {
        background-color: #007468;
        color: #fff !important;
        border-color: #00dac4; }
    .algaeh-modal .popupFooter .btn-left {
      float: left !important;
      margin-right: 10px !important;
      margin-left: 0px !important; }

.algaeh-modal-Ar {
  margin: 2% auto 0;
  background-color: #fff;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
  direction: rtl;
  text-align: right; }
  .algaeh-modal-Ar .popupHeader {
    background: #dbad64;
    padding: 5px 15px 0; }
    .algaeh-modal-Ar .popupHeader h4 {
      color: #fff;
      padding: 0 0 3px;
      line-height: 30px;
      margin: 0;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
    .algaeh-modal-Ar .popupHeader label {
      color: #fff;
      font-size: 1em;
      padding: 0 0 3px;
      line-height: 30px;
      margin: 0;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      font-weight: bold; }
    .algaeh-modal-Ar .popupHeader button {
      margin: 2px 0 0;
      font-size: 1.4em;
      padding: 0;
      float: left;
      background: none;
      border: none;
      color: #fff;
      line-height: 30px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
    .algaeh-modal-Ar .popupHeader button:hover {
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0); }
  .algaeh-modal-Ar .popupInner {
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px dashed #e5e5e5; }
    .algaeh-modal-Ar .popupInner .popSubHdg {
      font-weight: bold;
      color: #31afb2;
      margin-top: 10px;
      border-bottom: 1px dashed #d3d3d3;
      padding-bottom: 5px; }
    .algaeh-modal-Ar .popupInner .popLeftDiv {
      border-right: 1px dashed #e0e0e0;
      min-height: 30vh;
      max-height: 70vh;
      overflow: auto;
      padding: 15px 15px 0; }
    .algaeh-modal-Ar .popupInner .popRightDiv {
      min-height: 30vh;
      max-height: 70vh;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 15px; }
    .algaeh-modal-Ar .popupInner .toggle-section .nav {
      padding: 0;
      right: auto; }
    .algaeh-modal-Ar .popupInner .showall {
      left: 0;
      right: auto; }
    .algaeh-modal-Ar .popupInner .clearall {
      left: 20px;
      right: auto; }
  .algaeh-modal-Ar .popupFooter {
    border-top: 1px dashed #e0e0e0;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 40px; }
    .algaeh-modal-Ar .popupFooter .button-left {
      float: left !important;
      margin-right: 10px !important;
      margin-left: 0px !important; }
    .algaeh-modal-Ar .popupFooter button {
      float: left;
      margin-right: 10px;
      margin-left: 0;
      padding: 5px 10px;
      text-transform: uppercase;
      min-width: 70px; }
    .algaeh-modal-Ar .popupFooter .btn-primary {
      color: #fff;
      background-color: #00a796;
      border-color: #007468; }
    .algaeh-modal-Ar .popupFooter .btn-default {
      background: #efefef;
      color: #5a5a5a;
      border: 1px solid #adadad; }

.cashReciptStyles .receipt-header {
  text-align: center;
  line-height: 62px;
  text-transform: uppercase;
  color: #717171; }

.cashReciptStyles .hospitalLogo {
  width: 150px;
  height: 70px;
  line-height: 70px;
  color: #ccc;
  text-align: center;
  background-size: 100%; }

.cashReciptStyles .hospitalAddress {
  width: 65%;
  text-align: center;
  margin: 0 150px;
  padding: 0; }

.cashReciptStyles span {
  color: #696969;
  text-transform: none; }

.cashReciptStyles .table-report {
  border: none;
  border-bottom: 2px; }
  .cashReciptStyles .table-report .table tbody td {
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    color: #00dac4;
    border: none; }
  .cashReciptStyles .table-report .table tbody td:first-child {
    color: #696969;
    text-transform: none; }
  .cashReciptStyles .table-report .table tbody td:nth-child(4) {
    color: #696969;
    text-transform: none; }
  .cashReciptStyles .table-report .tableEye tbody td {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #00dac4;
    border: none; }
  .cashReciptStyles .table-report .tableEye tbody td:first-child {
    color: #696969;
    text-transform: none; }
  .cashReciptStyles .table-report .tableEye tbody td:nth-child(4) {
    color: #696969;
    text-transform: none; }

.cashReciptStyles .text-danger strong {
  color: #9f181c; }

.cashReciptStyles .receipt-header-mid {
  margin: 15px 0 5px;
  overflow: hidden; }

.htpl-phase1-radio-btn {
  margin-right: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(1, 1, 1, 0.54);
  border-radius: 50%;
  outline: none;
  vertical-align: middle;
  bottom: 1px; }
  .htpl-phase1-radio-btn:focus {
    outline: none; }
  .htpl-phase1-radio-btn:checked {
    border: 1px solid #e5e5e5; }
    .htpl-phase1-radio-btn:checked:focus {
      outline: none; }
    .htpl-phase1-radio-btn:checked::before {
      content: "";
      background: #44b6ae;
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 3px;
      left: 3px; }

.htpl1-phase1-btn-primary {
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #44b6ae;
  border: solid 1px #44b6ae;
  color: #fff;
  padding: 2px 20px;
  margin: 0 !important;
  cursor: pointer; }
  .htpl1-phase1-btn-primary:hover {
    color: #ffffff;
    border: solid 1px #44b6ae;
    background-color: #399993; }
  .htpl1-phase1-btn-primary:active {
    background-color: #44b6ae;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #44b6ae; }
  .htpl1-phase1-btn-primary:disabled {
    background-color: #d0d8dc;
    color: rgba(72, 90, 99, 0.26);
    border: none;
    cursor: not-allowed; }

.htpl1-phase1-btn-secondary {
  text-transform: uppercase;
  border-radius: 5px;
  background-color: transparent;
  border: solid 1px #44b6ae;
  color: #44b6ae;
  padding: 2px 20px;
  margin: 0 !important;
  cursor: pointer; }
  .htpl1-phase1-btn-secondary:hover {
    color: #44b6ae;
    border: solid 1px #44b6ae;
    background-color: #fff; }
  .htpl1-phase1-btn-secondary:active {
    color: #44b6ae;
    border: solid 1px #44b6ae;
    background-color: #fff; }
  .htpl1-phase1-btn-secondary:disabled {
    background-color: #d0d8dc;
    color: rgba(72, 90, 99, 0.26);
    border: none;
    cursor: not-allowed; }

.htpl1-phase1-btn-others {
  text-transform: uppercase;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 2px 10px;
  cursor: pointer;
  margin: 0 !important; }
  .htpl1-phase1-btn-others:hover {
    background-color: #fff;
    border: 1px solid #fff;
    color: #000; }
  .htpl1-phase1-btn-others:active {
    background-color: #fff;
    border: 1px solid #fff;
    color: #000; }
  .htpl1-phase1-btn-others:disabled {
    background-color: #d0d8dc;
    color: rgba(72, 90, 99, 0.26);
    border: none;
    cursor: not-allowed; }

.spacing-push {
  margin-top: 5.5em !important; }

.box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.box-shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.box-shadow-normal {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.row-bottom-space {
  margin-bottom: 15px; }

.divider {
  height: 1px;
  background-color: #485a63;
  margin: 1px; }

.portletHeader {
  border-bottom: 1px solid #e2e2e2;
  padding-top: 10px;
  padding-bottom: 4px;
  width: 100%; }
  .portletHeader label {
    font-weight: 500; }

.arabicInput {
  text-align: right;
  direction: rtl; }

.tabMaster {
  background: white;
  width: 100%;
  color: #797979;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .tabMaster ul {
    position: relative; }
    .tabMaster ul li {
      border-right: 1px solid #e9e9e9;
      margin: 0;
      padding: 0;
      height: 32px; }
      .tabMaster ul li:after {
        display: block;
        content: "";
        border-bottom: 3px solid #00a796;
        transform: scaleX(0);
        transition: transform 150ms ease-in-out; }
      .tabMaster ul li:hover:after {
        transform: scaleX(1); }
      .tabMaster ul li label {
        text-transform: uppercase;
        padding: 7px 15px;
        color: #858585;
        margin: 0;
        border: none;
        cursor: pointer; }
    .tabMaster ul li.active:hover:after {
      display: none !important;
      border: none !important;
      cursor: pointer; }
    .tabMaster ul li.active label {
      border-bottom: 3px solid #007468;
      color: #fff;
      cursor: pointer;
      background: #00a796;
      text-shadow: 0 1px 1px #868686; }

.divInner {
  overflow-y: auto;
  overflow-x: hidden; }
  .divInner .divInnerLeft {
    border-right: 1px dashed #e0e0e0;
    min-height: 30vh;
    max-height: 70vh;
    overflow: auto;
    padding: 15px; }
  .divInner .divInnerRight {
    min-height: 30vh;
    max-height: 70vh;
    overflow: auto;
    padding: 15px; }

.lab_section {
  font-weight: normal; }

.imp {
  color: #ff063e;
  font-size: 1rem;
  font-weight: bold;
  line-height: 0; }

.txt-fld {
  background-color: #fbfbfb;
  width: 100%; }

.select-fld {
  padding-left: 8px;
  background-color: #fbfbfb;
  width: 100%; }

.table-details {
  text-align: center; }

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #fcffde; }

.form-details {
  margin-top: 20px;
  margin-left: "auto";
  margin-right: "auto"; }

th,
td {
  border-right: 1px solid #ffffff; }

.ui.fluid.dropdown {
  min-height: 30px !important;
  max-height: 30px !important;
  padding: 0; }

.mandatory .ui.selection.dropdown {
  border: 1px solid #e1ad46; }

.ui.search.dropdown .menu {
  border-color: #cccccc !important;
  max-height: 17vh;
  width: max-content;
  max-width: calc(100% + 100px); }

.ui.search.dropdown > .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: inherit;
  max-width: 85%;
  padding: 0.5rem; }

.ui.search.selection.dropdown > input.search {
  padding: 0.64em 0.5em; }

.ui.selection.dropdown > .delete.icon,
.ui.selection.dropdown > .dropdown.icon,
.ui.selection.dropdown > .search.icon {
  line-height: 1.21428571em;
  top: 0;
  right: 0;
  padding: 0.6em;
  color: #666666; }

.ui.selection.dropdown .menu > .item {
  padding: 0.6em !important; }

.ui.input > input {
  font-weight: 700;
  font-size: 0.9em;
  min-height: 30px !important;
  max-height: 30px !important;
  padding: 0.3em 0.5em; }

.arabic_component {
  direction: rtl;
  text-align: right; }
  .arabic_component input::placeholder {
    text-align: right; }
  .arabic_component .text-arabic {
    font-size: 1.1rem; }
  .arabic_component .spotlightSearchIconBox {
    border-right: 1px solid #ced4d8;
    border-left: 0 !important; }
  .arabic_component .print-area div {
    float: left;
    border-right: 1px solid #adaaaa;
    border-left: 0; }
  .arabic_component .print-area .dropdown-menu {
    left: 5px;
    right: inherit; }
  .arabic_component .hdg_bredcrump {
    background: url("./assets/images/breadcrump_border_Ar.webp") no-repeat top left #fff !important; }
  .arabic_component .hptl-phase1-add-patient-form .primary-details,
  .arabic_component .htpl-phase1-primary-insurance-form .primary-details,
  .arabic_component .htpl-phase1-seconary-insurance-form .primary-details,
  .arabic_component .hptl-phase1-add-consultation-form .primary-details {
    border-left: 1px dashed #d3d3d3;
    border-right: 0; }
  .arabic_component .hptl-phase1-footer button {
    font-size: 1.2rem;
    float: left; }
  .arabic_component .hptl-phase1-footer .btn:disabled {
    cursor: not-allowed !important;
    opacity: 0.4; }
  .arabic_component .toggle-section .nav {
    padding: 0;
    right: auto; }
  .arabic_component .ui.search.dropdown > .text {
    text-align: right;
    float: right; }
  .arabic_component .ui.selection.dropdown > .delete.icon,
  .arabic_component .ui.selection.dropdown > .dropdown.icon,
  .arabic_component .ui.selection.dropdown > .search.icon {
    text-align: left;
    left: 0; }
  .arabic_component .ui.dropdown .menu {
    right: 0; }
  .arabic_component .ui.dropdown .menu > .item {
    text-align: right; }
  .arabic_component .insuranceRadio {
    padding-right: 15px !important;
    padding-left: 0 !important; }
    .arabic_component .insuranceRadio .customRadio .inline + .inline {
      margin-right: 10px !important;
      margin-left: 0 !important; }
  .arabic_component .maternityRadio {
    padding-right: 15px !important;
    padding-left: 0 !important; }
    .arabic_component .maternityRadio .customRadio .inline + .inline {
      margin-right: 10px !important;
      margin-left: 0 !important; }
  .arabic_component .bk-bn {
    left: 100px; }
  .arabic_component .Image-cropper {
    direction: ltr; }

.ar_comp .algaeh-modal {
  direction: rtl;
  text-align: right; }
  .ar_comp .algaeh-modal input::placeholder {
    text-align: right; }
  .ar_comp .algaeh-modal .text-arabic {
    font-size: 1.1rem; }
  .ar_comp .algaeh-modal .popupHeader h4 label {
    font-size: 1.5rem; }
  .ar_comp .algaeh-modal .popupHeader button {
    float: left; }
  .ar_comp .algaeh-modal .popupFooter .btn {
    float: left;
    margin-left: 0;
    margin-right: 10px; }
