$forntSize: 0.7rem;
:global {
  .card {
    margin-bottom: 15px;
  }

  .mrgn-tp-auto {
    margin-top: auto;
  }

  .pain-scale-ul {
    margin: auto;
    padding: auto;
    list-style: none;

    li {
      background: url("./assets/images/pain_scale.png") no-repeat center
        transparent;
      width: 31px;
      height: 31px;
      display: inline-block;
      cursor: pointer;
      margin-right: 10px;
    }
    .pain-1 {
      background-position: 0px 0px;
    }
    .pain-2 {
      background-position: 0px -32px;
    }
    .pain-3 {
      background-position: 0px -65px;
    }
    .pain-4 {
      background-position: 0px -98px;
    }
    .pain-5 {
      background-position: 0px -130px;
    }
    .pain-6 {
      background-position: 0px -163px;
    }
    .active {
      border-radius: 100%;
      box-shadow: 0 3px 8px #00000063;
    }
  }

  .pain_slider {
    max-width: 350px;
    margin: 10px;
  }

  .algaeh-modal {
    margin: 3% auto 0;
    background-color: #fff;
    padding: 0 10px;
    border-radius: 5px;
    overflow: hidden;
    width: 80%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);

    .popupHeader {
      background: #dbad64;
      padding: 5px 16px;
      margin-bottom: 10px;
      h4 {
        color: #fff;
        font-size: 1.2rem;
        padding: 0 0 3px;
        line-height: 30px;
        margin: 0;
      }
    }
    .popupInner {
      height: 70vh;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .popupFooter {
      background: #f7f7f7;
      border-top: 1px solid #e0e0e0;
      padding: 5px 0;

      button {
        float: right;
        margin-left: 10px;
      }
    }
  }

  .tab-container {
    .tab-button {
      font-size: $forntSize;
      font-weight: normal;
      border-radius: 7px 7px 0 0;
      background-color: #f3f3f3;
      border: solid 1px #d0d8dc;
      color: #7c909b;
      padding: 6px 10px;
      cursor: pointer;

      &:hover {
        background-color: #fff !important;
        color: #68509f !important;
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }

      &.active {
        background-color: #dbad64;
        color: #fff;
        border: solid 1px #dbad64;
        pointer-events: none;

        &:hover {
          background-color: #dbad64 !important;
          color: #fff !important;
        }
      }
    }

    .tab {
      margin-right: -30px;
      &:last-child {
        .tab-button {
          //border-radius: 0px;
          //border-top-right-radius: 4px;
        }
      }
    }
    .tab-content {
      padding: 10px 20px;
      background-color: #fcfcfc;
      border: solid 1px #eceff1;

      .tab-item {
        position: relative;
      }
    }
  }
  .image-drop-area {
    border: 1px solid #93a4ad;
    min-height: 101px;
    position: relative;
    background-color: #eaeaea;
    .dropzone {
      min-width: 100%;
      min-height: 100%;
    }

    .drop-message {
      font-size: 14px;
      color: #485a63;
      margin: 8px 0px;
      min-width: 130px;
      padding-left: 0px;
    }
  }

  .image-ins-drop-area {
    border: 1px solid #93a4ad;
    min-height: 80px;
    position: relative;
    background-color: #eaeaea;
    .dropzone {
      min-width: 100%;
      min-height: 100%;
    }

    .drop-message {
      font-size: 14px;
      color: #485a63;
      margin: 8px 0px;
      min-width: 130px;
      padding-left: 0px;
    }
  }

  .htpl-phase1-radio-btn {
    margin-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(1, 1, 1, 0.54);
    border-radius: 50%;
    outline: none;
    vertical-align: middle;
    bottom: 1px;

    &:focus {
      outline: none;
    }

    &:checked {
      border: 1px solid #e5e5e5;
      &:focus {
        outline: none;
      }
      &::before {
        content: "";
        background: #44b6ae;
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        top: 3px;
        left: 3px;
      }
    }
  }

  .htpl1-phase1-btn-primary {
    font-size: 0.8rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #44b6ae;
    border: solid 1px #44b6ae;
    color: #fff;
    padding: 2px 20px;
    margin: 0 !important;
    cursor: pointer;

    &:hover {
      color: #ffffff;
      border: solid 1px #44b6ae;
      background-color: #399993;
    }

    &:active {
      background-color: #44b6ae;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
      border: solid 1px #44b6ae;
    }

    &:disabled {
      background-color: #d0d8dc;
      color: rgba(72, 90, 99, 0.26);
      border: none;
      cursor: not-allowed;
    }
  }

  .htpl1-phase1-btn-secondary {
    font-size: 0.8rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: transparent;
    border: solid 1px #44b6ae;
    color: #44b6ae;
    padding: 2px 20px;
    margin: 0 !important;
    cursor: pointer;

    &:hover {
      color: #44b6ae;
      border: solid 1px #44b6ae;
      background-color: #fff;
    }

    &:active {
      color: #44b6ae;
      border: solid 1px #44b6ae;
      background-color: #fff;
    }

    &:disabled {
      background-color: #d0d8dc;
      color: rgba(72, 90, 99, 0.26);
      border: none;
      cursor: not-allowed;
    }
  }
  .htpl1-phase1-btn-others {
    font-size: 0.8rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 2px 10px;
    cursor: pointer;
    margin: 0 !important;

    &:hover {
      background-color: #fff;
      border: 1px solid #fff;
      color: #000;
    }

    &:active {
      background-color: #fff;
      border: 1px solid #fff;
      color: #000;
    }

    &:disabled {
      background-color: #d0d8dc;
      color: rgba(72, 90, 99, 0.26);
      border: none;
      cursor: not-allowed;
    }
  }
  .ins-tab-container {
    .tab-button,
    label {
      width: 100%;
      font-size: 10px;
      font-weight: normal;
      border-radius: 0px;
      background-color: #f3f3f3;
      border: solid 1px #d0d8dc;
      color: #7c909b;
      padding: 6px 8px;
      cursor: pointer;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

      &:hover {
        background-color: #fff !important;
        color: #68509f !important;
      }
      &:focus {
        outline: none;
      }

      &.active {
        background-color: #f7f7f7;
        color: #000;
        border: solid 1px #000;
        pointer-events: none;

        &:hover {
          background-color: #f7f7f7 !important;
          color: #fff !important;
        }
      }
    }

    .tab {
      margin-right: -30px;
      &:last-child {
        .tab-button {
          //padding: 6px 16px;
        }
      }
    }
    .tab-content {
      padding: 10px 20px;
      background-color: #fcfcfc;
      border: solid 1px #eceff1;

      .tab-item {
        position: relative;
      }
    }
  }

  .ins-Dis-image-drop-area {
    border: 1px solid #93a4ad;
    min-height: 80px;
    position: relative;
    background-color: #eaeaea;
    font-size: 11px;
    .dropzone {
      min-width: 100%;
      min-height: 100%;
    }

    .drop-message {
      font-size: 11px;
      color: #485a63;
      margin: 8px 0px;
      min-width: 130px;
      padding-left: 0px;
    }
  }

  .spacing-push {
    margin-top: 5.5em !important;
  }
  .box-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .box-shadow:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .box-shadow-normal {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .row-bottom-space {
    margin-bottom: 15px;
  }
  .divider {
    height: 1px;
    background-color: #485a63;
    margin: 1px;
  }

  .portletHeader {
    border-bottom: 1px solid #e2e2e2;
    padding-top: 10px;
    padding-bottom: 4px;
    width: 100%;
    label {
      font-weight: 500;
      font-size: 0.9rem;
    }
  }
}
