$forntSize: 0.7rem;

:global {
  .displayInlineBlock {
    display: inline-block;
  }

  .bordered-layout {
    border: 1px solid #c1c1c1;
    min-height: 70px;
    max-height: 150px;
    overflow: auto;
    border-radius: 0 0 5px 5px;

    ul {
      margin: 0px;
      padding: 0px;

      li {
        cursor: pointer;
        list-style: none;
        margin: 0px;
        padding: 5px;
        font-size: 0.85rem;

        &.active {
          background: #eafffd;
        }
      }

      li:nth-child(odd) {
        background: #f2f2f2;
      }

      li:nth-child(even) {
        background: #ffffff;
      }

      li:nth-child(odd):hover,
      li:nth-child(even):hover {
        background: #eafffd;
      }
    }
  }

  .bordered-layout-radius {
    overflow: auto;
    border-radius: 3px;
    ul {
      margin: 0px;
      padding: 0px;
      border: 1px solid #c1c1c1;
      overflow: auto;

      li {
        cursor: pointer;
        list-style: none;
        margin: 0px;
        padding: 7px 5px;
        font-size: 0.8rem;
        border-bottom: 1px dashed #c1c1c1;
        width: 100%;
        position: relative;

        &.active {
          background: #eafffd !important;
        }
        i {
          display: block;
          float: right;
          line-height: 17px;
          margin-right: 6px;
          color: #212529;
          margin-left: 10px;
        }
      }
      li.active::after {
        content: "";
        position: absolute;
        right: 4px;
        top: 7px;
        width: 0;
        height: 0;
        border-top: 8px solid #f5232300;
        border-left: 8px solid #44b8bd;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #e8e8e800;
        clear: both;
      }
      li.active {
        i {
          display: none;
        }
      }
      // li:first-child {
      //   border-bottom: none;
      // }
    }
    .noDataStyle {
      text-align: center;
      width: 100%;
      display: inline-block;
      font-size: 1rem;
      margin-top: 15%;
      color: #d3d3d3;
    }
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  // :hover::-webkit-scrollbar {
  //   width: 10px;
  //   height: 10px;
  // }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #929292;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00bcb0;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #dcac66;
  }

  .margin-top-15 {
    margin-top: 15px;
  }

  .margin-bottom-15 {
    margin-bottom: 15px;
  }

  .float-right {
    float: right;
  }

  .search_logo {
    width: 50px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
  }

  /* Portlet */
  .portlet {
    background: #fff;
    padding: 8px;
    border-radius: 5px;
  }

  .portlet.portlet-gray {
    background: #f7f7f7;
  }

  .portlet.portlet-bordered {
    border: 1px solid #eee;
  }

  /* Portlet Title */
  .portlet-title {
    padding: 0;
    min-height: 35px;
    border-bottom: 1px dashed #eee;
    margin-bottom: 5px;
  }

  .caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
  }

  .caption.caption-green .caption-subject,
  .caption.caption-green i {
    color: #4db3a2;
    font-weight: 200;
  }

  .caption.caption-red .caption-subject,
  .caption.caption-red i {
    color: #e26a6a;
    font-weight: 200;
  }

  .caption.caption-purple .caption-subject,
  .caption.caption-purple i {
    color: #8775a7;
    font-weight: 400;
  }

  .caption i {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    margin-top: 3px;
  }

  .caption-subject {
    color: #666;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 0;
  }

  .caption-helper {
    padding: 0;
    margin: 0;
    line-height: 13px;
    color: #9eacb4;
    font-size: 13px;
    font-weight: 400;
  }

  /* Actions */
  .actions {
    float: right;
    display: inline-block;
    a {
      margin-left: 3px;
    }
    span {
      margin-left: 3px;
    }

    .btn {
      color: #666;
      padding: 3px 9px;
      font-size: 13px;
      line-height: 1.5;
      background-size: 300% 100%;
      background-color: #fff;
      border-color: #ccc;
      border-radius: 50px;

      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      i {
        font-size: 12px;
      }
    }

    .btn:hover {
      background-position: 100% 0;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    .btn-primary:not(:disabled):not(.disabled).active,
    .btn-primary:not(:disabled):not(.disabled):active,
    .show > .btn-primary.dropdown-toggle {
      background-color: none;
      background-image: linear-gradient(
        to right,
        #34b8bc,
        #25d8df,
        #34b8bc,
        #25d8df
      );
      //box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
      border-color: #44b8bd;
    }
  }
  /* Pagination */
  .pagination {
    margin: -3px 0 0;
    border-radius: 50px;
  }

  .pagination > li > a,
  .pagination > li > span {
    padding: 4px 10px;
    font-size: 12px;
    color: #8775a7;
    background: #f7f7f7;
  }

  .pagination > li:hover > a,
  .pagination > li.active > a,
  .pagination > li.active:hover > a {
    color: #fff;
    background: #8775a7;
    border-color: #8775a7;
  }

  /* Inputs */
  .inputs {
    float: right;
    display: inline-block;
    padding: 4px 0;
    margin-top: -10px;
  }

  .input-inline {
    width: 240px;
    display: inline-block;
    vertical-align: middle;
  }

  /* Tab */
  .portlet-title > .nav-tabs {
    background: none;
    margin: 0;
    float: right;
    display: inline-block;
    border: 0;
  }

  .portlet-title > .nav-tabs > li {
    background: none;
    margin: 0;
    border: 0;
  }

  .portlet-title > .nav-tabs > li > a {
    background: none;
    border: 0;
    padding: 2px 10px 13px;
    color: #444;
  }

  .portlet-title > .nav-tabs > li.active,
  .portlet-title > .nav-tabs > li.active:hover {
    border-bottom: 4px solid #f3565d;
    position: relative;
  }

  .portlet-title > .nav-tabs > li:hover {
    border-bottom: 4px solid #f29b9f;
  }

  .portlet-title > .nav-tabs > li.active > a,
  .portlet-title > .nav-tabs > li:hover > a {
    color: #333;
    background: #fff;
    border: 0;
  }

  .portlet-body {
    min-height: 30vh;
  }

  /* Btn Circle */
  .actions .btn.btn-circle {
    width: 28px;
    height: 28px;
    padding: 3px 7px;
    text-align: center;
  }

  .actions .btn.btn-circle i {
    font-size: 12px;
    line-height: 22px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }

  /* Btn Green */
  .actions .btn.btn-green.active,
  .actions .btn.btn-green:hover {
    color: #fff;
    box-shadow: none;
    background: #00bcb0;
    border-color: #01968c;
  }

  .customRadio {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;

    .inline {
      display: inline-block;
    }

    .inline + .inline {
      margin-left: 10px;
    }

    .radio {
      color: #999;
      font-size: 15px;
      position: relative;
    }

    .radio span {
      position: relative;
      padding-left: 20px;
      text-transform: capitalize;
      font-size: 0.9rem;
    }

    .radio span:after {
      content: "";
      width: 15px;
      height: 15px;
      border: 3px solid;
      position: absolute;
      left: 0;
      top: 3px;
      border-radius: 100%;
      -ms-border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }

    .radio input[type="radio"] {
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
    }

    .radio input[type="radio"]:checked + span {
      color: #00bcb0;
    }

    .radio input[type="radio"]:checked + span:before {
      content: "";
      width: 5px;
      height: 5px;
      position: absolute;
      background: #00bcb0;
      left: 5px;
      top: 8px;
      border-radius: 100%;
      -ms-border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
    }
  }

  .customCheckbox {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;

    .inline {
      display: inline-block;
      margin-right: 10px;
    }

    .inline + .inline {
      margin-left: 0;
    }

    .checkbox {
      color: #999;
      font-size: 15px;
      position: relative;
    }

    .checkbox span {
      position: relative;
      padding-left: 20px;
      text-transform: capitalize;
      font-size: 0.9rem;
    }

    .checkbox span:after {
      content: "";
      width: 15px;
      height: 15px;
      border: 3px solid;
      position: absolute;
      left: 0;
      top: 3px;
      border-radius: 15%;
      -ms-border-radius: 15%;
      -moz-border-radius: 15%;
      -webkit-border-radius: 15%;
      box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }

    .checkbox input[type="checkbox"] {
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
    }

    .checkbox input[type="checkbox"]:checked + span {
      color: #00bcb0;
    }

    .checkbox input[type="checkbox"]:checked + span:before {
      content: "";
      width: 5px;
      height: 5px;
      position: absolute;
      background: #00bcb0;
      left: 5px;
      top: 8px;
      border-radius: 100%;
      -ms-border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
    }
  }

  //Portlet Styles End
  .card {
    margin-bottom: 15px;
  }

  .mrgn-tp-auto {
    margin-top: auto;
  }

  .pain-scale-ul {
    margin: auto;
    padding: auto;
    list-style: none;

    li {
      background: url("./assets/images/pain_scale.png") no-repeat center
        transparent;
      width: 31px;
      height: 31px;
      display: inline-block;
      cursor: pointer;
      margin-right: 10px;
    }

    .pain-1 {
      background-position: 0px 0px;
    }

    .pain-2 {
      background-position: 0px -32px;
    }

    .pain-3 {
      background-position: 0px -65px;
    }

    .pain-4 {
      background-position: 0px -98px;
    }

    .pain-5 {
      background-position: 0px -130px;
    }

    .pain-6 {
      background-position: 0px -163px;
    }

    .active {
      border-radius: 100%;
      box-shadow: 0 3px 8px #00000063;
    }
  }

  .algaeh-modal {
    margin: 3% auto 0;
    background-color: #fff;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    width: 80%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);

    .popupHeader {
      background: #dbad64;
      padding: 5px 15px 0;

      h4 {
        color: #fff;
        font-size: 1.1rem;
        padding: 0 0 3px;
        line-height: 30px;
        margin: 0;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      }

      label {
        color: #fff;
        font-size: 1.1rem;
        padding: 0 0 3px;
        line-height: 30px;
        margin: 0;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        font-weight: bold;
      }

      button {
        margin: 0;
        padding: 0;
        font-size: 1.3rem;
        float: right;
        background: none;
        border: none;
        color: #fff;
        line-height: 30px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      }

      button:hover {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0);
      }
    }

    .popupInner {
      overflow-y: auto;
      overflow-x: hidden;

      .popLeftDiv {
        border-right: 1px dashed #e0e0e0;
        min-height: 30vh;
        max-height: 70vh;
        overflow: auto;
        padding: 15px;
      }

      .popRightDiv {
        border-right: 1px dashed #e0e0e0;
        min-height: 30vh;
        max-height: 70vh;
        overflow: auto;
        padding: 15px;
      }
    }

    .popupFooter {
      border-top: 1px dashed #e0e0e0;
      padding-top: 4px;
      padding-bottom: 4px;
      height: 40px;
      margin-top: 15px;

      .button-left {
        float: left;
        margin-right: 10px;
        margin-left: 0px;
      }

      button {
        float: right;
        margin-left: 10px;
        padding: 5px 10px;
        font-size: 0.8rem;
        text-transform: uppercase;
        min-width: 70px;
      }

      .btn-primary {
        background: #34b8bc;
        color: #fff;
        border: 1px solid #34b8bc;
      }

      .btn-default {
        background: #efefef;
        color: #5a5a5a;
        border: 1px solid #adadad;
      }
    }
  }

  .algaeh-modal-Ar {
    margin: 3% auto 0;
    background-color: #fff;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    width: 80%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    direction: rtl;
    text-align: right;

    .popupHeader {
      background: #dbad64;
      padding: 5px 15px 0;

      h4 {
        color: #fff;
        font-size: 1.1rem;
        padding: 0 0 3px;
        line-height: 30px;
        margin: 0;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      }

      label {
        color: #fff;
        font-size: 1.1rem;
        padding: 0 0 3px;
        line-height: 30px;
        margin: 0;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        font-weight: bold;
      }

      button {
        margin: 0;
        padding: 0;
        font-size: 1.3rem;
        float: left;
        background: none;
        border: none;
        color: #fff;
        line-height: 30px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      }

      button:hover {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0);
      }
    }

    .popupInner {
      overflow-y: auto;
      overflow-x: hidden;

      .popLeftDiv {
        border-right: 1px dashed #e0e0e0;
        min-height: 30vh;
        max-height: 70vh;
        overflow: auto;
        padding: 15px;
      }

      .popRightDiv {
        border-right: 1px dashed #e0e0e0;
        min-height: 30vh;
        max-height: 70vh;
        overflow: auto;
        padding: 15px;
      }
    }

    .popupFooter {
      border-top: 1px dashed #e0e0e0;
      padding-top: 4px;
      padding-bottom: 4px;
      height: 40px;
      margin-top: 15px;

      .button-left {
        float: left;
        margin-right: 10px;
        margin-left: 0px;
      }

      button {
        float: left;
        margin-right: 10px;
        margin-left: 0;
        padding: 5px 10px;
        font-size: 0.8rem;
        text-transform: uppercase;
        min-width: 70px;
      }

      .btn-primary {
        background: #34b8bc;
        color: #fff;
        border: 1px solid #34b8bc;
      }

      .btn-default {
        background: #efefef;
        color: #5a5a5a;
        border: 1px solid #adadad;
      }
    }
  }

  // Recipt CSS starts Down
  .cashReciptStyles {
    .receipt-header {
      text-align: center;
      line-height: 62px;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: #717171;
    }

    .hospitalLogo {
      width: 150px;
      height: 70px;
      background: #f3f3f3;
      border-radius: 5px;
      line-height: 70px;
      color: #ccc;
      text-align: center;
    }

    .hospitalAddress {
      font-size: 0.7rem;
      width: 250px;
      text-align: right;
      float: right;
      margin: 0;
      padding: 0;
    }

    .table-report {
      border: none;
      border-bottom: 2px;

      .table {
        tbody {
          td {
            text-align: left;
            font-weight: bold;
            text-transform: uppercase;
            color: #44b8bd;
            border: none;
          }

          td:first-child {
            color: #696969;
            text-transform: none;
          }

          td:nth-child(4) {
            color: #696969;
            text-transform: none;
          }
        }
      }
    }

    .text-danger strong {
      color: #9f181c;
    }

    .receipt-header-mid {
      margin: 15px 0 5px;
      overflow: hidden;
    }
  }

  .tab-container {
    .tab-button {
      font-size: $forntSize;
      font-weight: normal;
      border-radius: 7px 7px 0 0;
      background-color: #f3f3f3;
      border: solid 1px #d0d8dc;
      color: #7c909b;
      padding: 6px 10px;
      cursor: pointer;

      &:hover {
        background-color: #fff !important;
        color: #68509f !important;
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }

      &.active {
        background-color: #dbad64;
        color: #fff;
        border: solid 1px #dbad64;
        pointer-events: none;

        &:hover {
          background-color: #dbad64 !important;
          color: #fff !important;
        }
      }
    }

    .tab {
      margin-right: -30px;

      &:last-child {
        .tab-button {
          //border-radius: 0px;
          //border-top-right-radius: 4px;
        }
      }
    }

    .tab-content {
      padding: 10px 20px;
      background-color: #fcfcfc;
      border: solid 1px #eceff1;

      .tab-item {
        position: relative;
      }
    }
  }

  .htpl-phase1-radio-btn {
    margin-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(1, 1, 1, 0.54);
    border-radius: 50%;
    outline: none;
    vertical-align: middle;
    bottom: 1px;

    &:focus {
      outline: none;
    }

    &:checked {
      border: 1px solid #e5e5e5;

      &:focus {
        outline: none;
      }

      &::before {
        content: "";
        background: #44b6ae;
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        top: 3px;
        left: 3px;
      }
    }
  }

  .htpl1-phase1-btn-primary {
    font-size: 0.8rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #44b6ae;
    border: solid 1px #44b6ae;
    color: #fff;
    padding: 2px 20px;
    margin: 0 !important;
    cursor: pointer;

    &:hover {
      color: #ffffff;
      border: solid 1px #44b6ae;
      background-color: #399993;
    }

    &:active {
      background-color: #44b6ae;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
      border: solid 1px #44b6ae;
    }

    &:disabled {
      background-color: #d0d8dc;
      color: rgba(72, 90, 99, 0.26);
      border: none;
      cursor: not-allowed;
    }
  }

  .htpl1-phase1-btn-secondary {
    font-size: 0.8rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: transparent;
    border: solid 1px #44b6ae;
    color: #44b6ae;
    padding: 2px 20px;
    margin: 0 !important;
    cursor: pointer;

    &:hover {
      color: #44b6ae;
      border: solid 1px #44b6ae;
      background-color: #fff;
    }

    &:active {
      color: #44b6ae;
      border: solid 1px #44b6ae;
      background-color: #fff;
    }

    &:disabled {
      background-color: #d0d8dc;
      color: rgba(72, 90, 99, 0.26);
      border: none;
      cursor: not-allowed;
    }
  }

  .htpl1-phase1-btn-others {
    font-size: 0.8rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 2px 10px;
    cursor: pointer;
    margin: 0 !important;

    &:hover {
      background-color: #fff;
      border: 1px solid #fff;
      color: #000;
    }

    &:active {
      background-color: #fff;
      border: 1px solid #fff;
      color: #000;
    }

    &:disabled {
      background-color: #d0d8dc;
      color: rgba(72, 90, 99, 0.26);
      border: none;
      cursor: not-allowed;
    }
  }

  .ins-tab-container {
    .tab-button,
    label {
      width: 100%;
      font-size: 10px;
      font-weight: normal;
      border-radius: 0px;
      background-color: #f3f3f3;
      border: solid 1px #d0d8dc;
      color: #7c909b;
      padding: 6px 8px;
      cursor: pointer;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

      &:hover {
        background-color: #fff !important;
        color: #68509f !important;
      }

      &:focus {
        outline: none;
      }

      &.active {
        background-color: #f7f7f7;
        color: #000;
        border: solid 1px #000;
        pointer-events: none;

        &:hover {
          background-color: #f7f7f7 !important;
          color: #fff !important;
        }
      }
    }

    .tab {
      margin-right: -30px;

      &:last-child {
        .tab-button {
          //padding: 6px 16px;
        }
      }
    }

    .tab-content {
      padding: 10px 20px;
      background-color: #fcfcfc;
      border: solid 1px #eceff1;

      .tab-item {
        position: relative;
      }
    }
  }

  .spacing-push {
    margin-top: 5.5em !important;
  }

  .box-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .box-shadow:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .box-shadow-normal {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .row-bottom-space {
    margin-bottom: 15px;
  }

  .divider {
    height: 1px;
    background-color: #485a63;
    margin: 1px;
  }

  .portletHeader {
    border-bottom: 1px solid #e2e2e2;
    padding-top: 10px;
    padding-bottom: 4px;
    width: 100%;

    label {
      font-weight: 500;
      font-size: 0.9rem;
    }
  }
}

.tab-container {
  .tab-button {
    font-size: $forntSize;
    font-weight: normal;
    border-radius: 7px 7px 0 0;
    background-color: #f3f3f3;
    border: solid 1px #d0d8dc;
    color: #7c909b;
    padding: 6px 10px;
    cursor: pointer;

    &:hover {
      background-color: #fff !important;
      color: #68509f !important;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &.active {
      background-color: #dbad64;
      color: #fff;
      border: solid 1px #dbad64;
      pointer-events: none;

      &:hover {
        background-color: #dbad64 !important;
        color: #fff !important;
      }
    }
  }

  .tab {
    margin-right: -30px;

    &:last-child {
      .tab-button {
        //border-radius: 0px;
        //border-top-right-radius: 4px;
      }
    }
  }

  .tab-content {
    padding: 10px 20px;
    background-color: #fcfcfc;
    border: solid 1px #eceff1;

    .tab-item {
      position: relative;
    }
  }
}

.hptl-phase1-footer {
  margin-top: 50px;
}

.divInner {
  overflow-y: auto;
  overflow-x: hidden;

  .divInnerLeft {
    border-right: 1px dashed #e0e0e0;
    min-height: 30vh;
    max-height: 70vh;
    overflow: auto;
    padding: 15px;
  }

  .divInnerRight {
    min-height: 30vh;
    max-height: 70vh;
    overflow: auto;
    padding: 15px;
  }
}
