.hptl-phase1-add-creid-recipt-form {
  background: #e9feff;
  border: 1px solid #44b8bd;
  border-radius: 5px;
  margin-top: 10px;
  label {
    font-weight: 400;
    
  }
  mark {
    background: none;
    color: red;
  }
  .form-details {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .radio-design {
    position: absolute;
    top: 5px;
    left: 36px;
  }
  .refactor-design {
    min-height: 28px;
    background-color: #fbfbfb;
    border: 0px;
  }
}
