.staffCashCollection #staffCashCollectionGrid_Cntr {
  width: 98vw !important; }
  .staffCashCollection #staffCashCollectionGrid_Cntr .ReactTable {
    max-height: 30vh !important; }

.staffCashCollection .ulShiftList {
  border: 1px solid #d6d6d6;
  min-height: 26vh;
  max-height: 26vh;
  overflow: auto; }
  .staffCashCollection .ulShiftList .eachShift {
    border-bottom: 1px solid #d6d6d6;
    padding-top: 7px;
    padding-bottom: 7px; }
    .staffCashCollection .ulShiftList .eachShift .staffCount {
      background: #00a796;
      color: #fff;
      text-align: center;
      width: 24px;
      height: 24px;
      border-radius: 10px;
      display: block;
      font-size: 0.8rem;
      line-height: 24px;
      float: right; }
    .staffCashCollection .ulShiftList .eachShift:hover {
      background: #f3f3f3;
      cursor: pointer; }
  .staffCashCollection .ulShiftList .noDataStyle {
    padding: 20px !important;
    display: inline-block !important;
    text-align: center !important;
    width: 100% !important;
    color: lightgray !important; }
