.patient-mrd .patientProfile .patientInfo-Top {
  background: white;
  height: 70px;
  padding: 5px 0 0;
  width: 100%;
  position: fixed;
  z-index: 999; }
  .patient-mrd .patientProfile .patientInfo-Top div {
    float: left;
    color: #858585; }
  .patient-mrd .patientProfile .patientInfo-Top .backBtn {
    border-right: 1px solid #e1e1e1;
    padding-right: 10px;
    padding-left: 10px; }
    .patient-mrd .patientProfile .patientInfo-Top .backBtn button {
      height: 60px;
      border: 1px solid #e1e1e1; }
    .patient-mrd .patientProfile .patientInfo-Top .backBtn i {
      display: block;
      margin-bottom: 5px; }
  .patient-mrd .patientProfile .patientInfo-Top .patientImg {
    margin: 1px 10px;
    border-radius: 4px;
    border: 1px solid #e1e1e1; }
    .patient-mrd .patientProfile .patientInfo-Top .patientImg .image-drop-area {
      border: 1px solid #93a4ad;
      min-height: 55px;
      position: relative;
      background-color: #eaeaea; }
      .patient-mrd .patientProfile .patientInfo-Top .patientImg .image-drop-area img {
        height: 55px;
        width: 55px;
        border-radius: 4px;
        overflow: hidden;
        -webkit-transition: width 0.3s;
        /* For Safari 3.1 to 6.0 */
        transition: width 0.3s;
        border-radius: 0; }
        .patient-mrd .patientProfile .patientInfo-Top .patientImg .image-drop-area img:hover {
          width: 175px;
          height: auto;
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
          position: absolute;
          z-index: 9; }
  .patient-mrd .patientProfile .patientInfo-Top .patientName {
    max-width: 230px;
    margin-top: 2px;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 57px; }
    .patient-mrd .patientProfile .patientInfo-Top .patientName h6 {
      margin-bottom: 2px;
      color: #000;
      line-height: 1.2rem; }
    .patient-mrd .patientProfile .patientInfo-Top .patientName p {
      margin: 0;
      padding: 0;
      font-size: 0.9em;
      font-weight: 700; }
  .patient-mrd .patientProfile .patientInfo-Top .patientDemographic {
    line-height: 1.4rem;
    border-right: 1px solid #e1e1e1;
    padding-left: 10px;
    padding-right: 10px; }
    .patient-mrd .patientProfile .patientInfo-Top .patientDemographic span {
      font-size: 0.9em;
      font-weight: 700;
      display: block; }
      .patient-mrd .patientProfile .patientInfo-Top .patientDemographic span i {
        text-align: center;
        width: 20px; }
      .patient-mrd .patientProfile .patientInfo-Top .patientDemographic span b {
        color: #00a796; }
  .patient-mrd .patientProfile .patientInfo-Top .patientHospitalDetail {
    line-height: 1.4rem;
    border-right: 1px solid #e1e1e1;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 57px;
    max-width: 250px; }
    .patient-mrd .patientProfile .patientInfo-Top .patientHospitalDetail span {
      font-size: 0.9em;
      font-weight: 700;
      display: block; }
      .patient-mrd .patientProfile .patientInfo-Top .patientHospitalDetail span i {
        text-align: center;
        width: 20px; }
      .patient-mrd .patientProfile .patientInfo-Top .patientHospitalDetail span b {
        color: #00a796; }
  .patient-mrd .patientProfile .patientInfo-Top .patientVital {
    max-width: 40vw;
    line-height: 1.4rem;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 57px; }
    .patient-mrd .patientProfile .patientInfo-Top .patientVital span {
      font-size: 0.9em;
      font-weight: 700;
      display: inline-block;
      margin-right: 3px;
      padding-right: 3px;
      border-right: 1px solid #e1e1e1; }
      .patient-mrd .patientProfile .patientInfo-Top .patientVital span i {
        text-align: center;
        width: 20px; }
      .patient-mrd .patientProfile .patientInfo-Top .patientVital span b {
        color: #00a796; }
  .patient-mrd .patientProfile .patientInfo-Top .moreAction {
    float: right;
    border-right: 1px solid #e1e1e1;
    padding-right: 10px; }
    .patient-mrd .patientProfile .patientInfo-Top .moreAction button {
      height: 60px;
      border: 1px solid #e1e1e1;
      margin-left: 0; }
    .patient-mrd .patientProfile .patientInfo-Top .moreAction i {
      display: block;
      margin-bottom: 5px; }

.patient-mrd .patientProfile .patientTopNav {
  background: white;
  height: 35px;
  padding: 0;
  width: 100%;
  color: #797979;
  text-transform: uppercase;
  position: fixed;
  top: 123px;
  z-index: 99; }
  .patient-mrd .patientProfile .patientTopNav ul {
    position: relative; }
    .patient-mrd .patientProfile .patientTopNav ul li:after {
      display: block;
      content: "";
      border-bottom: solid 3px #00a9ad;
      transform: scaleX(0);
      transition: transform 150ms ease-in-out; }
    .patient-mrd .patientProfile .patientTopNav ul li:hover:after {
      transform: scaleX(1); }
    .patient-mrd .patientProfile .patientTopNav ul li span {
      text-transform: uppercase;
      padding: 9px 15px 8px;
      color: #858585;
      cursor: pointer;
      font-size: 0.8em; }
    .patient-mrd .patientProfile .patientTopNav ul li span.active {
      border-bottom: solid 3px #00a9ad;
      color: #fff;
      background: #34b8bc; }
      .patient-mrd .patientProfile .patientTopNav ul li span.active:hover {
        cursor: default;
        color: #fff; }
      .patient-mrd .patientProfile .patientTopNav ul li span.active:hover:after {
        display: none !important;
        border: none !important;
        cursor: pointer; }
  .patient-mrd .patientProfile .patientTopNav .patient-quick-info {
    color: #34b8bc;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 20px; }
    .patient-mrd .patientProfile .patientTopNav .patient-quick-info li {
      background: #ffffff;
      color: #53bcb1;
      padding: 4px 10px 3px;
      cursor: pointer;
      margin: 0 10px;
      list-style: none;
      display: inline-block; }
      .patient-mrd .patientProfile .patientTopNav .patient-quick-info li section {
        width: 40vw;
        height: auto;
        position: absolute;
        right: 0;
        top: 30px;
        background: #53bdb1;
        z-index: 9;
        padding: 10px;
        border-radius: 5px;
        color: #fff;
        display: none; }
        .patient-mrd .patientProfile .patientTopNav .patient-quick-info li section b.top-nav-sec-hdg {
          text-align: center;
          border-bottom: 1px solid #337e74;
          margin-left: -10px;
          margin-right: -10px;
          padding-bottom: 11px; }
        .patient-mrd .patientProfile .patientTopNav .patient-quick-info li section b {
          display: block;
          border-bottom: 1px solid #3f9c90;
          margin-bottom: 10px;
          padding-bottom: 5px; }
        .patient-mrd .patientProfile .patientTopNav .patient-quick-info li section .listofA-D-D {
          display: inline-block;
          margin-right: 8px;
          border: 1px solid #317970;
          padding: 3px 10px;
          margin: 0;
          color: #fff;
          margin-right: 5px;
          margin-bottom: 3px;
          border-radius: 5px;
          background: #3f9c91;
          white-space: normal; }
        .patient-mrd .patientProfile .patientTopNav .patient-quick-info li section p {
          background: rgba(0, 0, 0, 0.05);
          border-top: 1px solid #65dace;
          margin: -10px;
          padding: 10px; }
    .patient-mrd .patientProfile .patientTopNav .patient-quick-info li:hover {
      background: #53bcb1;
      color: #fff;
      padding: 4px 10px; }
      .patient-mrd .patientProfile .patientTopNav .patient-quick-info li:hover section {
        display: block; }

.patient-mrd .patientProfile .patientContentArea {
  margin: 100px 10px 0;
  z-index: 1;
  width: 100%; }

.patient-mrd .moreActionUl {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #e1e1e1;
  position: absolute;
  right: 11px;
  border-radius: 5px 0px 5px 5px;
  background: #fff;
  display: none;
  min-width: 100px;
  overflow: hidden; }
  .patient-mrd .moreActionUl li {
    margin: 0;
    padding: 0;
    list-style: none; }
    .patient-mrd .moreActionUl li span {
      padding: 7px 10px;
      text-align: left;
      display: block;
      cursor: pointer; }
    .patient-mrd .moreActionUl li span:hover {
      color: #fff;
      background: #34b8bc; }

.patient-mrd .moreAction:hover .moreActionUl {
  display: block; }

.patient-mrd .componentRenderArea {
  margin: 120px 10px 0;
  z-index: 1;
  width: 100%; }
  .patient-mrd .componentRenderArea .generalInfo,
  .patient-mrd .componentRenderArea .chiefComplaint,
  .patient-mrd .componentRenderArea .vitals,
  .patient-mrd .componentRenderArea .diagnosis,
  .patient-mrd .componentRenderArea .investigation,
  .patient-mrd .componentRenderArea .medication,
  .patient-mrd .componentRenderArea .procedures {
    border-top: 1px solid #e1e1e1;
    padding-top: 10px;
    padding-bottom: 10px; }
    .patient-mrd .componentRenderArea .generalInfo h6,
    .patient-mrd .componentRenderArea .chiefComplaint h6,
    .patient-mrd .componentRenderArea .vitals h6,
    .patient-mrd .componentRenderArea .diagnosis h6,
    .patient-mrd .componentRenderArea .investigation h6,
    .patient-mrd .componentRenderArea .medication h6,
    .patient-mrd .componentRenderArea .procedures h6 {
      font-weight: bold; }
    .patient-mrd .componentRenderArea .generalInfo span,
    .patient-mrd .componentRenderArea .chiefComplaint span,
    .patient-mrd .componentRenderArea .vitals span,
    .patient-mrd .componentRenderArea .diagnosis span,
    .patient-mrd .componentRenderArea .investigation span,
    .patient-mrd .componentRenderArea .medication span,
    .patient-mrd .componentRenderArea .procedures span {
      font-weight: normal;
      margin-left: 3px; }
  .patient-mrd .componentRenderArea .generalInfo {
    border-top: none; }
  .patient-mrd .componentRenderArea .investigation .row .col-lg-12 {
    border-bottom: 1px dotted #e1e1e1;
    padding-top: 3px;
    padding-bottom: 3px; }
    .patient-mrd .componentRenderArea .investigation .row .col-lg-12 h6 span {
      float: right;
      text-transform: uppercase;
      color: #0066ff; }
  .patient-mrd .componentRenderArea .smallh6 {
    color: #00bbbd;
    margin-bottom: 5px;
    font-weight: normal; }
  .patient-mrd .componentRenderArea .danger {
    color: #ff5c5c; }
  .patient-mrd .componentRenderArea .borderVitals {
    border: 1px solid #e1e1e1;
    margin: 0 3px 5px;
    border-radius: 5px; }
