body {
  font-family: 'Arial', sans-serif;
}
.idCardWrapper{
  width: 320px;
  height: 210px;
  border: 1px solid #808080;
  float: left;
  font-size: 11px!important;
}
.idCardLogo{
  border-bottom: 1px solid gray;
  text-align: center;
  float: left;
  width: 100%;
}
.idCardLogo img{
  height:30px;
  width: auto;
  margin: 10px; 
}
.contentSection {
  width: 55%;
  float: left;
  padding: 10px;
}
.contentSection p{padding: 0; margin: 0 0 9px;}

.contentSection p:first-child{font-size: 13px}
.imageSection{
  float: right;
}
.imageSection img{
  border: 1px solid gray;
  height:140px;
  width: 100px;
  margin: 5px;
}
.barCodeImg img{
  border: 1px solid gray;
  height:40px;
  width:  100%;
  margin-top: 5px;
}