.debitNoteConfirmModal{
    width: 520px!important;
    .ant-modal-confirm-title{
        
    font-weight: bold;
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
    margin: 0 -15px;
    font-size: 17px;
    }
.ant-modal-confirm-content{margin-left:0!important;}
.anticon {
display:none;
}
}