.hptl-sales-quotation-list-form {
  .go-button {
    cursor: pointer;
    margin-bottom: -9px;
    margin-top: 20px;
  }

  .bk-bn {
    z-index: 1031;
    position: fixed;
    top: 56px;
    right: 85px;
    display: block;
    height: 65px;
    border: 1px solid #53ccd0;
    width: 110px;
    white-space: unset;
    background: #dcfeff;

    i {
      display: block;
      margin-bottom: 5px;
    }
  }

  th,
  td {
    border-right: 1px solid #e6e6e6;
  }

  #SalesQuotationListCntr {
    .ReactTable {
      max-width: 95vw !important;
      max-height: 62vh !important;
    }

    @media screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
      .ReactTable {
        max-width: 94vw !important;
      }
    }
  }
}
