.dashboard {
  margin-top: 15px;
  .card {
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #ffffff;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    .content {
      padding: 15px 15px 10px 15px;
      .footer {
        padding: 0;

        line-height: 30px;
        .stats {
          display: inline-block;
          color: #808080;
          width: 100%;
          span {
            font-weight: 600;
            color: #000;
          }
          b {
            text-align: right;
            color: blue;
            text-decoration: underline;
            cursor: pointer;
            float: right;
          }
        }
      }
    }
    .numbers {
      text-align: right;
      font-weight: 600;
      p {
        font-weight: normal;
        margin: 0;
      }
    }
    .icon-big {
      i {
        min-height: 3.5rem;
      }
      .fa-hand-holding-usd {
        &:before {
          color: #c655cc;
        }
      }
      .fa-hospital {
        &:before {
          color: #7455cc;
        }
      }
      .fa-user-md {
        &:before {
          color: #3c67dd;
        }
      }
      .fa-walking {
        &:before {
          color: #9d3cdd;
        }
      }
    }
    h6 {
      padding: 0 15px;
      min-height: 35px;
      border-bottom: 1px dashed #eee;
      color: #666;

      font-weight: normal;
      line-height: 26px;
      margin: 10px 0;
    }
    .dashboardChartsCntr {
      margin: 10px;
      width: 95%;
      height: auto;
      position: relative;
      h6 {
        text-align: center;
      }
    }
  }
  hr {
    margin: 0 !important;
  }
}
