.dashboard {
  margin-top: 15px; }
  .dashboard .card {
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #ffffff;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1; }
    .dashboard .card .content {
      padding: 15px 15px 0 15px; }
      .dashboard .card .content .footer {
        padding: 0;
        line-height: 25px; }
        .dashboard .card .content .footer .stats {
          display: inline-block;
          color: #808080;
          width: 100%; }
          .dashboard .card .content .footer .stats span {
            font-weight: 600;
            color: #000; }
          .dashboard .card .content .footer .stats b {
            text-align: right;
            color: blue;
            text-decoration: underline;
            cursor: pointer;
            float: right;
            font-size: 0.8rem; }
    .dashboard .card .numbers {
      text-align: right;
      font-weight: 600;
      font-size: 1.3rem; }
      .dashboard .card .numbers p {
        font-weight: normal;
        margin: 0;
        font-size: 1rem; }
    .dashboard .card .icon-big i {
      min-height: 3.5rem;
      font-size: 2.5em; }
    .dashboard .card h6 {
      padding: 0 15px;
      min-height: 35px;
      border-bottom: 1px dashed #eee;
      color: #666;
      font-weight: bold;
      line-height: 26px;
      margin: 10px 0;
      font-size: 1rem; }
    .dashboard .card .dashboardChartsCntr {
      margin: 10px;
      width: 95%;
      height: auto;
      position: relative; }
      .dashboard .card .dashboardChartsCntr h6 {
        text-align: center; }
    .dashboard .card .table-responsive {
      width: 97%;
      margin-left: 1.5%;
      margin-right: 1.5%; }
    .dashboard .card .dashboardGridCntr {
      margin-bottom: 5px;
      height: auto;
      position: relative; }
      .dashboard .card .dashboardGridCntr h6 {
        text-align: center; }
    .dashboard .card:nth-child(1) .fas:before {
      color: #c655cc; }
    .dashboard .card:nth-child(2) .fas:before {
      color: #7455cc; }
    .dashboard .card:nth-child(3) .fas:before {
      color: #3c67dd; }
    .dashboard .card:nth-child(4) .fas:before {
      color: #9d3cdd; }
    .dashboard .card .table {
      margin-bottom: 0; }
  .dashboard hr {
    margin: 0 !important; }
