.salary_management .toggle-section {
  margin: 0 !important; }

.salary_management .hptl-AttendanceRegularization-form {
  margin: 0 0 15px; }

.salary_management #Salary_Management_Cntr .ReactTable {
  max-height: 51vh !important; }
