.salary_management {
  .toggle-section {
    margin: 0 !important;
  }
  .hptl-AttendanceRegularization-form {
    margin: 0 0 15px;
  }
  #Salary_Management_Cntr {
    .ReactTable {
      max-height: 53vh !important;
    }
  }
}
