.front-desk .bk-bn {
  z-index: 1031;
  position: fixed;
  top: 58px;
  right: 125px;
  display: block;
  height: 65px;
  border: 1px solid #53ccd0;
  width: 110px;
  white-space: unset;
  background: #dcfeff; }
  .front-desk .bk-bn i {
    display: block;
    margin-bottom: 5px; }
