#employeeFamily_DetailsGrid_Cntr,
#employeeId_DetailsGrid_Cntr {
  .newStickyGrid {
    .table-scroll {
      min-height: 59vh !important;
      max-height: 59vh !important;
      overflow: auto !important;
    }
  }
}
