.hptl-phase1-recipts-form {
  background: #fff;
  border-radius: 5px;
  padding: 5px; }

.hptl-phase1-add-recipts-form label {
  font-weight: 400;
  font-size: 11px; }

.hptl-phase1-add-recipts-form mark {
  background: none;
  color: red; }

.hptl-phase1-add-recipts-form .form-details {
  padding: 5px;
  padding-bottom: 0px; }

.hptl-phase1-add-recipts-form .radio-design {
  position: absolute;
  top: 5px;
  left: 36px; }

.hptl-phase1-add-recipts-form .refactor-design {
  min-height: 28px;
  background-color: #fbfbfb;
  border: 0px; }

.hptl-phase1-add-recipts-form .file-name-upload {
  margin-left: 4%;
  margin-top: 2%; }

.hptl-phase1-add-recipts-form th, .hptl-phase1-add-recipts-form td {
  border-right: 1px solid #e6e6e6;
  font-size: 11px; }
