#dayEndProcessCntr {
  .newStickyGrid {
    .table-scroll {
      min-height: 60vh !important;
      max-height: 60vh !important;
      overflow: auto;
      // background-color: red;
    }
  }
}
#dayEndProcessDetailsGrid_Cntr {
  .newStickyGrid {
    margin-bottom: 15px;
    .table-scroll {
      min-height: 50vh !important;
      max-height: 50vh !important;
      overflow: auto;
      // background-color: red;
    }
  }
}
