.hptl-phase1-ordering-services-form {
	background: #ffff;
	.form-details {
		padding: 5px;
		padding-bottom: 5px;
	}
	mark {
		background: none;
		color: red;
	}

	.form-group {
		margin-bottom: 0;
		margin-top: 4px;
		padding: 0;
		padding-top: 20px;
		cursor: pointer;
	}

	.go-button {
		cursor: pointer;
		margin-bottom: -15px;
		margin-top: -10px;
	}
	#doctorOrder {
		.ReactTable {
			height: 33vh !important;
			margin-bottom: 15px;
		}
	}
}
#Services_Ordering {
	.ReactTable {
		height: 54vh !important;
	}
}
.GridTotalDetails {
	h5 {
		margin-top: 0;
		font-size: 1.3rem;
	}
}
.yesStyle {
	background: #00a796;
	color: #fff;
	text-transform: initial;
}

.noStyle {
	background: #f58220;
	color: #fff;
	text-transform: initial;
}
.padd-10 {
	padding-left: 10px;
	padding-right: 10px;
}
.results {
	width: 200% !important;
	max-height: 65vh !important;
}
.result {
	padding: 0.4rem 1rem !important;
}
.title {
	font-size: 0.9rem;
}
.service_type {
	font-size: 0.8rem;
	margin: 0;
}
.insCovered,
.insPreApp {
	font-weight: normal;
	font-style: italic;
	font-size: 0.7rem;
	margin-bottom: 3px;
	float: right;
	text-align: right;
	span {
		font-weight: bold;
		font-size: 0.7rem;
		padding: 0 5px;
		margin-left: 2px;
		border-radius: 15px;
	}
}
.insPreApp {
	margin-bottom: 0;
}
