.hptl-phase1-ordering-services-form {
  background: #ffff; }
  .hptl-phase1-ordering-services-form .form-details {
    padding: 5px;
    padding-bottom: 5px; }
  .hptl-phase1-ordering-services-form mark {
    background: none;
    color: red; }
  .hptl-phase1-ordering-services-form .form-group {
    margin-bottom: 0;
    margin-top: 4px;
    padding: 0;
    padding-top: 20px;
    cursor: pointer; }
  .hptl-phase1-ordering-services-form .go-button {
    cursor: pointer;
    margin-bottom: -15px;
    margin-top: -10px; }
  .hptl-phase1-ordering-services-form #doctorOrder .ReactTable {
    height: 33vh !important;
    margin-bottom: 15px; }

#Services_Ordering .ReactTable {
  height: 54vh !important; }

.GridTotalDetails h5 {
  margin-top: 0;
  font-size: 1.3rem; }

.insurancecovered {
  background: #00a796;
  color: #fff; }

.coveredandpreapp {
  background: #f58220;
  color: #fff; }
