.hims_hospitalservices {
  .toggle-section {
    // background-color: #f2f2f2;
  }

  .investigation-footer {
    height: "60px";
    background-color: #000;
  }
  .investigation-section {
    border: 1px solid #d3d3d3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }

  th,
  td {
    border-right: 1px solid #e6e6e6;
  }
  #hospitalservices_grid_cntr {
    .ReactTable {
      max-height: 80vh !important;
    }
  }
}
