.hims_hospitalservices .investigation-footer {
  height: "60px";
  background-color: #000; }

.hims_hospitalservices .investigation-section {
  border: 1px solid #d3d3d3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; }

.hims_hospitalservices th,
.hims_hospitalservices td {
  border-right: 1px solid #e6e6e6; }

.hims_hospitalservices #hospitalservices_grid_cntr .ReactTable {
  max-height: 78vh !important; }
