$fontSize: 0.8em;
$fontWeight: normal;
$moz-osx-font-smoothing: grayscale;
$webkit-font-smoothing: antialiased !important;
$outline-width: 0;
$textFontSize: 0.8em;
$mainMenu: 0.85rem;
$subMenu: 0.85rem;

//App Colors

$primary-color: #00a796;
$secondary-color: #f58220;
$color-white: #fff;
$color-black: #000;
