.hptl-phase1-medication-history-form {
  background: #ffff;
  padding: 10px; }
  .hptl-phase1-medication-history-form .form-details {
    padding: 5px;
    padding-bottom: 0px; }
  .hptl-phase1-medication-history-form mark {
    background: none;
    color: red; }
  .hptl-phase1-medication-history-form .form-group {
    margin-bottom: 0;
    margin-top: 4px;
    padding: 0;
    padding-top: 20px;
    cursor: pointer; }
  .hptl-phase1-medication-history-form .go-button {
    cursor: pointer;
    margin-top: 2.5vh; }
  .hptl-phase1-medication-history-form .ReactTable {
    max-height: 25vh !important; }
