.hptl-submit_pre-approval-details {
  background: #ffff; }
  .hptl-submit_pre-approval-details .form-details {
    padding-bottom: 0px; }
  .hptl-submit_pre-approval-details .grid-details {
    padding-top: 10px;
    padding-bottom: 10px; }
