.CreateBatchScreen {
  margin-top: 32px;
  .customLISearch {
    border: 1px solid #ccc;
    border-bottom: none;
    font-size: 20px;
    input[type="text"] {
      height: 50px;
      border: none;
      padding: 0 10px;
    }
  }
  .CreateBatchList {
    min-height: 59vh;
    max-height: 59vh;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 1px solid #ccc;
    background: #fff;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 0;
        margin: 0;
        list-style: none;
        border-bottom: 1px solid #ccc;

        .actionSec {
          vertical-align: top;
          width: 30px;
          height: 44px;
          text-align: center;
          display: inline-block;
          /* line-height: 24px; */
          padding-top: 11px;
          margin: 0;

          &:hover {
            background-color: red;
            cursor: pointer;
          }
        }
        .valueSec {
          text-align: left;
          display: inline-block;
          width: calc(100% - 30px);
          span {
            display: inline-block;
            padding: 3px 5px;
            border-left: 1px solid #ccc;
            height: 43px;
            vertical-align: top;
            width: 150px;
            small {
              display: block;
            }
            &:first-child {
              width: calc(100% - 310px);
            }
          }
        }
        &:nth-child(odd) {
          background-color: whitesmoke;
        }
      }
    }
  }
}
