.CreateBatchScreen {
  margin-top: 32px;
  .customLISearch {
    border: 1px solid #ccc;
    border-bottom: none;
    font-size: 20px;
    input[type="text"] {
      height: 50px;
      border: none;
      padding: 0 10px;
    }
  }
  .CreateBatchList {
    min-height: 56vh;
    max-height: 56vh;
    overflow: auto;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 1px solid #ccc;
    background: #fff;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 0;
        margin: 0;
        list-style: none;
        border-bottom: 1px solid #ccc;

        .actionSec {
          vertical-align: top;
          width: 30px;
          text-align: center;
          display: inline-block;
          height: 36px;
          padding-top: 8px;
          margin: 0;

          &:hover {
            background-color: red;
            cursor: pointer;
          }
        }
        .valueSec {
          text-align: left;
          display: inline-block;
          width: calc(100% - 30px);
          span {
            display: inline-block;
            padding: 3px 5px;
            border-left: 1px solid #ccc;
            height: 35px;
            vertical-align: middle;
            width: 220px;
            line-height: 30px;
            small {
              display: block;
            }
            &:first-child {
              width: calc(100% - 660px);
            }
          }
        }
        &:first-child {
          height: 30px;
          position: sticky;
          top: 0;
          box-shadow: 0 1px 3px #ccc;
          .actionSec {
            &:hover {
              background-color: transparent;
              cursor: default;
            }
          }
          .valueSec {
            span {
              height: 29px;
              line-height: 21px;
            }
          }
        }
        &:nth-child(odd) {
          background-color: whitesmoke;
        }
      }
    }
  }
}
#batchGenerationGrid {
  .newStickyGrid {
    .table-scroll {
      min-height: 58vh;
      max-height: 58vh;
      overflow: auto;
    }
  }
}
