.endServiceOption {
  h1 {
    margin-top: 25vh;
    color: lightgrey;
    text-align: center;
  }

  #ResignationEligibility_Cntr,
  #ResignationMinYear_Cntr,
  #TerminationEligility_Cntr,
  #TerminationMinYear_Cntr {
    .ReactTable {
      max-height: 25vh !important;
    }
  }
}
