.endServiceOption h1 {
  margin-top: 25vh;
  color: lightgrey;
  text-align: center; }

.endServiceOption #ResignationEligibility_Cntr .ReactTable,
.endServiceOption #ResignationMinYear_Cntr .ReactTable,
.endServiceOption #TerminationEligility_Cntr .ReactTable,
.endServiceOption #TerminationMinYear_Cntr .ReactTable {
  max-height: 25vh !important; }
