.vitals_master #vitalsMasterDivCntr .ReactTable {
  max-height: 26vh !important; }

.vitals_master ul#deptLit_Vitals {
  margin: 5px 0 0;
  padding: 0;
  list-style: none;
  border: 1px solid #d3d3d3;
  overflow: auto;
  height: 32.3vh; }
  .vitals_master ul#deptLit_Vitals li {
    border-bottom: 1px solid #d3d3d3;
    padding: 0;
    margin: 0;
    list-style: none; }
    .vitals_master ul#deptLit_Vitals li span {
      display: inline-block; }
    .vitals_master ul#deptLit_Vitals li span:first-child {
      border-right: 1px solid #d3d3d3;
      padding: 6px 10px;
      margin-right: 10px; }

.vitals_master #vitalsMasterDetailCntr .ReactTable {
  max-height: 35vh !important; }

.vitals_master #vital-hdr-grid .ReactTable {
  max-height: 35vh !important; }
