#dentalTreatment {
  padding-top: 20px;
  .top-teeth-sec {
    border-bottom: 2px dotted #ccc;
  }
  .teeth-sec h6 {
    text-transform: uppercase;

    margin: 0;
    padding: 0;
    text-align: center;
  }
  .teeth-sec:first-child {
    border-right: 1px dashed #aaa;
  }

  .tooth-sec {
    text-align: center;
    position: relative;
    border: 1px dotted #ccc;
    margin: 10px 0;
    background: no-repeat center 3px #fff;
    background-size: 50%;
    padding: 0;
    color: #3d3d3d;
  }

  .tooth-sec > span {
    display: inline-block;
    margin-top: 85%;
    border-top: 1px dotted #ccc;
    width: 100%;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      font-weight: bold;
      + .surface-Marking div {
        background: -webkit-radial-gradient(
          center,
          ellipse cover,
          rgb(250, 236, 197) 0%,
          rgb(255, 228, 152) 50%,
          rgb(238, 225, 188) 100%
        );
      }
    }
  }
  .surface-Marking {
    height: 50px;
    width: 50px;
    margin: 3px auto 3px;
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      rgba(226, 226, 226, 1) 0%,
      rgba(219, 219, 219, 1) 50%,
      rgba(254, 254, 254, 1) 100%
    );
    /* Chrome10-25,Safari5.1-6 */
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    transform: rotate(45deg);
    box-shadow: 0 0 1px #000;

    .mark-active {
      background: #ffe79b;
    }
  }

  .surface-Marking div {
    width: 25px;
    height: 25px;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    font-size: 0.7em;
  }

  .surface-Marking div:hover {
    background: #ffe79b;
  }

  .surface-Marking div span {
    position: absolute;
    bottom: 3px;
    left: 10px;
    margin: 0;
    padding: 0;

    transform: rotate(-45deg);
    color: #aaa;
  }

  .middle-surface {
    position: absolute !important;
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      rgba(226, 226, 226, 1) 0%,
      rgba(219, 219, 219, 1) 50%,
      rgba(254, 254, 254, 1) 100%
    );
    /* Chrome10-25,Safari5.1-6 */
    top: 25%;
    left: 25%;
    border-radius: 100%;
  }

  .middle-surface span {
    bottom: 4px !important;
    left: 8px !important;
  }

  /*============== molar ==============*/
  .molar-up-1 {
    background-image: url(../../../assets/images/molar-up.webp);
  }

  .molar-up-2 {
    background-image: url(../../../assets/images/molar-up.webp);
  }

  .molar-up-3 {
    background-image: url(../../../assets/images/molar-up.webp);
  }

  .molar-up-14 {
    background-image: url(../../../assets/images/molar-up.webp);
  }

  .molar-up-15 {
    background-image: url(../../../assets/images/molar-up.webp);
  }

  .molar-up-16 {
    background-image: url(../../../assets/images/molar-up.webp);
  }

  /*============== premolar ==============*/
  .premolar-up-4 {
    background-image: url(../../../assets/images/premolar-up.webp);
  }

  .premolar-up-5 {
    background-image: url(../../../assets/images/premolar-up.webp);
  }

  .premolar-up-12 {
    background-image: url(../../../assets/images/premolar-up.webp);
  }

  .premolar-up-13 {
    background-image: url(../../../assets/images/premolar-up.webp);
  }

  /*============== canine ==============*/
  .canine-up-6 {
    background-image: url(../../../assets/images/canine-up.webp);
  }

  .canine-up-11 {
    background-image: url(../../../assets/images/canine-up.webp);
  }

  /*============== incisors-up ==============*/
  .incisors-up-up-7 {
    background-image: url(../../../assets/images/incisors-up.webp);
  }

  .incisors-up-up-8 {
    background-image: url(../../../assets/images/incisors-up.webp);
  }

  .incisors-up-up-9 {
    background-image: url(../../../assets/images/incisors-up.webp);
  }

  .incisors-up-up-10 {
    background-image: url(../../../assets/images/incisors-up.webp);
  }

  /*============== Down ==============*/
  /*============== Molar ==============*/

  .molar-down-1 {
    background-image: url(../../../assets/images/molar-down.webp);
  }

  .molar-down-2 {
    background-image: url(../../../assets/images/molar-down.webp);
  }

  .molar-down-3 {
    background-image: url(../../../assets/images/molar-down.webp);
  }

  .molar-down-14 {
    background-image: url(../../../assets/images/molar-down.webp);
  }

  .molar-down-15 {
    background-image: url(../../../assets/images/molar-down.webp);
  }

  .molar-down-16 {
    background-image: url(../../../assets/images/molar-down.webp);
  }

  /*============== premolar ==============*/
  .premolar-down-4 {
    background-image: url(../../../assets/images/premolar-down.webp);
  }

  .premolar-down-5 {
    background-image: url(../../../assets/images/premolar-down.webp);
  }

  .premolar-down-12 {
    background-image: url(../../../assets/images/premolar-down.webp);
  }

  .premolar-down-13 {
    background-image: url(../../../assets/images/premolar-down.webp);
  }

  /*============== canine ==============*/
  .canine-down-6 {
    background-image: url(../../../assets/images/canine-down.webp);
  }

  .canine-down-11 {
    background-image: url(../../../assets/images/canine-down.webp);
  }

  /*============== incisors ==============*/
  .incisors-down-7 {
    background-image: url(../../../assets/images/incisors-down.webp);
  }

  .incisors-down-8 {
    background-image: url(../../../assets/images/incisors-down.webp);
  }

  .incisors-down-9 {
    background-image: url(../../../assets/images/incisors-down.webp);
  }

  .incisors-down-10 {
    background-image: url(../../../assets/images/incisors-down.webp);
  }

  div.tooltip {
    padding: 0px 5px;
    background: #ffbb99;
    cursor: pointer;
  }

  .tooltip-info {
    position: absolute;
    top: 99px;
    left: 99px;
  }

  div.tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 1.5em;

    padding: 1px 5px;
    display: none;
    color: white;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    transition: opacity 0.1s ease-out;
    z-index: 999;
    text-align: left;
  }

  div:hover::before {
    display: inline-block;
  }
}
#treatmentGridCntr {
  .ReactTable {
    max-height: 30vh !important;
  }
}

#toothGridCntr {
  .ReactTable {
    max-height: 40vh !important;
  }
}
.childchart {
  width: 50vw;
  margin: 0 auto;
}
