#dentalTreatment {
  padding-top: 20px;
  /*============== molar ==============*/
  /*============== premolar ==============*/
  /*============== canine ==============*/
  /*============== incisors-up ==============*/
  /*============== Down ==============*/
  /*============== Molar ==============*/
  /*============== premolar ==============*/
  /*============== canine ==============*/
  /*============== incisors ==============*/ }
  #dentalTreatment .top-teeth-sec {
    border-bottom: 2px dotted #ccc; }
  #dentalTreatment .teeth-sec h6 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: center; }
  #dentalTreatment .teeth-sec:first-child {
    border-right: 1px dashed #aaa; }
  #dentalTreatment .tooth-sec {
    text-align: center;
    position: relative;
    border: 1px dotted #ccc;
    margin: 10px 0;
    background: no-repeat center 3px #fff;
    background-size: 50%;
    padding: 0;
    color: #3d3d3d; }
  #dentalTreatment .tooth-sec > span {
    display: inline-block;
    margin-top: 85%;
    border-top: 1px dotted #ccc;
    width: 100%;
    cursor: pointer; }
    #dentalTreatment .tooth-sec > span:hover {
      text-decoration: underline;
      font-weight: bold; }
      #dentalTreatment .tooth-sec > span:hover + .surface-Marking div {
        background: -webkit-radial-gradient(center, ellipse cover, #faecc5 0%, #ffe498 50%, #eee1bc 100%); }
  #dentalTreatment .surface-Marking {
    height: 50px;
    width: 50px;
    margin: 3px auto 3px;
    background: -webkit-radial-gradient(center, ellipse cover, #e2e2e2 0%, #dbdbdb 50%, #fefefe 100%);
    /* Chrome10-25,Safari5.1-6 */
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    transform: rotate(45deg);
    box-shadow: 0 0 1px #000; }
    #dentalTreatment .surface-Marking .mark-active {
      background: #ffe79b; }
  #dentalTreatment .surface-Marking div {
    width: 25px;
    height: 25px;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    font-size: 0.7em; }
  #dentalTreatment .surface-Marking div:hover {
    background: #ffe79b; }
  #dentalTreatment .surface-Marking div span {
    position: absolute;
    bottom: 3px;
    left: 10px;
    margin: 0;
    padding: 0;
    transform: rotate(-45deg);
    color: #aaa; }
  #dentalTreatment .middle-surface {
    position: absolute !important;
    background: -webkit-radial-gradient(center, ellipse cover, #e2e2e2 0%, #dbdbdb 50%, #fefefe 100%);
    /* Chrome10-25,Safari5.1-6 */
    top: 25%;
    left: 25%;
    border-radius: 100%; }
  #dentalTreatment .middle-surface span {
    bottom: 4px !important;
    left: 8px !important; }
  #dentalTreatment .molar-up-1 {
    background-image: url(../../../assets/images/molar-up.webp); }
  #dentalTreatment .molar-up-2 {
    background-image: url(../../../assets/images/molar-up.webp); }
  #dentalTreatment .molar-up-3 {
    background-image: url(../../../assets/images/molar-up.webp); }
  #dentalTreatment .molar-up-14 {
    background-image: url(../../../assets/images/molar-up.webp); }
  #dentalTreatment .molar-up-15 {
    background-image: url(../../../assets/images/molar-up.webp); }
  #dentalTreatment .molar-up-16 {
    background-image: url(../../../assets/images/molar-up.webp); }
  #dentalTreatment .premolar-up-4 {
    background-image: url(../../../assets/images/premolar-up.webp); }
  #dentalTreatment .premolar-up-5 {
    background-image: url(../../../assets/images/premolar-up.webp); }
  #dentalTreatment .premolar-up-12 {
    background-image: url(../../../assets/images/premolar-up.webp); }
  #dentalTreatment .premolar-up-13 {
    background-image: url(../../../assets/images/premolar-up.webp); }
  #dentalTreatment .canine-up-6 {
    background-image: url(../../../assets/images/canine-up.webp); }
  #dentalTreatment .canine-up-11 {
    background-image: url(../../../assets/images/canine-up.webp); }
  #dentalTreatment .incisors-up-up-7 {
    background-image: url(../../../assets/images/incisors-up.webp); }
  #dentalTreatment .incisors-up-up-8 {
    background-image: url(../../../assets/images/incisors-up.webp); }
  #dentalTreatment .incisors-up-up-9 {
    background-image: url(../../../assets/images/incisors-up.webp); }
  #dentalTreatment .incisors-up-up-10 {
    background-image: url(../../../assets/images/incisors-up.webp); }
  #dentalTreatment .molar-down-1 {
    background-image: url(../../../assets/images/molar-down.webp); }
  #dentalTreatment .molar-down-2 {
    background-image: url(../../../assets/images/molar-down.webp); }
  #dentalTreatment .molar-down-3 {
    background-image: url(../../../assets/images/molar-down.webp); }
  #dentalTreatment .molar-down-14 {
    background-image: url(../../../assets/images/molar-down.webp); }
  #dentalTreatment .molar-down-15 {
    background-image: url(../../../assets/images/molar-down.webp); }
  #dentalTreatment .molar-down-16 {
    background-image: url(../../../assets/images/molar-down.webp); }
  #dentalTreatment .premolar-down-4 {
    background-image: url(../../../assets/images/premolar-down.webp); }
  #dentalTreatment .premolar-down-5 {
    background-image: url(../../../assets/images/premolar-down.webp); }
  #dentalTreatment .premolar-down-12 {
    background-image: url(../../../assets/images/premolar-down.webp); }
  #dentalTreatment .premolar-down-13 {
    background-image: url(../../../assets/images/premolar-down.webp); }
  #dentalTreatment .canine-down-6 {
    background-image: url(../../../assets/images/canine-down.webp); }
  #dentalTreatment .canine-down-11 {
    background-image: url(../../../assets/images/canine-down.webp); }
  #dentalTreatment .incisors-down-7 {
    background-image: url(../../../assets/images/incisors-down.webp); }
  #dentalTreatment .incisors-down-8 {
    background-image: url(../../../assets/images/incisors-down.webp); }
  #dentalTreatment .incisors-down-9 {
    background-image: url(../../../assets/images/incisors-down.webp); }
  #dentalTreatment .incisors-down-10 {
    background-image: url(../../../assets/images/incisors-down.webp); }
  #dentalTreatment div.tooltip {
    padding: 0px 5px;
    background: #ffbb99;
    cursor: pointer; }
  #dentalTreatment .tooltip-info {
    position: absolute;
    top: 99px;
    left: 99px; }
  #dentalTreatment div.tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 1.5em;
    padding: 1px 5px;
    display: none;
    color: white;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    transition: opacity 0.1s ease-out;
    z-index: 999;
    text-align: left; }
  #dentalTreatment div:hover::before {
    display: inline-block; }

#treatmentGridCntr .ReactTable {
  max-height: 20vh !important; }

#toothGridCntr .ReactTable {
  max-height: 20vh !important; }

.childchart {
  width: 50vw;
  margin: 0 auto; }
