.hptl-pre-approval-request-details .request-section {
  border: 1px solid #d3d3d3;
  margin: 10px;
  margin-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background: #ffff;
  padding-top: 10px;
  padding-bottom: 10px; }

.hptl-pre-approval-request-details .toggle-section {
  margin: 10px;
  margin-bottom: 0px; }
