.EmployeeOrgView {
  padding-top: 15px;
  .eachShelf {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    border-left: 4px solid #027468;
    padding-left: 10px;
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 10px;
    padding-right: 15px;
    li.eachChild {
      margin: 0;
      list-style: none;
      position: relative;
      width: 300px;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 10px;
      border: 2px solid #d6d6d6;
      background: #fff;
      height: 80px;
      .childCount {
        position: absolute;
        top: -2px;
        right: -2px;
        background: #fff;
        width: auto;
        height: 30px;
        border-radius: 0 0 0 10px;
        color: #00a796;
        text-align: center;
        line-height: 26px;
        z-index: 1;
        padding: 0 5px;
        font-size: 0.8rem;
        border: 2px solid #d6d6d6;
        font-weight: bold;
      }
      .imgSection {
        display: inline-block;
        width: 50px;
        vertical-align: top;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #ccc;
          border: none;
        }
        i {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background: #ccc;
          display: inline-block;
          line-height: 45px;
          text-align: center;
          font-size: 18px;
        }
      }
      .contentSection {
        display: inline-block;
        width: calc(100% - 60px);
        margin-left: 10px;
        h1 {
          font-size: 1rem;
          margin: 0;
          line-height: 20px;
          margin-top: 4px;
        }
        p {
          margin: 0;
          line-height: 20px;
        }
      }
      &:hover {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        background: #00a796;
        color: #fff;
        cursor: pointer;
        & > ul {
          display: block;
        }
      }
      &::before {
        content: "";
        background: #00a796;
        height: 3px;
        width: 20px;
        position: absolute;
        top: 49%;
        left: -15px;
        z-index: -1;
      }
    }
    .clickedLi {
      border: 2px solid #027468;
      background: #00a796 !important;
      color: #fff;
      &::after {
        content: "";
        background: #00a796;
        height: 3px;
        width: 20px;
        position: absolute;
        top: 49%;
        right: -14px;
        z-index: -1;
      }
    }
  }
}
