.procedureClinicalDesk {
  .spotlightSearchBox {
    border: 1px solid #ced4d9;
    border-radius: 5px;
    margin-left: 0;
  }

  .spotlightSearchIconBox {
    border-left: 1px solid rgb(206, 212, 216);
  }
}
