.hptl-phase1-insurance-provider-form {
  background: #fff;
  border-radius: 5px; }
  .hptl-phase1-insurance-provider-form mark {
    background: none;
    color: red; }
  .hptl-phase1-insurance-provider-form .popRightDiv,
  .hptl-phase1-insurance-provider-form .popLeftDiv {
    max-height: 65vh; }
