.hptl-phase1-add-insurance-form {
  background: #fff;
  border-radius: 5px;

  mark {
    background: none;
    color: red;
  }
  .form-details {
    padding-bottom: 0px;
    margin-top: 7px;
  }

  .Paper {
    border: 1px solid #5f5f5f;
  }
}
