.hptl-phase1-commissiom-setup-form {
  background: #ffff;
  border-radius: 5px; }

.hptl-phase1-uom-Add-form .form-details {
  padding: 5px;
  padding-bottom: 5px; }

.hptl-phase1-uom-Add-form mark {
  background: none;
  color: red; }

.hptl-phase1-uom-Add-form label {
  font-weight: 400; }

.hptl-phase1-uom-Add-form .form-group {
  margin-bottom: 0;
  margin-top: 4px;
  padding: 0;
  padding-top: 20px;
  cursor: pointer; }

.hptl-phase1-uom-Add-form #servtypCommissionGrid_Cntr .ReactTable {
  max-height: 50vh !important; }
