.hptl-phase1-commissiom-setup-form {
  background: #ffff;
  border-radius: 5px;
}

.hptl-phase1-uom-Add-form {
  .form-details {
    padding: 5px;
    padding-bottom: 5px;
  }
  mark {
    background: none;
    color: red;
  }
  label {
    font-weight: 400;
  }

  .form-group {
    margin-bottom: 0;
    margin-top: 4px;
    padding: 0;
    padding-top: 20px;
    cursor: pointer;
  }
  #servtypCommissionGrid_Cntr {
    .ReactTable {
      max-height: 50vh !important;
    }
  }
}
