.topBarCostCenter {
  padding: 15px;
  border-bottom: 1px solid #d3d3d3;
  background: #fff;
}

.reportMenuSecLeft {
  border-right: 1px solid #d3d3d3;
  min-height: 93vh !important;
  background: #f9f9f9;
  max-width: 230px !important;
  h6 {
    margin: 0 -15px 0;
    font-size: 0.75rem;
    background: #848484;
    padding: 10px 15px;
    color: #fff;
    text-transform: uppercase;
  }
  ul.menuListUl {
    margin: 0 -15px;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      padding: 6px 15px;
      list-style: inside;
      border-left: 1px solid #d3d3d3;
      cursor: pointer;
      &:hover {
        background: #00a796;
        color: #fff;
        border-bottom: 1px solid #007468;
      }
    }
    .active {
      background: #00a796;
      color: #fff;
      border-bottom: 1px solid #007468;
    }
  }
}
.reportPreviewSecLeft {
  background: #e9e9e9;
  overflow: auto;
  max-height: 93vh;
  i.fa-print {
    position: absolute;
    right: 3rem;
    top: 0;
    font-size: 2rem;
    padding: 10px;
    border: 1px solid #d3d3d3;
    cursor: pointer;
  }
  i.fa-file-download {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    padding: 10px;
    border: 1px solid #d3d3d3;
    cursor: pointer;
  }
  .reportTableStyle {
    width: 100%;
    ul.treeListUL {
      margin: 0;
      padding: 0 5px;
      list-style: none;
      li {
        margin: 0;
        padding: 0;
        list-style: none;
        cursor: pointer;
        font-weight: bold;
        span:nth-child(2) {
          margin-left: 5px;
          &:hover {
            color: #00a796;
          }
        }

        span:nth-child(3) {
          color: black;
          float: right;
          width: 130px;
          min-height: 15px;
          text-align: right;
          border-left: 1px solid #ebebeb;
          padding-right: 10px;
          b {
            width: 100%;
            display: inline-block;
          }
        }
        span:last-child {
          color: black;
          float: right;
          width: 136px;
          min-height: 15px;
          text-align: right;
          border-left: 1px solid #ebebeb;
          padding-right: 10px;
          b {
            width: 100%;
            display: inline-block;
          }
        }
        .childNodeLi {
          font-weight: normal;
          cursor: auto;
          color: black;
          span:nth-child(3) {
            color: black;
            float: right;
          }
          &:hover {
            color: black;
          }
          img {
            width: 30px;
            height: 20px;
          }
        }
      }
      .show > ul {
        display: block;
      }
      .hide > ul {
        display: none;
      }

      .parentNodeLi {
        ul {
          padding: 0;
          margin: 0;
          li {
            margin: 0 0 0 5px;
            padding: 0;
            padding-left: 12px;
            border-left: 1px solid #b1b2b3;
            border-top: 1px dotted #ebebeb;
          }
        }
        div.expand {
          .opendIcon {
            display: inline-block;
            width: 30px;
            height: 20px;
          }
          .closedIcon {
            display: none;
            width: 30px;
            height: 20px;
          }
          span {
            &:nth-child(3) {
              b {
                display: none;
              }
            }
          }
        }
        div.collapsed {
          .opendIcon {
            display: none;
            width: 30px;
            height: 20px;
          }
          .closedIcon {
            display: inline-block;
            width: 30px;
            height: 20px;
          }
        }
      }
      // &:last-child {
      //   border-bottom: none;
      // }
      // &:nth-child(odd) {
      //   background-color: whitesmoke;
      // }
    }
  }
  .ant-spin-nested-loading {
    background: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    min-height: 76vh;
    padding: 15px;
  }
  .financeReportHeader {
    text-align: center;
    border-bottom: 2px solid #d3d3d3;
    margin-bottom: 0;
    padding-bottom: 10px;
    p {
      font-size: 0.8rem;
      span {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
}
.reportPreviewToolRight {
  border-left: 1px solid #d3d3d3;
  min-height: 93vh !important;
  background: #f9f9f9;
  max-width: 50px !important;
  padding: 0;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      padding: 2px 5px;
      list-style: none;
      span {
        background: #b4b4b4;
        height: 40px;
        width: 40px;
        display: block;
        cursor: pointer;
        border-radius: 10%;
        text-align: center;
        line-height: 40px;
        font-size: 1rem;
      }
    }
  }
}
.printing {
  margin: 10mm;
}
.footerTotalArea {
  border-top: 1px solid #d3d3d3;
  text-align: right;
  background: #f1f1f1;
  font-weight: bold;
  td {
    vertical-align: top;
    padding: 0 15px;
    b {
      color: black;
      font-weight: bolder;
    }
  }
}
.trialReportStyle {
  padding: 0;
  margin: 20px 0 0;
  table-layout: fixed;
  width: 100%;
  th {
    text-align: center;
    padding: 2px 10px;
    display: table-cell;
    border: 1px solid #d3d3d3;
    color: #000 !important;
    background: #c1fff9 !important;
  }

  tr {
    &:nth-child(odd) {
      background: #f9f9f9;
    }

    td {
      vertical-align: top;
      border: 1px solid #d3d3d3;

      div.expand {
        span {
          &:nth-child(3) {
            b {
              display: none !important;
            }
          }
          &:nth-child(4) {
            b {
              display: none !important;
            }
          }
        }
      }
    }
  }
}

.ar_ap_ReportStyle {
  padding: 0;
  margin: 20px 0 0;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  th {
    text-align: center;
    padding: 2px 10px;
    display: table-cell;
    border: 1px solid #d3d3d3;
    color: #000 !important;
    background: #c1fff9 !important;
  }
  td {
    vertical-align: top;
    border: 1px solid #d3d3d3;
    padding: 2px 10px;
  }
  .textFld {
    text-align: left;
  }
  .numberFld {
    text-align: right;
  }
  .footerTotal {
    background: #f3f3f3;
  }
}
