.hptl-phase1-accession-acknowledgement-form {
	.go-button {
		cursor: pointer;
		margin-bottom: -9px;
		margin-top: 20px;
	}

	.form-group {
		margin-bottom: 0;

		padding: 0;
		padding-top: 20px;
		cursor: pointer;
	}

	th,
	td {
		border-right: 1px solid #e6e6e6;
	}

	#accessionAcknoweldgeGrid_Cntr {
		.ReactTable {
			max-height: 62vh !important;
		}
	}
}
.hdg_bredcrump {
	max-width: 50% !important;
	flex: 0 0 35% !important;
}

.badge {
	margin-top: 5px;
}
.accessionRemarkPopUp {
	.algaeh-modal {
		max-width: 30vw !important;
		.popupInner {
			padding-top: 5px;
			.textArea {
				input {
					height: 15vh !important;
					width: 100%;
					margin-bottom: 15px;
				}
			}
		}
	}
}
