.hptl-phase1-accession-acknowledgement-form .go-button {
  cursor: pointer;
  margin-bottom: -9px;
  margin-top: 20px; }

.hptl-phase1-accession-acknowledgement-form .form-group {
  margin-bottom: 0;
  padding: 0;
  padding-top: 20px;
  cursor: pointer; }

.hptl-phase1-accession-acknowledgement-form th,
.hptl-phase1-accession-acknowledgement-form td {
  border-right: 1px solid #e6e6e6; }

.hptl-phase1-accession-acknowledgement-form #accessionAcknoweldgeGrid_Cntr .ReactTable {
  max-height: 62vh !important; }

.hdg_bredcrump {
  max-width: 50% !important;
  flex: 0 0 35% !important; }

.badge {
  margin-top: 5px; }

.accessionRemarkPopUp .algaeh-modal {
  max-width: 30vw !important; }
  .accessionRemarkPopUp .algaeh-modal .popupInner {
    padding-top: 5px; }
    .accessionRemarkPopUp .algaeh-modal .popupInner .textArea input {
      height: 15vh !important;
      width: 100%;
      margin-bottom: 15px; }
