.insurancesetup {
  padding-top: 3%;
  padding-right: 3px;
  padding-left: 3px;
  margin-bottom: 40px;

  .toggle-section {
    margin: 10px;
    margin-bottom: 0px;
    // background-color: #f2f2f2;
  }

  .insurance-footer {
    background-color: #000;
  }
  .fixed-bottom {
    min-height: "8vh";
  }
  .insurance-section {
    border: 1px solid #d3d3d3;
    margin: 10px;
    margin-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
}
#insurance_grid {
  .ReactTable {
    max-height: 77vh !important;
  }
}

.ant-select-tree-dropdown {
  left: 33vw !important;
  top: 10vh !important;
  z-index: 99999 !important;
}
