.insurancesetup {
  padding-top: 3%;
  padding-right: 3px;
  padding-left: 3px; }
  .insurancesetup .toggle-section {
    margin: 10px;
    margin-bottom: 0px; }
  .insurancesetup .insurance-footer {
    background-color: #000; }
  .insurancesetup .fixed-bottom {
    min-height: "8vh"; }
  .insurancesetup .insurance-section {
    border: 1px solid #d3d3d3;
    margin: 10px;
    margin-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }
