<table>
<tr>
  <td>
   <table>
     <tr>
      <td> <strong>VAT NO#</strong> </td>
      <td>301341358100003</td>
     </tr>
     <tr>
      <td>Company Name</td>
      <td>MEDGULF</td>
     </tr>
   <table>
  </td>
  <td>
     <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
  </td>
</tr>
</table>
<hr />
<table>
  <tr>
   <td> <strong>VOT NO#</strong> </td>
   <td>3013413</td>
  </tr>
  <tr>
   <td>Company Name</td>
   <td>MEDGULF</td>
  </tr>
<table>
