.earnings_deductions #calc-contain {
  position: absolute;
  width: 40vw;
  border: 4px solid #ffffff;
  border-radius: 0;
  margin: 0px auto;
  padding: 0;
  top: 20%;
  background: #082829;
  z-index: 9999;
  left: 30vw;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden; }
  .earnings_deductions #calc-contain input[type="button"] {
    background: #145052;
    font-weight: 900;
    border: 1px solid #082829;
    color: #fff;
    height: 45px;
    text-align: center; }
    .earnings_deductions #calc-contain input[type="button"]:hover {
      background-color: #34b8bc;
      color: white;
      cursor: pointer; }
  .earnings_deductions #calc-contain input[type="text"] {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    font-size: 1.2em;
    background: #000;
    border-radius: 0;
    border: none;
    padding: 10px;
    color: #fff; }
  .earnings_deductions #calc-contain .number-sec {
    padding-right: 0; }
  .earnings_deductions #calc-contain .delimeter-sec {
    padding-left: 0; }
    .earnings_deductions #calc-contain .delimeter-sec input[type="button"] {
      background: #0c3638; }
      .earnings_deductions #calc-contain .delimeter-sec input[type="button"]:hover {
        background: #34b8bc; }
  .earnings_deductions #calc-contain .ComponentsFormula input[type="button"] {
    background: #0b3638; }
    .earnings_deductions #calc-contain .ComponentsFormula input[type="button"]:hover {
      background: #34b8bc; }
  .earnings_deductions #calc-contain .submitBtn {
    border-top: 2px solid #fff; }
    .earnings_deductions #calc-contain .submitBtn input[type="button"] {
      text-transform: uppercase;
      background: #238286;
      padding: 8px 0; }
      .earnings_deductions #calc-contain .submitBtn input[type="button"]:hover {
        background: #34b8bc; }

.earnings_deductions .earningDeductionForms > div {
  margin-bottom: 10px; }

.earnings_deductions #erngs-ddctns-gridCntr .ReactTable {
  max-height: 73vh !important; }
