#contractMhmntGrid {
  .ReactTable {
    max-height: 40vh !important;
  }
}
.termsCondTextArea {
  min-height: 50vh;
  max-height: 50vh;
}
#SaleQuotationGrid {
  .ReactTable {
    max-height: 45vh !important;
  }
}
