@import "../../../styles/algaehCssVariables.scss";
#contractMhmntGrid {
  .ReactTable {
    max-height: 40vh !important;
  }
}
.termsCondTextArea {
  min-height: 50vh;
  max-height: 50vh;
}
#SaleQuotationGrid {
  .ReactTable {
    max-height: 45vh !important;
  }
}

.upload-drag-icon i {
  font-size: 3rem;
}
.contractAttachmentList {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid lighten($color-black, 70%) !important;
  max-height: 20vh;
  overflow-x: hidden;
  overflow-y: auto;
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid lighten($color-black, 70%) !important;
    b {
      display: inline-block;
      width: 80%;
      padding: 3px 5px;
    }
    span {
      display: inline-block;
      width: 20%;
      text-align: right;
      i {
        padding: 10px;
        border-left: 1px dashed lighten($color-black, 70%) !important;
        &:hover {
          background-color: $primary-color;
          color: $color-white;
          cursor: pointer;
        }
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .noAttachment {
    min-height: 137px;
    max-height: 137px;
    text-align: center;
    p {
      line-height: 137px;
      padding: 0 10px;
    }
  }
}
.TermsList {
  margin: 0;
  padding: 0;
  max-height: 36vh;
  overflow-y: auto;
  overflow-x: hidden;
  ol {
    margin: 0;
    padding: 0 0 15px;
    li {
      margin: 0 10px;
      padding: 0;
      span {
        display: inline-block;
        vertical-align: top;
        &:first-child {
          width: 90%;
        }
        &:last-child {
          width: 10%;
          text-align: center;
          border: 1px solid #ccc;
          &:hover {
            color: red;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.ant-upload-text {
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
.ant-upload-list {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  // background: #000;
  border: 1px solid #ccc;
  min-height: 139px;
  max-height: 139px;
  overflow: auto;
  z-index: 9;
}
.ant-modal-confirm {
  text-align: center;
  .ant-modal-body {
    padding: 0 !important;
    margin: 0;
    .ant-modal-confirm-body {
      margin: 0;
      padding: 15px;
    }
    .ant-modal-confirm-btns {
      width: 100%;
      border-top: 1px solid #e8e8e8;
      text-align: right;
      padding: 5px 10px;
      margin: 5px 0 0 0;
    }
  }
}
