.hptl-phase1-insurance-form {
  background: #ffff;
  border-radius: 5px; }

.htpl-phase1-primary-insurance-form mark {
  background: none;
  color: red; }

.htpl-phase1-primary-insurance-form label {
  font-weight: 400;
  font-size: 11px; }

.htpl-phase1-primary-insurance-form .centerAlign {
  text-align: center; }

.htpl-phase1-primary-insurance-form .text_field {
  width: 100% !important;
  background-color: #fbfbfb;
  font-size: "12px";
  margin-right: "5px"; }

.htpl-phase1-primary-insurance-form .form-details {
  padding: 5px;
  padding-bottom: 0px; }

.htpl-phase1-primary-insurance-form .radio-design {
  position: absolute;
  top: 5px;
  left: 36px; }

.htpl-phase1-primary-insurance-form .refactor-design {
  min-height: 28px;
  background-color: #fbfbfb;
  border: 0px; }

.htpl-phase1-primary-insurance-form .file-name-upload {
  margin-left: 4%;
  margin-top: 2%; }

.htpl-phase1-primary-insurance-form th,
.htpl-phase1-primary-insurance-form td {
  border-right: 1px solid #e6e6e6;
  font-size: 11px; }
