.business_setup {
  .BusSetupSection {
    margin-top: 33px;
  }
  .business-section {
    #departGrid_Cntr {
      .ReactTable {
        max-width: 98vw !important;
        max-height: 53vh !important;
      }
    }
  }
}
