.hptl-phase1-requisition-item-form {
	border-radius: 5px;
}

.hptl-phase1-op-add-billing-form {
	padding-top: 5px;
	.primary-details {
		.primary-box-container {
			padding-top: 12.5px;
			padding-left: 10px;
		}
	}

	.patientRespo {
		background: #f8f8f8;
	}

	.form-details {
		padding: 5px;
		padding-bottom: 10px;
	}

	.header-details {
		margin-top: 0.5%;
		margin-bottom: 0.5%;
	}

	.go-button {
		cursor: pointer;
		margin-bottom: -15px;
		margin-top: -10px;
	}

	.Paper {
		background: #fff;
		border: 1px solid #d3d3d3;
	}

	th,
	td {
		border-right: 1px solid #e6e6e6;
	}
}

.insurance-amt-details {
	padding-bottom: 5px;
}
#Bill_details {
	input[type="text"] {
		width: 10%;
	}
	input[type="text"]:disabled {
		border: none;
		background: none;
		color: #000;
		:after {
			border: none;
		}
	}
}
.reqTransList {
	margin: 0;
	padding: 1px 0;
	list-style: none;
	background: #fff;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	max-height: 59vh;
	overflow-x: hidden;
	overflow-y: auto;
	min-height: 59vh;
	li {
		margin: 0;
		padding: 10px 15px;
		border-bottom: 1px solid #d6d6d6;
		list-style: none;
		.itemReq {
			display: inline-block;
			width: 85%;
			h6 {
				font-size: 1.2rem;
			}
			span {
				display: inline-block;
				width: 50%;
				margin: 0;
				padding: 0;
				/* border: 1px solid #000; */
				/* margin-right: 10px; */
				/* height: 30px; */
				line-height: 19px;
				/* padding-left: 4px; */
				font-size: 0.9rem;
				text-align: left;

				span {
					font-weight: bold;
					border: none;
					display: inline;
				}
			}
		}
		.itemAction {
			float: right;
			span {
				i {
					border: 1px solid #a8a8a8;
					color: #a8a8a8;
					padding: 7px;
					border-radius: 50%;
					margin-top: 17px;
					cursor: pointer;
					&:hover {
						border: 1px solid #000;
						color: #000;
					}
				}
			}
		}
	}
}
#itemTransferMapGrid {
	.ReactTable {
		max-height: 43vh !important;
	}
}
#REQ_details {
	.ReactTable {
		max-height: 44vh !important;
	}
}
