#Employer_Contribution_Cntr,
#Employee_Deductions_Cntr,
#Salary_Earning_Cntr {
  .ReactTable {
    max-height: 30vh !important;
  }
}
#Salary_Management_Cntr {
  .newStickyGrid {
    .table-scroll {
      min-height: 53vh;
      max-height: 53vh;
      overflow: auto;
    }
  }
}

.preRevertModal {
  min-width: 35vw !important;
  max-width: 35vw !important;
  .ant-modal-footer {
    padding: 5px 15px !important;
  }
}
