.assetsModuleScreen {
  .ui.styled.accordion {
    width: 100vw;
  }
}
.innerContentDiv {
  float: right;
  margin-top: -55px;
  span {
    margin-left: 10px;
    float: right;
    text-align: right;
    line-height: 17px;
    font-size: 1.3rem;
    small {
      display: block;
      font-size: 0.9rem;
    }
  }
}

.treeNodeWrapper {
  height: 74vh;
  width: 100vw;
}
.rst__rowContents {
  border-left: 2px solid #000;
}
.accGroup {
  border-left: 5px solid #d88a14;
  border-radius: 9px;
}
.systemGen {
  border-left: 5px solid #7f7f7f;
  border-radius: 9px;
}
.rst__rowTitleWithSubtitle {
  text-transform: uppercase !important;
  margin-bottom: 5px !important;
  font-size: 0.8rem !important;
  font-weight: normal !important;
}
.rst__rowSubtitle {
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

.rst__rowContentsDragDisabled {
  border-radius: 5px !important;
}
.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  ul.NodeActionButton {
    margin: 0 -6px 0 0;
    padding: 0;
    border-left: 1px solid #d9d9d9;
    height: 50px;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    width: 52px;
    li {
      list-style: none;
      padding: 1px 5px;
      text-align: center;
      width: 25px;
      line-height: 22px;
      height: 25px;
      font-size: 10px;
      text-transform: uppercase;
      float: left;
      &:hover {
        cursor: pointer;
      }
    }
    li.NodeDeleteButton {
      &:hover {
        cursor: pointer;
        background: red;
        color: white;
      }
    }
    li.NodeAddButton {
      border-bottom: 1px solid #dddddd;
      border-right: 1px solid #ddd;
      &:hover {
        cursor: pointer;
        background: green;
        color: white;
      }
    }
    li.NodeEditButton {
      border-bottom: 1px solid #dddddd;
      &:hover {
        cursor: pointer;
        background: blue;
        color: white;
      }
    }
    li.NodePrintButton {
      border-right: 1px solid #ddd;
      &:hover {
        cursor: pointer;
        background: orange;
        color: white;
      }
    }
    li.disabled {
      pointer-events: none;
      color: #dadada;
      &:hover {
        color: #dadada;
        background: none;
      }
    }
  }
}
.searchCntr {
  float: right;
  width: 50%;
  input {
    width: 70% !important;
    float: left;
    height: 25px;
    border-radius: 4px 0 0 4px;
  }
  button {
    float: left;
    width: 25px;
    height: 25px;
    background: #e6e6e6;
    border: 1px solid #808080;
    &:last-child {
      border-radius: 0 4px 4px 0 !important;
    }
  }
  label {
    margin-left: 5px;
  }
}
.portlet-title {
  .actions {
    button {
      margin-left: 5px;
      cursor: pointer !important;
    }
  }
}
.negitive {
  color: #9f3a38 !important;
}
.rst__rowSearchFocus {
  outline: solid 3px #00a796 !important;
}
.ant-table-thead > tr > th {
  color: #000 !important;
  background: #c1fff9 !important;
  border-bottom: 2px solid #00a796;
  text-align: center !important;
}
.accountTable {
  max-height: 74vh !important;
  border: 1px solid #dedede;
  table {
    min-width: calc(100vw - 70px) !important;
  }
}
