#DNGrid .ReactTable {
  max-width: 96vw !important;
  max-height: 27.5vh !important; }

@media screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
  #DNGrid .ReactTable {
    max-width: 95vw !important; } }
