@import "../../../styles/algaehCssVariables.scss";
.subjective {
  .left-pane {
    padding: 5px;
  }

  .right-pane {
    padding: 5px;
  }

  tr {
    text-align: center;
  }
  .customTable {
    th {
      background: #8c8c8c;
      text-transform: uppercase;

      min-width: auto !important;
      color: $color-white;
      font-weight: normal;
    }
    td {
      min-width: auto !important;
    }
  }
}

.pain_slider {
  margin: 0;
  margin-top: 10px;
  background: lighten($color-black, 98%);
  border: 1px solid lighten($color-black, 95%);
  padding-bottom: 8px;
}
.complain-box {
  .Select-placeholder {
    width: 100%;
    padding: 0 5px;
    border: 1px solid lighten($color-black, 95%);
    border-radius: 5px 5px 0 0;
  }
  .displayInlineBlock {
    display: inline-block;
  }
}

.durationCntr {
  .divDur {
    width: 38%;
    margin-right: 4px;
    display: inline-block;
  }
  .divDay {
    width: 60%;
    display: inline-block;
    .Select-input {
      height: 30px;
    }
  }
}

.grid-section {
  background: $color-white;
  border: 1px solid lighten($color-black, 90%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.basicSubjective {
  #Finalintial_icd {
    .ReactTable {
      max-height: 20vh !important;
    }
  }
}
.algaeh-col-3 {
  width: 27%;
  margin-right: 15px;
  margin-left: 15px;
}
.algaeh-col-8 {
  width: calc(70% - 65px);
  margin-right: 10px;
}
.algaeh-fixed-right-menu {
  position: relative;
  width: 51px;
  z-index: 9;
  .rightActionIcon {
    position: fixed;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 45px;
    left: 0;
    li {
      position: relative;
      list-style: none;
      margin: 0 0 5px 0;
      padding: 0;
      background: $color-white;
      border-radius: 0 7px 7px 0;
      text-align: center;
      display: block;
      span {
        display: none;
        background: $primary-color;
        color: $color-white;
        font-size: 0.8rem;
        padding: 5px;
        border-radius: 0 5px 5px 0;
        text-align: center;
        position: absolute;
        left: 45px;
        height: 22px;
        line-height: 1;
        top: 12px;
        white-space: nowrap;
        z-index: -1;
      }
      &:hover {
        color: $color-white;
        background: $primary-color;
        cursor: pointer;
        i {
          color: $color-white !important;
          &:hover {
            color: $color-white;
          }
        }
        span {
          display: block;
        }
      }
      i {
        color: lighten($color-black, 40%) !important;
        font-size: 1.5rem;
        padding: 10px;
      }
    }
  }
}

.toggleBorder {
  border-bottom: 1px solid lighten($color-black, 80%);
  margin-top: 10px;
}

.mandatoryBox {
  border: 1px solid #ff524a !important;
  background: #fffbfb !important;
}
