.subjective .left-pane {
  padding: 5px; }

.subjective .right-pane {
  padding: 5px; }

.subjective tr {
  text-align: center; }

.subjective .customTable th {
  background: #8c8c8c;
  text-transform: uppercase;
  min-width: auto !important;
  color: #fff;
  font-weight: normal; }

.subjective .customTable td {
  min-width: auto !important; }

.pain_slider {
  margin: 0;
  margin-top: 10px;
  background: #fafafa;
  border: 1px solid #f2f2f2;
  padding-bottom: 8px; }

.complain-box .Select-placeholder {
  width: 100%;
  padding: 0 5px;
  border: 1px solid #f2f2f2;
  border-radius: 5px 5px 0 0; }

.complain-box .displayInlineBlock {
  display: inline-block; }

.durationCntr .divDur {
  width: 38%;
  margin-right: 4px;
  display: inline-block; }

.durationCntr .divDay {
  width: 60%;
  display: inline-block; }
  .durationCntr .divDay .Select-input {
    height: 30px; }

.grid-section {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; }

.basicSubjective #Finalintial_icd .ReactTable {
  max-height: 20vh !important; }

.algaeh-col-4 {
  width: 33%;
  margin-right: 15px;
  margin-left: 15px; }

.algaeh-col-7 {
  width: calc(64% - 65px);
  margin-right: 10px; }

.algaeh-fixed-right-menu {
  position: relative;
  width: 51px;
  z-index: 9; }
  .algaeh-fixed-right-menu .rightActionIcon {
    position: fixed;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 45px;
    left: 0; }
    .algaeh-fixed-right-menu .rightActionIcon li {
      position: relative;
      list-style: none;
      margin: 0 0 5px 0;
      padding: 0;
      background: #fff;
      border-radius: 0 7px 7px 0;
      text-align: center;
      display: block; }
      .algaeh-fixed-right-menu .rightActionIcon li span {
        display: none;
        background: #00a796;
        color: #fff;
        font-size: 0.8rem;
        padding: 5px;
        border-radius: 0 5px 5px 0;
        text-align: center;
        position: absolute;
        left: 45px;
        height: 22px;
        line-height: 1;
        top: 12px;
        white-space: nowrap;
        z-index: -1; }
      .algaeh-fixed-right-menu .rightActionIcon li:hover {
        color: #fff;
        background: #00a796;
        cursor: pointer; }
        .algaeh-fixed-right-menu .rightActionIcon li:hover i {
          color: #fff !important; }
          .algaeh-fixed-right-menu .rightActionIcon li:hover i:hover {
            color: #fff; }
        .algaeh-fixed-right-menu .rightActionIcon li:hover span {
          display: block; }
      .algaeh-fixed-right-menu .rightActionIcon li i {
        color: #666666 !important;
        font-size: 1.5rem;
        padding: 10px; }

.toggleBorder {
  border-bottom: 1px solid #cccccc;
  margin-top: 10px; }
