.subjective {
  .left-pane {
    padding: 5px;
  }

  .right-pane {
    padding: 5px;
  }

  tr {
    text-align: center;
  }
  .customTable {
    th {
      background: #8c8c8c;
      text-transform: uppercase;
      font-size: 0.7rem !important;
      min-width: auto !important;
      color: #fff;
      font-weight: normal;
    }
    td {
      min-width: auto !important;
      font-size: 0.8rem !important;
    }
  }
}

.pain_slider {
  margin: 0;
  margin-top: 10px;
  background: #f2f2f2;
  border: 1px solid #c1c1c1;
  padding-bottom: 8px;
}
.complain-box {
  .Select-placeholder {
    width: 100%;
    padding: 0 5px;
    border: 1px solid #c1c1c1;
    border-radius: 5px 5px 0 0;
  }
  .displayInlineBlock {
    display: inline-block;
  }
}

.durationCntr {
  .divDur {
    width: 38%;
    margin-right: 4px;
    display: inline-block;
  }
  .divDay {
    width: 60%;
    display: inline-block;
    .Select-input {
      height: 30px;
    }
  }
}
