@import "../../../styles/algaehCssVariables.scss";
.subjective {
  .left-pane {
    padding: 5px;
  }

  .right-pane {
    padding: 5px;
  }

  tr {
    text-align: center;
  }
  .customTable {
    th {
      background: #8c8c8c;
      text-transform: uppercase;

      min-width: auto !important;
      color: $color-white;
      font-weight: normal;
    }
    td {
      min-width: auto !important;
    }
  }
}

.pain_slider {
  margin: 0;
  margin-top: 10px;
  background: #f2f2f2;
  border: 1px solid #c1c1c1;
  padding-bottom: 8px;
}
.complain-box {
  .Select-placeholder {
    width: 100%;
    padding: 0 5px;
    border: 1px solid #c1c1c1;
    border-radius: 5px 5px 0 0;
  }
  .displayInlineBlock {
    display: inline-block;
  }
}

.durationCntr {
  .divDur {
    width: 38%;
    margin-right: 4px;
    display: inline-block;
  }
  .divDay {
    width: 60%;
    display: inline-block;
    .Select-input {
      height: 30px;
    }
  }
}

.grid-section {
  background: #ffff;
  border: 1px solid #d3d3d3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.rightActionIcon {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 45px;
  float: right;
  li {
    list-style: none;
    margin: 0 0 5px 0;
    padding: 0;
    background: $color-white;
    font-size: 1rem;
    border-radius: 7px 0 0 7px;
    text-align: center;
    width: 45px;
    line-height: 45px;
    height: 45px;
    /* float: right; */
    display: block;
    &:hover {
      color: $color-white;
      background: $primary-color;
      cursor: pointer;
    }
  }
}
