.leaveMasterMainPage .toggle-section {
  margin: 10px 15px 0;
  border: none; }

.leaveMasterMainPage .popupInner {
  padding-bottom: 15px;
  border-top: 1px solid #d3d3d3; }

#leaveRules_grid_cntr .ReactTable,
#leaveEncashment_grid_cntr .ReactTable,
#leaveDetails_grid_cntr .ReactTable {
  max-height: 40vh !important;
  margin-bottom: 15px; }
