.hptl-phase1-add-sub-insurance-form {
  background: #fff;
  border-radius: 5px; }
  .hptl-phase1-add-sub-insurance-form mark {
    background: none;
    color: red; }
  .hptl-phase1-add-sub-insurance-form .form-details {
    padding-top: 2px; }
  .hptl-phase1-add-sub-insurance-form .insurance-details {
    margin-top: 10px;
    margin-bottom: 10px; }
  .hptl-phase1-add-sub-insurance-form .colorPrimary div {
    background-color: #dbad64; }
    .hptl-phase1-add-sub-insurance-form .colorPrimary div h2 {
      color: #fff; }
  .hptl-phase1-add-sub-insurance-form th,
  .hptl-phase1-add-sub-insurance-form td {
    border-right: 1px solid #e6e6e6; }

#subInsuranceGridCntr {
  margin-top: 10px; }
  #subInsuranceGridCntr .ReactTable {
    height: 38vh !important; }
