.hptl-phase1-add-sub-insurance-form {
  background: #fff;
  border-radius: 5px; }
  .hptl-phase1-add-sub-insurance-form mark {
    background: none;
    color: red; }
  .hptl-phase1-add-sub-insurance-form .form-details {
    padding-top: 2px; }
  .hptl-phase1-add-sub-insurance-form .insurance-details {
    border-bottom: 1px solid #e6e6e6; }
  .hptl-phase1-add-sub-insurance-form .colorPrimary div {
    background-color: #dbad64; }
    .hptl-phase1-add-sub-insurance-form .colorPrimary div h2 {
      color: #fff; }
