.hptl-referal-doctor-form {
  border-radius: 5px;
  padding-top: 10px;

  th,
  td {
    border-right: 1px solid #e6e6e6;
  }
}
.red_I {
  font-size: x-small;
  border-radius: 5px 0px;
  float: right;
  background: rgb(255, 163, 163);
}

.green_A {
  font-size: x-small;
  border-radius: 5px 0px;
  float: right;
  background: rgb(196, 255, 196);
}
