#samplecollectionListGrid {
  .newStickyGrid {
    .table-scroll {
      min-height: 62vh !important;
      max-height: 62vh !important;
      overflow: auto !important;
    }
  }
}

.topResultCard {
  .card-body {
    padding: 0px 10px 3px;
    p {
      margin: 0;
      padding: 0;
      float: right;
      line-height: 35px;
    }
    .card-title {
      margin: 0;
      display: inline-block;
      font-size: 2rem;
    }
  }
}
