.hptl-phase1-speciman-collection-form .go-button {
  cursor: pointer;
  margin-bottom: -9px;
  margin-top: 20px; }

.hptl-phase1-speciman-collection-form .form-group {
  margin-bottom: 0;
  padding: 0;
  padding-top: 20px;
  cursor: pointer; }

.hptl-phase1-speciman-collection-form th,
.hptl-phase1-speciman-collection-form td {
  border-right: 1px solid #e6e6e6; }

.hptl-phase1-speciman-collection-form #samplecollectionGrid_cntr .ReactTable {
  max-height: 60vh !important; }

.hptl-phase1-speciman-collection-form .badge {
  margin-top: 5px; }

#samplecollectionGrid_cntr .ReactTable {
  max-height: 62vh !important; }
