// .hptl-display-visit-details-frame {
//   // background: #f2f2f2;
//   .visitdetails-section {
//   }
// }

.hptl-display-visit-details {
  border: 1px solid #d3d3d3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: #ffff;
  .visit-section {
    border: 1px solid #d3d3d3;
    margin: 10px;
    margin-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  .toggle-section {
    margin: 10px;
    margin-bottom: 0px;
  }
}
.hptl-display-active-visit-form {
  .form-details {
    padding-top: 2px;
  }
  mark {
    background: none;
    color: red;
  }
  label {
    font-weight: 400;
    
  }
  th,
  td {
    
    border-right: 1px solid #e6e6e6;
  }
}
.gridWithRadio {
  table {
    th:first-child {
      width: 16px !important;
    }
  }
}
#opVisitGrid_Cntr{
  .ReactTable{
    max-height: 30vh !important;
    margin-top: -5px;
    margin-bottom: 15px;
  }
}