.hptl-phase1-add-consultation-form {
  background: #ffff;
  border-radius: 5px;

  .primary-details {
    border-right: 1px dashed #d3d3d3;
    padding-top: 8px;
    padding-bottom: 8px;

    .primary-box-container {
      .radio-design {
        position: absolute;
        margin-left: 5px;
        // top: 5px;
        //  left: 36px;
      }
    }
  }
  .secondary-details {
    padding-top: 8px;
    .secondary-box-container {
      padding: 5px;
    }
  }

  .table-details {
    background: "#B4E2DF";
  }
  mark {
    background: none;
    color: red;
  }
  // label {
  //   font-weight: 400;
  //
  // }
  th,
  td {
    border-right: 1px solid #e6e6e6;
    //
    width: 10px;
  }
  .maternityRadio {
    padding-left: 15px;
    padding-right: 0;
  }
  .hide {
    display: none;
    opacity: 0;
  }
}
.packageStatus {
  text-align: right;
  float: right;
  color: green;
}
