.hptl-phase1-consultation-details .consultation-section {
  border: 1px solid #d3d3d3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; }

.hptl-phase1-add-consultation-form .primary-details {
  border-right: 1px solid #000; }
  .hptl-phase1-add-consultation-form .primary-details .primary-box-container .radio-design {
    position: absolute;
    margin-left: 5px; }

.hptl-phase1-add-consultation-form .secondary-details {
  padding: 5px; }
  .hptl-phase1-add-consultation-form .secondary-details .secondary-box-container {
    padding: 5px; }

.hptl-phase1-add-consultation-form .table-details {
  background: "#B4E2DF"; }

.hptl-phase1-add-consultation-form mark {
  background: none;
  color: red; }

.hptl-phase1-add-consultation-form th,
.hptl-phase1-add-consultation-form td {
  border-right: 1px solid #e6e6e6;
  width: 10px; }
