.hptl-phase1-add-consultation-form {
  background: #ffff;
  border-radius: 5px; }
  .hptl-phase1-add-consultation-form .primary-details {
    border-right: 1px dashed #d3d3d3;
    padding-top: 8px;
    padding-bottom: 8px; }
    .hptl-phase1-add-consultation-form .primary-details .primary-box-container .radio-design {
      position: absolute;
      margin-left: 5px; }
  .hptl-phase1-add-consultation-form .secondary-details {
    padding-top: 8px; }
    .hptl-phase1-add-consultation-form .secondary-details .secondary-box-container {
      padding: 5px; }
  .hptl-phase1-add-consultation-form .table-details {
    background: "#B4E2DF"; }
  .hptl-phase1-add-consultation-form mark {
    background: none;
    color: red; }
  .hptl-phase1-add-consultation-form th,
  .hptl-phase1-add-consultation-form td {
    border-right: 1px solid #e6e6e6;
    width: 10px; }
  .hptl-phase1-add-consultation-form .maternityRadio {
    padding-left: 15px;
    padding-right: 0; }
  .hptl-phase1-add-consultation-form .hide {
    display: none;
    opacity: 0; }
