.hptl-phase1-item-enquiry-form {
  border-radius: 5px;
  margin-top: 12vh;
  min-height: 80vh; }
  .hptl-phase1-item-enquiry-form .form-details {
    padding: 5px;
    padding-bottom: 0px; }
  .hptl-phase1-item-enquiry-form mark {
    background: none;
    color: red; }
  .hptl-phase1-item-enquiry-form .form-group {
    padding: 2vh; }
  .hptl-phase1-item-enquiry-form .go-button {
    cursor: pointer;
    margin-top: 2.5vh; }

.orderNow span:first-child {
  display: block;
  line-height: 10px; }

.orderNow .orderSoon {
  background: #ff4b4b;
  -webkit-animation: blinkingText 3s infinite;
  animation: blinkingText 4s infinite;
  font-weight: bold;
  padding: 0 5px;
  display: inline-block;
  color: #fff;
  border-radius: 3px;
  font-size: 0.55rem; }

@keyframes blinkingText {
  0% {
    background: #da3131; }
  50% {
    background: #8a2727; }
  100% {
    background: #da3131; } }
