.screen_assignment .moduleList {
  border: 1px solid #d3d3d3;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 5px;
  max-height: 40vh;
  /* reset our lists to remove bullet points and padding */
  /* make ALL links (main and submenu) have padding and background color */
  /* this is the initial state of all submenus.
      we set it to max-height: 0, and hide the overflowed content.
    */ }
  .screen_assignment .moduleList .mainmenu,
  .screen_assignment .moduleList .submenu {
    list-style: none;
    padding: 0;
    margin: 0; }
  .screen_assignment .moduleList .mainmenu li {
    display: block;
    text-decoration: none;
    padding: 0;
    border-bottom: 1px solid #d3d3d3;
    color: #000;
    /* add hover behaviour */ }
    .screen_assignment .moduleList .mainmenu li:hover {
      background: #33b8bc;
      color: #fff; }
      .screen_assignment .moduleList .mainmenu li:hover .submenu {
        display: block;
        max-height: 200px; }
    .screen_assignment .moduleList .mainmenu li:last-child {
      border-bottom: 0; }
  .screen_assignment .moduleList .mainmenu input[type="checkbox"] {
    margin: 10px; }
  .screen_assignment .moduleList .mainmenu a {
    padding: 4px 10px 6px;
    border-left: 1px solid #d3d3d3;
    display: inline-block; }
  .screen_assignment .moduleList .submenu {
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    /* background: #efefef; */
    border-top: 1px dashed #d3d3d3;
    margin-left: 34px;
    border-left: 1px solid #d3d3d3; }
    .screen_assignment .moduleList .submenu li:hover {
      background-color: #238286;
      color: #fff; }
    .screen_assignment .moduleList .submenu li:last-child {
      border-bottom: 0; }
