.screen_assignment {
  margin-top: 15px;
  .moduleList {
    border: 1px solid #d3d3d3;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 5px;

    /* reset our lists to remove bullet points and padding */
    .mainmenu,
    .submenu {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .activeLi {
      background: #33b8bc;
    }
    /* make ALL links (main and submenu) have padding and background color */
    .mainmenu {
      min-height: 49vh;
      max-height: 48vh;
      li {
        display: block;
        text-decoration: none;
        padding: 0;
        border-bottom: 1px solid #d3d3d3;
        color: #000;

        /* add hover behaviour */
        &:hover {
          background: #e9e9e9;
          .submenu {
            display: block;
          }
        }

        ul.submenu {
          overflow: hidden;
          -webkit-transition: all 0.5s ease-out;
          /* background: #efefef; */
          border-top: 1px dashed #d3d3d3;
          border-bottom: 0;
          margin-left: 32px;
          border-left: 1px solid #d3d3d3;
          li {
            &:hover {
              background-color: #33b8bc;
              color: #fff;
            }
            &:last-child {
              border-bottom: 0 !important;
            }
          }
        }
      }

      input[type="checkbox"] {
        margin: 10px;
      }
      a {
        padding: 4px 10px 6px;
        border-left: 1px solid #d3d3d3;
        display: inline-block;
      }
    }

    /* this is the initial state of all submenus.
      we set it to max-height: 0, and hide the overflowed content.
    */
  }
  #AlgaehElementsGrid_Cntr {
    .ReactTable {
      max-height: 49vh !important;
    }
  }
}
