.ant-table-footer {
  padding: 0;
  .ant-table-tfoot {
    tr {
      height: 15px;
      box-sizing: border-box;
      border-collapse: collapse;
      td {
        border-right: 1px solid #e8e8e8;
        overflow-wrap: break-word;
        padding: 0;
        margin: 0;
        border-collapse: collapse;
      }
    }
  }
}
.reportGridPlain {
  border: 1px solid #dedede;
  max-height: 35vh !important;
  table {
    min-width: calc(100vw - 70px) !important;
    thead {
      th {
        background: #fff !important;
        text-align: right !important;
        border: none !important;
        border-bottom: 2px solid #cecece !important;
        span {
          white-space: nowrap !important;
        }
        &:first-child {
          text-align: left !important;
        }
      }
      th.fixed {
        z-index: 999 !important;
        border-right: 1px solid #d3d3d3 !important;
        text-align: left !important;
      }
    }
    tbody {
      tr {
        &:nth-child(odd) {
          td {
            background-color: #fff !important;
          }
        }
      }
      td {
        border: none !important;
        text-align: right !important;
        &:first-child {
          text-align: left !important;
        }
      }
      td.fixed {
        min-width: 210px !important;
        // background: #edfffd !important;
        border-right: 1px solid #d3d3d3 !important;
        .pointer {
          font-weight: bold;
        }
        .pointer + span {
          font-weight: bold;
          margin-left: 5px;
        }
      }
    }
    tfoot {
      td {
        border: none !important;
        text-align: right !important;
        &:first-child {
          text-align: left !important;
        }
      }
    }
  }
}
