.ant-table-footer {
  padding: 0;
  .ant-table-tfoot {
    tr {
      height: 15px;
      box-sizing: border-box;
      border-collapse: collapse;
      td {
        border-right: 1px solid #e8e8e8;
        overflow-wrap: break-word;
        padding: 0;
        margin: 0;
        border-collapse: collapse;
      }
    }
  }
}
