.loadingMicro {
  i.loadingIcon {
    margin-top: 20vh;
    font-size: 100px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  p.loadingText {
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  small.loadingTextSmall {
    width: 100%;
    text-align: center;
    display: inline-block;
  }
}
