.arabicVersionOPbilling {
  direction: rtl;
  text-align: right; }
  .arabicVersionOPbilling .primary-details {
    border-right: none;
    border-left: 1px dashed #d3d3d3; }
  .arabicVersionOPbilling label {
    font-size: 1rem; }
  .arabicVersionOPbilling .toggle-section .nav {
    padding: 0;
    right: auto; }
  .arabicVersionOPbilling .showall {
    left: 0;
    right: auto; }
  .arabicVersionOPbilling .clearall {
    left: 20px;
    right: auto; }
  .arabicVersionOPbilling .print-area div {
    float: left;
    height: auto;
    border-right: 1px solid #adaaaa;
    border-left: 0; }
  .arabicVersionOPbilling .print-area .dropdown-menu {
    left: 0; }
  .arabicVersionOPbilling .htpl-phase1-radio-btn {
    margin-left: 5px; }
  .arabicVersionOPbilling .customRadio .inline + .inline {
    margin-right: 10px;
    margin-left: 0px; }
  .arabicVersionOPbilling .breadCrumb-Data .hdg_bredcrump {
    background: url("./../../assets/images/breadcrump_border_Ar.webp") no-repeat top left #fff; }
  .arabicVersionOPbilling .breadCrumb-Data .spotlightSearchBox {
    margin-right: 0; }
  .arabicVersionOPbilling .breadCrumb-Data .spotlightSearchIconBox {
    border-right: 1px solid #ced4d8;
    border-left: none;
    padding-right: 13px; }
  .arabicVersionOPbilling .spotlightSearchBox {
    margin-right: 0; }
  .arabicVersionOPbilling .spotlightSearchIconBox {
    border-right: 1px solid #ced4d8;
    border-left: none;
    padding-right: 13px; }

.hptl-opbilling-details {
  background: #ffff; }
  .hptl-opbilling-details .patient-section {
    border: 1px solid #d3d3d3;
    margin: 10px;
    margin-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }
  .hptl-opbilling-details .toggle-section {
    margin: 10px;
    margin-bottom: 0px;
    background-color: #ffff; }
  .hptl-opbilling-details .text_field {
    width: 100% !important;
    background-color: #fbfbfb;
    margin-right: "5px"; }
  .hptl-opbilling-details .Paper {
    background: #fff;
    background-color: #292929 !important;
    left: 0px;
    width: 250px; }
