.arabicVersionOPbilling {
  direction: rtl;
  text-align: right;

  .primary-details {
    border-right: none;
    border-left: 1px dashed #d3d3d3;
  }
  label {
    font-size: 0.8rem;
  }
  .toggle-section {
    .nav {
      padding: 0;
      right: auto;
    }
  }
  .showall {
    left: 0;
    right: auto;
  }
  .clearall {
    left: 20px;
    right: auto;
  }
  .print-area div {
    float: left;
    height: 75px;
    border-right: 1px solid #adaaaa;
    border-left: 0;
  }
  .htpl-phase1-radio-btn {
    margin-left: 5px;
  }
  .customRadio .inline + .inline {
    margin-right: 10px;
    margin-left: 0px;
  }

  .breadCrumb-Data {
    .hdg_bredcrump {
      background: url("./../../assets/images/breadcrump_border_Ar.png")
        no-repeat top left #fff;
    }

    .spotlightSearchBox {
      margin-right: 0;
    }

    .spotlightSearchIconBox {
      border-right: 1px solid rgb(206, 212, 216);
      border-left: none;
      padding-right: 13px;
    }
  }

  .spotlightSearchBox {
    margin-right: 0;
  }

  .spotlightSearchIconBox {
    border-right: 1px solid rgb(206, 212, 216);
    border-left: none;
    padding-right: 13px;
  }
}
.hptl-opbilling-details {
  background: #ffff;
  .patient-section {
    border: 1px solid #d3d3d3;
    margin: 10px;
    margin-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  .toggle-section {
    margin: 10px;
    margin-bottom: 0px;
    background-color: #ffff;
  }

  .text_field {
    width: 100% !important;
    background-color: #fbfbfb;
    font-size: "11px";
    margin-right: "5px";
  }

  .paper {
    background-color: #292929 !important;
    left: 0px;
    width: 250px;
  }
}

.spacing-push {
  // margin-top: 6em;
}
