.hptl-phase1-requisition-form {
  .form-details {
    padding: 5px;
    padding-bottom: 0px;
  }
  mark {
    background: none;
    color: red;
  }

  .go-button {
    cursor: pointer;
    margin-top: 2.5vh;
  }
  #REQ_details {
    .ReactTable {
      max-height: 53vh !important;
    }
  }
}
