.costCenterFilter {
  background: #fff;
  padding-bottom: 15px;
  padding-top: 10px;
  border: 1px solid #c7c7c7;
  .col {
    max-width: 250px;
  }
}
.costCenterModal {
  width: 40vw !important;
  .btn-primary {
    margin-top: 16px;
  }
  .modalCustomFooter {
    text-align: right;
    margin-top: 20px;
    margin-bottom: -10px;
    border-top: 1px solid #e8e8e8;
    padding-top: 10px;
  }
}
.costCenterScreen {
  .topBarCostCenter {
    padding: 15px;
    border-bottom: 1px solid #d3d3d3;
    background: #fff;
    margin-bottom: 15px;
  }
}
