.hims_employee_master {
  .employee-section {
    border-top: 1px solid #d3d3d3;
    margin: 10px;
    margin-top: 0px;
  }
  .toggle-section {
    margin: 10px;
    margin-bottom: 0px;
    // background-color: #f2f2f2;
  }
}

.EmployeeAddEditPopup {
  min-width: 97% !important;
  .ant-modal-body {
    min-height: 88vh !important;
  }
  .ant-modal-body {
    .tabMaster {
      margin: 0 15px;
      overflow: auto;
      width: calc(100vw - 44px);
    }
    .popRightDiv {
      margin-top: 35px;
      padding: 15px 15px 0 15px;
      min-height: 80vh !important;
      overflow: auto;
    }
  }
}
