#claimGrid_cntr {
  .ReactTable {
    height: 20vh !important;
    margin-top: 15px;
    margin-bottom: 15px;
    .rt-table {
      overflow-y: hidden;
    }
  }
}
#invoiceDetailGrid_Cntr {
  .ReactTable {
    height: 43vh !important;
  }
}
