#ClaimGrid_Cntr {
  .ReactTable {
    max-height: 20vh !important;
  }
}
#invoiceDetailGrid_Cntr {
  .ReactTable {
    max-height: 41vh !important;
  }
}
#icd_bill_Grid {
  .ReactTable {
    max-height: 27vh !important;
  }
}
