.hptl-phase1-add-investigation-form {
  background: #fff;
  padding: 0px; }
  .hptl-phase1-add-investigation-form mark {
    background: none;
    color: red; }
  .hptl-phase1-add-investigation-form .form-details {
    padding-bottom: 0px; }
  .hptl-phase1-add-investigation-form .button {
    padding: 10px; }
