@import "../../../styles/algaehCssVariables.scss";

.PreRequestGrid {
  min-height: 65vh !important;
  max-height: 65vh !important;
  overflow: auto;
}
.draggerCntr {
  .ant-upload-drag {
    min-height: 95px !important;
    max-height: 95px !important;
  }
  .ant-upload-drag-container {
    display: block;
  }
  .ant-upload-list-text {
    position: absolute;
    left: 85%;
    top: 0;
    width: 300%;
    z-index: 9999;
    overflow: auto;
    max-height: 95px !important;
    padding-right: 10px;
    .anticon-paper-clip {
      display: none;
    }
  }
  .ant-upload-list-item-name {
    padding: 0;
  }
}
.prepaymentachmentList {
  margin: 15px 0 0;
  padding: 0;
  list-style: none;
  border: 1px solid lighten($color-black, 70%) !important;
  max-height: 137px;
  overflow-x: hidden;
  overflow-y: auto;
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid lighten($color-black, 70%) !important;
    b {
      display: inline-block;
      width: calc(100% - 70px);
      padding: 3px 5px;
      border-right: 1px dashed #b3b3b3 !important;
    }
    span {
      display: inline-block;
      width: 70px;
      text-align: right;
      vertical-align: middle;
      i {
        padding: 10px;
        /* border-left: 1px dashed #b3b3b3 !important; */
        display: inline-block;
        width: 35px;
        &:hover {
          background-color: $primary-color;
          color: $color-white;
          cursor: pointer;
        }
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .noAttachment {
    min-height: 98px;
    max-height: 98px;
    text-align: center;
    p {
      padding: 0 10px;
      line-height: 98px;
    }
  }
}
.preAttachmentModal {
  width: 30% !important;
  min-width: 10% !important;

  .preAttachmentList {
    margin: 10px 0 15px;
    padding: 0;
    list-style: none;
    border: 1px solid lighten($color-black, 70%) !important;
    min-height: 150px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      border-bottom: 1px solid lighten($color-black, 70%) !important;
      b {
        display: inline-block;
        width: calc(100% - 35px);
        padding: 3px 5px;
        border-right: 1px dashed #b3b3b3 !important;
      }
      span {
        display: inline-block;
        width: 35px;
        text-align: right;
        vertical-align: middle;
        i {
          padding: 10px;
          /* border-left: 1px dashed #b3b3b3 !important; */
          display: inline-block;
          width: 35px;
          &:hover {
            background-color: $primary-color;
            color: $color-white;
            cursor: pointer;
          }
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
    .noAttachment {
      min-height: 98px;
      max-height: 98px;
      text-align: center;
      p {
        padding: 0 10px;
        line-height: 98px;
      }
    }
  }
}
