@import "../../../styles/algaehCssVariables.scss";

.PreRequestGrid {
  min-height: 55vh !important;
  max-height: 65vh !important;
  overflow: auto;
}
.contractAttachmentList {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid lighten($color-black, 70%) !important;
  max-height: 20vh;
  overflow-x: hidden;
  overflow-y: auto;
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid lighten($color-black, 70%) !important;
    b {
      display: inline-block;
      width: 80%;
      padding: 3px 5px;
    }
    span {
      display: inline-block;
      width: 20%;
      text-align: right;
      i {
        padding: 10px;
        border-left: 1px dashed lighten($color-black, 70%) !important;
        &:hover {
          background-color: $primary-color;
          color: $color-white;
          cursor: pointer;
        }
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .noAttachment {
    min-height: 137px;
    max-height: 137px;
    text-align: center;
    p {
      line-height: 137px;
      padding: 0 10px;
    }
  }
}
