#employeeIndexGrid .ReactTable {
  max-height: 71vh !important; }
  #employeeIndexGrid .ReactTable .image-drop-area {
    margin: auto;
    min-height: 62px !important;
    height: 60px !important;
    width: 60px !important; }
    #employeeIndexGrid .ReactTable .image-drop-area .dropzone img {
      width: 100%;
      height: 60px; }
