#employeeIndexGrid {
  .ReactTable {
    max-height: 71vh !important;
    .image-drop-area {
      margin: auto;
      min-height: 62px !important;
      height: 60px !important;
      width: 60px !important;
      .dropzone {
        img {
          width: 100%;
          height: 60px;
        }
      }
    }
  }
}

.employeeMasterLegend {
  .card-body {
    padding: 5px 10px;
    .card-title {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 0;
    }
  }
}
