.ucafEditCntr {
  .receptionNurse {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    margin-bottom: 10px;
    h5 {
      margin-bottom: 10px;
    }
  }

  .IDCardUcaf {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    margin-bottom: 10px;
    h5 {
      margin-bottom: 10px;
    }
    .popupIDImg {
      .image-drop-area {
        .dropzone {
          padding: 15px;
          img {
            height: 187px;
          }
        }
      }
    }
  }
  .attendingPhysician {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    margin-bottom: 10px;
    h5 {
      margin-bottom: 10px;
    }
  }
  #serviceGrid_Cntr{
    .ReactTable{
      max-height: 25vh!important;
    }
  }

  #medicationGrd_Cntr{
    .ReactTable{
      max-height: 30vh!important;
    }
  }
}
