.ucafEditCntr .receptionNurse {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  margin-bottom: 10px; }
  .ucafEditCntr .receptionNurse h5 {
    margin-bottom: 10px; }

.ucafEditCntr .IDCardUcaf {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  margin-bottom: 10px; }
  .ucafEditCntr .IDCardUcaf h5 {
    margin-bottom: 10px; }
  .ucafEditCntr .IDCardUcaf .popupIDImg .image-drop-area .dropzone {
    padding: 15px; }
    .ucafEditCntr .IDCardUcaf .popupIDImg .image-drop-area .dropzone img {
      height: 187px; }

.ucafEditCntr .attendingPhysician {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  margin-bottom: 10px; }
  .ucafEditCntr .attendingPhysician h5 {
    margin-bottom: 10px; }

.ucafEditCntr #serviceGrid_Cntr .ReactTable {
  max-height: 25vh !important; }

.ucafEditCntr #medicationGrd_Cntr .ReactTable {
  max-height: 30vh !important; }
