@import "../../../styles/algaehCssVariables.scss";

.dept {
  font-weight: normal;

  .imp {
    color: #ff063e;
  }

  .txt-fld {
    width: 100%;
  }

  .select-fld {
    padding-left: 8px;
    background-color: #fbfbfb;
    width: 100%;
  }

  .table-details {
    text-align: center;
  }

  .table-hover tbody tr:hover {
    td,
    th {
      background-color: #fcffde;
    }
  }

  .form-details {
    margin-top: 20px;
    margin-left: "auto";
    margin-right: "auto";
  }

  th,
  td {
    border-right: 1px solid #ffffff;
  }

  .radio [type="radio"]:checked + label:after {
    border-color: #00bcb0;
    background-color: #00bcb0;
  }

  /*Gap*/

  .radio-gap [type="radio"] {
    &.with-gap:checked + label:before {
      border-color: #00bcb0;
    }
    &:checked + label:after {
      border-color: #00bcb0;
      background-color: #00bcb0;
    }
  }
}
.testingHeight {
  max-height: 200px;
}
#depddGridCntr {
  .ReactTable {
    max-height: 63vh !important;
  }
}
#subdepddCntr {
  .ReactTable {
    max-height: 50vh !important;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

.departmentDiagramList {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid lighten($color-black, 70%) !important;
  max-height: 55vh;
  overflow-x: hidden;
  overflow-y: auto;
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid lighten($color-black, 70%) !important;
    height: 101px;

    .imgPreview {
      width: 100px;
      height: 100px;
      float: left;
      img {
        width: 100%;
      }
    }
    .textActionSec {
      float: left;
      width: calc(100% - 100px);
      padding: 10px;
      p {
        margin: 0;
        padding: 0;
      }
    }

    .diagramActions {
      display: inline-block;
      width: 100%;
      text-align: left;
      i {
        padding: 10px;
        width: 35px;
        height: 35px;
        border: 1px dashed lighten($color-black, 70%) !important;
        &:hover {
          background-color: $primary-color;
          color: $color-white;
          cursor: pointer;
        }
        &.fa-trash {
          &:hover {
            background-color: red;
          }
        }
      }
    }
  }
  .noAttachment {
    min-height: 137px;
    max-height: 137px;
    text-align: center;
    p {
      line-height: 137px;
      padding: 0 10px;
    }
  }
}
.ant-upload-list-text {
  position: absolute;
  bottom: 10px;
}
