@import "../../styles/algaehCssVariables.scss";

.patient_recall {
  /* The heart of the matter */
  .scrolling-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    .card {
      display: inline-block;

      margin: 0 3px 0 0;
      width: 15vw;
      h2 {
        border-bottom: 1px solid #dfdfdf;
        font-size: 1rem;
        margin: 0;
        padding: 5px;
        text-align: center;
      }
      .slotsDiv {
        min-height: 70vh;
        max-height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
        .eachSlot {
          padding: 3px 10px;
          border-bottom: 2px dashed #a8a8a8;
          font-size: 0.9rem;
          h3 {
            margin: 0;
            padding: 2px 0;
            font-size: 1rem;

            text-overflow: ellipsis;
            overflow: hidden;
            width: 180px;
            height: 1.2em;
            white-space: nowrap;
          }
          hr {
            margin: 5px 0;
          }
          p {
            margin: 0;
          }
          &:nth-child(odd) {
            background-color: #fffdef;
          }
          .btn-book {
            border-radius: 2px;
            padding: 0;
            margin: 5px 0 0;
            /* width: 100%; */
            min-height: 25px !important;
            background: rgba($color-black, 0.2) !important;
            color: black;
            border: 1px solid rgba($color-black, 0.3) !important;
            &:hover {
              background: white !important;
              color: black;
            }
          }
          .docNametext {
            text-overflow: ellipsis;
            overflow: hidden;
            width: 180px;
            white-space: nowrap;
            display: block;
          }
        }
      }
    }

    .scrolling-wrapper-flexbox {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;

      .card {
        flex: 0 0 auto;
      }
    }
    .scrolling-wrapper {
      -webkit-overflow-scrolling: touch;
    }

    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #ffffff;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgb(214, 214, 214);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #00a796;
    }
  }
}
.noRecallData {
  i {
    margin-top: 20vh;
    font-size: 100px;
    color: gray;
  }
  p {
    line-height: 20vh;
    color: gray;
    font-size: 20px;
  }

  text-align: center;
  height: 78vh;
  background-color: white;
  border-radius: 10px;
  width: 97vw;
}
