.encounterListCntr {
  min-height: 62vh; }
  .encounterListCntr .ReactTable {
    max-height: 61vh !important; }

.encounterDetailCntr {
  overflow-y: auto;
  max-height: 62vh;
  overflow-x: hidden;
  margin-right: -15px; }
