.encounterListCntr {
  min-height: 62vh;
  .newStickyGrid {
    .table-scroll {
      min-height: 57vh;
      max-height: 57vh;
      overflow: auto;
    }
    .pageLeft {
      display: none;
    }
  }
  .pat-code2 {
    color: navy !important;
    text-decoration: underline;
    cursor: pointer;
  }
}
.encounterDetailCntr {
  overflow-y: auto;
  max-height: 62vh;
  overflow-x: hidden;
  margin-right: -15px;
}

.componentRenderArea {
  margin: 120px 10px 0;
  z-index: 1;
  width: 100%;

  .generalInfo,
  .chiefComplaint,
  .vitals,
  .diagnosis,
  .investigation,
  .medication,
  .procedures {
    border-top: 1px solid #e1e1e1;
    padding-top: 10px;
    padding-bottom: 10px;
    h6 {
      font-weight: bold;
    }
    span {
      font-weight: normal;
      margin-left: 3px;
    }
  }

  .investigation {
    .row {
      .col-lg-12 {
        border-bottom: 1px dotted #e1e1e1;
        padding-top: 3px;
        padding-bottom: 3px;
        h6 {
          span {
            float: right;
            text-transform: uppercase;

            color: #0066ff;
          }
        }
      }
    }
  }
  .smallh6 {
    color: #00bbbd;

    margin-bottom: 5px;
    font-weight: normal;
  }
  .danger {
    color: #ff5c5c;
  }
  .borderVitals {
    border: 1px solid #e1e1e1;
    margin: 0 3px 5px;
    border-radius: 5px;
  }
}
#getInvestigationGrid,
#getPackageGrid,
#getConsumableGrid,
#getMedicationGrid,
#getProcedureGrid,
#getNursingNotesGrid {
  .newStickyGrid {
    width: 99%;
    .table-scroll {
      min-height: 25vh;
      max-height: 25vh;
      overflow: auto;
    }
    .paginationCntr {
      .pageLeft {
        width: 110%;
      }
    }
  }
}
.refferalModal {
  .algaeh-modal {
    width: 65vw;
  }
}
