
.vitalsAddingSec{
        padding-top: 10px;
    padding-bottom: 10px;
    background: #f9f9f9;
    border-bottom: 1px solid #ececec;
    margin-bottom: 10px;
}
.vitalsTimeLineSec {    border-right: 1px solid #ccc;
    overflow: auto;
    max-height: 37vh;
}
.graphView {
	float: right;
}

/* The actual timeline (the vertical ruler) */
.timeline {
	position: relative;
	max-width: auto;
	margin: 0 auto;

	/* timelineContainer around content */
	.timelineContainer {
		padding: 0 0 3px 5px;
		position: relative;
		width: 99%;
	}

	/* The circles on the timeline */
	.timelineContainer::after {
		content: "";
		position: absolute;
		width: 10px;
		height: 10px;
		background-color: #2ebcb0;
		top: 9px;
		border-radius: 50%;
		z-index: 1;
	}

	/* Place the container to the right */

	.content {
		position: relative;
		padding: 4px 0 4px 16px;
		border-bottom: 1px dashed #cecece;

		.dateStamp {
			background: #dbad64;
			color: #fff;
			padding: 2px 10px;
			margin: 0;
			margin-bottom: 7px;
			border-radius: 7px;
			font-size: 0.8rem;
			display: inline-block;
		}
		ul.vitals-box {
			margin: 0;
			padding: 0;
			list-style: none;

			li.each-vitals-box {
				margin: 0;
				padding: 5px 6px 0;
				list-style: none;
				border: 1px solid #41bcaf;
				border-radius: 5px;
				background: #fffbf3;
				display: inline-block;
				p {
					margin: 0;
					padding: 0;
					text-transform: uppercase;
					font-size: 0.6rem;
					font-weight: bold;
					line-height: 0.7em;
				}
				span.vitalsText {
					font-size: 0.8rem;
					font-weight: bold;
				}
				span:last-child {
					font-size: 0.7rem;
					text-align: right;
					margin-left: 2px;
				}
			}
		}
	}
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
	content: "";
	position: absolute;
	width: 2px;
	top: 0;
	bottom: 0;
	left: 12px;
	margin-left: -3px;
	background: #cecece;
}