.SelfPersonalDetails {
  h5 {
    margin: 0 0 10px;
    padding-bottom: 2px;
    border-bottom: 1px dashed #d3d3d3;
    span {
      border-bottom: 2px solid #8c8c8c;
      text-transform: uppercase;
      line-height: 0;
    }
  }

  .selfServiceProfileMenu {
    position: fixed;
    background: #fff;
    border: 1px solid #e1e1e1;
    margin: 0;
    padding: 0;
    width: 15vw;
    li {
      margin: 0;
      list-style: none;
      border-bottom: 1px solid #e1e1e1;
      cursor: pointer;
      span {
        padding-right: 0;
        width: 100%;
        display: inline-block;
        padding: 5px 10px;
      }
      &:hover {
        color: #34b8bc;
      }
    }
  }
  .employeeEmail h6 {
    word-break: break-all;
  }
  #selfService_FamilyTable_Cntr,
  #selfService_IdentificationTable_Cntr,
  #selfService_WorkExpTable_Cntr,
  #selfService_EducationTable_Cntr,
  #selfService_AttachmentTable_Cntr {
    .ReactTable {
      max-height: 35vh !important;
    }
  }

  .EmployeeImgEdit {
    background: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    .image-drop-area {
      width: 150px;
      margin: auto;
    }
  }
}
.salaryBreakup {
  h3 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 1em;
    margin: 0;
    margin-bottom: 10px;
  }
  p {
    margin: 0;
  }
}
.paddingLeft {
  padding-left: 0;
}
