#LoanAuthGrid_Cntr .ReactTable {
  max-height: 36vh !important; }

#requestedLoanAppGrid_Cntr .ReactTable {
  max-height: 20vh !important; }
  #requestedLoanAppGrid_Cntr .ReactTable .rt-table {
    overflow: hidden; }
