.htpl-primary-display-insurance-pos-form {
  .primary-details {
    padding: 15px;
    border-right: 1px solid #000;
    .primary-box-container {
      padding: 5px;
    }
  }

  .secondary-details {
    
    padding-top: 15px;

  }

  .secondary-box-container {
    padding: 5px;
  }

  mark {
    background: none;
    color: red;
  }
  label {
    font-weight: 400;
  }

  .centerAlign {
    text-align: center;
    font-weight: 700;
  }

  .text_field {
    width: 100% !important;
    background-color: #fbfbfb;

    margin-right: "5px";
  }

  .radio-design {
    position: absolute;
    top: 5px;
    left: 36px;
  }
  .refactor-design {
    min-height: 28px;
    background-color: #fbfbfb;
    border: 0px;
  }
  .file-name-upload {
    margin-left: 4%;
    margin-top: 2%;
  }
}
