.JVModalDetail {
  width: 95vw !important;
  #JVModalDetailGrid {
    margin: 10px 0;
    .newStickyGrid {
      .table-scroll {
        min-height: 55vh;
        max-height: 55vh;
        overflow: auto;
      }
    }
  }
  .ant-modal-footer {
    padding: 5px 15px !important;
  }
}
.journalAuthGrid {
  height: auto;
  min-height: 66vh !important;
  max-height: 66vh !important;
  overflow: auto;
}
.AdvCreNoteModal {
  min-width: 99% !important;
  .newStickyGrid {
    .table-scroll {
      min-height: 31vh;
      max-height: 31vh;
      overflow: auto;
    }
  }
}
