.EmployeeProjectRoster .legends {
  color: white;
  font-size: 12px;
  padding: 5px;
  font-size: 0.7em;
  border-radius: 6px; }

.EmployeeProjectRoster .leave_cell_auth {
  background: #879c3f;
  color: white;
  position: relative; }
  .EmployeeProjectRoster .leave_cell_auth span {
    display: block;
    width: 80%;
    position: relative; }
    .EmployeeProjectRoster .leave_cell_auth span:hover .leaveInfo {
      display: block; }
  .EmployeeProjectRoster .leave_cell_auth .leaveInfo {
    font-size: 0.7rem;
    width: 150px;
    padding: 2px 5px;
    position: absolute;
    z-index: 9;
    top: 15px;
    right: 30px;
    font-weight: normal;
    display: none;
    background: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
    .EmployeeProjectRoster .leave_cell_auth .leaveInfo span {
      width: 100%;
      color: #000; }
      .EmployeeProjectRoster .leave_cell_auth .leaveInfo span b {
        text-align: right;
        float: right; }

.EmployeeProjectRoster .leave_cell_unauth {
  background: #9c7d3f;
  color: white;
  position: relative; }
  .EmployeeProjectRoster .leave_cell_unauth span {
    display: block;
    width: 80%;
    position: relative; }
    .EmployeeProjectRoster .leave_cell_unauth span:hover .leaveInfo {
      display: block; }
  .EmployeeProjectRoster .leave_cell_unauth .leaveInfo {
    font-size: 0.7rem;
    width: 150px;
    padding: 2px 5px;
    position: absolute;
    z-index: 9;
    top: 15px;
    right: 30px;
    font-weight: normal;
    display: none;
    background: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
    .EmployeeProjectRoster .leave_cell_unauth .leaveInfo span {
      width: 100%;
      color: #000; }
      .EmployeeProjectRoster .leave_cell_unauth .leaveInfo span b {
        text-align: right;
        float: right; }

.EmployeeProjectRoster .time_cell {
  background-color: "lightgray";
  cursor: pointer; }

.EmployeeProjectRoster .editAction {
  position: relative; }
  .EmployeeProjectRoster .editAction .fa-ellipsis-v {
    display: none;
    position: absolute;
    top: 5px;
    right: 1px;
    width: 16px;
    height: 16px;
    color: #ccc; }
    .EmployeeProjectRoster .editAction .fa-ellipsis-v:hover {
      color: #000; }
    .EmployeeProjectRoster .editAction .fa-ellipsis-v:hover + ul {
      display: block; }
  .EmployeeProjectRoster .editAction ul {
    display: none;
    list-style: none;
    border: 1px solid #ccc;
    position: absolute;
    width: auto;
    min-width: 100px;
    right: 5px;
    top: 18px;
    margin: 0;
    padding: 0;
    z-index: 9; }
    .EmployeeProjectRoster .editAction ul li {
      padding: 5px 10px;
      text-align: left;
      background: #fff;
      border-bottom: 1px solid #ccc;
      color: black; }
      .EmployeeProjectRoster .editAction ul li:hover {
        background-color: #f2f2f2; }
      .EmployeeProjectRoster .editAction ul li::last-child {
        border-bottom: none; }
    .EmployeeProjectRoster .editAction ul:hover {
      display: block; }
  .EmployeeProjectRoster .editAction:hover .fa-ellipsis-v {
    display: block; }

.EmployeeProjectRoster .week_off_cell {
  background: #3f9c62;
  color: white; }

.EmployeeProjectRoster .holiday_cell {
  background: #3f789c;
  color: white; }

.EmployeeProjectRoster .leave_cell {
  background: #879c3f;
  color: white; }

.EmployeeProjectRoster .time_cell:hover {
  background-color: #58b9c0; }

.EmployeeProjectRoster #projectRosterTable {
  min-height: 57vh;
  max-height: 57vh;
  overflow: auto;
  border: 1px solid #d2d2d2; }
  .EmployeeProjectRoster #projectRosterTable .noTimeSheetData {
    text-align: center;
    color: rgba(0, 0, 0, 0.1);
    width: 100%; }
    .EmployeeProjectRoster #projectRosterTable .noTimeSheetData h1 {
      margin-top: 30px; }
    .EmployeeProjectRoster #projectRosterTable .noTimeSheetData i {
      font-size: 16em;
      margin: 4vh 0 6vh;
      color: rgba(0, 0, 0, 0.04); }
  .EmployeeProjectRoster #projectRosterTable table {
    width: 100%;
    box-sizing: border-box;
    table-layout: fixed;
    min-height: 20vh;
    max-height: 52vh; }
    .EmployeeProjectRoster #projectRosterTable table thead th {
      padding: 3px;
      text-align: center;
      border-right: 1px solid #c7e0e0;
      border-bottom: 1px solid #d2d2d2;
      color: #000 !important;
      background: #dff6f6 !important;
      width: 45px;
      font-size: 0.7em; }
      .EmployeeProjectRoster #projectRosterTable table thead th:nth-child(1) {
        text-align: left;
        width: 200px;
        font-size: 1em; }
      .EmployeeProjectRoster #projectRosterTable table thead th:last-child, .EmployeeProjectRoster #projectRosterTable table thead th:nth-last-child(2) {
        width: 100px;
        font-size: 1em; }
    .EmployeeProjectRoster #projectRosterTable table tbody {
      overflow: auto;
      min-height: 60vh;
      max-height: 60vh; }
      .EmployeeProjectRoster #projectRosterTable table tbody tr td {
        padding: 3px;
        text-align: center;
        border-right: 1px solid #ececec;
        border-top: 1px solid #ececec;
        width: 45px;
        font-size: 0.8em; }
        .EmployeeProjectRoster #projectRosterTable table tbody tr td:nth-child(1) {
          text-align: left;
          width: 200px; }
        .EmployeeProjectRoster #projectRosterTable table tbody tr td:last-child, .EmployeeProjectRoster #projectRosterTable table tbody tr td:nth-last-child(2) {
          width: 100px; }
      .EmployeeProjectRoster #projectRosterTable table tbody tr:nth-child(odd) {
        background: #f2f2f2; }
      .EmployeeProjectRoster #projectRosterTable table tbody tr:nth-child(even) {
        background: #fff; }
