.projectAssignModal {
  .algaeh-modal {
    width: 65vw;
  }
}

.projEmployeeList {
  border: 1px solid #d3d3d3;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 45vh;
  max-height: 45vh;
  font-size: 0.85rem;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    border-bottom: 1px solid #d3d3d3;
    font-weight: 500;
    span {
      width: 35px;
      height: 35px;
      display: inline-block;
      padding: 0 8px;
      text-align: center;
      vertical-align: top;
      input {
        margin-top: 10px;
      }
    }
    p {
      display: inline-block;
      border-left: 1px solid #d3d3d3;
      padding: 5px;
      width: calc(100% - 35px);
      b {
        display: block;
      }
    }
    &:hover {
      background-color: #00a796;
      border-color: #007468;
      cursor: pointer;
      color: #fff;
    }
    &:first-child {
      background: #dbfbfb;
      border-bottom: 2px solid #00a796;
      p {
        height: 35px;
        line-height: 24px;
        text-align: center;
      }
      &:hover {
        color: rgba(0, 0, 0, 0.87);
        cursor: default;
      }
    }
  }
}

// .projEmployeeList {
//   list-style: none;
//   border: 1px solid #ccc;
//   width: auto;
//   min-width: 100px;
//   margin: 0;
//   padding: 0;
//   min-height: 45vh;
//   max-height: 45vh;
//   margin-bottom: 20px;
//   overflow-y: auto;
//   overflow-x: hidden;
//   li {
//     padding: 5px 10px;
//     text-align: left;
//     background: #fff;
//     border-bottom: 1px solid #ccc;
//     input[type="checkbox"] {
//       margin-right: 10px;
//     }
//     label {
//       padding: 7px;
//       border-left: 1px solid #ccc;
//     }
//     &:hover {
//       background-color: #f2f2f2;
//     }
//     &:last-child {
//       border-bottom: none;
//     }
//     &:nth-child(even) {
//       background-color: #f7f7f7;
//     }
//   }
// }

.projectList {
  list-style: none;
  border: 1px solid #ccc;
  width: auto;
  min-width: 100px;
  margin: 0;
  padding: 0;
  min-height: 45vh;
  max-height: 45vh;
  margin-bottom: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  li {
    padding: 5px 10px;
    text-align: left;
    background: #fff;
    border-bottom: 1px solid #ccc;
    input[type="radio"] {
      margin-right: 10px;
    }
    label {
      padding: 7px;
      border-left: 1px solid #ccc;
    }

    &:hover {
      background-color: #f2f2f2;
    }
    &:last-child {
      border-bottom: none;
    }
    &:nth-child(even) {
      background-color: #f7f7f7;
    }
  }
}

.rosterSrch {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin: 0;
  border-radius: 0;
  padding: 10px;
  background: #fbfbfb;
  color: #fff;
  font-size: 1rem;
}
