.hptl-phase1-Display-patient-details-Ar {
  // background: #f2f2f2;
  .patient-section {
    border: 1px solid #d3d3d3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: #ffff;
  }
}
