.hptl-phase1-op-billing-form {
  background: #fff;
  border-radius: 5px; }

.hptl-phase1-op-add-billing-form {
  padding-top: 5px; }
  .hptl-phase1-op-add-billing-form .primary-details .primary-box-container {
    padding-top: 12.5px;
    padding-left: 10px; }
  .hptl-phase1-op-add-billing-form .patientRespo {
    background: #f8f8f8;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6; }
  .hptl-phase1-op-add-billing-form .form-details {
    padding: 5px;
    padding-bottom: 10px; }
  .hptl-phase1-op-add-billing-form .header-details {
    margin-top: 0.5%;
    margin-bottom: 0.5%; }
  .hptl-phase1-op-add-billing-form .go-button {
    cursor: pointer;
    margin-bottom: -15px;
    margin-top: -10px; }
  .hptl-phase1-op-add-billing-form .Paper {
    background: #fff;
    border: 1px solid #d3d3d3;
    padding: 15px;
    border-radius: 5px; }
  .hptl-phase1-op-add-billing-form th,
  .hptl-phase1-op-add-billing-form td {
    border-right: 1px solid #e6e6e6; }

.insurance-amt-details {
  padding-bottom: 5px; }

#Bill_details input[type="text"] {
  width: 10%; }

#Bill_details input[type="text"]:disabled {
  border: none;
  background: none;
  color: #000; }
  #Bill_details input[type="text"]:disabled :after {
    border: none; }

#PointSaleGrid .ReactTable {
  max-height: 30vh !important;
  max-width: 95vw !important; }

@media screen and (min-width: 481px) and (max-width: 1280px) and (orientation: landscape) {
  #PointSaleGrid .ReactTable {
    max-width: 93.8vw !important; } }

.algaehPaperDefault {
  margin: 15px 0px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  background: #fff; }

.algaehPaperDefault:last-child {
  margin-bottom: 0px; }

.algaehPaperPrimary {
  margin: 15px 0px;
  background: #e9feff;
  border: 1px solid #44b8bd;
  border-radius: 10px;
  padding: 15px; }
