#patientSummary {
  line-height: 1.3rem;
  color: #3d3d3d;
  margin-top: 1rem;
  .card-header {
    padding: 0.5rem;
    font-weight: 600;
  }

  .list-group-item {
    padding: 0.3rem 0.5rem;
  }
  p {
    margin-bottom: 0.3rem;
  }

  .vitals-sec {
    border: 1px solid #ccc;
    padding: 0.5rem 0.3rem 0.3rem;
    .counter {
      i {
        margin-bottom: 0.5rem;
        height: 30px;
      }
    }
  }

  .bd-callout {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #eee;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
    background: #fff;
  }

  .bd-callout-theme {
    border-left-color: #34b8bc;
  }

  h6 {
    border-bottom: 1px dashed #e5e5e5;
    padding-bottom: 5px;
  }
  p {
    h4,
    h5,
    h6 {
      display: inline-block;
      margin-right: 3px;
      margin-top: 6px;
    }
  }
  .table-primary,
  .table-primary > td,
  .table-primary > th {
    background: #defffc;
  }
}
