<style type="text/css">
    .headerFooterStyle1 {
        width: 100%;
        float: left;
        text-align: center;
        border-top: 0.5rem dotted #ccc;
        font-size: 8px;
        margin-top: 5px;
    }
</style>

<body>
    <div class="headerFooterStyle1">
        {{!-- <img src="{{imageSource 'images/tmc_footer_design.png'}}" /> --}}
               <p>Al Fanar Mall 2nd floor Al-Khobar, KSA. Reg. No. 2051054263</p>
        <p>Telephone #: +966 13 858 7000 / E-mail: info@twareat.com / Website: www.twareat.com</p>
    </div>
</body>