<div class="signatureDiv">
    <p>Signature:</p>
</div>
<div class="hospitalSeal"><img src="" /></div>
<div class="doctorName">
    <h6>Doctor Name : {{full_name}}</h6>
    <p>data.department data.department </p>
    <p>Registration: DCT45736487</p>
</div>