<div class="signatureDiv">
    <p>Signature:</p>
</div>
<div class="hospitalSeal"><img src="{{imageSource 'images/seal-stamp.webp'}}" /></div>
<div class="doctorName">
    <p>Doctor Name : {{full_name}}</p>
    <p>Department : {{sub_department_name}} </p>
    <p>Registration : {{license_number}}</p>
</div>