{{{importStyle 'css/algaehReportStyles.css'}}}

<body>
    <div class="print-body">

        {{!-- <section>
            <table class="tableForLabel" cell-padding="0">
                <tr>
                    <td><label class="textEnLft">Branch</label>:<span class="valueText">{{hospital_name}}</span></td>
                    <td><label class="textEnLft">No Employees</label>:<span class="valueText">{{no_employees}}</span>
                    </td>
                </tr>
            </table>


        </section> --}}
        <section>
            <p>إنه في يوم ….. الموافق …… م تم الاتفاق بين كل من :
                اولا: شركة: طوارئيات للعناية الطبية سجل تجاري رقم: ٢٠٥١٠٥٤٢٦٣ وعنوانها: المملكة العربية السعودية
                ، الخبر، حي الروابي ،
                مجمع الفنار بوابة ١ ص.ب : ٧٩٨٦٦ الرمزالبريدي:٣١٩٥٢ هاتف: ٠١٣٨٥٨٧٥٥٥ فاكس:٠١٣٨٥٨٧٣٢٤</p>
            <p>ويمثلها التوقيع على هذا العقد: أ.خالد احمد بالحداد بصفته: مساعد المدير التنفيذي. يشار إليها فيما
                بعد بالطرف الأول
                ثانيا :………. الجنسية: ……….. هوية مقيم : ……….. تاريخ الإصدار ………. رقم الجوال ………..
                ويشار إليه فيما بعد بالطرف الثاني
                بعد أن أقر الطرفان بأهليتهما المعتبرة شرعا . ونظاما لإبرام مثل هذا العقد . فقد اتفقا على ما يلي
                :</p>
            <hr>
            <p>It is in the day: ………. corresponding to : ……….. was agreed between:</p>
            <p><b>First Party:</b></p>
            <p>Twareat Medical Company<br> Commercial Registration No: 2051054263</br> Address: Gate 1. Fanar
                Mall, Al-Khobar,</br> KSA. PO
                Box 79866 Postal Code 31952</br></p>
            <p>And represents them in signing this contract Mr. Khalid Ahmed Balhadad. and referred to later as
                the first party. Phone: 054951268</p>
            <p><br>And referred to later as the Second party.
                After the parties have recognized their legally recognized eligibility and a system for
                concluding such a contract, they
                have agreed as follows:</p>

        </section>
        <section>
            <table class="tableForData contractMgmnt" cell-padding="0">
                <thead>
                    <tr>
                    <tr>
                        <th>First: Subject of the Contract</th>
                        <th>اولا: موضوع العقد</th>
                    </tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A. The Parties agree that the Second Party shall
                            act in the First
                            Party’s interest under
                            it’s administration &
                            supervision of the unction
                            any other function, they should carry out
                            (………)work as per their practical & technical knowledge and capabilities. With the controls
                            laid down in articles (58,
                            59, 60) of the Labor law
                        </td>
                        <td>أ. اتفق الطرفان على ان يعمل الطرف الثاني لدى الطرف الاول تحت إدارته
                            ،أو إشرافه بوظيفه (
                            ……….) او اي وظيفة اخرى تتطلبها
                            مصلحة العمل،ومباشرة الأعمال التي يكلف بها بما يتناسب مع قدراته العملية ،والعلمية ، والفنية
                            وفقاً لاحتياجات العمل ،وبما
                            لا يتعارض مع الضوابط المنصوص عليها في المواد(الثامنة والخمسون ،التاسعة والخمسون ، الستون )
                            من نظام العمل
                        </td>
                    </tr>
                    <tr>
                        <td>B. The duration of this contract (One Year), starting from the date of hiring of the second
                            party to work is based on
                            starting date or termination of SCECO project and shall be renewed for a period or for
                            similar periods unless one of the
                            other parties keeps it in writing that he does not wish to renew the
                            contract thirty days prior the date of termination of the contract.

                        </td>
                        <td>ب. مدة هذا العقد ( سنة واحدة)،تبدأ من تاريخ مباشرة الطرف الثاني بموجب نموذج المباشرة أو حال
                            إنتهاء مشروع سكيكو وتتجدد
                            لمدةٍ ،أو لمددٍ مماثلة ،مالم يُشعر أحد الطرفين الآخر خطياً بعدم رغبته في التجديد قبل ثلاثين
                            يوماً من تاريخ انتهاء العقد
                        </td>
                    </tr>
                    <tr>
                        <td>C. The employee will be on probation period for the first 90 days from the date of reporting
                            to work excluding the
                            holidays (Eid-ul-Fitr, Eid-ul-Adha, National day) & sick leave. Both parties has full right
                            to terminate the contract if
                            the employee fails to pass the probation period in accordance of article 80 of the labor law
                            without incurring itself
                            any obligation toward the employee except to his due wages up to the last working day
                            Kaffalh transfer.
                        </td>
                        <td>ج. يخضع الطرف الثاني لفترة تجربة مدتها 90 يوماً ،تبدأ من تاريخ مباشرته للعمل ،ولا يدخل في
                            حسابها إجازة عيدي الفطر
                            ،والاضحى ، واليوم الوطني،والاجازة المرضية ،ويكون للطرفين الحق في انهاء العقد في هذه الفترة
                            ولا مانع من نقل الكفالة.
                        </td>
                    </tr>
                    <tr>
                        <td>Second: Days, Working Hours:
                        </td>
                        <td>ثانياً:- ايام ، وساعات العمل
                        </td>
                    </tr>
                    <tr>
                        <td>A. The Parties agree that the Second Party shall act in the First Party’s interest under
                            it’s administration &
                            supervision of the unction
                            any other function, they should carry out
                            (………)work as per their practical & technical knowledge and capabilities. With the controls
                            laid down in articles (58,
                            59, 60) of the Labor law
                        </td>
                        <td>أ. تحدد ايام العمل بسته ايام في الاسبوع ،وتحدد ساعات العمل بثمان ساعات يومياً او ثمانية
                            واربعون ساعة عمل اسبوعياً ويلزم
                            الطرف الاول بان يدفع للطرف الثاني اجراً إضافياً عن ساعات العمل الإضافية يوازي اجر الساعة ‘
                            مضاف إليه (50%) من أجره
                            الاساسي</td>
                    </tr>
                    <tr>
                        <td>B. The second party is entitled to get monthly the below:

                            • Basic Salary: (…. ) SR
                            • Transportation Allowance: (…… )SR
                            • Housing Allowance: (……. ) SR
                            • Medical insurance: Provided
                            • Ticket :based on company policy
                        </td>
                        <td>ب. يدفع الطرف الاول للطرف الثاني اجراً يستحق في نهاية كل شهر ميلادي كما يلتزم الطرف الاول
                            للطرف الثاني بالاتي :

                            • أجراَ اساسياَ قدره ( …. ) ريال
                            • . بدل المواصلات وقدره (….. (ريال
                            • بدل السكن وقدره ( …… ) ريال
                            • 5.التأمين الطبي : متوفر
                            • 6-تذاكر السفر حسب سياسة الشركة

                        </td>
                    </tr>
                </tbody>

            </table>
        </section>
        {{!-- <footer>{{{loadPage 'doctor_signature_footer.hbs' header}}}</footer> --}}

    </div>
</body>