{{{importStyle 'css/algaehReportStyles.css'}}}
<style type="text/css">
    .reportHeaderCntr {
        width: 94%;
        border-collapse: collapse;
        padding: 0; margin: 0;
        
    }

.reportHeaderInnerCntr {
        width: 100%;
        border-collapse: collapse;
        margin: 0 18px;
        text-align: left;
        font-family: Arial, sans-serif;
        font-weight: normal;
    }
    .reportHeaderInnerCntr td {
        border:none;
        padding: 0 5px;
        margin: 0;
        font-size: 8px;
    }
    .reportHeaderInnerCntr td p{
        line-height: 5px;

    }
     .reportHeaderInnerCntr td b{
        width: 90px;
        display: inline-block;

    }

    .reportHeaderAnalyte {
        width: 100%;
        border-collapse: collapse;
        margin: 5px 18px 2px;
        text-align: left;
        font-family: Arial, sans-serif;
        font-weight: normal;
    }
    .reportHeaderAnalyte td {
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        padding: 3px 5px;
        font-size: 8px;
    }

</style>

<body>

    <table class="reportHeaderCntr" cellspacing="0" cellpadding="0">
      

        <tr>
            <td>
                <table class="reportHeaderInnerCntr">
                    <tr style="vertical-align: top">
                        <td style="vertical-align: top" style="height: 60px;">
                            <p><b>Patient Code</b>: BH001LP0000000686039</p>
                            <p><b>Patient Name & Age</b>: BHARATH RAMANATHA SETURAMAN (44Y/M)</p>
                            <p><b>Refer By</b>: self</p>   <p><b>Test Requested</b>: VITB,Winter offer</p> <p><b>MR/CPR/Passport</b>: 750124997</p>
                        </td>
                        <td width="30%" style="vertical-align: top">
                            <p><b>Sample Collected:</b></p>
                            <p>DR ABDULLA KAMAL CLINIC - PO BOX
                            <p>5401 MANAMA,BUILDING 223, ROAD
                            <p>330, BLOCK 307
                        </td>
                    </tr>
                  
                  
                </table>
            </td>
        </tr>
         <tr>
            <td>
                <table class="reportHeaderAnalyte">
                   <tr style="background-color: lightgray;">
        <td width="40%" class="txtFld">Analyte</td>
        <td width="20%" class="numberFld">Result</td>
        <td width="20%" class="numberFld">Unit</td>
        <td width="20%" class="numberFld">Normal Range</td></tr>
    </tr>
                </table>
            </td>
        </tr>


    </table>
    

</body>