{{{importStyle 'css/patientIDCard.css'}}}

<body>
    <div class="print-body">
      <div class="idCardWrapper">
<div class="idCardLogo">
    <img src="{{imageSource 'images/clientLogo.png'}}" />
</div>
<div class="idCardContent">
    <div class="contentSection">
        <p><b>Aboobacker Sidhiqe</b></p>
        <p>MRN No: <b>PAT-A-0000731</b></p>
        <p>Member Since: <b>21th Aug 2016</b></p>
        <p>DOB: <b>6th May 1988</b></p>
        <div class="barCodeImg"><img src="{{imageSource 'images/barcode-sample.png'}}" /></div>
    </div>
    <div class="imageSection"> <img src="{{imageSource 'images/userIdImg.png'}}" /></div>
  
</div>
      </div>
    </div>
</body>
