<style type="text/css">
  .headerFooterStyle1 { width: 100%; float: left; text-align: center;
  border-top: 0.5rem dotted #ccc; font-size: 8px; margin-top: 5px; }
</style>

<body>
  <div class="headerFooterStyle1">

    {{!-- <p><b>{{organization_name}}</b></p> --}}
    <p style="direction: rtl; text-align:center">4620 طريق الملك عبدالله - حي
      الحمراء - هاتف: 920026272 - ايميل:info@otl.sa- الرياض 13217 - المملكة
      العربية السعودية
    </p>
    <p>4620 King Abdullah Road - AlHamra District - Tel:920026272 -
      Mail:Info@otl.sa - Riyadh 13217 - Kingdom of Saudi Arabia</p>

  </div>
</body>