<head>
    <link rel="stylesheets" href="css/report-style.css" />
</head>
<div class="hospitalLogo"><img src="report_assets/hospital_logo_reports.webp" /></div>
<div class="otherInfo">
    <p>Date:{{currentDateTime ''}}</p>
</div>
<div class="hospitalAddress">
    <h4>{{{report_name_for_header}}}</h4>
    <p>{{hospital_address}}</p>
</div>