<head>
    <link rel="stylesheets" href="css/report-style.css" />
</head>
<div class="hospitalLogo"><img src="report_assets/hospital_logo_reports.webp" /></div>
<div class="otherInfo">
    <p>Date:{{currentDateTime ''}}</p>
</div>
<div class="hospitalAddress">
    <h4>Report name</h4>
    <p>Hospital name</p>
</div>