<style type="text/css">
.reportHeaderCntr {
width: 100%;
border-collapse: collapse;
margin: 0 18px 18px;
font-family: Arial, sans-serif;
font-weight: normal;
overflow: hidden;
}

.reportHeaderCntr .col-left {
float: left;
width: 30%;
text-align: left;
font-size: 8px;
}


.reportHeaderCntr .col-center {
width: 40%;
text-align: center;
float: none;
margin: 0 auto 0;
font-size: 15px;
}
.reportHeaderCntr .col-center h5 {
margin:10px auto 0;
font-size: 13px;
}

.reportHeaderCntr .col-right {
float: right;
width: 30%;
text-align: right;
font-size: 10px;
}

.hospitalLogo img {
margin: 0;
padding: 0;
border: none;
height: 65px;
width: auto;
text-align: center;
}


.reportHeaderCntr p {
margin: 2px 0;
padding: 0;
line-height: 10px;
}

.showFilterValue {
width: 100%;
}

.showFilterValue span {

font-weight: bold;
display: inline-block;
padding: 3px 5px;
border-left: 1px solid #ccc;
text-align: left;
}

.showFilterValue span:first-child {
border-left: none;
}

.showFilterValue small {
display: block;
color: #ccc;
}

.headerFooterStyle {
width: 100%;
height: 10px;
float: left;
text-align: center;
border-top: 0.5rem dotted #ccc;
margin-top: 5px;
}
.tableNoBorder{
width: 100%;
border-collapse: collapse;
}
.tableNoBorder tbody {
margin: 0;
padding: 0;
}
.tableNoBorder td {
border: none;
padding:1px;
margin: 0;
font-family: Arial, sans-serif;
font-weight: normal;
}

</style>

<body>

    <div class="reportHeaderCntr">
       <div class="col-left">
            <p>Phone 1: <b>17256704</b></p>
            <p>Phone 2: <b>17241412</b></p>
            <p>Fax: <b>17270953</b></p>
            <p>P.O. Box: <b>5401</b></p>
            <p>NHRA: <b>30703118</b></p>
            <p>CR: <b>108702</b></p>
            <p>Kingdom of Bahrain</p>
        </div>
        <div class="col-right" >
            {{!-- <p><b>۱۷۲٥٦۷۰٤</b><span>:۱ هاتف</span></p>
            <p><b>۱۷۲٤۱٤۱۲</b><span>:۲ هاتف</span></p>
            <p><b>۱۷۲۷۰۹٥۳</b><span>:فاكس</span></p>
            <p><b>٥٤۰۱</b><span>:ص.ب</span></p>
            <p>مملكة البحرين</p> --}}
            



            <table style="text-align: right; float:right;">
                <tr>
                    <td><b>۱۷۲٥٦۷۰٤</b></td>
                    <td>:۱ هاتف</td>
                </tr>
                 <tr>
                    <td><b>۱۷۲٤۱٤۱۲</b></td>
                    <td>:۲ هاتف</td>
                </tr>
                 <tr>
                    <td><b>۱۷۲۷۰۹٥۳</b></td>
                    <td>:فاكس</td>
                </tr>
                 <tr>
                    <td><b>٥٤۰۱</b></td>
                    <td>:ص.ب</td>
                </tr>
                 <tr>
                    <td colspan="2"><b>مملكة البحرين</b></td>
                </tr>
            </table>
        </div>

        <div class="col-center">
            <p class="hospitalLogo">
                <img src="{{logoUrl 'ORG' identity }}"/></p>
            <h5>{{{report_name_for_header}}}</h5>
        </div>
        <div class="headerFooterStyle"></div>
    </div>


</body>