.hptl-phase1-op-billing-form {
  background: #fff;
  border-radius: 5px; }

.hptl-phase1-op-add-billing-form label {
  font-weight: 400;
  font-size: 11px; }

.hptl-phase1-op-add-billing-form mark {
  background: none;
  color: red; }

.hptl-phase1-op-add-billing-form .form-details {
  padding: 5px;
  padding-bottom: 0px; }

.hptl-phase1-op-add-billing-form .header-details {
  margin-top: 0.5%;
  margin-bottom: 0.5%; }

.hptl-phase1-op-add-billing-form .go-button {
  cursor: pointer;
  margin-bottom: -10px; }

.hptl-phase1-op-add-billing-form th,
.hptl-phase1-op-add-billing-form td {
  font-size: 11px;
  border-right: 1px solid #e6e6e6; }
