.hptl-phase1-op-billing-form {
  background: #fff;
  border-radius: 5px;
}

.hptl-phase1-op-add-billing-form {
  .primary-details {
    .primary-box-container {
      padding-top: 12.5px;
      padding-left: 10px;
    }
  }

  .patientRespo {
    background: #f8f8f8;
  }

  .form-details {
    padding: 5px;
    padding-bottom: 10px;
  }

  .header-details {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }

  .go-button {
    cursor: pointer;
    margin-bottom: -15px;
    margin-top: -10px;
  }

  .Paper {
    background: #fff;
    border: 1px solid #d3d3d3;
  }

  th,
  td {
    border-right: 1px solid #e6e6e6;
  }
}

.insurance-amt-details {
  padding-bottom: 5px;
}
#Bill_details {
  input[type="text"] {
    width: 10%;
  }
  input[type="text"]:disabled {
    border: none;
    background: none;
    color: #000;
    :after {
      border: none;
    }
  }
}
.highlightGrey {
  background: #e4e4e4;
  border: 1px solid #d3d3d3;
}
.packageAvail {
  display: block;
  font-size: 0.7rem;
  font-weight: bold;
}
