.hptl-phase1-op-billing-form {
  background: #fff;
  border-radius: 5px; }

.hptl-phase1-op-add-billing-form .primary-details {
  padding: 5px;
  border-right: 1px solid #000; }
  @media only screen and (max-width: 904px) {
    .hptl-phase1-op-add-billing-form .primary-details {
      padding: 5px; } }
  .hptl-phase1-op-add-billing-form .primary-details .primary-box-container {
    padding: 5px; }

.hptl-phase1-op-add-billing-form .secondary-details {
  padding: 5px; }
  .hptl-phase1-op-add-billing-form .secondary-details .secondary-box-container {
    padding: 5px; }

.hptl-phase1-op-add-billing-form label {
  font-weight: 400;
  font-size: 11px; }

.hptl-phase1-op-add-billing-form mark {
  background: none;
  color: red; }

.hptl-phase1-op-add-billing-form .form-details {
  padding: 5px;
  padding-bottom: 0px; }

.hptl-phase1-op-add-billing-form .header-details {
  margin-top: 0.5%;
  margin-bottom: 0.5%; }

.hptl-phase1-op-add-billing-form .go-button {
  cursor: pointer;
  margin-bottom: -15px;
  margin-top: -10px; }

.hptl-phase1-op-add-billing-form th,
.hptl-phase1-op-add-billing-form td {
  font-size: 11px;
  border-right: 1px solid #e6e6e6; }

.insurance-amt-details {
  padding: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #5f5f5f; }
