#labAnalyteGrid_Cntr {
  .ReactTable {
    max-height: 68vh !important;
  }
}
.analyteTxtUL {
  margin: 0 0 0 20px;
  padding: 0;
  text-align: left;
  li {
    margin: 0;
    padding: 0;
    list-style-type: disc;
  }
}
