.hptl-phase1-op-display-billing-form {
  background: #fff;
  border-radius: 5px;

  mark {
    background: none;
    color: red;
  }
  .form-details {
    padding-bottom: 0px;
    margin-top: 7px;
  }

  .insurance-details {
    padding: 20px;
    padding-bottom: 5px;
  }
  .button {
    padding: 5px;
  }
}
