.hptl-phase1-op-display-billing-form {
  background: #fff;
  border-radius: 5px; }
  .hptl-phase1-op-display-billing-form mark {
    background: none;
    color: red; }
  .hptl-phase1-op-display-billing-form .form-details {
    padding-bottom: 0px;
    margin-top: 7px; }
  .hptl-phase1-op-display-billing-form .Paper {
    border: 1px solid #5f5f5f; }
  .hptl-phase1-op-display-billing-form .insurance-details {
    padding: 20px;
    padding-bottom: 5px; }
  .hptl-phase1-op-display-billing-form .button {
    padding: 5px; }
