@import "../src/styles/algaehCssVariables.scss";

#customerDetailGrid_Cntr,
#supplierDetailGrid_Cntr {
  .newStickyGrid {
    .table-scroll {
      min-height: 55vh;
      max-height: 55vh;
      overflow: auto;
    }
  }
}
#customerGrid_Cntr,
#supplierGrid_Cntr {
  .newStickyGrid {
    .table-scroll {
      min-height: 55vh;
      max-height: 55vh;
      overflow: auto;
    }
  }
}

#quickSearchGrid {
  .newStickyGrid {
    .table-scroll {
      min-height: 55vh;
      max-height: 55vh;
      overflow: auto;
    }
  }
}
.ant-modal-confirm {
  text-align: center;
  .ant-modal-body {
    padding: 0 !important;
    margin: 0;
    .ant-modal-confirm-body {
      margin: 0;
      padding: 15px;
      .ant-modal-confirm-content {
        margin: 15px 0 0;
        padding: 0;
      }
    }
    .ant-modal-confirm-btns {
      width: 100%;
      border-top: 1px solid #e8e8e8;
      text-align: right;
      padding: 5px 10px;
      margin: 5px 0 0 0;
    }
  }
}
