.hptl-phase1-fd-billing-form {
  padding-top: 10px;

  // .primary-details {
  //   padding: 10px;

  //   .primary-box-container {
  //     padding-top: 6px;
  //     padding-left: 10px;
  //   }

  //   .last-box-container {
  //     padding: 5px;
  //     // border-top: 1px solid #000;
  //   }

  //   .last-box-label {
  //     padding: 15px;
  //     font-weight: 600;
  //
  //   }
  // }

  // .Paper-secondary {
  //   border: 1px solid #d3d3d3;
  // }

  // .boderlabel {
  //   border-bottom: 1px dashed #000;
  // }

  // .radio-design {
  //   position: absolute;
  //   top: 5px;
  //   left: 36px;
  // }
  // .refactor-design {
  //   min-height: 28px;
  //   background-color: #fbfbfb;
  //   border: 0px;
  // }

  // .modal-container {
  //   position: relative;
  // }
  // .modal-container .modal,
  // .modal-container .modal-backdrop {
  //   position: absolute;
  // }

  // .header-details {
  //   padding: 5px;
  //   padding-bottom: 0px;
  //   border-radius: 5px;
  //   border: 1px solid #d3d3d3;
  // }

  // .secondary-details {
  //   padding: 10px;
  //   .secondary-box-container {
  //     padding: 8px;
  //   }
  // }
  .Paper {
    background: #fff;
    background: #ffff;
    border: 1px solid #d3d3d3;
    border: 1px solid rgb(172, 170, 170);
    padding: 0.8rem;
    border-radius: 4px;
  }
}
.billStatusMsg {
  text-align: center;
  font-size: 1rem;
}
