@import "../../../../styles/algaehCssVariables.scss";

#DNGrid {
  .ReactTable {
    max-height: 32vh !important;
  }
}

.reqTransList {
  min-height: 49vh !important;
  max-height: 49vh !important;
  li {
    margin: 0;
    padding: 8px 0 0 !important;
    border-bottom: 1px solid #d6d6d6;
    list-style: none;
    .itemReq {
      width: 100% !important;
      padding: 0 8px;
      h6 {
        font-size: 1.1rem !important;
      }
      .progressCntr {
        // height: 12px; /* Can be anything */
        position: relative;
        background: #f7f7f7;
        border: 1px solid #d6d6d6;
        border-radius: 8px;
        padding: 1px;

        p {
          display: block;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          background-color: #00a796;
          position: relative;
          overflow: hidden;
          height: 11px;
          font-size: 9px;
          text-align: center;
          color: #fff;
          font-weight: bold;
        }
      }
      .progressLegend {
        small {
          display: inline-block;
          font-size: 10px;
          &:first-child {
            text-align: left !important;
            float: left !important;
            span {
              text-align: left !important;
              width: 50%;
            }
          }
          &:last-child {
            text-align: right !important;
            float: right !important;
            span {
              text-align: right !important;
              width: 50%;
            }
          }
        }
      }
    }
    .itemAction {
      width: 100% !important;
      float: none !important;
      .btn-edit-list {
        display: block;
        border-radius: 0;
        width: 100%;
        padding: 3px 0;
        min-height: 25px;
        border-top: 1px solid #d6d6d6;
        &:hover {
          background-color: #00a796;
          color: #fff;
        }
      }
    }
  }
}

.deliveryNoteAttachmentDragger {
  .upload-drag-icon i {
    font-size: 16px;
  }
  .ant-upload-btn {
    float: left !important;
    height: 40px !important;
    width: 120px !important;
    padding: 0 !important;
    border-color: 1px solid #ccc;
    border-right: none;
    p.ant-upload-text {
      margin: 0 !important;
    }
    &:hover {
      background-color: #ccc;
    }
  }
  .ant-upload-list {
    position: absolute;
    top: 0;
    left: 134px;
    width: calc(100% - 149px);
    border: 1px solid #ccc;
    height: 42px !important;
    min-height: 42px !important;
    /* max-height: 37px; */
    overflow: auto;
    z-index: 9;
  }
}
.deliveryNoteAttachmentList {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid lighten($color-black, 70%) !important;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 106px;
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid lighten($color-black, 70%) !important;
    b {
      float: left;
      width: calc(100% - 110px);
      padding: 3px 5px;
      line-height: 28px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    span {
      display: inline-block;
      width: 110px;
      text-align: right;
      i {
        padding: 10px;
        border-left: 1px dashed lighten($color-black, 70%) !important;
        &:hover {
          background-color: $primary-color;
          color: $color-white;
          cursor: pointer;
        }
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .noAttachment {
    min-height: 104px;
    max-height: 104px;
    text-align: center;
    p {
      line-height: 104px;
      padding: 0 10px;
    }
  }
}
