.EmployeeDocumentsScreen .documentFor {
  min-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden; }
  .EmployeeDocumentsScreen .documentFor .list-group-item {
    text-align: left;
    cursor: pointer; }
  .EmployeeDocumentsScreen .documentFor .list-group-item.active {
    background-color: #34b8bc;
    border-color: #34b8bc; }
    .EmployeeDocumentsScreen .documentFor .list-group-item.active .badge-primary {
      background-color: #fff;
      color: #34b8bc; }
  .EmployeeDocumentsScreen .documentFor .badge-primary {
    background-color: #34b8bc; }
  .EmployeeDocumentsScreen .documentFor span {
    display: block; }

.EmployeeDocumentsScreen .upload-drop-zone {
  cursor: grab;
  height: 150px;
  border-width: 2px;
  margin-bottom: 20px;
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 1em;
  text-align: center;
  padding: 0 10px 10px;
  padding-top: 3em; }
  .EmployeeDocumentsScreen .upload-drop-zone b {
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
    display: inline-block; }
  .EmployeeDocumentsScreen .upload-drop-zone:hover {
    border-color: #34b8bc;
    background: #cbf0f1; }

.EmployeeDocumentsScreen #EmployeeDocumentGrid .ReactTable {
  max-height: 50vh !important; }
