.hptl-phase1-invoice-generation-form {
  background: #ffff;
  border-radius: 5px;
  margin-bottom: 55px;
  .form-details {
    padding: 5px;
    padding-bottom: 5px;
  }
  mark {
    background: none;
    color: red;
  }

  .form-group {
    margin-bottom: 0;
    margin-top: 4px;
    padding: 0;
    padding-top: 20px;
    cursor: pointer;
  }

  .go-button {
    cursor: pointer;
    margin-bottom: -15px;
    margin-top: -10px;
  }
  #doctorOrder {
    .ReactTable {
      height: 10vh !important;
    }
  }
  #InvoiceGen {
    .ReactTable {
      max-width: 98vw !important;
      height: 30vh !important;
      margin-bottom: 20px;
    }
  }
  .insurance-sec {
    border: 1px solid #cdd4d8;
    margin-bottom: 15px;
    border-radius: 0 0 0 5px;
    h5 {
      border-bottom: 1px dashed #cdd4d8;
      font-size: 0.9rem;
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding: 10px 15px;
      padding-right: 15px;
    }
  }
  .amount-sec {
    .col-4 {
      margin-bottom: 15px;
    }
  }
}
