.loan_request {
  h5 {
    margin: 0 0 10px;
    padding-bottom: 2px;
    border-bottom: 1px dashed #d3d3d3;
    span {
      border-bottom: 2px solid #8c8c8c;

      text-transform: uppercase;
      line-height: 0;
    }
  }
  #LoanRequestList_cntr {
    .ReactTable {
      max-height: 100% !important;
    }
  }
  #AdvanceRequestGrid_Cntr {
    .ReactTable {
      max-height: 100% !important;
    }
  }
}
