#rcmDesktopGrid {
  .ReactTable {
    max-width: 96vw !important;
    max-height: 59vh !important;
  }
  @media screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
    .ReactTable {
      max-width: 94vw !important;
    }
  }
}
.InsuranceStatementGrid {
  min-height: 50vh !important;
  max-height: 50vh !important;
}
