.FinalSettlementScreen {
  .algaehLabelFormGroup {
    margin-bottom: 0;
  }
  .textArea {
    background: #fff !important;
    height: 10vh;
    margin-top: 0;
    margin-bottom: 0;
  }
  #Salary_Earning_Cntr,
  #Employee_Deductions_Cntr {
    .ReactTable {
      max-height: 33vh !important;
    }
  }

  #Employee_Loan_Cntr {
    .ReactTable {
      max-height: 42vh !important;
    }
  }
}
