.FinalSettlementScreen .algaehLabelFormGroup {
  margin-bottom: 0; }

.FinalSettlementScreen .textArea {
  background: #fff !important;
  height: 10vh;
  margin-top: 0;
  margin-bottom: 0; }

.FinalSettlementScreen #Salary_Earning_Cntr .ReactTable,
.FinalSettlementScreen #Employee_Deductions_Cntr .ReactTable {
  max-height: 40vh !important; }

.FinalSettlementScreen #Employee_Loan_Cntr .ReactTable {
  max-height: 33vh !important; }
