.assetsModuleScreen {
  .ui.styled.accordion {
    width: 100vw;
  }
}
.innerContentDiv {
  float: right;
  margin-top: -55px;
  span {
    margin-left: 10px;
    float: right;
    text-align: right;
    line-height: 17px;
    font-size: 1.3rem;
    small {
      display: block;
      font-size: 0.9rem;
    }
  }
}

.treeNodeWrapper {
  height: 74vh;
  width: 100vw;
}
.rst__rowContentsDragDisabled{
  border-radius: 5px!important;
}
.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  ul.NodeActionButton{
    margin: 0;
    padding: 0 0 0 15px;
    li {
      list-style: none;
      padding: 1px 5px;
      border-radius: 6px;
      text-align: center;
      width: 52px;
      font-size: 10px;
      text-transform: uppercase;
      &:hover{
        cursor: pointer;
      }
    }
    li.NodeDeleteButton{
      color: red;
      border: 1px solid red;
      &:hover{
        cursor: pointer;
        background: red;
        color: white;
      }
    }
    li.NodeAddButton{
      color: green;
      border: 1px solid green; &:hover{
      cursor: pointer;
      background: green;
      color: white;
    }
    }
  }
}
