.assetsModuleScreen {
  .ui.styled.accordion {
    width: 100vw;
  }
}
.innerContentDiv {
  float: right;
  margin-top: -55px;
  span {
    margin-left: 10px;
    float: right;
    text-align: right;
    line-height: 17px;
    font-size: 1.3rem;
    small {
      display: block;
      font-size: 0.9rem;
    }
  }
}

.treeNodeWrapper {
  height: 74vh;
  width: 100vw;
}
.rst__rowContentsDragDisabled{
  border-radius: 5px!important;
}
.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  ul{
    li {
      list-style: none;
      border:1px solid grey;
    }
  }
}
