.assetsModuleScreen {
  .ui.styled.accordion {
    width: 100vw;
  }
}
.innerContentDiv {
  float: right;
  margin-top: -55px;
  span {
    margin-left: 10px;
    float: right;
    text-align: right;
    line-height: 17px;
    font-size: 1.3rem;
    small {
      display: block;
      font-size: 0.9rem;
    }
  }
}

.treeNodeWrapper {
  height: 74vh;
  width: 100vw;
}

.rst__rowTitleWithSubtitle {
  text-transform: uppercase !important;
  margin-bottom: 5px !important;
  font-size: 0.8rem !important;
  font-weight: normal !important;
}
.rst__rowSubtitle {
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

.rst__rowContentsDragDisabled {
  border-radius: 5px !important;
}
.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  ul.NodeActionButton {
    margin: 0 -6px 0 0;
    padding: 0;
    border-left: 1px solid #d9d9d9;
    height: 50px;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    li {
      list-style: none;
      padding: 1px 5px;
      text-align: center;
      width: 50px;
      line-height: 22px;
      height: 25px;
      font-size: 10px;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
      }
    }
    li.NodeDeleteButton {
      &:hover {
        cursor: pointer;
        background: red;
        color: white;
      }
    }
    li.NodeAddButton {
      border-bottom: 1px solid #dddddd;
      &:hover {
        cursor: pointer;
        background: green;
        color: white;
      }
    }
  }
}
