.notificationList {
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.notifyDrawer {
  .ant-drawer-body {
    .ant-tabs-nav {
      margin-top: 10px !important;
      margin-bottom: 0 !important;
      .ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          color: white !important;
          width: 100%;
        }
      }
      .ant-tabs-tab {
        margin: 0 !important;
        // width: 125px;
        text-align: center;
      }
    }
    padding: 0;
    .ant-tabs-content-holder {
      margin-bottom: 10px;
      padding: 0 !important;
      .ant-list-bordered {
        border: none !important;
        .ant-list-items {
          min-height: 71vh;
          max-height: 71vh;
          overflow-y: auto;
          overflow-x: hidden;

          .ant-list-item {
            .ant-list-item-meta-description {
              color: black;
            }
            &:nth-child(odd) {
              background-color: #f5f5f5;
            }
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
      .ant-list-pagination {
        background-color: whitesmoke;
        margin: 0;
        padding: 5px 10px;
      }
    }
    .ant-switch {
      margin-right: 4px;
    }
  }
  .ant-empty {
    min-height: 81vh;
  }
}

.notifySlide {
  border: 2px solid #007468;
  background: #f2fffe;
  z-index: 99;
  top: 32px !important;
  padding: 10px !important;
  .ant-notification-notice-message,
  .ant-notification-notice-description {
    margin-left: 37px;
  }
  .ant-notification-notice-close {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.45);
    outline: none;
    border: 1px solid #017367;
    border-width: 0 0 1px 1px;
    padding: 4px 6px;
    border-radius: 0 5px;
    font-weight: bold;
    svg {
      fill: #000;
    }
    &:hover {
      border: 1px solid red;
      padding: 4px 6px;
      border-radius: 0 5px;
      svg {
        fill: red;
      }
    }
  }
}
