.incomeModuleScreen {
  .ui.styled.accordion {
    width: 100vw;
  }
  .actions {
    .ant-calendar-picker {
      width: 60% !important;
    }
  }
}

.treeNodeWrapper {
  height: 74vh;
  width: 100vw;
}
