.lab_section {
  font-weight: normal;
}

.imp {
  color: #ff063e;
}

.txt-fld {
  background-color: #fbfbfb;
  width: 100%;
}

.select-fld {
  padding-left: 8px;
  background-color: #fbfbfb;
  width: 100%;
}

.table-details {
  text-align: center;
}

.table-hover tbody tr:hover {
  td,
  th {
    background-color: #fcffde;
  }
}

.form-details {
  margin-top: 20px;
  margin-left: "auto";
  margin-right: "auto";
}

th,
td {
  border-right: 1px solid #ffffff;
}

.go-button {
  cursor: pointer;
  margin-top: 15px;
}

.analyte_grid_cntr {
  .ReactTable {
    max-height: 30vh !important;
  }
}