.CanvasEditorCntr {
  width: 100%;
  margin-top: 20px; }
  .CanvasEditorCntr .tui-image-editor-container {
    width: 81.5vw !important;
    height: 75vh !important; }
  .CanvasEditorCntr .tui-image-editor-container.left .tui-image-editor-main-container {
    left: 91px !important;
    width: calc(100% - 91px) !important;
    height: 100%; }
  .CanvasEditorCntr .tui-image-editor-container .tui-image-editor-main {
    top: 7px !important; }
  .CanvasEditorCntr .tui-image-editor-container .tui-image-editor-menu {
    width: 90px !important;
    display: inline-block !important; }
  .CanvasEditorCntr .tui-image-editor-container
.color-picker-control
.tui-colorpicker-palette-button {
    height: 24px !important;
    width: 24px !important; }
  .CanvasEditorCntr .tui-image-editor-container
.tui-image-editor-submenu
.tui-image-editor-submenu-style {
    left: 26px !important; }
  .CanvasEditorCntr .image-area-cntr {
    top: 25vh; }

.diagramManageCntr {
  margin-bottom: 20px;
  background: #fff;
  padding-top: 10px;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0; }

.DiagramRemarksCntr {
  width: 100%;
  float: left; }

.diagramList {
  padding: 10px 0;
  background: #fff;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  height: 47.5vh !important;
  overflow-y: auto;
  overflow-x: hidden; }
  .diagramList .eachDiagram {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    min-width: 185px;
    min-height: 140px; }
    .diagramList .eachDiagram img {
      width: 100%;
      height: auto;
      background: #ccc;
      border: 1px solid #ccc; }
    .diagramList .eachDiagram p {
      font-size: 0.9rem; }
      .diagramList .eachDiagram p small {
        display: block; }
    .diagramList .eachDiagram .diagramImgTool {
      margin-bottom: 10px; }
      .diagramList .eachDiagram .diagramImgTool i {
        padding: 5px;
        border: 1px solid #ccc; }
        .diagramList .eachDiagram .diagramImgTool i:hover {
          color: #12a28d;
          cursor: pointer; }
        .diagramList .eachDiagram .diagramImgTool i:first-child:hover {
          color: red; }
      .diagramList .eachDiagram .diagramImgTool input[type="checkbox"] {
        margin-left: 10px;
        margin-right: 5px; }
      .diagramList .eachDiagram .diagramImgTool input[type="checkbox"] + label {
        color: #3d3d3d; }
      .diagramList .eachDiagram .diagramImgTool input[type="checkbox"]:checked + label {
        color: #12a28d;
        font-style: bold; }

.saveWrapper {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9; }
  .saveWrapper .saveWindow {
    width: 50vw;
    -webkit-box-shadow: 10px 10px 10px #000;
    box-shadow: 10px 10px 10px #000;
    position: absolute;
    top: 200px;
    z-index: 99;
    background: #fff;
    left: 25%;
    border-radius: 3px; }
    .saveWrapper .saveWindow .saveHeader {
      border-bottom: 1px solid rgba(0, 0, 0, 0.16);
      padding-top: 12px;
      padding-bottom: 10px;
      margin-bottom: 10px; }
    .saveWrapper .saveWindow .textAreaRemarks {
      border: 1px solid rgba(0, 0, 0, 0.16);
      height: 100px; }
    .saveWrapper .saveWindow .saveFooter {
      border-top: 1px solid rgba(0, 0, 0, 0.16);
      padding-top: 5px;
      padding-bottom: 5px; }
      .saveWrapper .saveWindow .saveFooter button {
        float: right;
        margin-left: 10px; }

.canvasImgPreviewWindowWrapper {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  position: fixed;
  z-index: 9; }
  .canvasImgPreviewWindowWrapper .canvasImgPreviewWindow {
    width: 80vw;
    -webkit-box-shadow: 10px 10px 10px #000;
    box-shadow: 10px 10px 10px #000;
    position: absolute;
    top: 60px;
    z-index: 99;
    background: #fff;
    left: 10%;
    min-height: 60vh;
    border-radius: 3px;
    padding: 15px;
    text-align: center; }
    .canvasImgPreviewWindowWrapper .canvasImgPreviewWindow img {
      width: auto;
      max-width: 100%;
      height: 382px;
      border: 1px solid #c3c3c3;
      margin: 0;
      padding: 0; }
    .canvasImgPreviewWindowWrapper .canvasImgPreviewWindow i {
      float: right;
      width: 30px;
      height: 30px;
      background: #000;
      border: 1px solid red;
      border-bottom: 0;
      color: #fff;
      text-align: center;
      line-height: 29px;
      position: absolute;
      top: -30px;
      right: 0; }
      .canvasImgPreviewWindowWrapper .canvasImgPreviewWindow i:hover {
        color: red;
        cursor: pointer; }

.canvasImgCompareWindowWrapper {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  position: fixed;
  z-index: 9; }
  .canvasImgCompareWindowWrapper .canvasImgCompareWindow {
    width: 80vw;
    -webkit-box-shadow: 10px 10px 10px #000;
    box-shadow: 10px 10px 10px #000;
    position: absolute;
    top: 60px;
    z-index: 99;
    background: #fff;
    left: 10%;
    min-height: 60vh;
    border-radius: 3px;
    padding: 15px;
    text-align: center; }
    .canvasImgCompareWindowWrapper .canvasImgCompareWindow img {
      max-width: 100%;
      width: auto;
      height: 300px;
      border: 1px solid #c3c3c3;
      margin: 0;
      padding: 0;
      display: inline-block; }
    .canvasImgCompareWindowWrapper .canvasImgCompareWindow i {
      float: right;
      width: 30px;
      height: 30px;
      background: #000;
      border: 1px solid red;
      border-bottom: 0;
      color: #fff;
      text-align: center;
      line-height: 29px;
      position: absolute;
      top: -30px;
      right: 0; }
      .canvasImgCompareWindowWrapper .canvasImgCompareWindow i:hover {
        color: red;
        cursor: pointer; }

.diagramDropdown {
  height: 51px; }
  .diagramDropdown .image-drop-area {
    width: 50px;
    height: 50px;
    float: left;
    min-height: 50px; }
  .diagramDropdown img {
    width: 50px;
    height: 50px;
    float: left; }
  .diagramDropdown span {
    display: block;
    font-size: 0.8rem;
    margin-left: 56px; }
  .diagramDropdown span:first-child {
    font-size: 1rem;
    font-weight: bold; }
