@import "../../styles/algaehCssVariables.scss";

.clinicalDeskScreen {
  .cldrPatientList {
    background: $color-white;
    min-height: calc(100vh - 52px);
    box-shadow: 0 0 5px lighten($color-black, 80%);
    position: relative;
    z-index: 1;
    width: 250px;
    margin-right: 15px;
    .cldrSection {
      background: lighten($color-black, 80%);
      height: 200px;
    }

    .newPatientSec {
      .appPatientList {
        .appPatientListCntr {
          margin: 0;
          padding: 0;
          list-style: none;
          max-height: 60vh;
          overflow-y: auto;
          overflow-x: hidden;
          .appSection {
            border-top: 1px solid lighten($color-black, 80%);
            border-bottom: 1px solid lighten($color-black, 80%);
            /* display: block; */
            float: left;
            margin-bottom: 2px;
            .appIconSec {
              float: left;
              height: 75px;
              width: 75px;
              text-align: center;
              border-right: 1px solid lighten($color-black, 80%);
              i {
                display: block;
                font-size: 1.5em;
                margin-top: 14px;
                margin-bottom: 5px;
              }
            }
            .patName {
              float: left;
              height: 75px;
              width: 159px;
              padding-left: 5px;
              padding-top: 5px;
            }
            .patVisit {
              float: left;
              height: 20px;
              width: 75px;
              border-right: 1px solid lighten($color-black, 80%);
              border-top: 1px dotted lighten($color-black, 80%);
              text-align: center;
              font-size: 0.85em;
            }
            .patStatus {
              border-top: 1px dotted lighten($color-black, 80%);
              float: left;
              height: 20px;
              width: 159px;
              padding-left: 5px;
              font-size: 0.85em;
              &.inProgress {
                font-weight: bold;
              }
              &.nursingDone {
                background: $primary-color;
                color: $color-white;
              }
              &.nursingGoing {
                background: rgb(255, 255, 181);
              }
              &.checkedIn {
                background: #a0c6ff;
              }
              &.notShown {
                background: lighten($color-black, 70%);
              }
            }
            &:nth-child(odd) {
              background: lighten($color-black, 95%);
            }
            &.active {
              background: $primary-color;
              color: $color-white;
              &:hover {
                background: darken($primary-color, 10%);
                color: $color-white;
                cursor: pointer;
              }
            }
            &:hover {
              background: lighten($primary-color, 40%);
              cursor: pointer;
            }
          }
        }
      }
    }
    .completedPatientSec {
      background: lighten($color-black, 60%);
      height: 30vh;
    }
  }
  .patientDetailSection {
    max-width: calc(100vw - 280px);
  }
  .patientMainInfo {
    box-shadow: 0 0 5px lighten($color-black, 80%);
    min-height: 88px;
    padding-right: 0;
    margin-left: 15px;
    border-radius: 0 0 0 5px;
    overflow: hidden;

    .EmployeeProfile {
      .EmployeeInfo-Top {
        background: $color-white;
        width: calc(100vw - 260px);
        height: 88px;
        padding: 5px 0 0;
        position: fixed;
        z-index: 999;
        border-radius: 0 0 0 5px;
        overflow: hidden;

        div {
          float: left;
          color: #858585;
          overflow: hidden;
        }

        .backBtn {
          border-right: 1px solid #e1e1e1;
          padding-right: 10px;
          padding-left: 10px;
          button {
            height: 60px;
            border: 1px solid #e1e1e1;
          }
          i {
            display: block;
            margin-bottom: 5px;
          }
        }

        .EmployeeImg {
          margin: 1px 10px;

          .image-drop-area {
            min-height: 72px;
            max-height: 72px;
            img {
              height: 70px;
              width: auto;
            }
          }
        }
        .EmployeeName {
          max-width: 30%;
          margin-top: 2px;
          border-left: 1px solid #e1e1e1;
          border-right: 1px solid #e1e1e1;
          padding-left: 10px;
          padding-right: 10px;
          h6 {
            margin-bottom: 2px;
            color: #000;
            line-height: 1.6rem;
            min-height: 50px;
            font-size: 1.3em;
          }
          p {
            margin: 0;
            padding: 0;
            b {
              color: $primary-color;
              font-size: 0.9em;
              font-weight: 700;
            }
          }
        }
        .EmployeeDemographic {
          line-height: 1.3rem;
          border-right: 1px solid #e1e1e1;
          padding-left: 10px;
          padding-right: 10px;
          span {
            display: block;
            line-height: 1.7rem;
            font-size: 0.9em;
            font-weight: 700;
            i {
              text-align: center;
              width: 20px;
            }
            b {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
  .patientReportSection {
    box-shadow: 0 0 5px lighten($color-black, 80%);
    background: $color-white;
    margin: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    width: calc(100vw - 50px);
    min-height: calc(100vh - 170px);
    max-height: calc(100vh - 170px);
    overflow-y: auto;
    overflow-x: hidden;
    .patientSecHdg {
      font-size: 1em;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .patientVitalsSec {
      h6 {
        font-size: 1.1em;
        label {
          font-size: 0.7em;
          text-transform: uppercase;
          display: block;
        }
      }
    }
    .patientChiefSec {
      .chiefComplaintsTextArea {
        height: 150px;
        margin-top: 5px;
        width: 100%;
      }
    }
  }
  .clinicalAction {
    margin-top: 15px;
    width: 50px;
    height: calc(100vh - 170px);
    .rightActionSec {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0 0 5px;
        padding: 0;
        list-style: none;
        background: $color-white;
        width: 50px;
        height: 50px;
        border-radius: 5px 0 0 5px;
        position: relative;
        z-index: 6;
        cursor: pointer;

        i {
          text-align: center;
          display: block;
          /* padding: 18px; */
          font-size: 1.3em;
          line-height: 50px;
        }
        span {
          position: absolute;
          background: #6d6d6d;
          top: 17px;
          left: -100px;
          font-size: 0.8em;
          text-align: center;
          z-index: 5;
          /* word-break: break-all; */
          padding: 3px 9px;
          border-radius: 5px 0 0 5px;
          width: 100px;
          color: #fff;
          display: none;
        }
        &:hover {
          span {
            display: block;
          }
        }
      }
    }
  }
}
