.clinicalDeskScreen .cldrPatientList {
  background: #fff;
  min-height: calc(100vh - 52px);
  box-shadow: 0 0 5px #cccccc;
  position: relative;
  z-index: 1;
  width: 250px;
  margin-right: 15px; }
  .clinicalDeskScreen .cldrPatientList .cldrSection {
    background: #cccccc;
    height: 289px; }
    .clinicalDeskScreen .cldrPatientList .cldrSection .react-datepicker {
      width: 100%;
      border: none;
      border-radius: 0; }
      .clinicalDeskScreen .cldrPatientList .cldrSection .react-datepicker .react-datepicker__month-container {
        width: 100%; }
        .clinicalDeskScreen .cldrPatientList .cldrSection .react-datepicker .react-datepicker__month-container .react-datepicker__current-month,
        .clinicalDeskScreen .cldrPatientList .cldrSection .react-datepicker .react-datepicker__month-container .react-datepicker-time__header {
          display: none; }
        .clinicalDeskScreen .cldrPatientList .cldrSection .react-datepicker .react-datepicker__month-container .react-datepicker__header {
          border-radius: 0; }
        .clinicalDeskScreen .cldrPatientList .cldrSection .react-datepicker .react-datepicker__month-container .react-datepicker__day-name,
        .clinicalDeskScreen .cldrPatientList .cldrSection .react-datepicker .react-datepicker__month-container .react-datepicker__day,
        .clinicalDeskScreen .cldrPatientList .cldrSection .react-datepicker .react-datepicker__month-container .react-datepicker__time-name {
          margin: 0.1666rem 0.35rem; }
        .clinicalDeskScreen .cldrPatientList .cldrSection .react-datepicker .react-datepicker__month-container .react-datepicker__day--selected,
        .clinicalDeskScreen .cldrPatientList .cldrSection .react-datepicker .react-datepicker__month-container .react-datepicker__day--in-selecting-range,
        .clinicalDeskScreen .cldrPatientList .cldrSection .react-datepicker .react-datepicker__month-container .react-datepicker__day--in-range {
          background-color: #34b8bc; }
        .clinicalDeskScreen .cldrPatientList .cldrSection .react-datepicker .react-datepicker__month-container .react-datepicker__month-select,
        .clinicalDeskScreen .cldrPatientList .cldrSection .react-datepicker .react-datepicker__month-container .react-datepicker__year-select {
          -webkit-appearance: none;
          padding: 3px 6px;
          border: none; }
  .clinicalDeskScreen .cldrPatientList .viewAllApp {
    box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.07);
    padding-bottom: 15px; }
  .clinicalDeskScreen .cldrPatientList .newPatientSec .appPatientList .appPatientListCntr {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 407px); }
    .clinicalDeskScreen .cldrPatientList .newPatientSec .appPatientList .appPatientListCntr .appSection {
      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      /* display: block; */
      float: left;
      margin-bottom: 2px; }
      .clinicalDeskScreen .cldrPatientList .newPatientSec .appPatientList .appPatientListCntr .appSection .appIconSec {
        float: left;
        height: 75px;
        width: 75px;
        text-align: center;
        border-right: 1px solid #cccccc; }
        .clinicalDeskScreen .cldrPatientList .newPatientSec .appPatientList .appPatientListCntr .appSection .appIconSec i {
          display: block;
          font-size: 1.5em;
          margin-top: 14px;
          margin-bottom: 5px; }
      .clinicalDeskScreen .cldrPatientList .newPatientSec .appPatientList .appPatientListCntr .appSection .patName {
        float: left;
        height: 75px;
        width: 159px;
        padding-left: 5px;
        padding-top: 5px; }
      .clinicalDeskScreen .cldrPatientList .newPatientSec .appPatientList .appPatientListCntr .appSection .patVisit {
        float: left;
        height: 20px;
        width: 75px;
        border-right: 1px solid #cccccc;
        border-top: 1px dotted #cccccc;
        text-align: center;
        font-size: 0.85em; }
      .clinicalDeskScreen .cldrPatientList .newPatientSec .appPatientList .appPatientListCntr .appSection .patStatus {
        border-top: 1px dotted #cccccc;
        float: left;
        height: 20px;
        width: 159px;
        padding-left: 5px;
        font-size: 0.85em; }
        .clinicalDeskScreen .cldrPatientList .newPatientSec .appPatientList .appPatientListCntr .appSection .patStatus.inProgress {
          font-weight: bold; }
        .clinicalDeskScreen .cldrPatientList .newPatientSec .appPatientList .appPatientListCntr .appSection .patStatus.nursingDone {
          background: #34b8bc;
          color: #fff; }
        .clinicalDeskScreen .cldrPatientList .newPatientSec .appPatientList .appPatientListCntr .appSection .patStatus.nursingGoing {
          background: #ffffb5; }
        .clinicalDeskScreen .cldrPatientList .newPatientSec .appPatientList .appPatientListCntr .appSection .patStatus.checkedIn {
          background: #a0c6ff; }
        .clinicalDeskScreen .cldrPatientList .newPatientSec .appPatientList .appPatientListCntr .appSection .patStatus.notShown {
          background: #b3b3b3; }
      .clinicalDeskScreen .cldrPatientList .newPatientSec .appPatientList .appPatientListCntr .appSection:nth-child(odd) {
        background: #f2f2f2; }
      .clinicalDeskScreen .cldrPatientList .newPatientSec .appPatientList .appPatientListCntr .appSection.active {
        background: #34b8bc;
        color: #fff; }
        .clinicalDeskScreen .cldrPatientList .newPatientSec .appPatientList .appPatientListCntr .appSection.active:hover {
          background: #299194;
          color: #fff;
          cursor: pointer; }
      .clinicalDeskScreen .cldrPatientList .newPatientSec .appPatientList .appPatientListCntr .appSection:hover {
        background: #cbf0f1;
        cursor: pointer; }
  .clinicalDeskScreen .cldrPatientList .completedPatientSec {
    background: #999999;
    height: 30vh; }

.clinicalDeskScreen .patientDetailSection {
  max-width: calc(100vw - 280px); }

.clinicalDeskScreen .patientMainInfo {
  box-shadow: 0 0 5px #cccccc;
  min-height: 88px;
  padding-right: 0;
  margin-left: 15px;
  border-radius: 0 0 0 5px;
  overflow: hidden; }
  .clinicalDeskScreen .patientMainInfo .EmployeeProfile .EmployeeInfo-Top {
    background: #fff;
    width: calc(100vw - 260px);
    height: 88px;
    padding: 5px 0 0;
    position: fixed;
    z-index: 999;
    border-radius: 0 0 0 5px;
    overflow: hidden; }
    .clinicalDeskScreen .patientMainInfo .EmployeeProfile .EmployeeInfo-Top div {
      float: left;
      color: #858585;
      overflow: hidden; }
    .clinicalDeskScreen .patientMainInfo .EmployeeProfile .EmployeeInfo-Top .backBtn {
      border-right: 1px solid #e1e1e1;
      padding-right: 10px;
      padding-left: 10px; }
      .clinicalDeskScreen .patientMainInfo .EmployeeProfile .EmployeeInfo-Top .backBtn button {
        height: 60px;
        border: 1px solid #e1e1e1; }
      .clinicalDeskScreen .patientMainInfo .EmployeeProfile .EmployeeInfo-Top .backBtn i {
        display: block;
        margin-bottom: 5px; }
    .clinicalDeskScreen .patientMainInfo .EmployeeProfile .EmployeeInfo-Top .EmployeeImg {
      margin: 1px 10px; }
      .clinicalDeskScreen .patientMainInfo .EmployeeProfile .EmployeeInfo-Top .EmployeeImg .image-drop-area {
        min-height: 72px;
        max-height: 72px; }
        .clinicalDeskScreen .patientMainInfo .EmployeeProfile .EmployeeInfo-Top .EmployeeImg .image-drop-area img {
          height: 70px;
          width: auto; }
    .clinicalDeskScreen .patientMainInfo .EmployeeProfile .EmployeeInfo-Top .EmployeeName {
      max-width: 30%;
      margin-top: 2px;
      border-left: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1;
      padding-left: 10px;
      padding-right: 10px; }
      .clinicalDeskScreen .patientMainInfo .EmployeeProfile .EmployeeInfo-Top .EmployeeName h6 {
        margin-bottom: 2px;
        color: #000;
        line-height: 1.6rem;
        min-height: 50px;
        font-size: 1.3em; }
      .clinicalDeskScreen .patientMainInfo .EmployeeProfile .EmployeeInfo-Top .EmployeeName p {
        margin: 0;
        padding: 0; }
        .clinicalDeskScreen .patientMainInfo .EmployeeProfile .EmployeeInfo-Top .EmployeeName p b {
          color: #34b8bc;
          font-size: 0.9em;
          font-weight: 700; }
    .clinicalDeskScreen .patientMainInfo .EmployeeProfile .EmployeeInfo-Top .EmployeeDemographic {
      line-height: 1.3rem;
      border-right: 1px solid #e1e1e1;
      padding-left: 10px;
      padding-right: 10px; }
      .clinicalDeskScreen .patientMainInfo .EmployeeProfile .EmployeeInfo-Top .EmployeeDemographic span {
        display: block;
        line-height: 1.7rem;
        font-size: 0.9em;
        font-weight: 700; }
        .clinicalDeskScreen .patientMainInfo .EmployeeProfile .EmployeeInfo-Top .EmployeeDemographic span i {
          text-align: center;
          width: 20px; }
        .clinicalDeskScreen .patientMainInfo .EmployeeProfile .EmployeeInfo-Top .EmployeeDemographic span b {
          color: #34b8bc; }

.clinicalDeskScreen .patientReportSection {
  box-shadow: 0 0 5px #cccccc;
  background: #fff;
  margin: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  width: calc(100vw - 50px);
  min-height: calc(100vh - 170px);
  max-height: calc(100vh - 170px);
  overflow-y: auto;
  overflow-x: hidden; }
  .clinicalDeskScreen .patientReportSection .patientSecHdg {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 10px; }
  .clinicalDeskScreen .patientReportSection .patientVitalsSec h6 {
    font-size: 1.1em; }
    .clinicalDeskScreen .patientReportSection .patientVitalsSec h6 label {
      font-size: 0.7em;
      text-transform: uppercase;
      display: block; }
  .clinicalDeskScreen .patientReportSection .patientChiefSec .chiefComplaintsTextArea {
    height: 150px;
    margin-top: 5px;
    width: 100%; }

.clinicalDeskScreen .clinicalAction {
  margin-top: 15px;
  width: 50px;
  height: calc(100vh - 170px); }
  .clinicalDeskScreen .clinicalAction .rightActionSec {
    margin: 0;
    padding: 0;
    list-style: none; }
    .clinicalDeskScreen .clinicalAction .rightActionSec li {
      margin: 0 0 5px;
      padding: 0;
      list-style: none;
      background: #fff;
      width: 50px;
      height: 50px;
      border-radius: 5px 0 0 5px;
      position: relative;
      z-index: 6;
      cursor: pointer; }
      .clinicalDeskScreen .clinicalAction .rightActionSec li i {
        text-align: center;
        display: block;
        /* padding: 18px; */
        font-size: 1.3em;
        line-height: 50px; }
      .clinicalDeskScreen .clinicalAction .rightActionSec li span {
        position: absolute;
        background: #6d6d6d;
        top: 17px;
        left: -100px;
        font-size: 0.8em;
        text-align: center;
        z-index: 5;
        /* word-break: break-all; */
        padding: 3px 9px;
        border-radius: 5px 0 0 5px;
        width: 100px;
        color: #fff;
        display: none; }
      .clinicalDeskScreen .clinicalAction .rightActionSec li:hover span {
        display: block; }
