.patientProfile .patientInfo-Top {
  background: white;
  height: 70px;
  padding: 5px 0 0;
  width: 100%;
  position: fixed;
  z-index: 999; }
  .patientProfile .patientInfo-Top div {
    float: left;
    color: #858585; }
  .patientProfile .patientInfo-Top .backBtn {
    border-right: 1px solid #e1e1e1;
    padding-right: 10px;
    padding-left: 10px; }
    .patientProfile .patientInfo-Top .backBtn button {
      height: 60px;
      border: 1px solid #e1e1e1; }
    .patientProfile .patientInfo-Top .backBtn i {
      display: block;
      margin-bottom: 5px; }
  .patientProfile .patientInfo-Top .patientImg {
    margin: 1px 10px;
    border-radius: 4px;
    border: 1px solid #e1e1e1; }
    .patientProfile .patientInfo-Top .patientImg .image-drop-area {
      border: 1px solid #93a4ad;
      min-height: 55px;
      position: relative;
      background-color: #eaeaea; }
      .patientProfile .patientInfo-Top .patientImg .image-drop-area img {
        height: 55px;
        width: 55px;
        border-radius: 4px;
        overflow: hidden;
        -webkit-transition: width 0.3s;
        /* For Safari 3.1 to 6.0 */
        transition: width 0.3s;
        border-radius: 0; }
        .patientProfile .patientInfo-Top .patientImg .image-drop-area img:hover {
          width: 175px;
          height: auto;
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
          position: absolute;
          z-index: 9; }
  .patientProfile .patientInfo-Top .patientName {
    max-width: 17vw;
    margin-top: 2px;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 57px; }
    .patientProfile .patientInfo-Top .patientName h6 {
      margin-bottom: 2px;
      color: #000;
      line-height: 1.2rem; }
    .patientProfile .patientInfo-Top .patientName p {
      margin: 0;
      padding: 0;
      font-size: 0.9em;
      font-weight: 700; }
  .patientProfile .patientInfo-Top .patientDemographic {
    line-height: 1.4rem;
    border-right: 1px solid #e1e1e1;
    padding-left: 10px;
    padding-right: 10px; }
    .patientProfile .patientInfo-Top .patientDemographic span {
      font-size: 0.9em;
      font-weight: 700;
      display: block; }
      .patientProfile .patientInfo-Top .patientDemographic span i {
        text-align: center;
        width: 20px; }
      .patientProfile .patientInfo-Top .patientDemographic span b {
        color: #00a796; }
  .patientProfile .patientInfo-Top .patientHospitalDetail {
    line-height: 1.4rem;
    border-right: 1px solid #e1e1e1;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 57px;
    max-width: 170px; }
    .patientProfile .patientInfo-Top .patientHospitalDetail span {
      font-size: 0.9em;
      font-weight: 700;
      display: block; }
      .patientProfile .patientInfo-Top .patientHospitalDetail span i {
        text-align: center;
        width: 20px; }
      .patientProfile .patientInfo-Top .patientHospitalDetail span b {
        color: #00a796; }
  .patientProfile .patientInfo-Top .patientVital {
    max-width: 28vw;
    line-height: 1.4rem;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 57px; }
    .patientProfile .patientInfo-Top .patientVital span {
      font-size: 0.9em;
      font-weight: 700;
      display: inline-block;
      margin-right: 3px;
      padding-right: 3px;
      border-right: 1px solid #e1e1e1; }
      .patientProfile .patientInfo-Top .patientVital span i {
        text-align: center;
        width: 20px; }
      .patientProfile .patientInfo-Top .patientVital span b {
        color: #00a796; }
  .patientProfile .patientInfo-Top .moreAction {
    float: right;
    border-right: 1px solid #e1e1e1;
    padding-right: 10px; }
    .patientProfile .patientInfo-Top .moreAction button {
      height: 60px;
      border: 1px solid #e1e1e1;
      margin-left: 0; }
    .patientProfile .patientInfo-Top .moreAction i {
      display: block;
      margin-bottom: 5px; }

.patientProfile .patientTopNav {
  background: white;
  height: 35px;
  padding: 0;
  width: 100%;
  color: #797979;
  text-transform: uppercase;
  position: fixed;
  top: 123px;
  z-index: 99; }
  .patientProfile .patientTopNav ul {
    position: relative; }
    .patientProfile .patientTopNav ul li:after {
      display: block;
      content: "";
      border-bottom: solid 3px #00a796;
      transform: scaleX(0);
      transition: transform 150ms ease-in-out; }
    .patientProfile .patientTopNav ul li:hover:after {
      transform: scaleX(1); }
    .patientProfile .patientTopNav ul li span {
      text-transform: uppercase;
      padding: 9px 15px 8px;
      color: #858585;
      cursor: pointer;
      font-size: 0.8em; }
    .patientProfile .patientTopNav ul li span.active {
      border-bottom: solid 3px #00a796;
      color: #fff;
      background: #00a796; }
      .patientProfile .patientTopNav ul li span.active:hover {
        cursor: default;
        color: #fff; }
      .patientProfile .patientTopNav ul li span.active:hover:after {
        display: none !important;
        border: none !important;
        cursor: pointer; }
  .patientProfile .patientTopNav .patient-quick-info {
    color: #00a796;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 20px; }
    .patientProfile .patientTopNav .patient-quick-info li {
      background: #fff;
      color: #00a796;
      padding: 6px 10px 4px;
      cursor: pointer;
      margin: 0 10px;
      list-style: none;
      display: inline-block;
      font-size: 1.1rem; }
      .patientProfile .patientTopNav .patient-quick-info li section {
        width: 40vw;
        height: auto;
        position: absolute;
        right: 0;
        top: 30px;
        background: #00a796;
        z-index: 9;
        padding: 10px;
        border-radius: 5px;
        color: #fff;
        display: none; }
        .patientProfile .patientTopNav .patient-quick-info li section span.top-nav-sec-hdg {
          text-align: center;
          border-bottom: none;
          height: 25px;
          padding: 0;
          font-weight: bold;
          display: block;
          color: #fff; }
        .patientProfile .patientTopNav .patient-quick-info li section .listofA-D-D {
          display: inline-block;
          margin-right: 8px;
          border: 1px solid #007468;
          padding: 3px 10px;
          margin: 0;
          color: #fff;
          margin-right: 5px;
          margin-bottom: 3px;
          border-radius: 5px;
          background: #00a796;
          white-space: normal; }
    .patientProfile .patientTopNav .patient-quick-info li:hover {
      background: #007468;
      color: #fff;
      padding: 4px 10px; }
      .patientProfile .patientTopNav .patient-quick-info li:hover section {
        display: block; }

.patientProfile .patientContentArea {
  margin: 100px 10px 0;
  z-index: 1;
  width: 100%; }

.moreActionUl {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #e6e6e6;
  position: absolute;
  right: 11px;
  border-radius: 5px 0px 5px 5px;
  background: #fff;
  display: none;
  min-width: 100px;
  overflow: hidden; }
  .moreActionUl li {
    margin: 0;
    padding: 0;
    list-style: none; }
    .moreActionUl li span {
      padding: 7px 10px;
      text-align: left;
      display: block;
      cursor: pointer; }
    .moreActionUl li span:hover {
      color: #fff;
      background: #00a796; }

.moreAction:hover .moreActionUl {
  display: block; }

.miniActionIcon {
  border: 1px solid #fff;
  border-radius: 100px;
  height: 24px !important;
  width: 24px !important;
  padding: 0 !important;
  color: #fff !important;
  text-align: center !important;
  line-height: 21px;
  margin-left: 10px; }
  .miniActionIcon:hover {
    cursor: pointer;
    background: #fff !important;
    color: #00a796 !important; }

.AllergyActive {
  color: red;
  animation: blinker 2s linear infinite; }

@keyframes blinker {
  50% {
    opacity: 0; } }

.listofADDWrapper {
  overflow: auto;
  max-height: 40vh; }
  .listofADDWrapper .listofADDTable {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    font-size: 0.8rem; }
    .listofADDWrapper .listofADDTable th {
      border: 1px solid #008e7f;
      padding: 3px;
      text-align: center;
      background: #009888; }
    .listofADDWrapper .listofADDTable td {
      border: 1px solid #008e7f;
      padding: 3px;
      text-align: center; }
