.style_Label {
  display: block;
}
.ant-calendar-picker {
  width: 100%;
}
.algaeh-text-fld {
  input {
    height: 32px;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
