.preProcessModal {
  min-width: 90% !important;
  .PrepaymentAmontGrid {
    min-height: 55vh !important;
    max-height: 65vh !important;
    overflow: auto;
    margin-bottom: 20px;
  }
}
.PrepaymentProcessListGrid {
  min-height: 55vh !important;
  max-height: 65vh !important;
  overflow: auto;
}
