.hptl-phase1-add-advance-form {
  background: #fff;
  // border-radius: 5px;
  padding: 0px;
  mark {
    background: none;
    color: red;
  }
  .form-details {
    padding-bottom: 0px;
  }
  .button {
    padding: 10px;
  }
}
.advanceRefundModal {
  .algaeh-modal {
    width: 55vw;
  }
}
