.hptl-phase1-add-advance-form {
  background: #fff;
  padding: 0px; }
  .hptl-phase1-add-advance-form mark {
    background: none;
    color: red; }
  .hptl-phase1-add-advance-form .form-details {
    padding-bottom: 0px; }
  .hptl-phase1-add-advance-form .button {
    padding: 10px; }

.advanceRefundModal .algaeh-modal {
  width: 55vw; }
