.hptl-phase1-result-entry-form {
  .go-button {
    cursor: pointer;
    margin-bottom: -9px;
    margin-top: 20px;
  }

  .form-group {
    margin-bottom: 0;

    padding: 0;
    padding-top: 20px;
    cursor: pointer;
  }

  th,
  td {
    border-right: 1px solid #e6e6e6;
  }
}
#resultListEntryCntr {
  .ReactTable {
    max-height: 62vh !important;
  }
}

.badge {
  margin-top: 5px;
}

.topResultCard {
  .card-body {
    padding: 0px 10px 3px;
    p {
      margin: 0;
      padding: 0;
      float: right;
      line-height: 35px;
    }
    .card-title {
      margin: 0;
      display: inline-block;
      font-size: 2rem;
    }
  }
}
