.hptl-phase1-secinsurancedis-form {
  background: #ffff;
  border-radius: 5px; }

.htpl-phase1-primary-secinsurancedis-form .primary-details {
  padding: 15px;
  border-right: 1px solid #000; }
  .htpl-phase1-primary-secinsurancedis-form .primary-details .primary-box-container {
    padding: 5px; }

.htpl-phase1-primary-secinsurancedis-form .secondary-details {
  padding: 15px; }
  .htpl-phase1-primary-secinsurancedis-form .secondary-details .secondary-box-container {
    padding: 5px; }

.htpl-phase1-primary-secinsurancedis-form label {
  font-weight: 400;
  font-size: 11px; }

.htpl-phase1-primary-secinsurancedis-form mark {
  background: none;
  color: red; }

.htpl-phase1-primary-secinsurancedis-form .centerAlign {
  text-align: center;
  font-weight: 700; }

.htpl-phase1-primary-secinsurancedis-form .text_field {
  width: 100% !important;
  background-color: #fbfbfb;
  font-size: "12px";
  margin-right: "5px"; }

.htpl-phase1-primary-secinsurancedis-form .radio-design {
  position: absolute;
  top: 5px;
  left: 36px; }

.htpl-phase1-primary-secinsurancedis-form .refactor-design {
  min-height: 28px;
  background-color: #fbfbfb;
  border: 0px; }

.htpl-phase1-primary-secinsurancedis-form .file-name-upload {
  margin-left: 4%;
  margin-top: 2%; }
