.hptl-phase1-item-list-billing-form {
  padding-top: 5px;
  .primary-details {
    .primary-box-container {
      padding-top: 12.5px;
      padding-left: 10px;
    }
  }

  .patientRespo {
    background: #f8f8f8;
  }

  .form-details {
    padding: 5px;
    padding-bottom: 10px;
  }

  .header-details {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }

  .go-button {
    cursor: pointer;
    margin-bottom: -15px;
    margin-top: -10px;
  }

  .Paper {background:#fff; 
    min-height: 35vh;
    border: 1px solid #d3d3d3;
  }

  th,
  td {
    
    border-right: 1px solid #e6e6e6;
  }
}

.insurance-amt-details {
  padding-bottom: 5px;
}
#Bill_details {
  input[type="text"] {
    width: 10%;
  }
  input[type="text"]:disabled {
    border: none;
    background: none;
    color: #000;
    :after {
      border: none;
    }
  }
}
.algaehPaperDefault {
  margin: 15px 0px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
}

.algaehPaperPrimary {
  margin: 15px 0px;
  background: #e9feff;
  border: 1px solid #44b8bd;
  border-radius: 10px;
  padding: 15px;
}
#RETURN_detailsGrid_Cntr{
  .ReactTable{
    max-height: 30vh!important;
  }
}