.hptl-phase1-add-lab-investigation-form {
  background: #fff;
  padding: 0px; }
  .hptl-phase1-add-lab-investigation-form mark {
    background: none;
    color: red; }
  .hptl-phase1-add-lab-investigation-form .form-details {
    padding-bottom: 0px; }
  .hptl-phase1-add-lab-investigation-form .button {
    padding: 10px; }
  .hptl-phase1-add-lab-investigation-form .Paper {
    background: #fff;
    padding: 10px;
    border: 1px solid #d3d3d3;
    margin-top: 10px; }
  .hptl-phase1-add-lab-investigation-form .main_div {
    height: 85vh;
    overflow: auto;
    padding-bottom: 0px; }
  .hptl-phase1-add-lab-investigation-form .go-button {
    cursor: pointer;
    margin-bottom: -60px;
    margin-top: -30px; }
  .hptl-phase1-add-lab-investigation-form #analyte_grid_cntr .ReactTable {
    max-height: 30vh !important; }
