.hptl-sample-coll-details {
  background: #ffff;

  .form-details {
    padding-bottom: 0px;
  }

  .grid-details {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #sampleCollectionGrid_Cntr {
    .ReactTable {
      max-height: 30vh;
    }
  }
}

.badge {
  
  margin-top: 5px;
}
