.SpecimenModalPopup {
  width: 98vw !important;
  .ant-modal-footer {
    padding: 5px 15px !important;
  }
  #samplecollection_grid {
    .newStickyGrid {
      .table-scroll {
        min-height: 55vh !important;
        max-height: 55vh !important;
        overflow: auto !important;
      }
    }
  }

  .badge {
    margin-top: 5px;
  }
}
