.hptl-sample-coll-details {
  background: #ffff; }
  .hptl-sample-coll-details .form-details {
    padding-bottom: 0px; }
  .hptl-sample-coll-details .grid-details {
    padding-top: 10px;
    padding-bottom: 10px; }
  .hptl-sample-coll-details #sampleCollectionGrid_Cntr .ReactTable {
    max-height: 30vh; }

.badge {
  margin-top: 5px; }
