#SaleQuotationGrid {
  .ReactTable {
    max-height: 34.8vh !important;
  }
}
.textAreaLeft {
  text-align: left;
  margin-bottom: 50px;
}
.termsCondition {
  textarea {
    min-height: 29vh;
    max-height: 29vh;
  }
}
