#attach {
  margin-bottom: 50px; }
  #attach #attach {
    margin-bottom: 0; }

.hptl-phase1-patientreg-details {
  background: #ffff; }
  .hptl-phase1-patientreg-details .patient-section {
    border: 1px solid #d3d3d3;
    margin: 10px;
    margin-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }
  .hptl-phase1-patientreg-details .toggle-section {
    margin: 10px;
    margin-bottom: 0px;
    background-color: #ffff; }
  .hptl-phase1-patientreg-details .text_field {
    width: 100% !important;
    background-color: #fbfbfb;
    margin-right: "5px"; }
  .hptl-phase1-patientreg-details .Paper {
    background: #fff;
    background-color: #292929 !important;
    left: 0px;
    width: 250px; }
