#attach {
  margin-bottom: 50px;
}
.hptl-phase1-patientreg-details {
  background: #ffff;
  .patient-section {
    border: 1px solid #d3d3d3;
    margin: 10px;
    margin-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  .toggle-section {
    margin: 10px;
    margin-bottom: 0px;
    background-color: #ffff;
  }

  .text_field {
    width: 100% !important;
    background-color: #fbfbfb;
    //font-size: $fontSize;
    margin-right: "5px";
  }

  .Paper {
    background: #fff;
    background-color: #292929 !important;
    left: 0px;
    width: 250px;
  }
}

.spacing-push {
  // margin-top: 6em;
}

.editFloatCntr {
  position: fixed;
  bottom: 42px;
  background: #313131;
  left: 0;
  z-index: 99;
  -webkit-box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.2);
  padding-top: 15px;
  width: 99vw;
  padding-bottom: 15px;
  border-top: 5px dashed #fff;

  label {
    color: #fff;
  }
  h5 {
    color: #fff;
  }
  h6 {
    color: #fff;
  }
  button {
    float: right;
    margin-left: 15px;
    margin-top: 15px;
  }
}
