.hptl-phase1-patientreg-details{
    background: #ffff;
    .patient-section{
        border: 1px solid #d3d3d3;
        margin: 10px;
        margin-top: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
    .toggle-section{
        margin: 10px;
        margin-bottom: 0px;
        background-color: #ffff;
    }

    .text_field{
        width: 100% !important;
        background-color: #FBFBFB;
        font-size: "11px";
        margin-right: "5px";
    }

    .paper{
        background-color: #292929 !important;
        left:0px;
        width: 250px;
    }

      .menuBar-title{
	    display: flex;
    	justify-content: center;
    }
    
}

.hptl-phase1-footer{    
    .main {        
        background-color: #000000 !important;
        border-top: 1px solid #0000;
        padding: 10px;                  
        height: 40px;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
    }

    .app_bar {
		background: #000000;			    
    }
    
}
