.style_Label {
  display: block;
}
.ant-calendar-picker {
  width: 100%;
}
.algaeh-text-fld {
  input {
    height: 32px;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
  }
  input[type="text"]:disabled,
  input[type="number"]:disabled,
  input[type="tel"]:disabled,
  input[type="email"]:disabled,
  input[type="time"]:disabled,
  input[type="password"]:disabled,
  input[type="type"]:disabled {
    background: #fffdfa;
    border: 1px dashed #d3d3d3;
    color: #c3c1c1;
    font-weight: normal;
  }
}
#JLVoucherListGrid {
  .newStickyGrid {
    .table-scroll {
      min-height: 46vh !important;
      max-height: 46vh !important;
      overflow: auto;
      tbody {
        td {
          div {
            display: block !important;
            .ant-tree-select {
              text-align: left;
              min-width: 250px !important;
              max-width: 250px !important;
              .ant-select-selection-item {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                display: inline-block;
              }
            }
            input[type="number"] {
              text-align: right;
            }
          }
        }
        .cusTextArea {
          textarea {
            min-height: 60px;
            min-width: 500px !important;
          }
        }
      }
    }
  }
}

.textArea {
  margin-bottom: 70px;
  textarea {
    min-height: 100px;
  }
}
.notEqualPar {
  .notEqual {
    color: red;
  }
}
