.overtime_groups {
  margin-top: 43px;
  .slctYearBranchSec {
    padding: 0;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #c1c1c1;
  }
  #GroupListGrid_Cntr {
    .ReactTable {
      max-height: 70vh !important;
    }
  }

  .restrictedCntr {
    padding: 0 15px;
    margin: 9px 0 4px;
    /* border-top: 1px solid #c1c1c1; */
    /* background: #f7f7f7; */
  }

  .ApplicableSelect {
    margin-top: 10px;
  }
}
