.hptl-phase1-rad-list-form .go-button {
  cursor: pointer;
  margin-bottom: -15px;
  margin-top: 10px; }

.hptl-phase1-rad-list-form .form-group {
  margin-bottom: 0;
  padding: 0;
  padding-top: 20px;
  cursor: pointer; }

.hptl-phase1-rad-list-form th,
.hptl-phase1-rad-list-form td {
  border-right: 1px solid #e6e6e6; }

#RadOrderGridCntr .ReactTable {
  max-height: 62vh !important; }
