.phySchSetup #schedule-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 59.5vh;
  max-height: 59.5vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden; }
  .phySchSetup #schedule-ul li {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    width: 100%; }
    .phySchSetup #schedule-ul li h3 {
      font-size: 1rem;
      margin-bottom: 5px; }
    .phySchSetup #schedule-ul li p {
      font-size: 0.8rem;
      margin: 0 0 3px;
      padding: 0;
      display: inline-block;
      width: 50%; }
      .phySchSetup #schedule-ul li p span {
        display: inline-block;
        margin: 0 0 0 3px;
        font-weight: bold; }
      .phySchSetup #schedule-ul li p:nth-child(odd) {
        text-align: right; }
    .phySchSetup #schedule-ul li:nth-child(odd) {
      background: #eee; }
    .phySchSetup #schedule-ul li:hover {
      background: #ccc;
      cursor: pointer; }
  .phySchSetup #schedule-ul .noDataStyle {
    text-align: center;
    color: #bbb; }
    .phySchSetup #schedule-ul .noDataStyle h1 {
      font-size: 5rem;
      padding-top: 20vh; }
    .phySchSetup #schedule-ul .noDataStyle p {
      font-size: 1.3rem; }

.phySchSetup .viewScheduleDetails {
  min-height: 88vh;
  max-height: 88vh; }
  .phySchSetup .viewScheduleDetails .noDataStyle {
    text-align: center;
    color: #bbb; }
    .phySchSetup .viewScheduleDetails .noDataStyle h1 {
      font-size: 5rem;
      padding-top: 25vh; }
    .phySchSetup .viewScheduleDetails .noDataStyle p {
      font-size: 1.3rem; }

.bold-text {
  font-weight: bold !important;
  width: 100%;
  border-top: 1px dashed #c1c1c1;
  padding-top: 5px; }

.physicianList {
  min-height: 60vh;
  max-height: 60vh;
  padding: 0;
  margin: 0;
  border-radius: 0; }
  .physicianList ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .physicianList ul li {
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #ccc;
      list-style: none; }
      .physicianList ul li .checkBoxPhy {
        margin: 10px;
        display: inline-block; }
      .physicianList ul li span {
        display: inline-block;
        width: auto;
        padding: 10px;
        border-left: 1px solid #ccc; }

.scheduledDocList {
  min-height: 70vh;
  max-height: 70vh;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: 1px solid #ccc; }
  .scheduledDocList ul {
    padding: 15px 0 0;
    margin: 0;
    list-style: none; }
    .scheduledDocList ul li {
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #ccc;
      list-style: none; }
      .scheduledDocList ul li .checkBoxPhy {
        margin: 10px;
        display: inline-block; }
      .scheduledDocList ul li span {
        display: inline-block;
        width: calc(100% - 70px);
        padding: 10px 3px 10px 5px;
        border-left: 1px solid #ccc; }
      .scheduledDocList ul li i.fa-pen {
        padding: 7px;
        border: 1px solid #ccc;
        float: left;
        border-radius: 50%;
        margin: 5px 2px 0 3px;
        width: 28px;
        height: 28px;
        text-align: center;
        font-size: 0.8rem; }
        .scheduledDocList ul li i.fa-pen:hover {
          color: #fff;
          background-color: #00a796;
          border-color: #007468;
          cursor: pointer; }
      .scheduledDocList ul li i.fa-trash-alt {
        padding: 7px;
        border: 1px solid #ccc;
        float: left;
        border-radius: 50%;
        margin: 5px 2px 0 3px;
        width: 28px;
        height: 28px;
        text-align: center;
        font-size: 0.8rem; }
        .scheduledDocList ul li i.fa-trash-alt:hover {
          color: #fff;
          background-color: #c21f02;
          border-color: #490202;
          cursor: pointer; }

.daysSpan {
  margin-top: 5px; }
  .daysSpan span {
    border: 1px solid #ccc;
    padding: 3px 5px;
    text-align: center;
    font-size: 1rem; }

.hide-feature {
  display: none;
  opacity: 0; }
