.hptl-phase1-order-medication-form {
  background: #ffff;
  .form-details {
    padding: 5px;
    padding-bottom: 0px;
  }
  mark {
    background: none;
    color: red;
  }

  .form-group {
    margin-bottom: 0;
    margin-top: 4px;
    padding: 0;
    padding-top: 20px;
    cursor: pointer;
  }

  .go-button {
    cursor: pointer;
    margin-top: 2.5vh;
  }
}
.popLeftDiv {
  max-height: 76vh !important;
  background-color: #fdfdfd;
}

#OrderMedicationGrid_Cntr {
  .ReactTable {
    max-height: 65vh !important;
  }
}

.medicationSearchCntr{
.medicationSearchFld{
  .result{
    &:nth-child(odd){
      background-color: #f5f5f5;
    }
    &:nth-child(even){
      background-color: #f1f1f1;
    }
  }
.medicationSearchList{
  margin: -5px -5px;
  padding: 0;
  h6{
    margin: 0; padding: 0;
  small{
    display: block;
    font-style: italic;
    margin-top:5px ;
  }
}}}}