.hptl-phase1-order-medication-form {
  background: #ffff; }
  .hptl-phase1-order-medication-form .form-details {
    padding: 5px;
    padding-bottom: 0px; }
  .hptl-phase1-order-medication-form mark {
    background: none;
    color: red; }
  .hptl-phase1-order-medication-form .form-group {
    margin-bottom: 0;
    margin-top: 4px;
    padding: 0;
    padding-top: 20px;
    cursor: pointer; }
  .hptl-phase1-order-medication-form .go-button {
    cursor: pointer;
    margin-top: 2.5vh; }

#Order_Medication .ReactTable {
  max-height: 36vh !important; }
