.physical_examination {
  .row-card {
    background: #fff;
    padding-top: 7px;
    padding-bottom: 17px;
    border-radius: 6px;
    border: 1px solid #d8d8d8;
    margin-bottom: 10px;
    button {
      margin-top: 21px;
    }
    .ReactTable {
      margin-top: 10px;
    }
    h6 {
      padding: 6px 15px 10px;
      border-bottom: 1px solid #d8d8d8;
      margin: 0 -15px 10px;
    }
  }
}
