.bulkTimeSheetPreviewCntr {
  overflow: auto;
  max-width: 100vw;
  padding: 0;
  border: 1px solid #ced4d9;
  margin: 0;
  #bulkTimeSheetPreview {
    width: 100%;
    table-layout: auto;
    background: #fff;
    border-collapse: collapse;
    .fixed {
      table-layout: fixed;
    }

    td,
    th {
      border-collapse: collapse;
    }

    thead {
      tr {
        display: block;
        position: relative;
        padding: 0 3px;
        border: 1px solid #ced4d9;
        text-align: center;
        font-size: 0.8rem;
        font-weight: bold;
        color: #000 !important;
        background: #c1fff9 !important;
        border-bottom: 2px solid #00a796;

        th {
          min-width: 82px;
          max-width: 82px;
          &:first-child {
            min-width: 155px;
            max-width: 155px;
          }
        }
      }
    }
    tbody {
      display: block;
      overflow: auto;
      width: 100%;
      min-height: 41vh;
      max-height: 41vh;
      tr {
        &:nth-child(even) {
          td {
            background: #e7e7e7;
          }
        }
        td {
          min-width: 82px;
          max-width: 82px;
          border: 1px solid #ced4d9;
          text-align: center;
          font-size: 0.8rem;
          font-weight: bold;
          small {
            display: block;
            font-weight: normal;
          }

          span[contentEditable="true"] {
            background: #fff;
            border: 1px SOLID #d4d4d4;
            padding: 0 5px 5px;
            -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
          }
          &:first-child {
            min-width: 159px;
            max-width: 159px;
            text-align: left;
            padding: 3px;
            small {
              border-bottom: none;
            }
          }
          span {
            display: inline-block;
            width: 100%;
            border-top: 1px dotted #d4d4d4;
            border-bottom: 1px dotted #d4d4d4;
          }
          &:first-child {
            span {
              display: inline-block;
              border: none;
            }
            &:hover {
              background: none;
              cursor: default;
            }
          }
          &:hover {
            background: #e5fffc;
          }
        }
      }
      td.N {
        color: red;
        background: #fff2f2 !important;
      }
      td.WO {
        color: orange;
      }
    }
  }
}
.bulkUploadErrorMessage {
  background: #ececec;
  padding-left: 10px;
  border-radius: 4px;
  h5 {
    text-align: center;
    border-bottom: 1px solid #fff;
    color: #2e2e2e;
    padding: 10px 0;
  }
  ol {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 40vh;
    color: red;
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 0;
    padding: 0 0 0 15px;
  }
}
.editBulkCellPopup {
  .algaeh-modal {
    width: 35vw;
    .popupInner {
      min-height: 50vh;
    }
  }
}
