.bulkTimeSheetPreviewCntr {
  overflow: auto;
  max-width: 100vw;
  padding: 0;
  border: 1px solid #ced4d9;
  margin: 0;
  .bulkTimeScroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    min-height: 48vh;
    max-height: 48vh;

    #bulkTimeSheetPreview {
      table-layout: auto;
      border-spacing: 0px;
      box-sizing: border-box;

      .fixed {
        background-color: #fff;
      }

      thead {
        th {
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 2;
          text-transform: uppercase;
          text-align: center;
          font-weight: bold;
          min-height: 30px;
          font-size: 0.8rem;
          min-width: 80px;
          max-width: 80px;
          min-height: 80px;
          background: hsl(174, 100%, 88%) !important;
          &:first-child {
            position: -webkit-sticky;
            position: sticky;
            left: 0;
            top: 0;
            z-index: 5;
            background: #ccc;
            min-width: 200px;
            max-width: 200px;
            padding: 10px;
            background: linear-gradient(
              90deg,
              rgba(193, 255, 249, 1) 0%,
              rgba(193, 255, 249, 1) 99%,
              rgba(0, 167, 150, 1) 100%
            ) !important;
          }
        }
      }
      tbody {
        // display: block;
        // width: 100%;
        // min-height: 39vh;
        // max-height: 39vh;
        tr {
          &:nth-child(even) {
            td {
              background: #e7e7e7;
            }
          }
          td {
            z-index: 1;
            border-right: 1px solid #d6d6d6;
            border-bottom: 1px solid #d6d6d6;
            font-size: 0.8rem;
            white-space: normal;
            border-spacing: 0;
            text-align: center;
            padding: 5px;
            small {
              display: block;
              font-weight: normal;
            }

            span[contentEditable="true"] {
              background: #fff;
              border: 1px SOLID #d4d4d4;
              padding: 0 5px 5px;
              -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
              -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
              box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
            }
            &:first-child {
              position: -webkit-sticky;
              position: sticky;
              left: 0;
              z-index: 1;
              text-align: left;
              font-weight: bold;
              background: linear-gradient(
                90deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 1) 99%,
                rgba(43, 53, 49, 1) 100%
              );
              small {
                border-bottom: none;
                font-weight: bold;
              }
            }

            span {
              display: inline-block;
              width: 100%;
              border-top: 1px dotted #d4d4d4;
              border-bottom: 1px dotted #d4d4d4;
            }
            &:first-child {
              span {
                display: inline-block;
                border: none;
              }
              &:hover {
                background: linear-gradient(
                  90deg,
                  rgba(255, 255, 255, 1) 0%,
                  rgba(255, 255, 255, 1) 99%,
                  rgba(43, 53, 49, 1) 100%
                );
                cursor: default;
              }
            }
            &:hover {
              background: #e5fffc;
            }
          }
        }
        td.N {
          color: red;
          background: #fff2f2 !important;
        }
        td.WO {
          color: orange;
        }
      }
    }
  }
}

.bulkUploadErrorMessage {
  background: #ececec;
  padding-left: 10px;
  border-radius: 4px;
  h5 {
    text-align: center;
    border-bottom: 1px solid #fff;
    color: #2e2e2e;
    padding: 10px 0;
  }
  ol {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 40vh;
    color: red;
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 0;
    padding: 0 0 0 15px;
  }
}
.editBulkCellPopup {
  .algaeh-modal {
    width: 35vw;
    .popupInner {
      min-height: 50vh;
    }
  }
}
.errorCntrDiv {
  padding-left: 0;
  .portlet {
    border: 2px solid red;
    background-color: #fff2f1;
  }
  .errorListUI {
    border: 1px solid #d6d6d6;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    min-height: 42vh;
    max-height: 42vh;

    li {
      border-bottom: 1px solid #d6d6d6;
      margin: 0;
      padding: 3px 5px;
      list-style: none;
      &:nth-child(odd) {
        background-color: white;
      }
      &:nth-child(even) {
        background-color: rgb(231, 231, 231);
      }
    }
  }
}
