.hims_proceduresetup .toggle-section {
  margin: 10px;
  margin-bottom: 0px; }

.hims_proceduresetup .procedure-footer {
  height: "60px";
  background-color: #000; }

.hims_proceduresetup .procedure-section {
  border: 1px solid #d3d3d3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; }

.hims_proceduresetup th,
.hims_proceduresetup td {
  border-right: 1px solid #e6e6e6; }

#invest_grid_cntr .ReactTable {
  height: 43vh !important; }

#proceduresGridCntr .ReactTable {
  max-height: 75vh !important; }
