.hims_investigationsetup {
  background: #fff;
  border-radius: 5px;
  padding-top: 2%;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 1%; }
  .hims_investigationsetup .toggle-section {
    margin: 10px;
    margin-bottom: 0px; }
  .hims_investigationsetup .investigation-footer {
    height: "60px";
    background-color: #000; }
  .hims_investigationsetup .investigation-section {
    border: 1px solid #d3d3d3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }
  .hims_investigationsetup th,
  .hims_investigationsetup td {
    border-right: 1px solid #e6e6e6; }
