#historicGridDataCntr {
  .ReactTable {
    max-height: 31vh !important;
  }
}
.chartCNtr {
  max-height: 31vh !important;
  canvas {
    max-height: 30vh !important;
    margin: 2%;
  }
}
#PaymentHistoryGrid_Cntr {
  .ReactTable {
    max-width: 95vw !important;
    max-height: 40vh !important;
  }
}
#mrdDiagnosisGrid_Cntr,
#mrdTreatmentsGrid_Cntr,
#mrdMedicalHistoryGrid_Cntr,
#mrdInvestigationGrid_Cntr {
  .ReactTable {
    max-height: 40vh !important;
  }
}
.historyCategoryList {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  min-height: 40vh;
  max-height: 40vh;
  overflow: auto;
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    span {
      padding: 7px 0 7px 15px;
      width: 100%;
      border-bottom: 1px solid #d6d6d6;
      display: block;
      &.active {
        font-weight: bold;
        background-color: #c1fff9;
      }
      &:hover {
        background-color: #d6d6d6;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
.historyDetailsCntr {
  margin: 0;
  min-height: 40vh;
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.accrTable {
  width: 100%;
  border-collapse: collapse;
  thead {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    tr {
      border-bottom: 1px dotted #ccc;
      font-size: 11px;
      th {
        background: #00a796 !important;
        vertical-align: middle !important;
        padding: 5px;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #00756a;
        font-size: 10px;
        color: #fff;
      }
    }
  }

  tbody {
    margin: 0;
    padding: 0;
    td {
      border: 1px solid #ccc;
      padding: 3px 5px;
      margin: 0;
      font-size: 13px !important;
      text-align: center;
    }
  }
}
