#historicGridDataCntr .ReactTable {
  max-height: 31vh !important; }

.chartCNtr {
  max-height: 31vh !important; }
  .chartCNtr canvas {
    max-height: 30vh !important;
    margin: 2%; }

#PaymentHistoryGrid_Cntr .ReactTable {
  max-width: 95vw !important;
  max-height: 40vh !important; }

#mrdDiagnosisGrid_Cntr .ReactTable, #mrdTreatmentsGrid_Cntr .ReactTable, #mrdMedicalHistoryGrid_Cntr .ReactTable, #mrdInvestigationGrid_Cntr .ReactTable {
  max-height: 40vh !important; }
