.historical-data {
}
#historicGridDataCntr {
  .ReactTable {
    max-height: 31vh !important;
  }
}
.chartCNtr {
  max-height: 31vh !important;
  canvas {
    max-height: 30vh !important;
    margin: 2%;
  }
}
