.hptl-display-visit-details {
  background: #ffff; }
  .hptl-display-visit-details .visit-section {
    border: 1px solid #d3d3d3;
    margin: 10px;
    margin-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }
  .hptl-display-visit-details .toggle-section {
    margin: 10px;
    margin-bottom: 0px; }

.hptl-display-active-visit-form .form-details {
  padding: 5px;
  padding-bottom: 5px; }

.hptl-display-active-visit-form mark {
  background: none;
  color: red; }

.hptl-display-active-visit-form label {
  font-weight: 400;
  font-size: 11px; }

.hptl-display-active-visit-form th,
.hptl-display-active-visit-form td {
  font-size: 11px;
  border-right: 1px solid #e6e6e6; }
