.hptl-phase1-pre-approval-attachment-form {
  background: #ffff;
  border-radius: 5px; }
  .hptl-phase1-pre-approval-attachment-form .primary-details {
    padding-bottom: 15px;
    border-right: 1px solid #000; }
  .hptl-phase1-pre-approval-attachment-form .form-details {
    padding-bottom: 0px; }
  .hptl-phase1-pre-approval-attachment-form .attachment-section {
    border: 1px solid #d3d3d3;
    margin: 10px;
    margin-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: #ffff;
    padding-top: 10px;
    padding-bottom: 10px; }
  .hptl-phase1-pre-approval-attachment-form .toggle-section {
    margin: 10px;
    margin-bottom: 0px; }
  .hptl-phase1-pre-approval-attachment-form .secondary-details {
    padding-bottom: 15px; }
    .hptl-phase1-pre-approval-attachment-form .secondary-details .secondary-box-container .preview-image {
      position: absolute;
      top: -1px;
      left: 15px;
      height: 101px; }
  .hptl-phase1-pre-approval-attachment-form .ins-attach-area {
    border: 1px solid #93a4ad;
    min-height: 27px;
    position: relative;
    background-color: #eaeaea; }

.algaehUploadFile {
  border: 1px solid #c0c0c0;
  height: 33px;
  border-radius: 5px; }
