.customer_setup {
  #customerGrid {
    .newStickyGrid {
      .table-scroll {
        min-height: 73vh;
        max-height: 73vh;
        overflow: auto;
      }
    }
  }
}
#customerEmployeeGrid {
  .newStickyGrid {
    .table-scroll {
      min-height: 53vh;
      max-height: 53vh;
      overflow: auto;
    }
  }
}
.createEditPopup {
  min-width: 95vw !important;
  max-width: 95vw !important;
}
