.hims_inventoryitem_setup #itemSetupGrid .ReactTable {
  max-height: 80vh !important; }

.hims_inventoryitem_setup .toggle-section {
  margin: 10px;
  margin-bottom: 0px; }

.hims_inventoryitem_setup .item-footer {
  height: "60px";
  background-color: #000; }

.hims_inventoryitem_setup .item-section {
  border: 1px solid #d3d3d3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; }

.hims_inventoryitem_setup th,
.hims_inventoryitem_setup td {
  border-right: 1px solid #e6e6e6; }

#itemSetupPopGrid .ReactTable {
  max-height: 25vh !important; }

#InventoryItemMasterGrid .ReactTable {
  max-height: 77vh !important; }
