.login_users {
  padding-top: 15px;
  #loginUserGrid_Cntr {
    .ReactTable {
      max-width: 98vw !important;
      max-height: 70vh !important;
    }
  }
  .userNameExt {
    padding: 25px 0 0;
  }
  .userSuggcntr {
    font-size: 0.8rem;
    background-color: #e9fffd;
    padding: 10px;
    p {
      margin: 0;
      font-weight: bold;
    }
    ul {
      margin: 0 0 0 15px;
      padding: 0;
      list-style: square;
      li {
        margin: 0;
        padding: 5px 0;
        border-bottom: 1px solid #abc2c0;
      }
    }
  }
}
.branchList {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #d6d6d6;
  max-height: 22vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 15px;
  border-radius: 4px;
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #d6d6d6;
    span {
      display: inline-block;
      &:first-child {
        width: 30px;
        height: 30px;
        border-right: 1px solid #d6d6d6;
        text-align: center;
        line-height: 27px;
      }
      &:last-child {
        text-align: left;
        line-height: 27px;
        padding-left: 10px;
      }
    }
    &:hover {
      background: #fff;
    }
  }
}
