.hptl-phase1-add-creid-recipt-form {
  background: #e9feff;
  border: 1px solid #44b8bd;
  border-radius: 5px;
  margin-top: 10px; }
  .hptl-phase1-add-creid-recipt-form label {
    font-weight: 400; }
  .hptl-phase1-add-creid-recipt-form mark {
    background: none;
    color: red; }
  .hptl-phase1-add-creid-recipt-form .form-details {
    padding-top: 10px;
    padding-bottom: 0px; }
  .hptl-phase1-add-creid-recipt-form .radio-design {
    position: absolute;
    top: 5px;
    left: 36px; }
  .hptl-phase1-add-creid-recipt-form .refactor-design {
    min-height: 28px;
    background-color: #fbfbfb;
    border: 0px; }
