.EOSGratuityScreen {
  .algaehLabelFormGroup {
    margin-bottom: 0;
  }
  .textArea {
    background: #fff !important;
    height: 10vh;
    margin-top: 0;
    margin-bottom: 0;
  }
  .calcSybmbol {
    border: 1px solid #000;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    padding: 3px;
    text-align: center;
    margin-top: 11px;
    font-size: 0.8rem;
    margin-right: 10px;
  }
  .final_color {
    background: #c7fff9;
    padding-bottom: 11px;
    border: 1px solid #a2e2db;
  }
}
