@import "../../src/styles/algaehCssVariables.scss";
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($primary-color, 0.3);
  transition: top 1.2s linear 3.1s;
  z-index: 99999;
}
.algaeh-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center;
}
.algaeh-progress .progress__item {
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 2px solid $color-white;
  border-radius: 50%;
  color: $color-white;
  background: rgba($color-black, 0.5);
}
.algaeh-progress .progress__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -3px;
  margin-left: 0px;
  width: 45px;
  height: 45px;
  border-top: solid 10px $color-white;
  border-right: solid 10px $color-white;
  border-top-right-radius: 100%;
  transform-origin: left bottom;
  animation: spin 0.5s linear infinite;
}
.algaeh-progress.float .progress__item:before {
  border-top-width: 2px;
  margin-top: 0px;
  height: 50px;
}
.algaeh-progress.float.shadow:before {
  border-top-width: 2px;
  margin-top: -41px;
  height: 50px;
}
.algaeh-progress.shadow:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -43px 0 0 12px;
  width: 45px;
  height: 45px;
  border-top: solid 10px rgba($color-black, 0.5);
  border-right: solid 10px rgba($color-black, 0.5);
  border-top-right-radius: 100%;
  z-index: -1;
  transform-origin: left bottom;
  animation: spin 0.5s linear infinite;
}
.algaeh-progress.shadow:after {
  content: "";
  position: absolute;
  top: 45%;
  left: 45%;
  width: 100px;
  height: 100px;
  color: $primary-color;
  text-align: center;
  line-height: 100px;
  border: 2px solid rgba($color-black, 0.5);
  border-radius: 50%;
  margin: -40px 0 0 -40px;
  z-index: -1;
  transform-origin: center;
}
.algaeh-progress.done .progress__item {
  opacity: 0;
  animation: done 3.1s;
  transition: opacity 0.3s linear 3.1s;
}
.algaeh-progress.done .progress__item:before {
  display: none;
}
.algaeh-progress.done:before {
  display: none;
}
.algaeh-progress.done:after {
  opacity: 0;
  animation: done 3.1s;
  transition: opacity 0.15s linear 3.1s;
}
@keyframes done {
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.07);
  }
  40% {
    transform: scale(0.93);
  }
  50% {
    transform: scale(1.04);
  }
  60% {
    transform: scale(0.97);
  }
  80% {
    transform: scale(1.01);
  }
  90% {
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}