#EarningComponent_Cntr,
#DeductionComponent_Cntr,
#ContributionComponent_Cntr {
  .newStickyGrid {
    .table-scroll {
      min-height: 54vh !important;
      max-height: 54vh !important;
      overflow: auto !important;
    }
  }
  .pageLeft {
    display: none;
  }
}
