.hptl-phase1-price-insurance-form {
  background: #fff;
  border-radius: 5px; }
  .hptl-phase1-price-insurance-form .go-button {
    cursor: pointer;
    margin-top: 15px; }
  .hptl-phase1-price-insurance-form th,
  .hptl-phase1-price-insurance-form td {
    border-right: 1px solid #e6e6e6; }

.Paper {
  background: #fff;
  padding: 15px;
  border: 1px solid #d3d3d3; }
