.hptl-phase1-price-insurance-form {
  background: #fff;
  border-radius: 5px;
  .go-button {
    cursor: pointer;
    margin-top: 15px;
  }

  th,
  td {
    font-size: 11px;
    border-right: 1px solid #e6e6e6;
  }
}

.Paper {
  padding: 15px;
  border: 1px solid #d3d3d3;
}
