.hptl-phase1-price-insurance-form {
  background: #fff;
  border-radius: 5px; }
  .hptl-phase1-price-insurance-form .go-button {
    cursor: pointer;
    margin-top: 15px; }

.Paper {
  padding: 15px;
  border: 1px solid #5f5f5f; }
