.tbl-header {
  overflow-y: hidden;
  overflow-x: auto; }
  .tbl-header::-webkit-scrollbar {
    width: 0px !important;
    /* remove scrollbar space */
    height: 0px !important;
    /* remove scrollbar space */
    background: transparent !important;
    /* optional: just make scrollbar invisible */ }
  .tbl-header::-webkit-scrollbar-thumb {
    background-color: white; }

.tbl-content {
  height: 35vh;
  overflow: auto;
  margin-top: 0px;
  border: 1px solid #f2f2f2 !important; }

.reportFixedTable {
  width: 100%;
  table-layout: fixed;
  /* for custom scrollbar for webkit browser*/ }
  .reportFixedTable th {
    padding: 5px 5px;
    vertical-align: middle;
    text-align: center;
    font-weight: 500;
    font-size: 0.8rem;
    color: #000 !important;
    background: #d2faf4 !important;
    border-bottom: 1px solid #17d0b5 !important;
    text-transform: uppercase;
    width: 130px; }
  .reportFixedTable tr:nth-child(even) {
    background: #f2f2f2 !important; }
  .reportFixedTable td {
    padding: 5px 5px;
    text-align: left;
    vertical-align: middle;
    font-size: 0.9rem;
    color: #666666 !important;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    width: 130px; }
    .reportFixedTable td.left {
      text-align: left; }
    .reportFixedTable td.center {
      text-align: center; }
    .reportFixedTable td.right {
      text-align: right; }
  .reportFixedTable ::-webkit-scrollbar {
    width: 6px; }
  .reportFixedTable ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  .reportFixedTable ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.reportFooterDetails {
  text-align: right; }

.forPDF .tbl-content {
  height: auto !important;
  max-height: inherit !important;
  overflow: auto !important; }

.forPDF th,
.forPDF td {
  font-size: 0.7rem;
  padding: 3px;
  width: auto !important; }
