.hptl-phase1-item-batch-form {
  background: #fff;
  border-radius: 5px;

  .colorPrimary {
    div {
      background-color: #dbad64;
      h2 {
        color: #fff;
      }
    }
  }

  th,
  td {
    
    border-right: 1px solid #e6e6e6;
  }
}
