.concurrentTest {
  /* The typing effect */
  /* The typewriter cursor effect */ }
  .concurrentTest .console-log-Cntr {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    min-height: 80vh;
    text-align: left; }
  .concurrentTest .console-log-div {
    position: relative; }
    .concurrentTest .console-log-div i {
      position: absolute;
      right: 15px;
      top: 0px;
      border: 1px solid #000; }
      .concurrentTest .console-log-div i:hover {
        color: yellow;
        cursor: pointer; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: orange; } }
