#hpi-grid-cntr {
  .ReactTable {
    max-height: 215px !important;
  }
}
#hpi-grid-popup-cntr {
  .ReactTable {
    max-height: 315px !important;
  }
}
.selectedChiefComp {
  background-color: #dffbfd !important;
}
