.appointment .appointment-outer-cntr {
  overflow-x: auto;
  overflow-y: hidden;
  width: 94.8vw; }

.appointment .appointment-inner-cntr span.noDoctor {
  display: inline-block;
  font-size: 1.4rem;
  margin: auto;
  width: 100%;
  text-align: center;
  color: #a7a7a7;
  padding: 25vh 0; }

.appointment .my-calendar {
  text-align: center;
  background: #34b8bc;
  color: #fff; }
  .appointment .my-calendar .myDay_date {
    position: relative; }
    .appointment .my-calendar .myDay_date input[type="month"] {
      font-size: 0.8rem;
      padding: 2px 3px 3px 8px;
      width: 250px;
      text-transform: uppercase;
      border: 1px dashed #ffffff;
      border-radius: 4px;
      margin-top: 4px;
      background: none;
      color: #fff; }
    .appointment .my-calendar .myDay_date input[type="month"]::-webkit-calendar-picker-indicator {
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      background: url(../../assets/svg/calendar-white-icon.svg) no-repeat center;
      width: 18px;
      height: 15px;
      border-width: thin;
      background-size: 60%; }
    .appointment .my-calendar .myDay_date input[type="month"]:disabled {
      background: #fffdfa;
      border: 1px dashed #d3d3d3;
      color: #000;
      font-weight: bold; }
    .appointment .my-calendar .myDay_date button {
      margin-left: 0px;
      padding: 3px 6px !important; }
      .appointment .my-calendar .myDay_date button svg {
        height: 16px; }
  .appointment .my-calendar .arrow-box {
    width: 60px;
    cursor: pointer; }
  .appointment .my-calendar .arrow-box:hover {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .appointment .my-calendar .arrow-box-left {
    float: left; }
  .appointment .my-calendar .arrow-box-right {
    float: right; }
  .appointment .my-calendar .calendar .col {
    border: 1px solid #009e94;
    font-size: 1.3rem;
    padding-right: 3px;
    padding-left: 3px; }
  .appointment .my-calendar .calendar .col:hover {
    background: #009e94;
    cursor: pointer; }
  .appointment .my-calendar .calendar .col span {
    padding: 0;
    margin: 0;
    display: block;
    font-size: 0.6rem;
    text-transform: uppercase; }
  .appointment .my-calendar .activeDate {
    border-bottom: 4px solid yellow !important;
    background: #009e94; }
  .appointment .my-calendar .CurrentDate {
    border-top: 2px solid yellow !important; }

.appointment .tg {
  display: inline-block;
  margin-right: 5px; }
  .appointment .tg thead tr {
    text-align: center; }
    .appointment .tg thead tr th {
      font-family: Arial, sans-serif;
      font-size: 0.9rem;
      overflow: hidden;
      padding: 3px 0;
      font-weight: bold;
      word-break: normal;
      border: 1px solid #b3823b;
      color: #ffffff;
      background: #dcac66; }
    .appointment .tg thead tr .tbl-subHdg {
      text-transform: uppercase;
      font-size: 0.7rem !important;
      border: 1px solid #e2e2c8 !important;
      background: #fffff4;
      color: #5a5a5a;
      padding: 0;
      width: 120px; }
  .appointment .tg tbody {
    height: 45vh;
    overflow: auto;
    display: grid; }
    .appointment .tg tbody td.tg-baqh {
      width: 120px;
      font-family: Arial, sans-serif;
      font-size: 0.8rem;
      overflow: hidden;
      word-break: normal;
      border: 1px solid lightgrey;
      text-align: center;
      position: relative;
      padding: 15px 0 5px 4px;
      height: 55px;
      width: 120px; }
    .appointment .tg tbody td[colspan]:not([colspan="1"]) {
      width: 240px;
      height: 10px;
      padding: 0;
      margin: 0; }
    .appointment .tg tbody .dynPatient {
      display: inline-block;
      text-align: left;
      width: 100%;
      padding-left: 5px; }
      .appointment .tg tbody .dynPatient .statusClr {
        width: 5px;
        position: absolute;
        height: 54px;
        display: inline-block;
        left: 0;
        top: 0; }
    .appointment .tg tbody .dynSlot {
      position: absolute;
      top: 2px;
      left: 8px;
      font-size: 0.7rem;
      color: #7d7d7d; }
    .appointment .tg tbody i {
      visibility: hidden;
      position: absolute;
      top: -1px;
      right: -1px;
      border: 1px solid #d3d3d3;
      padding: 3px;
      width: 20px;
      color: #009e94;
      cursor: pointer; }
    .appointment .tg tbody i.fa-pen {
      color: blue !important; }
    .appointment .tg tbody i.fa-times {
      color: red !important;
      top: 18px !important; }
    .appointment .tg tbody td.tg-baqh:hover i {
      visibility: visible; }
    .appointment .tg tbody td.tg-baqh:nth-child(odd) {
      border-right: 1px dashed lightgrey !important; }
    .appointment .tg tbody td.tg-baqh:nth-child(even) {
      border-left: none !important; }
      .appointment .tg tbody td.tg-baqh:nth-child(even) .dynSlot {
        visibility: hidden; }
    .appointment .tg tbody .tg-c3ow {
      border-color: inherit;
      text-align: center;
      vertical-align: top; }
    .appointment .tg tbody .tg-amwm {
      font-weight: bold;
      text-align: center;
      vertical-align: top; }

.appointment ul.ul-legend li {
  float: left;
  margin-right: 10px;
  list-style: none;
  margin-top: 5px;
  font-size: 0.7rem; }
  .appointment ul.ul-legend li span {
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;
    margin-right: 5px; }
