.appoPopupWidth .algaeh-modal {
  width: 50vw; }

.appointment .appointment-outer-cntr {
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 96vw; }

.appointment .appointment-inner-cntr {
  min-width: 94vw !important; }
  .appointment .appointment-inner-cntr span.noDoctor {
    display: inline-block;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #a7a7a7;
    padding: 25vh 0; }

.appointment .tg {
  display: inline-block;
  padding: 8px;
  padding-bottom: 0;
  padding-right: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
  background: #fff;
  margin-right: 10px;
  border-radius: 5px;
  vertical-align: top; }
  .appointment .tg thead tr {
    text-align: center; }
    .appointment .tg thead tr .tg-amwm {
      overflow: hidden;
      padding: 0;
      border: 1px solid #b3823b;
      color: #ffffff;
      background: #dcac66; }
      .appointment .tg thead tr .tg-amwm h6 {
        font-weight: bold;
        margin: 0;
        border-bottom: 1px solid #c39554;
        padding: 2px 0; }
      .appointment .tg thead tr .tg-amwm p {
        margin: 0;
        background: #d2a25e;
        border-top: 1px solid #e4b26b; }
        .appointment .tg thead tr .tg-amwm p span {
          display: block; }
    .appointment .tg thead tr .tbl-subHdg {
      text-transform: uppercase;
      border: 1px solid #e2e2c8 !important;
      background: #fffff4;
      color: #5a5a5a;
      padding: 0;
      width: 120px; }
  .appointment .tg tbody {
    height: 44vh;
    overflow: auto;
    display: grid; }
    .appointment .tg tbody td.tg-baqh {
      width: 120px;
      word-break: normal;
      border: 1px solid lightgrey;
      text-align: center;
      position: relative;
      padding: 20px 0 5px 0;
      height: auto;
      width: 120px;
      vertical-align: top; }
    .appointment .tg tbody td.highlight-Drop {
      background: radial-gradient(ellipse at center, rgba(0, 183, 234, 0.1) 0%, rgba(0, 158, 195, 0.5) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
    .appointment .tg tbody td[colspan]:not([colspan="1"]) {
      width: 240px;
      height: 10px;
      padding: 0;
      margin: 0; }
    .appointment .tg tbody .dynPatient {
      display: inline-block;
      text-align: left;
      width: 90%;
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 2px;
      position: relative; }
      .appointment .tg tbody .dynPatient .statusClr {
        width: 5px;
        position: absolute;
        height: 54px;
        display: inline-block;
        left: 0;
        top: 0; }
      .appointment .tg tbody .dynPatient .appStatusListCntr:hover .appStatusList {
        display: block; }
      .appointment .tg tbody .dynPatient .appStatusListCntr ul.appStatusList {
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
        color: #000;
        background: #fff;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        z-index: 9999;
        position: absolute;
        width: 100%;
        left: 0;
        top: 37px; }
        .appointment .tg tbody .dynPatient .appStatusListCntr ul.appStatusList li {
          margin: 0;
          padding: 0;
          list-style: none;
          border-top: 1px solid #fff;
          display: block; }
          .appointment .tg tbody .dynPatient .appStatusListCntr ul.appStatusList li span {
            padding: 3px 5px;
            display: block; }
    .appointment .tg tbody .dynPatient span:hover {
      text-decoration: underline; }
    .appointment .tg tbody .patientStdbyCount {
      display: block;
      text-align: center;
      background: #fefdf4;
      border-radius: 10px;
      margin: 3px auto 0;
      width: 85%;
      border: 1px solid #e3e0c9; }
      .appointment .tg tbody .patientStdbyCount ul {
        visibility: hidden;
        border: 1px solid #e2dfcb;
        position: absolute;
        z-index: 9;
        background: #fefcf4;
        text-align: left;
        left: -1px;
        top: auto;
        width: 85%;
        margin: auto 10px;
        border-radius: 0 0 10px 10px;
        padding: 0;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); }
        .appointment .tg tbody .patientStdbyCount ul li {
          margin: 0;
          padding: 5px;
          list-style: none;
          border-bottom: 1px solid #e2dfcb; }
          .appointment .tg tbody .patientStdbyCount ul li b {
            padding: 0px 4px;
            border: 1px solid #e1decc;
            display: block;
            float: right;
            margin-top: 0;
            border-radius: 100%;
            width: 16px;
            height: 16px;
            line-height: 11px;
            color: #e8514a;
            background: #fefcf4; }
          .appointment .tg tbody .patientStdbyCount ul li b:hover {
            color: #fff;
            background: #e8514a; }
        .appointment .tg tbody .patientStdbyCount ul li:hover {
          background: #e2dfcb; }
        .appointment .tg tbody .patientStdbyCount ul li:last-child {
          border: none; }
    .appointment .tg tbody .patientStdbyCount:hover {
      border-radius: 10px 10px 0 0; }
      .appointment .tg tbody .patientStdbyCount:hover ul {
        visibility: visible; }
    .appointment .tg tbody .dynSlot {
      position: absolute;
      top: 2px;
      left: 8px;
      color: #7d7d7d; }
    .appointment .tg tbody i.fa-plus {
      display: none;
      position: absolute;
      top: -1px;
      right: -1px;
      border: 1px solid #d3d3d3;
      padding: 3px;
      width: 20px;
      color: #009e94;
      cursor: pointer; }
    .appointment .tg tbody i.fa-clock {
      color: blue !important;
      display: none;
      position: absolute;
      top: 20px !important;
      right: 0px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px; }
    .appointment .tg tbody i.fa-times {
      display: none;
      display: none;
      position: absolute;
      top: 0 !important;
      right: 0px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px; }
    .appointment .tg tbody .dynPatient:hover i.fa-times,
    .appointment .tg tbody .dynPatient:hover i.fa-clock {
      display: block; }
    .appointment .tg tbody i.fa-times:hover {
      color: red !important;
      background: rgba(255, 255, 255, 0.7) !important; }
    .appointment .tg tbody i.fa-clock:hover {
      color: green !important;
      background: rgba(255, 255, 255, 0.7) !important; }
    .appointment .tg tbody td.tg-baqh:hover i.fa-plus {
      display: block; }
    .appointment .tg tbody td.tg-baqh:nth-child(odd) {
      border-right: 1px dashed lightgrey !important; }
    .appointment .tg tbody td.tg-baqh:nth-child(even) {
      border-left: none !important; }
      .appointment .tg tbody td.tg-baqh:nth-child(even) .dynSlot {
        visibility: hidden; }
    .appointment .tg tbody .tg-c3ow {
      border-color: inherit;
      text-align: center;
      vertical-align: top; }
    .appointment .tg tbody .tg-amwm {
      font-weight: bold;
      text-align: center;
      vertical-align: top; }
    .appointment .tg tbody .doctorLeaveCntr {
      height: 42vh;
      padding-top: 17vh;
      border: 1px solid #e3e0c9;
      text-align: center;
      display: block;
      width: 239px;
      color: #ddd;
      text-align: center; }

.appointment .highlightGrey {
  background: #e4e4e4;
  border: 1px solid #d3d3d3; }
