.hptl-phase1-pos-form {
  min-height: 80vh;
  margin-bottom: 60px;
  .form-details {
    padding: 5px;
    padding-bottom: 0px;
  }
  mark {
    background: none;
    color: red;
  }

  .form-group {
    // margin-top: 12vh;
    padding: 2vh;
  }

  .go-button {
    cursor: pointer;
    margin-top: 2.5vh;
  }
}
