.hptl-phase1-pos-form {
  min-height: 80vh;
  margin-bottom: 60px;
  .form-details {
    padding: 5px;
    padding-bottom: 0px;
  }
  mark {
    background: none;
    color: red;
  }

  .form-group {
    // margin-top: 12vh;
    padding: 2vh;
  }

  .go-button {
    cursor: pointer;
    margin-top: 2.5vh;
  }
}

#item_list {
  .ReactTable {
    max-height: 30vh !important;
    max-width: 95vw !important;
  }

  @media screen and (min-width: 481px) and (max-width: 1280px) and (orientation: landscape) {
    .ReactTable {
      max-width: 93.8vw !important;
    }
  }
  .pat-code {
    color: white;
    background: #00a796;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid #027468;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 25px;
  }
}

.editFloatCntr {
  position: fixed;
  bottom: 0;
  background: #313131;
  left: 0;
  z-index: 9999;
  -webkit-box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.2);
  padding-top: 15px;
  width: 100vw;
  padding-bottom: 15px;
  border-bottom: 2px dashed #fff;
  border-top: 2px dashed #fff;

  label {
    color: #fff;
  }
  .style_Label + h6 {
    font-size: 1.5em;
    color: #fff;
  }
  h5 {
    color: #fff;
    border-bottom: 1px solid #696969;
    padding-bottom: 6px;
  }
  button {
    float: right;
    margin-left: 15px;
    margin-top: 15px;
  }
}

.disableFinder {
  opacity: 0.4;
  pointer-events: none;
}

#prescribedListGrid {
  .ReactTable {
    max-height: 50vh !important;
  }
}

#itemBatchsGrid {
  .ReactTable {
    max-height: 50vh !important;
  }
}
