.SessionTimeoutModal {
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  padding: 0 !important;
  margin: 0 !important;
  .ant-modal-content {
    background: linear-gradient(
      270deg,
      rgba(0, 142, 127, 0.8),
      rgba(0, 167, 150, 0.8),
      rgba(255, 148, 0, 0.8)
    );
    background-size: 600% 600%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    .ant-modal-body {
      height: 90.3vh;
      color: #fff;
      text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.48);
      i {
        font-size: 4rem;
        border: 1px solid #fff;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        line-height: 150px;
        margin-bottom: 20px;
        margin-top: 10vh;
      }
      h3 {
        color: #fff;
        font-weight: bold;
        font-size: 2.3rem;
      }
      p {
        font-size: 1.3rem;
      }
    }
    .ant-modal-footer {
      text-align: center;
      .ant-btn-primary {
        display: block;
        width: 98%;
        height: 45px;
        background: #fff;
        border: 1px solid #fff;
        color: rgba(0, 142, 127, 1);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.3rem;
      }
    }
  }

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
@media (max-width: 767px) {
  .ant-modal {
    max-width: 100vw !important;
  }
}
