.algaeh .algaeh-section {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background: #ffff;
  padding-top: 10px; }
  .algaeh .algaeh-section #algaehGrid_Cntr {
    padding-top: 10px; }
    .algaeh .algaeh-section #algaehGrid_Cntr .ReactTable {
      max-width: 98vw !important;
      max-height: 53vh !important; }
