.algaeh {
  .algaeh-section {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    background: #ffff;
    padding-top: 10px;

    #algaehGrid_Cntr {
      padding-top: 10px;
      .ReactTable {
        max-width: 98vw !important;
        max-height: 53vh !important;
      }
    }
  }
  .tabMaster {
    margin-bottom: 0;
  }
}
