.hptl-pre-approval-details {
  .pre_approval_details {
    padding-top: 2%;
  }

  .form-group {
    margin-bottom: 0;
    margin-top: 4px;
    padding: 0;
    padding-top: 20px;
    cursor: pointer;
  }
}
