.RadResultEntryPopupInner .patientInfo-Top {
  background: white;
  height: 70px;
  padding: 5px 0 0;
  width: 100%;
  position: relative;
  z-index: 1; }
  .RadResultEntryPopupInner .patientInfo-Top div {
    float: left;
    color: #858585; }
  .RadResultEntryPopupInner .patientInfo-Top .backBtn {
    border-right: 1px solid #e1e1e1;
    padding-right: 10px; }
    .RadResultEntryPopupInner .patientInfo-Top .backBtn button {
      height: 60px;
      border: 1px solid #e1e1e1; }
    .RadResultEntryPopupInner .patientInfo-Top .backBtn i {
      display: block;
      margin-bottom: 5px; }
  .RadResultEntryPopupInner .patientInfo-Top .patientImg {
    margin: 1px 10px;
    border-radius: 4px;
    border: 1px solid #e1e1e1; }
    .RadResultEntryPopupInner .patientInfo-Top .patientImg img {
      height: 55px;
      border-radius: 4px;
      overflow: hidden; }
  .RadResultEntryPopupInner .patientInfo-Top .patientName {
    max-width: 230px;
    margin-top: 2px;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 57px; }
    .RadResultEntryPopupInner .patientInfo-Top .patientName h6 {
      margin-bottom: 2px;
      color: #000;
      line-height: 1.2rem; }
    .RadResultEntryPopupInner .patientInfo-Top .patientName p {
      margin: 0;
      padding: 0; }
  .RadResultEntryPopupInner .patientInfo-Top .patientDemographic {
    line-height: 1.3rem;
    border-right: 1px solid #e1e1e1;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 57px; }
    .RadResultEntryPopupInner .patientInfo-Top .patientDemographic span {
      display: block; }
      .RadResultEntryPopupInner .patientInfo-Top .patientDemographic span b {
        color: #34b8bc; }
  .RadResultEntryPopupInner .patientInfo-Top .patientHospitalDetail {
    line-height: 1.3rem;
    border-right: 1px solid #e1e1e1;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 57px; }
    .RadResultEntryPopupInner .patientInfo-Top .patientHospitalDetail span {
      display: block; }
      .RadResultEntryPopupInner .patientInfo-Top .patientHospitalDetail span b {
        color: #34b8bc; }
  .RadResultEntryPopupInner .patientInfo-Top .patientVital {
    width: 210px;
    line-height: 1.3rem;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 57px; }
    .RadResultEntryPopupInner .patientInfo-Top .patientVital span {
      display: inline-block;
      margin-right: 8px; }
      .RadResultEntryPopupInner .patientInfo-Top .patientVital span b {
        color: #34b8bc; }
  .RadResultEntryPopupInner .patientInfo-Top .moreAction {
    float: right;
    border-right: 1px solid #e1e1e1;
    padding-right: 10px; }
    .RadResultEntryPopupInner .patientInfo-Top .moreAction button {
      height: 60px;
      border: 1px solid #e1e1e1;
      margin-left: 0; }
    .RadResultEntryPopupInner .patientInfo-Top .moreAction i {
      display: block;
      margin-bottom: 5px; }

.RadResultEntryPopupInner .form-row-gap {
  padding-top: 5px; }

.RadResultEntryPopupInner .editor {
  padding-top: 10px; }
  .RadResultEntryPopupInner .editor .quill .ql-editor {
    max-height: 43vh; }
