.PhysioTherapyScreen {
  margin-top: 15px;

  .globalSearchCntr {
    h6 {
      width: 100%;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0;
      padding: 0 7px;
      line-height: 26px;
      border: 1px solid #dededf;
      height: 30px;
      border-radius: 4px;
      font-size: 1rem;
      background: #fff;
      .fa-search {
        float: right;
        margin-top: 7px;
        color: #ccc;
      }
    }
    margin-bottom: 15px;
  }
}
#physioTreatPatientGrid {
  .ReactTable {
    max-height: 70vh !important;
  }
}
#physioTreatGrid {
  .ReactTable {
    max-height: 35vh !important;
  }
}
