.PhysioTherapyScreen {
  margin-top: 15px;
}
#physioTreatPatientGrid {
  .ReactTable {
    max-height: 70vh !important;
  }
}
#physioTreatGrid {
  .ReactTable {
    max-height: 35vh !important;
  }
}
