.hptl-phase1-doctor-commission-form {
  .form-details {
    padding: 5px;
    padding-bottom: 0px;
  }
  mark {
    background: none;
    color: red;
  }


  .go-button {
    cursor: pointer;
    margin-top: 2.5vh;
  }
}


#doc_comission_grid_cntr {
  .newStickyGrid {
    .table-scroll {
      min-height: 35vh;
      max-height: 35vh;
      overflow: auto;
    }
  }
}