.hptl-phase1-doctor-commission-form .form-details {
  padding: 5px;
  padding-bottom: 0px; }

.hptl-phase1-doctor-commission-form mark {
  background: none;
  color: red; }

.hptl-phase1-doctor-commission-form .form-group {
  padding: 2vh; }

.hptl-phase1-doctor-commission-form .go-button {
  cursor: pointer;
  margin-top: 2.5vh; }

#Doc_Com_grid_cntr {
  width: 98vw !important; }
  #Doc_Com_grid_cntr .ReactTable {
    max-height: 250px !important; }
