.hptl-phase1-doctor-commission-form {
  .form-details {
    padding: 5px;
    padding-bottom: 0px;
  }
  mark {
    background: none;
    color: red;
  }

  .go-button {
    cursor: pointer;
    margin-top: 2.5vh;
  }
}
.newStickyGrid {
  .doc_comission_grid_cntr {
    min-height: 45vh;
    max-height: 45vh;
    overflow: auto !important;
  }
}
