@import "../../styles/algaehCssVariables.scss";
.login {
  font-family: "Roboto", sans-serif;
  min-width: 100%;
  min-height: 100%;
  .LoginCntrHdg {
    margin-top: 0.7em;
    text-align: center;
    color: $primary-color;
    font-size: 2em;
  }

  .form-group {
    margin-bottom: 0.7em;
  }
  .ui.input > input {
    min-height: 40px !important;
    max-height: 40px !important;
    padding: 0.3em 0.5em;
    font-size: 1em;
  }

  .ui.fluid.dropdown {
    min-height: 40px !important;
    max-height: 40px !important;

    .text {
      padding: 0.9em;
      max-width: 90%;
    }

    .delete.icon,
    .dropdown.icon,
    .search.icon {
      padding: 1em;
    }
  }
  .margintop15 {
    margin-top: 9%;
  }
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .loginFormContainer {
    margin: 5% auto 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12);
    width: 320px;
  }
  .frgtPass {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .btn-primary {
    color: $color-white;
    background-color: $primary-color;
    border-color: darken($primary-color, 10%);
    &:hover {
      background-color: darken($primary-color, 10%);
      border-color: lighten($primary-color, 10%);
    }
    &:focus {
      background-color: $primary-color;
      border-color: $primary-color;
    }
    &.disabled,
    &:disabled {
      opacity: 0.3;

      color: $color-white;
      background-color: $primary-color;
      border-color: darken($primary-color, 10%);
      cursor: not-allowed;
    }
    &:active {
      background-color: $color-white;
      border-color: $color-white;
    }
  }

  .checkbox {
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
.bg {
  background-image: url("../../assets/images/login_bg_HIMS.webp");
  position: absolute;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.loginTopbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  .companyLogo {
    float: left;
    background: url(../../assets/svg/ALGAEH_LOGO.svg) no-repeat center;
    height: 70px;
    background-size: 100%;
    width: 175px;
    margin-left: 15px;
  }
  .productLogo {
    float: right;
    background: url(../../assets/svg/HRMS_Logo.svg) no-repeat center;
    height: 70px;
    background-size: 100%;
    width: 100px;
    margin-right: 15px;
  }
}
.loginFooter {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  a {
    text-decoration: none;
    color: yellow;
  }
  a:hover {
    text-decoration: underline;
  }
}
