.login {
  font-family: "Roboto", sans-serif;
  min-width: 100%;
  min-height: 100%; }
  .login .LoginCntrHdg {
    margin-top: 0.7em;
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
  .login .form-group {
    margin-bottom: 0.7em; }
  .login .ui.input > input {
    min-height: 50px !important;
    max-height: 50px !important;
    padding: 0.3em 1em;
    font-size: 1.3em;
    font-weight: 400;
    border-radius: 50px;
    line-height: 0;
    background: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid #fff;
    color: #fff; }
    .login .ui.input > input:focus {
      background: #fff !important;
      border: 1px solid #fff;
      color: #000; }
    .login .ui.input > input::placeholder {
      color: rgba(255, 255, 255, 0.8) !important;
      font-weight: 400;
      line-height: 50px; }
  .login .ui.fluid.dropdown {
    background: none !important;
    min-height: 50px !important;
    max-height: 50px !important;
    padding: 0;
    box-shadow: none;
    border: 0; }
    .login .ui.fluid.dropdown input.search {
      min-height: 50px !important;
      max-height: 50px !important;
      padding: 0.3em 1em !important;
      font-size: 1.3em !important;
      font-weight: 400 !important;
      border-radius: 50px !important;
      line-height: 0 !important;
      background: rgba(0, 0, 0, 0.2) !important;
      border: 1px solid #fff !important;
      color: #fff; }
    .login .ui.fluid.dropdown .text {
      padding: 0.97em !important;
      max-width: 90%;
      font-size: 1.3em;
      font-weight: 400;
      color: #fff; }
    .login .ui.fluid.dropdown .default {
      color: rgba(255, 255, 255, 0.8) !important; }
    .login .ui.fluid.dropdown .delete.icon,
    .login .ui.fluid.dropdown .dropdown.icon,
    .login .ui.fluid.dropdown .search.icon {
      color: #ffffff;
      padding: 0.9rem !important;
      font-size: 1.5rem; }
  .login .margintop15 {
    margin-top: 3%; }
  .login .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .login .loginFormContainer {
    margin: 5% auto 0;
    width: 320px; }
    .login .loginFormContainer .companyLogo {
      background: url(../../assets/svg/algaeh_product_logo.svg) no-repeat center;
      height: 120px;
      background-size: 100%;
      width: 100%;
      margin-bottom: 10px; }
  .login .frgtPass {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 0;
    color: #fff; }
    .login .frgtPass a {
      color: #fff;
      text-decoration: underline; }
    .login .frgtPass a:hover {
      text-decoration: none; }
  .login .ui.fluid.dropdown .menu {
    background-color: white;
    border-radius: 20px;
    border: none; }
    .login .ui.fluid.dropdown .menu .item {
      padding: 18px !important; }
      .login .ui.fluid.dropdown .menu .item .text {
        color: #000 !important;
        padding: 0 !important;
        width: 100% !important; }
  .login .btn-secondary {
    min-height: 50px !important;
    max-height: 50px !important;
    padding: 0.3em 1em;
    font-size: 1.3em !important;
    font-weight: 400;
    border-radius: 50px;
    line-height: 0;
    color: #fff;
    background-color: #f58220;
    border-color: #d8690a; }
    .login .btn-secondary:hover {
      background-color: #d8690a;
      border-color: #f79d51; }
    .login .btn-secondary:focus {
      background-color: #f58220;
      border-color: #f58220; }
    .login .btn-secondary.disabled, .login .btn-secondary:disabled {
      opacity: 0.3;
      color: #fff;
      background-color: #f58220;
      border-color: #d8690a;
      cursor: not-allowed; }
    .login .btn-secondary:active {
      background-color: #fff;
      border-color: #fff; }
  .login .checkbox {
    font-weight: normal;
    margin-bottom: 10px;
    padding-left: 20px;
    color: #fff; }
  .login .txt-fld {
    background: none !important; }

.bg {
  background-image: url("../../assets/images/login_bg_global.jpg");
  position: absolute;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.loginTopbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
  .loginTopbar .productLogo {
    float: right;
    background: url(../../assets/svg/HIMS_LOGO.svg) no-repeat center;
    height: 70px;
    background-size: 100%;
    width: 100px;
    margin-right: 15px; }

.loginFooter {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); }
  .loginFooter a {
    color: #fff;
    text-decoration: underline; }
  .loginFooter a:hover {
    text-decoration: none; }
