.login {
  font-family: "Roboto", sans-serif;
  min-width: 100%;
  min-height: 100%; }
  .login .LoginCntrHdg {
    margin-top: 0.7em;
    text-align: center;
    color: #027ab6;
    font-size: 2em; }
  .login .form-group {
    margin-bottom: 0.7em; }
  .login .ui.input > input {
    min-height: 40px !important;
    max-height: 40px !important;
    padding: 0.3em 0.5em;
    font-size: 1em; }
  .login .ui.fluid.dropdown {
    min-height: 40px !important;
    max-height: 40px !important; }
    .login .ui.fluid.dropdown .text {
      padding: 0.9em;
      max-width: 90%; }
    .login .ui.fluid.dropdown .delete.icon,
    .login .ui.fluid.dropdown .dropdown.icon,
    .login .ui.fluid.dropdown .search.icon {
      padding: 1em; }
  .login .margintop15 {
    margin-top: 9%; }
  .login .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .login .loginFormContainer {
    margin: 5% auto 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12);
    width: 320px; }
  .login .frgtPass {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 0; }
  .login .btn-primary {
    color: #fff;
    background-color: #027ab6;
    border-color: #015884; }
    .login .btn-primary:hover {
      background-color: #015884;
      border-color: #039ce8; }
    .login .btn-primary:focus {
      background-color: #027ab6;
      border-color: #027ab6; }
    .login .btn-primary.disabled, .login .btn-primary:disabled {
      opacity: 0.3;
      color: #fff;
      background-color: #027ab6;
      border-color: #015884;
      cursor: not-allowed; }
    .login .btn-primary:active {
      background-color: #fff;
      border-color: #fff; }
  .login .checkbox {
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px; }

.bg {
  background-image: url("../../assets/images/login_bg_HIMS.webp");
  position: absolute;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.loginTopbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
  .loginTopbar .companyLogo {
    float: left;
    background: url(../../assets/svg/ALGAEH_LOGO.svg) no-repeat center;
    height: 70px;
    background-size: 100%;
    width: 175px;
    margin-left: 15px; }
  .loginTopbar .productLogo {
    float: right;
    background: url(../../assets/svg/HIMS_LOGO.svg) no-repeat center;
    height: 70px;
    background-size: 100%;
    width: 100px;
    margin-right: 15px; }

.loginFooter {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); }
  .loginFooter a {
    text-decoration: none;
    color: yellow; }
  .loginFooter a:hover {
    text-decoration: underline; }
