.login {
  font-family: "Roboto", sans-serif;
  min-width: 100%;
  min-height: 100%; }
  .login input[type="text"] {
    padding: 8px 10px;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #3a95aa; }
  .login input[type="password"] {
    padding: 8px 10px;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #3a95aa;
    width: 100%; }
  .login .margintop15 {
    margin-top: 12%; }
  .login .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .login .loginFormContainer {
    padding: 15px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12); }
  .login .frgtPass {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 0; }
  .login .sign-btn {
    box-shadow: 0 5px 0 #2a7688;
    border: 1px solid #48a0bb;
    color: #fff;
    background-size: 300% 100%;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .login .sign-btn:hover {
    box-shadow: 0 3px 0 #35879a;
    border: 1px solid #48b1ca;
    background-position: 100% 0;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .login .btn-primary {
    color: #fff;
    background-color: none;
    background-image: linear-gradient(to right, #34b8bc, #25d8df, #34b8bc, #25d8df);
    border-color: #44b8bd; }
  .login .btn-primary:hover {
    background-color: none;
    border-color: #44b8bd; }
  .login .checkbox {
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px; }

.bg {
  background-image: url("../../assets/images/login_bg.jpg");
  position: absolute;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.loginTopbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
  .loginTopbar .companyLogo {
    float: left;
    background: url(../../assets/svg/ALGAEH_LOGO.svg) no-repeat center;
    height: 70px;
    background-size: 100%;
    width: 175px;
    margin-left: 15px; }
  .loginTopbar .productLogo {
    float: right;
    background: url(../../assets/svg/HIMS_LOGO.svg) no-repeat center;
    height: 70px;
    background-size: 100%;
    width: 100px;
    margin-right: 15px; }
