@import "../../styles/algaehCssVariables.scss";
.login {
  font-family: "Roboto", sans-serif;
  min-width: 100%;
  min-height: 100%;
  .LoginCntrHdg {
    margin-top: 0.7em;
    text-align: center;
    color: $color-white;
    font-size: 2em;
    font-weight: 400;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }

  .form-group {
    margin-bottom: 0.7em;
  }
  .ui.input > input {
    min-height: 50px !important;
    max-height: 50px !important;
    padding: 0.3em 1em;
    font-size: 1.3em;
    font-weight: 400;
    border-radius: 50px;
    line-height: 0;
    background: rgba($color-black, 0.2) !important;
    border: 1px solid $color-white;
    color: $color-white;

    &:focus {
      background: $color-white !important;
      border: 1px solid $color-white;
      color: $color-black;
    }
    &::placeholder {
      color: rgba($color-white, 0.8) !important;
      font-weight: 400;
      line-height: 50px;
    }
  }

  .ui.fluid.dropdown {
    background: none !important;
    min-height: 50px !important;
    max-height: 50px !important;
    padding: 0;
    box-shadow: none;
    border: 0;
    input.search {
      min-height: 50px !important;
      max-height: 50px !important;
      padding: 0.3em 1em !important;
      font-size: 1.3em !important;
      font-weight: 400 !important;
      border-radius: 50px !important;
      line-height: 0 !important;
      background: rgba($color-black, 0.2) !important;
      border: 1px solid $color-white !important;
      color: $color-white;
    }
    .text {
      padding: 0.97em !important;
      max-width: 90%;
      font-size: 1.3em;
      font-weight: 400;
      color: $color-white;
    }
    .default {
      color: rgba($color-white, 0.8) !important;
    }

    .delete.icon,
    .dropdown.icon,
    .search.icon {
      color: #ffffff;
      padding: 0.9rem !important;
      font-size: 1.5rem;
    }
  }
  .margintop15 {
    margin-top: 3%;
  }
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .loginFormContainer {
    margin: 5% auto 0;
    width: 320px;
    .companyLogo {
      background: url(../../assets/svg/algaeh_product_logo.svg) no-repeat center;
      height: 120px;
      background-size: 100%;
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .frgtPass {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 0;
    color: $color-white;
    a {
      color: $color-white;
      text-decoration: underline;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .ui.fluid.dropdown {
    .menu {
      background-color: white;
      border-radius: 20px;
      border: none;
      .item {
        padding: 18px !important;
        .text {
          color: $color-black !important;
          padding: 0 !important;
          width: 100% !important;
        }
      }
    }
  }
  .btn-secondary {
    min-height: 50px !important;
    max-height: 50px !important;
    padding: 0.3em 1em;
    font-size: 1.3em !important;
    font-weight: 400;
    border-radius: 50px;
    line-height: 0;
    color: $color-white;
    background-color: $secondary-color;
    border-color: darken($secondary-color, 10%);
    &:hover {
      background-color: darken($secondary-color, 10%);
      border-color: lighten($secondary-color, 10%);
    }
    &:focus {
      background-color: $secondary-color;
      border-color: $secondary-color;
    }
    &.disabled,
    &:disabled {
      opacity: 0.3;

      color: $color-white;
      background-color: $secondary-color;
      border-color: darken($secondary-color, 10%);
      cursor: not-allowed;
    }
    &:active {
      background-color: $color-white;
      border-color: $color-white;
    }
  }

  .checkbox {
    font-weight: normal;
    margin-bottom: 10px;
    padding-left: 20px;
    color: $color-white;
  }
  .txt-fld {
    background: none !important;
  }
}
.bg {
  background-image: url("../../assets/images/login_bg_global.jpg");
  position: absolute;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.loginTopbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  .productLogo {
    float: right;
    background: url(../../assets/svg/HIMS_LOGO.svg) no-repeat center;
    height: 70px;
    background-size: 100%;
    width: 100px;
    margin-right: 15px;
  }
}
.loginFooter {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  color: $color-white;
  font-size: 0.7rem;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  a {
    color: $color-white;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}
