.hims_item_setup #itemSetupGrid .ReactTable {
  max-height: 80vh !important; }

.hims_item_setup .toggle-section {
  margin: 10px;
  margin-bottom: 0px; }

.hims_item_setup .item-footer {
  height: "60px";
  background-color: #000; }

.hims_item_setup .item-section {
  border: 1px solid #d3d3d3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; }

.hims_item_setup th,
.hims_item_setup td {
  border-right: 1px solid #e6e6e6; }

#itemSetupPopGrid .ReactTable {
  max-height: 27vh !important; }

.AutoCompleteRight .menu {
  right: 0 !important;
  left: auto !important; }

.customGlobalSearch .searchView {
  padding-right: 0; }

.customGlobalSearch i.searchIcon {
  border: 1px solid #ebebeb;
  padding: 7px;
  margin-top: 20px;
  height: 30px;
  border-radius: 0 3px 3px 0;
  cursor: pointer; }
  .customGlobalSearch i.searchIcon:hover {
    border: 1px solid #000; }
