.hptl-phase1-network-plan-form {
  background: #fff;
  border-radius: 5px; }
  .hptl-phase1-network-plan-form mark {
    background: none;
    color: red; }
  .hptl-phase1-network-plan-form .button-details {
    margin-top: 10px;
    margin-bottom: 10px; }
    .hptl-phase1-network-plan-form .button-details button {
      float: right;
      margin-left: 10px; }
  .hptl-phase1-network-plan-form .Paper {
    background: #fff;
    border: 1px solid #d3d3d3;
    padding: 10px; }
  .hptl-phase1-network-plan-form .label-pad {
    padding-top: 25px; }
  .hptl-phase1-network-plan-form .insurance-details {
    border-bottom: 1px solid #000; }
  .hptl-phase1-network-plan-form .networkPlanCntr {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px; }
