.hptl-phase1-network-plan-form {
  background: #fff;
  border-radius: 5px;
  label {
    font-size: 0.7rem;
  }
  mark {
    background: none;
    color: red;
  }

  .button-details {
    margin-top: 10px;
    margin-bottom: 10px;
    button {
      float: right;
      margin-left: 10px;
    }
  }

  .Paper {
    border: 1px solid #5f5f5f;
    padding: 10px;
  }

  .label-pad {
    padding-top: 25px;
  }
  .insurance-details {
    border-bottom: 1px solid #000;
  }
  .networkPlanCntr {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
  }
}
