@import "../../styles/algaehCssVariables.scss";

.hptl-phase1-rad-work-list-form {
  .go-button {
    cursor: pointer;
    margin-bottom: -15px;
    margin-top: 10px;
  }

  .form-group {
    margin-bottom: 0;

    padding: 0;
    padding-top: 20px;
    cursor: pointer;
  }

  th,
  td {
    border-right: 1px solid #e6e6e6;
  }
}
.pat-code:hover {
  text-decoration: underline;
}
#RadWorkGridCntr {
  .ReactTable {
    max-height: 57vh !important;
  }
}
.topResultCard {
  .card-body {
    padding: 0px 10px 3px;
    p {
      margin: 0;
      padding: 0;
      float: right;
      line-height: 35px;
    }
    .card-title {
      margin: 0;
      display: inline-block;
      font-size: 2rem;
    }
  }
}

.PatientAttachmentModal {
  min-width: 80vw !important;

  .investigationAttachmentDrag {
    .ant-upload-drag {
      height: 80px !important;
      margin-top: 15px;
    }
  }
  .investigationAttachmentList {
    margin: 15px;
    padding: 0;
    list-style: none;
    border: 1px solid lighten($color-black, 70%) !important;
    min-height: 55vh;
    max-height: 55vh;
    overflow-x: hidden;
    overflow-y: auto;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      border-bottom: 1px solid lighten($color-black, 70%) !important;
      b {
        width: calc(100% - 105px);
        padding: 3px 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        height: 22px;
        line-height: 26px;
      }
      span {
        display: inline-block;
        width: 105px;
        text-align: right;
        i {
          padding: 10px;
          border-left: 1px dashed lighten($color-black, 70%) !important;
          &:hover {
            background-color: $primary-color;
            color: $color-white;
            cursor: pointer;
          }
          &.fa-trash {
            &:hover {
              background-color: red;
            }
          }
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
    .noAttachment {
      min-height: 137px;
      max-height: 137px;
      text-align: center;
      p {
        line-height: 137px;
        padding: 0 10px;
      }
    }
  }
}
