.hptl-phase1-add-hospitalservies-form {
  background: #fff;
  padding: 0px; }
  .hptl-phase1-add-hospitalservies-form mark {
    background: none;
    color: red; }
  .hptl-phase1-add-hospitalservies-form .form-details {
    padding-bottom: 0px; }
  .hptl-phase1-add-hospitalservies-form .button {
    padding: 10px; }

.popUpHospitalServices .algaeh-modal {
  max-width: 40vw; }

.HospitalServicesPopup .algaeh-modal {
  width: 50vw; }
