.hptl-phase1-add-rad-investigation-form {
  background: #fff;
  // border-radius: 5px;
  padding: 0px;
  mark {
    background: none;
    color: red;
  }
  .form-details {
    padding-bottom: 0px;
  }
  .button {
    padding: 10px;
  }
  .analyte-section {
    border: 1px solid #d3d3d3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  .Paper {
    background: #fff;
    padding: 10px;
    border: 1px solid #d3d3d3;
    margin-top: 10px;
  }

  .main_div {
    height: 85vh;
    overflow: auto;
    padding-bottom: 0px;
  }

  .go-button {
    cursor: pointer;
    margin-bottom: -60px;
    margin-top: -30px;
  }
  .RichTextEditor__root___2QXK- {
    min-height: 40vh;
  }
  #templateGrid {
    .ReactTable {
      max-height: 50vh !important;
    }
  }
}
