.physical_examination .vitalTopFld15 {
  width: 15%; }

.physical_examination .vitalTopFld20 {
  width: 20%; }

.physical_examination .vitalTopFld25 {
  width: 25%; }

.textArea {
  max-height: 188px; }
  .textArea .ui.input input,
  .textArea .ui.input textarea {
    min-height: 200px !important;
    max-height: 200px !important; }

.examDiagramPopup .popupInner {
  min-height: 80vh !important;
  max-height: 80vh !important; }
  .examDiagramPopup .popupInner .popLeftDiv {
    min-height: 30vh;
    max-height: 80vh; }
  .examDiagramPopup .popupInner .popRightDiv {
    min-height: 30vh;
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto; }

.examDiagramPopup .CanvasEditorCntr {
  background: #cecece;
  width: 100%;
  height: 57vh;
  float: left; }

.examDiagramPopup .DiagramRemarksCntr {
  width: 100%;
  float: left; }

.examDiagramPopup .eachDiagram {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px; }
  .examDiagramPopup .eachDiagram img {
    width: 100%;
    height: auto;
    background: #ccc;
    border: 1px solid #ccc; }
  .examDiagramPopup .eachDiagram p {
    font-size: 0.9rem; }
    .examDiagramPopup .eachDiagram p small {
      display: block; }
