.physical_examination {
  .vitalTopFld15 {
    width: 15%;
  }
  .vitalTopFld20 {
    width: 20%;
  }
  .vitalTopFld25 {
    width: 25%;
  }
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: auto;
  margin: 0 auto;

  /* timelineContainer around content */
  .timelineContainer {
    padding: 5px 0 3px 5px;
    position: relative;
    width: 90%;
  }

  /* The circles on the timeline */
  .timelineContainer::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #2ebcb0;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  /* Place the container to the right */
  .right {
    left: 10px;
  }

  .content {
    position: relative;
    padding: 4px 0 13px 16px;
    border-bottom: 2px dashed #cecece;

    .dateStamp {
      background: #2ebcb0;
      color: #fff;
      padding: 2px 10px;
      margin: 0;
      margin-bottom: 7px;
      border-radius: 7px;
    }
    ul.vitals-box {
      margin: 0;
      padding: 0;
      list-style: none;

      li.each-vitals-box {
        margin: 5px 0 0;
        padding: 5px 10px;
        list-style: none;
        border: 1px solid #41bcaf;
        border-radius: 5px;
        background: #fffbf3;
        p {
          margin: 0;
          padding: 0;
          margin-bottom: 5px;
          text-transform: uppercase;
        }
        span:first-child {
        }
        span:last-child {
          text-align: right;
          margin-left: 5px;
        }
      }
    }
  }
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  top: 0;
  bottom: 0;
  left: 22px;
  margin-left: -3px;
  background: #cecece;
}
.textArea {
  max-height: 188px;
  .ui.input {
    input,
    textarea {
      min-height: 200px !important;
      max-height: 200px !important;
    }
  }
}
