.physical_examination {
	.vitalTopFld15 {
		width: 15%;
	}
	.vitalTopFld20 {
		width: 20%;
	}
	.vitalTopFld25 {
		width: 25%;
	}
}
.textArea {
	max-height: 188px;
	.ui.input {
		input,
		textarea {
			min-height: 200px !important;
			max-height: 200px !important;
		}
	}
}
.examDiagramPopup {
	.popupInner {
		min-height: 80vh !important;
		max-height: 80vh !important;
		.popLeftDiv {
			min-height: 30vh;
			max-height: 80vh;
		}
		.popRightDiv {
			min-height: 30vh;
			max-height: 80vh;
			overflow-x: hidden;
			overflow-y: auto;
		}
	}

	.CanvasEditorCntr {
		background: #cecece;
		width: 100%;
		height: 57vh;
		float: left;
	}
	.DiagramRemarksCntr {
		width: 100%;
		float: left;
	}
	.eachDiagram {
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
		img {
			width: 100%;
			height: auto;
			background: #ccc;
			border: 1px solid #ccc;
		}
		p {
			font-size: 0.9rem;
			small {
				display: block;
			}
		}
	}
}
