.htpl-primary-display-insurance-pos-form .primary-details {
  padding: 0 15px;
  border-right: 1px solid #000; }
  .htpl-primary-display-insurance-pos-form .primary-details .primary-box-container {
    padding: 5px; }

.htpl-primary-display-insurance-pos-form .secondary-box-container {
  padding: 5px; }

.htpl-primary-display-insurance-pos-form mark {
  background: none;
  color: red; }

.htpl-primary-display-insurance-pos-form label {
  font-weight: 400; }

.htpl-primary-display-insurance-pos-form .centerAlign {
  text-align: center;
  font-weight: 700; }

.htpl-primary-display-insurance-pos-form .text_field {
  width: 100% !important;
  background-color: #fbfbfb;
  margin-right: "5px"; }

.htpl-primary-display-insurance-pos-form .radio-design {
  position: absolute;
  top: 5px;
  left: 36px; }

.htpl-primary-display-insurance-pos-form .refactor-design {
  min-height: 28px;
  background-color: #fbfbfb;
  border: 0px; }

.htpl-primary-display-insurance-pos-form .file-name-upload {
  margin-left: 4%;
  margin-top: 2%; }
