.ProjectPayrollSalaryPopup {
  .algaeh-modal {
    width: 45vw;
  }
}
#ProjectSalary_Earning_Cntr_grid {
  .ReactTable {
    max-height: 40vh !important;
  }
}
#projectPayrollGrid_Cntr {
  .newStickyGrid {
    .table-scroll {
      min-height: 50vh;
      max-height: 50vh;
      overflow: auto;
    }
  }
}
