$fontSize: 0.7rem;
$fontFamily: "Arial,Verdana,sans-serif";
$fontWeight: normal;
$color: #7c909b;
$moz-osx-font-smoothing: grayscale;
$webkit-font-smoothing: antialiased !important;
$outline-width: 0;
$textFontSize: 0.8rem;
