$fontSize: 0.75rem;
$fontFamily: "Titillium Web", sans-serif;
//$fontFamily: "Nunito", sans-serif;
$fontWeight: normal;
$color: #7c909b;
$moz-osx-font-smoothing: grayscale;
$webkit-font-smoothing: antialiased !important;
$outline-width: 0;
$textFontSize: 0.85rem;
$mainMenu: 0.85rem;
$subMenu: 0.85rem;
