.EmpShiftRost_Screen .legends {
  color: white;
  font-size: 12px;
  padding: 5px;
  font-size: 0.7em;
  border-radius: 6px; }

.EmpShiftRost_Screen .time_cell {
  background-color: "lightgray";
  cursor: pointer; }

.EmpShiftRost_Screen .week_off_cell {
  background: #3f9c62;
  color: white; }

.EmpShiftRost_Screen .holiday_cell {
  background: #3f789c;
  color: white; }

.EmpShiftRost_Screen .time_cell:hover {
  background-color: #58b9c0; }

.EmpShiftRost_Screen #shiftRosterTable {
  overflow: auto;
  border: 1px solid #d2d2d2; }
  .EmpShiftRost_Screen #shiftRosterTable .noTimeSheetData {
    text-align: center;
    color: rgba(0, 0, 0, 0.1);
    width: 100%; }
    .EmpShiftRost_Screen #shiftRosterTable .noTimeSheetData h1 {
      margin-top: 30px; }
    .EmpShiftRost_Screen #shiftRosterTable .noTimeSheetData i {
      font-size: 16em;
      margin: 4vh 0 6vh;
      color: rgba(0, 0, 0, 0.04); }
  .EmpShiftRost_Screen #shiftRosterTable table {
    width: 100%;
    box-sizing: border-box;
    table-layout: fixed;
    min-height: 20vh;
    max-height: 55vh; }
    .EmpShiftRost_Screen #shiftRosterTable table thead th {
      padding: 3px;
      text-align: center;
      border-right: 1px solid #c7e0e0;
      border-bottom: 1px solid #d2d2d2;
      color: #000 !important;
      background: #dff6f6 !important;
      width: 75px; }
      .EmpShiftRost_Screen #shiftRosterTable table thead th:nth-child(1) {
        width: 120px; }
      .EmpShiftRost_Screen #shiftRosterTable table thead th:nth-child(2) {
        width: 250px; }
    .EmpShiftRost_Screen #shiftRosterTable table tbody {
      overflow: auto;
      min-height: 60vh;
      max-height: 60vh; }
      .EmpShiftRost_Screen #shiftRosterTable table tbody tr td {
        padding: 3px;
        text-align: center;
        border-right: 1px solid #ececec;
        border-top: 1px solid #ececec;
        width: 75px; }
        .EmpShiftRost_Screen #shiftRosterTable table tbody tr td:nth-child(1) {
          text-align: center;
          width: 120px; }
        .EmpShiftRost_Screen #shiftRosterTable table tbody tr td:nth-child(2) {
          text-align: left;
          width: 250px; }
      .EmpShiftRost_Screen #shiftRosterTable table tbody tr:nth-child(odd) {
        background: #f2f2f2; }
      .EmpShiftRost_Screen #shiftRosterTable table tbody tr:nth-child(even) {
        background: #fff; }
