.SalaryApprisalWrapper .textArea {
  height: 90px;
  margin-bottom: 0;
  margin-top: 9px;
  background: #fff !important; }

.SalaryApprisalWrapper #NewAppraisalEarnings_Cntr .ReactTable {
  max-height: 55vh !important; }

.SalaryApprisalWrapper #NewAppraisalContributions_Cntr .ReactTable,
.SalaryApprisalWrapper #NewAppraisalDeductions_Cntr .ReactTable {
  max-height: 18vh !important; }
