.SalaryApprisalWrapper {
  .textArea {
    height: 90px;
    margin-bottom: 0;
    margin-top: 9px;
    background: #fff !important;
  }
  #NewAppraisalEarnings_Cntr {
    .ReactTable {
      max-height: 55vh !important;
    }
  }

  #NewAppraisalContributions_Cntr,
  #NewAppraisalDeductions_Cntr {
    .ReactTable {
      max-height: 18vh !important;
    }
  }
}
