.SalaryApprisalWrapper {
  .textArea {
    height: 90px;
    margin-bottom: 0;
    margin-top: 9px;
    background: #fff !important;
  }
  #NewEarGrid_Cntr,
  #NewDedGrid_Cntr,
  #NewConGrid_Cntr {
    .ReactTable {
      max-height: 55vh !important;
    }
  }
}
