#branchCompanyList {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 73vh; }
  #branchCompanyList .branchEachList {
    border-bottom: 1px solid #d3d3d3;
    position: relative; }
    #branchCompanyList .branchEachList .branchAction {
      background: rgba(248, 248, 248, 0.9);
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      left: 0;
      z-index: 1;
      text-align: center;
      line-height: 20vh;
      display: none; }
      #branchCompanyList .branchEachList .branchAction i {
        color: #333;
        border: 1px solid #fff;
        border-radius: 50%;
        text-align: center;
        height: 50px;
        width: 50px;
        line-height: 50px;
        font-size: 1.5rem;
        margin: 0 5px;
        background: #fff;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); }
        #branchCompanyList .branchEachList .branchAction i:hover {
          cursor: pointer;
          color: #fff;
          background-color: #00a796;
          border-color: #007468; }
    #branchCompanyList .branchEachList h5 {
      margin: 0;
      font-size: 1.2rem; }
    #branchCompanyList .branchEachList:hover .branchAction {
      display: block; }
    #branchCompanyList .branchEachList:last-child {
      border: none; }

.departmentBranchMapList ul,
.departmentBranchMapList li {
  margin: 0;
  padding: 0;
  list-style: none; }

.departmentBranchMapList ul.deptUl {
  border: 1px solid #d3d3d3;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 66vh;
  font-size: 0.85rem; }
  .departmentBranchMapList ul.deptUl li {
    border-bottom: 1px solid #d3d3d3;
    font-weight: 500; }
    .departmentBranchMapList ul.deptUl li span {
      width: 30px;
      height: auto;
      display: inline-block;
      padding: 0 8px;
      text-align: center;
      vertical-align: top; }
      .departmentBranchMapList ul.deptUl li span input {
        margin-top: 10px; }
    .departmentBranchMapList ul.deptUl li a {
      display: inline-block;
      border-left: 1px solid #d3d3d3;
      padding: 5px;
      width: calc(100% - 30px); }
    .departmentBranchMapList ul.deptUl li .subDeptUl {
      margin: 0;
      padding: 0;
      list-style: none;
      border-top: 1px solid #d3d3d3;
      margin-left: 30px; }
      .departmentBranchMapList ul.deptUl li .subDeptUl li {
        border-left: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
        font-weight: normal; }
        .departmentBranchMapList ul.deptUl li .subDeptUl li:last-child {
          border-bottom: none; }
    .departmentBranchMapList ul.deptUl li:hover {
      background-color: #00a796;
      border-color: #007468;
      cursor: pointer;
      color: #fff; }
      .departmentBranchMapList ul.deptUl li:hover .subDeptUl li {
        color: #4d4d4d; }
        .departmentBranchMapList ul.deptUl li:hover .subDeptUl li:hover {
          background-color: #00a796;
          border-color: #007468;
          color: #fff; }
