.reports {
  .reportList {
    padding: 5px;
    div {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px 5px 3px;
      text-align: center;

      height: 120px;
      cursor: pointer;
      i {
        text-align: center;

        color: #33b7bc;
        margin-bottom: 10px;
      }
    }
    div:hover {
      background: #f2ffff;
      box-shadow: 0 0 10px #eee;
    }
  }
}
