.employeeServicesModule .EmployeeTopNav {
  background: white;
  height: 30px;
  padding: 0;
  width: 100%;
  color: #797979;
  text-transform: uppercase;
  position: fixed;
  top: 52px;
  z-index: 99; }
  .employeeServicesModule .EmployeeTopNav .tabMaster {
    box-shadow: none; }
    .employeeServicesModule .EmployeeTopNav .tabMaster ul {
      position: relative; }
      .employeeServicesModule .EmployeeTopNav .tabMaster ul li:after {
        display: block;
        content: "";
        border-bottom: 3px solid #00a796;
        transform: scaleX(0);
        transition: transform 150ms ease-in-out; }
      .employeeServicesModule .EmployeeTopNav .tabMaster ul li:hover:after {
        transform: scaleX(1); }
      .employeeServicesModule .EmployeeTopNav .tabMaster ul li span {
        text-transform: uppercase;
        padding: 9px 15px 8px;
        color: #858585;
        cursor: pointer; }
      .employeeServicesModule .EmployeeTopNav .tabMaster ul li span.active {
        border-bottom: 3px solid #00a796;
        color: #fff;
        background: #00a796; }
        .employeeServicesModule .EmployeeTopNav .tabMaster ul li span.active:hover {
          cursor: default;
          color: #fff; }
        .employeeServicesModule .EmployeeTopNav .tabMaster ul li span.active:hover:after {
          display: none !important;
          border: none !important;
          cursor: pointer; }
    .employeeServicesModule .EmployeeTopNav .tabMaster .Employee-quick-info {
      color: #00a796;
      margin: 0;
      padding: 0;
      list-style: none;
      position: absolute;
      right: 20px; }
      .employeeServicesModule .EmployeeTopNav .tabMaster .Employee-quick-info li {
        background: #ffffff;
        color: #53bcb1;
        padding: 4px 10px 3px;
        cursor: pointer;
        margin: 0 10px;
        list-style: none;
        display: inline-block; }
        .employeeServicesModule .EmployeeTopNav .tabMaster .Employee-quick-info li section {
          width: 30vw;
          height: auto;
          position: absolute;
          right: 0;
          top: 30px;
          background: #53bdb1;
          z-index: 9;
          padding: 10px;
          border-radius: 5px;
          color: #fff;
          display: none; }
          .employeeServicesModule .EmployeeTopNav .tabMaster .Employee-quick-info li section b.top-nav-sec-hdg {
            text-align: center;
            border-bottom: 1px solid #337e74;
            margin-left: -10px;
            margin-right: -10px;
            padding-bottom: 11px; }
          .employeeServicesModule .EmployeeTopNav .tabMaster .Employee-quick-info li section b {
            display: block;
            border-bottom: 1px solid #3f9c90;
            margin-bottom: 10px;
            padding-bottom: 5px; }
          .employeeServicesModule .EmployeeTopNav .tabMaster .Employee-quick-info li section .listofA-D-D {
            display: inline-block;
            margin-right: 8px;
            border: 1px solid #317970;
            padding: 3px 10px;
            margin: 0;
            color: #fff;
            margin-right: 5px;
            margin-bottom: 3px;
            border-radius: 20px;
            background: #3f9c91;
            white-space: normal; }
          .employeeServicesModule .EmployeeTopNav .tabMaster .Employee-quick-info li section p {
            background: rgba(0, 0, 0, 0.05);
            border-top: 1px solid #65dace;
            margin: -10px;
            padding: 10px; }
      .employeeServicesModule .EmployeeTopNav .tabMaster .Employee-quick-info li:hover {
        background: #53bcb1;
        color: #fff;
        padding: 4px 10px; }
        .employeeServicesModule .EmployeeTopNav .tabMaster .Employee-quick-info li:hover section {
          display: block; }

.employeeServicesModule .EmployeeContentArea {
  margin: 100px 10px 0;
  z-index: 1;
  width: 100%; }

.employeeServicesModule .empService-setion {
  margin-top: 40px;
  padding-top: 0;
  background: none; }
