.hptl-phase1-add-rad-tamplate-form {
  background: #fff;
  padding: 10px; }
  .hptl-phase1-add-rad-tamplate-form mark {
    background: none;
    color: red; }
  .hptl-phase1-add-rad-tamplate-form .form-details {
    padding-bottom: 0px; }
  .hptl-phase1-add-rad-tamplate-form .button {
    padding: 10px; }
  .hptl-phase1-add-rad-tamplate-form .analyte-section {
    border: 1px solid #d3d3d3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }
  .hptl-phase1-add-rad-tamplate-form .Paper {
    padding: 10px;
    border: 1px solid #5f5f5f;
    margin-top: 10px; }
  .hptl-phase1-add-rad-tamplate-form .main_div {
    height: 85vh;
    overflow: auto;
    padding-bottom: 0px; }
  .hptl-phase1-add-rad-tamplate-form .go-button {
    cursor: pointer;
    margin-bottom: -60px;
    margin-top: -30px; }
  .hptl-phase1-add-rad-tamplate-form .editor .quill .ql-container {
    min-height: 40vh; }
