.disableFinder {
  opacity: 0.4;
  pointer-events: none;
}
#REQ_dispatchDetailsGrid {
  .ReactTable {
    max-height: 38.4vh !important;
  }
}
#dispatchItemGridDetail {
  .ReactTable {
    max-height: 30.5vh !important;
  }
}
.reqDispatchList {
  margin: 0;
  padding: 1px 0;
  list-style: none;
  background: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  max-height: 40vh;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 40vh;
  li {
    margin: 0;
    padding: 10px 15px;
    border-bottom: 1px solid #d6d6d6;
    list-style: none;
    .itemReq {
      display: inline-block;
      width: 85%;
      h6 {
        font-size: 1.2rem;
      }
      span {
        display: inline-block;
        width: 50%;
        margin: 0;
        padding: 0;
        /* border: 1px solid #000; */
        /* margin-right: 10px; */
        /* height: 30px; */
        line-height: 19px;
        /* padding-left: 4px; */
        font-size: 0.9rem;
        text-align: left;

        span {
          font-weight: bold;
          border: none;
          display: inline;
        }
      }
    }
    .itemAction {
      float: right;
      span {
        i {
          border: 1px solid #a8a8a8;
          color: #a8a8a8;
          padding: 7px;
          border-radius: 50%;
          margin-top: 17px;
          cursor: pointer;
          &:hover {
            border: 1px solid #000;
            color: #000;
          }
        }
      }
    }
    &:hover {
      background-color: #fafafa;
    }
  }
}

.textAreaLeft {
  text-align: left;
  margin-bottom: 50px;
}
