.hptl-phase1-opbilling-details {
  background: #fbfbfb; }
  .hptl-phase1-opbilling-details .billing-section {
    border: 1px solid #d3d3d3;
    margin: 5px;
    margin-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }
  .hptl-phase1-opbilling-details .toggle-section {
    margin: 5px;
    margin-bottom: 0px; }
