#WardSetupGrid {
  .newStickyGrid {
    .table-scroll {
      min-height: 52vh;
      max-height: 52vh;
      overflow: auto;
    }
  }
}
#BedSetupGrid {
  .newStickyGrid {
    .table-scroll {
      min-height: 31vh;
      max-height: 31vh;
      overflow: auto;
    }
  }
}
.accCntr {
  .accrTable {
    width: 100%;
    border-collapse: collapse;
    thead {
      margin: 0;
      padding: 0;
      font-weight: bold;
      text-transform: uppercase;
      tr {
        border-bottom: 1px dotted #ccc;
        font-size: 11px;
        th {
          background: #00a796 !important;
          vertical-align: middle !important;
          padding: 5px;
          text-transform: uppercase;
          text-align: center;
          border: 1px solid #00756a;
          font-size: 10px;
          color: #fff;
        }
      }
    }

    tbody {
      margin: 0;
      padding: 0;
      td {
        border: 1px solid #ccc;
        padding: 3px 5px;
        margin: 0;
        font-size: 13px !important;
        text-align: center;
      }
    }
  }
  .accFooter {
    text-align: right;
    button {
      margin-top: 5px;
    }
  }
}
