.dept {
  font-weight: normal;
  /*Gap*/ }
  .dept .imp {
    color: #ff063e; }
  .dept .txt-fld {
    width: 100%; }
  .dept .select-fld {
    padding-left: 8px;
    background-color: #fbfbfb;
    width: 100%; }
  .dept .table-details {
    text-align: center; }
  .dept .table-hover tbody tr:hover td,
  .dept .table-hover tbody tr:hover th {
    background-color: #fcffde; }
  .dept .form-details {
    margin-top: 20px;
    margin-left: "auto";
    margin-right: "auto"; }
  .dept th,
  .dept td {
    border-right: 1px solid #ffffff; }
  .dept .radio [type="radio"]:checked + label:after {
    border-color: #00bcb0;
    background-color: #00bcb0; }
  .dept .radio-gap [type="radio"].with-gap:checked + label:before {
    border-color: #00bcb0; }
  .dept .radio-gap [type="radio"]:checked + label:after {
    border-color: #00bcb0;
    background-color: #00bcb0; }

.testingHeight {
  max-height: 200px; }

#depddGridCntr .ReactTable {
  max-height: 63vh !important; }

#subdepddCntr .ReactTable {
  max-height: 50vh !important;
  margin-top: 10px;
  margin-bottom: 15px; }
