.appointment_setup .appointment-section {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background: #ffff; }

.appointment_setup #apptStatusDivCntr {
  margin-top: 5px; }
  .appointment_setup #apptStatusDivCntr .ReactTable {
    max-height: 70vh !important; }

.appointment_setup #apptClinicsDivCntr {
  margin-top: 10px; }
  .appointment_setup #apptClinicsDivCntr .ReactTable {
    max-height: 70vh !important; }

.appointment_setup #apptRoomsDivCntr .ReactTable {
  max-height: 70vh !important; }
