.appointment_setup {
  .appoSetupSection {
    margin-top: 33px;
  }
  #apptStatusDivCntr {
    margin-top: 5px;
    .ReactTable {
      max-height: 70vh !important;
    }
  }
  #apptClinicsDivCntr {
    margin-top: 10px;
    .ReactTable {
      max-height: 70vh !important;
    }
  }
  #apptRoomsDivCntr {
    .ReactTable {
      max-height: 70vh !important;
    }
  }
}
