.admin_setup {
  .tabMaster {
    margin: 0;
  }
  .admin-section {
    #adminGrid_Cntr {
      .ReactTable {
        max-width: 98vw !important;
        max-height: 57vh !important;
      }
    }
  }
}
