.hrTimeSheet {
  margin-bottom: 48px; }
  .hrTimeSheet .textEllipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 8.6vw; }
  .hrTimeSheet .noTimeSheetData {
    text-align: center;
    color: rgba(0, 0, 0, 0.1); }
    .hrTimeSheet .noTimeSheetData h1 {
      margin-top: 30px; }
    .hrTimeSheet .noTimeSheetData i {
      font-size: 16em;
      margin: 4vh 0 6vh;
      color: rgba(0, 0, 0, 0.04); }
  .hrTimeSheet .legendValue {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 2px 5px;
    font-size: 0.7em;
    margin-top: 0px;
    border-radius: 3px; }
    .hrTimeSheet .legendValue b {
      display: block; }
  .hrTimeSheet .weekdaysDiv i {
    cursor: pointer; }
    .hrTimeSheet .weekdaysDiv i:hover {
      color: #34b8bc; }
  .hrTimeSheet .weekdaysDiv span {
    margin: 0 10px; }
  .hrTimeSheet .bg-working {
    background-color: #52a3ff !important; }
  .hrTimeSheet .bg-worked {
    background-color: #628ed1 !important; }
  .hrTimeSheet .bg-excess {
    background-color: #39c9a9 !important; }
  .hrTimeSheet .bg-shortage {
    background-color: #d1c844 !important; }
  .hrTimeSheet .timeCheckCntr {
    position: absolute;
    top: -2px;
    left: 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Hide the browser's default checkbox */
    /* Create a custom checkbox */
    /* On mouse-over, add a grey background color */
    /* When the checkbox is checked, add a blue background */
    /* Create the checkmark/indicator (hidden when not checked) */
    /* Show the checkmark when checked */
    /* Style the checkmark/indicator */ }
    .hrTimeSheet .timeCheckCntr input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0; }
    .hrTimeSheet .timeCheckCntr .checkmark {
      border-radius: 5px;
      position: absolute;
      height: 22px !important;
      width: 22px !important;
      background-color: #eee;
      top: 0;
      left: 0;
      border: 1px solid #dcdcdc; }
    .hrTimeSheet .timeCheckCntr:hover input ~ .checkmark {
      background-color: #ccc; }
    .hrTimeSheet .timeCheckCntr input:checked ~ .checkmark {
      background-color: #34b8bc; }
    .hrTimeSheet .timeCheckCntr .checkmark:after {
      content: "";
      position: absolute;
      display: none; }
    .hrTimeSheet .timeCheckCntr input:checked ~ .checkmark:after {
      display: block; }
    .hrTimeSheet .timeCheckCntr .checkmark:after {
      left: 7px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .hrTimeSheet .WeeklyTimeProgress {
    max-height: 49vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 20px; }
    .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress {
      border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
      font-size: 0.9rem;
      padding: 10px 0; }
      .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress div:first-child {
        font-size: 0.85rem; }
      .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress .dayTypeCntr {
        height: 0.3rem;
        padding-right: 0; }
        .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress .dayTypeCntr .projectName {
          text-align: center;
          display: inline-block;
          position: absolute;
          top: -2px;
          right: 30px;
          color: #fff; }
        .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress .dayTypeCntr .progress {
          margin-top: 5px;
          height: 0.5rem;
          margin-left: 30px;
          width: 93%; }
          .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress .dayTypeCntr .progress .progress-bar {
            position: relative;
            background-color: #e8e8e8; }
          .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress .dayTypeCntr .progress:last-child {
            border-bottom: none; }
        .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress .dayTypeCntr .tooltipDetails span {
          color: #fff;
          font-size: 0.8em;
          background: rgba(0, 0, 0, 0.9);
          position: absolute;
          z-index: 99;
          top: 22px;
          padding: 2px 5px;
          border-radius: 5px;
          display: none; }
          .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress .dayTypeCntr .tooltipDetails span i {
            text-align: center;
            text-transform: uppercase;
            font-style: normal;
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
          .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress .dayTypeCntr .tooltipDetails span b {
            display: inline-block;
            text-align: center;
            margin-left: 2px; }
          .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress .dayTypeCntr .tooltipDetails span .lateTime {
            color: #e6d926; }
          .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress .dayTypeCntr .tooltipDetails span .OverTime {
            color: #17d217; }
          .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress .dayTypeCntr .tooltipDetails span::after {
            content: " ";
            position: absolute;
            bottom: 100%;
            /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent; }
        .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress .dayTypeCntr .tooltipDetails .checkIn {
          left: 45px; }
        .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress .dayTypeCntr .tooltipDetails .totalHr {
          left: 42.5%; }
        .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress .dayTypeCntr .tooltipDetails .checkOut {
          right: 35px; }
        .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress .dayTypeCntr:hover span {
          display: block; }
      .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress span {
        width: auto;
        display: inline-block;
        padding: 2px 10px;
        margin: auto;
        position: absolute;
        color: #202429;
        border-radius: 5px;
        z-index: 9;
        font-size: 0.9em; }
        .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress span.absentCntr {
          background: rgba(255, 0, 0, 0.2);
          border: 1px solid rgba(255, 0, 0, 0.5);
          left: 30vw;
          top: -2px; }
        .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress span.paidLeaveCntr {
          background: rgba(0, 186, 190, 0.2);
          border: 1px solid rgba(0, 186, 190, 0.5);
          left: 30.8vw;
          top: -2px; }
        .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress span.unPaidLeaveCntr {
          background: rgba(255, 0, 0, 0.2);
          border: 1px solid rgba(255, 0, 0, 0.5);
          left: 30.3vw;
          top: -2px; }
        .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress span.holidayCntr {
          background: rgba(0, 17, 255, 0.2);
          border: 1px solid rgba(0, 17, 255, 0.5);
          left: 30.3vw;
          top: -2px; }
        .hrTimeSheet .WeeklyTimeProgress .dailyTimeProgress span.weekOffCntr {
          background: rgba(0, 0, 0, 0.2);
          border: 1px solid rgba(0, 0, 0, 0.5);
          left: 29.4vw;
          top: -2px; }
  .hrTimeSheet .ruler {
    position: relative;
    width: 100%;
    margin: 5px 0;
    height: 14px; }
  .hrTimeSheet .ruler .cm,
  .hrTimeSheet .ruler .mm {
    position: absolute;
    border-left: 1px solid #555;
    height: 14px;
    width: 10%; }
  .hrTimeSheet .ruler .cm:after {
    position: absolute;
    left: -4px;
    bottom: -15px;
    font: 11px/1 sans-serif; }
  .hrTimeSheet .ruler .mm {
    height: 5px; }
  .hrTimeSheet .ruler .mm:nth-of-type(5) {
    height: 10px; }
  .hrTimeSheet .ruler .cm:nth-of-type(1) {
    left: 0%; }
  .hrTimeSheet .ruler .cm:nth-of-type(1):after {
    content: "00:00"; }
  .hrTimeSheet .ruler .cm:nth-of-type(2) {
    left: 8.33333333333%; }
  .hrTimeSheet .ruler .cm:nth-of-type(2):after {
    content: "02:00"; }
  .hrTimeSheet .ruler .cm:nth-of-type(3) {
    left: 16.6666666667%; }
  .hrTimeSheet .ruler .cm:nth-of-type(3):after {
    content: "04:00"; }
  .hrTimeSheet .ruler .cm:nth-of-type(4) {
    left: 25%; }
  .hrTimeSheet .ruler .cm:nth-of-type(4):after {
    content: "06:00"; }
  .hrTimeSheet .ruler .cm:nth-of-type(5) {
    left: 33.3333333333%; }
  .hrTimeSheet .ruler .cm:nth-of-type(5):after {
    content: "08:00"; }
  .hrTimeSheet .ruler .cm:nth-of-type(6) {
    left: 41.6666666667%; }
  .hrTimeSheet .ruler .cm:nth-of-type(6):after {
    content: "10:00"; }
  .hrTimeSheet .ruler .cm:nth-of-type(7) {
    left: 50%; }
  .hrTimeSheet .ruler .cm:nth-of-type(7):after {
    content: "12:00"; }
  .hrTimeSheet .ruler .cm:nth-of-type(8) {
    left: 58.3333333333%; }
  .hrTimeSheet .ruler .cm:nth-of-type(8):after {
    content: "14:00"; }
  .hrTimeSheet .ruler .cm:nth-of-type(9) {
    left: 66.6666666666%; }
  .hrTimeSheet .ruler .cm:nth-of-type(9):after {
    content: "16:00"; }
  .hrTimeSheet .ruler .cm:nth-of-type(10) {
    left: 75%; }
  .hrTimeSheet .ruler .cm:nth-of-type(10):after {
    content: "18:00"; }
  .hrTimeSheet .ruler .cm:nth-of-type(11) {
    left: 83.3333333333%; }
  .hrTimeSheet .ruler .cm:nth-of-type(11):after {
    content: "20:00"; }
  .hrTimeSheet .ruler .cm:nth-of-type(12) {
    left: 91.6666666666%; }
  .hrTimeSheet .ruler .cm:nth-of-type(12):after {
    content: "22:00"; }
  .hrTimeSheet .ruler .cm:nth-of-type(13) {
    left: 100%; }
  .hrTimeSheet .ruler .cm:nth-of-type(13):after {
    content: "24:00"; }
  .hrTimeSheet .ruler .mm:nth-of-type(1) {
    left: 8.33333333333%; }
  .hrTimeSheet .ruler .mm:nth-of-type(2) {
    left: 16.6666666667%; }
  .hrTimeSheet .ruler .mm:nth-of-type(3) {
    left: 25%; }
  .hrTimeSheet .ruler .mm:nth-of-type(4) {
    left: 33.3333333333%; }
  .hrTimeSheet .ruler .mm:nth-of-type(5) {
    left: 41.6666666667%; }
  .hrTimeSheet .ruler .mm:nth-of-type(6) {
    left: 50%; }
  .hrTimeSheet .ruler .mm:nth-of-type(7) {
    left: 58.3333333333%; }
  .hrTimeSheet .ruler .mm:nth-of-type(8) {
    left: 66.6666666666%; }
  .hrTimeSheet .ruler .mm:nth-of-type(9) {
    left: 75%; }
  .hrTimeSheet .ruler .mm:nth-of-type(10) {
    left: 83.3333333333%; }
  .hrTimeSheet .ruler .mm:nth-of-type(11) {
    left: 91.6666666666%; }
  .hrTimeSheet .ruler .mm:nth-of-type(12) {
    left: 100%; }
  .hrTimeSheet #mentionme {
    text-align: center;
    margin-top: 10%; }
